/* ==========================================================================
	Base Elements
============================================================================= */

html {
	background: #fff;
	font-size: 100%;
}

body {
	@include serif(300);

	min-width: 300px;

	overflow-x: hidden;

	&.fs-page-lock {
		overflow-y: hidden;
	}
}

::selection {
	background: #ddd;
	text-shadow: none;
}

iframe {
	border: none;
}

menu {
	margin: 0;
	padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

img,
svg {
	height: auto;
	max-width: 100%;
}

img {
	display: inline-block;
}

svg {
	transition: color $base_speed $base_timing,
		background-color $base_speed $base_timing;
}

figure {
	margin: 0;
}

hr {
	height: 1px;

	background: #ddd;
	border: none;
	margin: 0;
}

a {
	color: currentColor;
	display: inline;
	text-decoration: none;
	transition-duration: $base_speed;
	transition-timing-function: $base_timing;
	transition-property: color, text-decoration, border, background-color;
}

strong {
	font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

p {
	margin: 0;
}

figure,
blockquote {
	margin: 0;
}

ul,
ol {
	margin: 0;
	padding: 0;
}
