<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-M7KGFM5');</script>
<!-- End Google Tag Manager -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome - John Tyler Community College</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,500" rel="stylesheet"> 
    <link rel="stylesheet" href="/assets/stylesheets/parents/css/foundation.css">
    <link rel="stylesheet" href="/assets/stylesheets/parents/css/app.css?version=2021.04">
    <script src="/assets/javascripts/parents/js/vendor/modernizr.js"></script>
  </head>
  <body class="nextup-2019 welcome">
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M7KGFM5"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <div class="row">
      <div class="large-12 columns headerimg">
          <a href="/" data-event="clicktrack" data-category="welcome" data-action="tyler-home-click" data-label="Tyler Home" data-value="tyler-home"><img src="/images/parents/tylertopheaderbar.jpg" class="margin-bottom20" alt="link to jtcc.edu"></a>
          <img style="margin-top:0;" src="/images/parents/CongratsTrailblazers_Header_1960x900v2.jpg" alt="Congratulations Trailblazer! You are next up.">
        <div class="headertext active" style="background: #660033">
              <h1 class="hide">Welcome to Tyler</h1>  
              <p>Now that you’ve applied and been accepted to Tyler, here’s what you need to do to be ready for the first day of classes:
              </p>
        </div>
      </div>
    </div>

    <div class="row">
        <div class="large-12 columns" style="margin-top: 15px;">

          <h2>Plan for How You’ll Pay for Your Classes</h2>

          <p>A college education is an important investment in your future. Since many types of financial assistance require planning and applications, we recommend you begin the process early.</p> 

          <p>Tyler offers several payment options including:</p>
          <ul>
            <li>A tuition payment plan</li>
            <li>Financial aid</li>
            <li>Work-study positions</li>
            <li>Scholarships</li>
            <li>Military and veterans benefits</li>
            <li>Employer or third-party payment</li>
            <li>529 plans</li>
          </ul>
          <p>
          If you are applying for financial aid, complete a <a href="http://www.fafsa.gov/" data-event="clicktrack" data-category="welcome" data-action="fasfa-click" data-label="FAFSA" data-value="fafsa">Free Application for Federal Student Aid (FAFSA)</a> using Tyler's FAFSA code: 004004. You can apply as early as October for the next academic year and applying early can help you qualify for the maximum amount of aid.</p>

          <p>Keep in mind that your tuition must be paid by the <a href="/paying-for-tyler/pay-tuition/deadlines/" data-event="clicktrack" data-category="welcome" data-action="fasfa-click" data-label="FAFSA" data-value="fafsa">listed deadlines</a> or you will be dropped from your classes.</p>

          <p>Learn more about <a href="/paying-for-tyler/">payment options</a>.</p>
          
          <h2>Get Set Up for Success</h2>
            
            <p>1. myTyler and Navigate<br>
            Once your application is received, you will receive your login credentials for our student portal, <a href="https://jt.my.vccs.edu/">myTyler</a>. </p>
          <p>With just one login, myTyler gives you access to Canvas for your online coursework, Navigate Student, your Tyler student Gmail account, and our Student Information System (SIS), where you can access your financial aid information, make online payments and register for classes. Set up your myTyler account as soon as possible; if you need assistance, contact our <a href="/helphub">Help Hub</a>. Please note that your Navigate Student and Tyler Gmail accounts will not be immediately available when your account is set up.</p>
          <p>Once you are in myTyler, set up <a href="/services/technology-support/navigate/">Navigate Student</a>, a free online tool and mobile app that acts as your personal guide to Tyler. Use Navigate Student to connect to your faculty advisor, stay up to date on your next steps, plan your schedule each semester and see your academic progress. After you activate your myTyler account, it can take up to 24 hours for Navigate Student to become available.</p>
          <p>2. New Student Orientation<br>
            Orientation is a great way to get familiar with campus, learn about resources that can help you succeed and meet future classmates. We offer two options to fulfill this important, mandatory requirement:</p>
          <ul>
            <li>Virtual orientations at specific dates and times through Zoom </li>
            <li>An      online orientation module that can be completed anytime</li>
          </ul>
          <p><a href="/orientation">Sign up for orientation</a>.</p>
          <p>3. Determine your readiness for college-level math and English.<br>
            You should schedule an appointment with the&nbsp;<a href="/services/advising">Advising Center</a> to determine your placement in math and English courses. The following information may assist your advisor with placing you: </p>
          <ul>
            <li>An      unofficial transcript showing prior college coursework in math and/or      English&nbsp;</li>
            <li>PSAT,      SAT, or ACT scores</li>
            <li>Demonstration      of completion of required high school coursework, along with your      GPA,&nbsp;within the last 5 years</li>
          </ul>
          <p>Transcript(s) or score(s) can also be emailed to&nbsp;<a href="mailto:admissionsandrecords@jtcc.edu">Admissions and Records</a>. Staff will review your materials and post any exemptions&nbsp;in SIS within 48 hours.</p>
          
          <h2>Plan Your Schedule and Register</h2>
          <p>1. Tyler offers several tools and services to help with planning your class schedule:</p>
          <ul>
            <li>Our <a href="http://catalog.jtcc.edu/">College Catalog</a>&nbsp;outlines      all the courses required in your major and includes a printable degree      planner you can use to track your progress toward graduation. If you are      using financial aid, this information is critical. Financial aid will only      pay for courses that are part of your major.</li>
            <li>Our&nbsp;<a href="/schedule">searchable class schedule</a> allows you to filter current class offerings based on campus, meeting day      and more.</li>
            <li>For      assistance with your first semester schedule, speak with&nbsp;<a href="/services/advising">Advising Center</a> staff. In future semesters, the advisor assigned to you      based on your major can help you plan your schedule and guide you through      college and career decisions.</li>
          </ul>
          <p>Once you are ready to register for classes, log in to&nbsp;<a href="https://jt.my.vccs.edu/">myTyler</a>&nbsp;and add classes through the Student Information System.</p>
          <p>Know which classes you want to take but need additional&nbsp;assistance with registration? Email&nbsp;the <a href="mailto:admissionsandrecords@jtcc.edu">Admissions and Records Office</a> for assistance.</p>
          <p>Non-degree seeking students who want to enroll in a class and transfer it back to their home college or university may need to provide a&nbsp;<a href="/uploads/documents/transient_form.pdf">Transient Form&nbsp;</a>before enrolling.</p>
          <p>2. Get Your Books<br>
            Students who have their textbooks on the first day of class are more likely to get better grades and complete their courses. So be prepared! <a href="/bookstore">Order online</a>.</p>
          <p>Using financial aid? See when you can charge books and supplies to <a href="/paying-for-tyler/financial-aid/important-dates/">financial aid</a>.</p>
          <p>Concerned about costs? Options like used books, rented books, digital textbooks and open educational resources (OER) courses, if available, can save you money.</p>
          <h2>Get Connected</h2>
          <p>1. Student ID<br>
            At the start of your first semester, you&rsquo;ll want to get your student ID from our <a href="/services/student-activities/">Student Activities Office</a>. Your ID gives you access to printing and checking out books at the campus library, as well as access to campus gyms, when they reopen. You may also be able to use your ID to receive discounts at local businesses.</p>
          <p>2. Academic Support<br>
            Be sure to visit the <a href="/library">campus library</a> for research materials and support and the <a href="/tutoring">Academic Resource Center</a> for assistance with time management, study skills and tutoring in specific subjects.  We also offer open computer labs you can use for your online classes,&nbsp;<a href="/library/library-services/technology/">technology loans in the library</a>, and our&nbsp;<a href="/services/technology-support">tech tools page</a>, which helps you understand common online tools like Canvas and Zoom. There&rsquo;s even a way to&nbsp;<a href="https://learn.vccs.edu/enroll/C69DBE">test-drive</a>&nbsp;an online class to see if online learning is a good fit for you!</p>
          <p>3. Stay Informed<br>
            Check your college email regularly and keep your mobile number up to date in the Student Information Center in myTyler. We&rsquo;ll share important information and resources through texts and emails.</p>
          <p>Sign up for <a href="/about/safety-security/tyler-alert/">Tyler Alert</a> to receive text and email notifications of emergency situations and of closings and delays due to inclement weather.</p>
          <p>4. Get Involved <br>
            Connect with other students through the&nbsp;<a href="/services/student-activities/">Student Activities Office</a>. Student Activities supports 30+ student clubs and organizations, campus events, intramural sports and more. </p>
          <p>5. Follow Us<br>
            Stay engaged by connecting to other Tyler students through social media.<br>
            <br>
            Join our&nbsp;<a href="https://www.facebook.com/groups/JTCCStudentActivities/">Student Activities Facebook Group<br>
            </a><a href="http://instagram.com/johntylercc">Follow us on Instagram<br>
          </a><a href="https://facebook.com/johntylercc">Follow us on Facebook</a></p>

        </div>
      </div>
    <div class="row">
   <div class="large-4 columns block notoppad">
        <div class="tealblock1">
          <span class="blocklabel">Get Help</span><div class="clear"></div>
          <p><a href="/helphub" data-event="clicktrack" data-category="welcome" data-action="connect-to-the-help-hub-click" data-label="Connect to the Help Hub" data-value="connect-to-the-help-hub">Connect to the Help Hub</a></p>
        </div>
      </div>
      <div class="large-4 columns block middle notoppad">
        <div class="tealblock2">
          <span class="blocklabel">Find Your Fit</span><div class="clear"></div>
          <p><a href="/schedule" data-event="clicktrack" data-category="welcome" data-action="see-the-class-options-click" data-label="See the Class Options" data-value="infosessions">See the Class Options</a></p>
        </div>
      </div>
<!--       <div class="large-4 columns block middle notoppad">
        <div class="tealblock2">
          <span class="blocklabel">Explore Majors</span><div class="clear"></div>
          <p><a href="https://jtcc.emsicc.com/" data-event="clicktrack" data-category="welcome" data-action="welcome-careercoach-click" data-label="Use our online career coach" data-value="use-our-online-career-coach">Use our online career coach</a></p>
        </div>
      </div> -->
      <div class="large-4 columns block last notoppad">
        <div class="tealblock3">
          <span class="blocklabel">Show Your Pride</span><div class="clear"></div>
          <p><a href="/services/welcome-downloads" data-event="clicktrack" data-category="welcome" data-action="download-tyler-social-and-zoom-art-click" data-label="Download Tyler Social and Zoom Art" data-value="download-tyler-social-and-zoom-art">Download Tyler social and Zoom art</a></p>
        </div>
      </div>
      <!-- <div class="large-4 columns block last notoppad">
        <div class="tealblock3">
          <span class="blocklabel">Be Successful</span><div class="clear"></div>
          <p><a href="http://ccwatraining.org/workforward/" data-event="clicktrack" data-category="welcome" data-action="welcome-short-term-options-click" data-label="See Short-term Training options" data-value="short-term-options">Get Connected to our Resources for Online Students</a></p>
        </div>
      </div> -->
    </div>
<!--     <div class="row singleline">
      <div class="large-12 columns" style="margin-top: 15px;">

        <p style="text-align:left; color:#fff;">Interested in getting trained as soon as possible?  <a style="display:initial;" href="http://ccwatraining.org/training-for-individuals/" data-event="clicktrack" data-category="welcome" data-action="ccwa-click" data-label="check out the courses" data-value="check-out-the-courses">Check out the courses</a> at the Community College Workforce Alliance, Tyler’s partner in workforce development.</p>

      </div>
    </div> -->
    <div class="row footer">
      <div class="large-12 columns">
        <a href="/" data-event="clicktrack" data-category="welcome" data-action="welcome-footertylerlogo-click" data-label="Tyler logo" data-value="tyler-logo"><img src="/images/interface/jtcc/tyler-horizontal-logo-white.svg" alt="John Tyler Community College" class="footerlogo"></a> 
        <div class="left">
          <a href="/about/nondiscrimination-policy/">Nondiscrimination Policy</a> <br>
          <a href="/about/privacy-and-disclaimer/">Privacy/Disclaimer</a> <br>
          <ul class="block-grid social-icons-news left">
            <li><a href="http://facebook.com/johntylercc" data-event="clicktrack" data-category="welcome" data-action="welcome-footersocial-fb-click" data-label="Tyler Facebook" data-value="tyler-fb-icon"><img alt="Facebook" class="no-border" src="/images/icons/fb-white.svg" width="25px;" height="25px;"></a></li>
            <li><a href="https://www.linkedin.com/school/59502" data-event="clicktrack" data-category="welcome" data-action="welcome-footersocial-linkedin-click" data-label="Tyler Linkedin" data-value="tyler-linkedin-icon"><img alt="Linkedin" class="no-border" src="/images/icons/linkedin-white.svg" width="25px;" height="25px;"></a></li>
                    <li><a href="http://www.youtube.com/johntylercommcollege" data-event="clicktrack" data-category="welcome" data-action="welcome-footersocial-yt-click" data-label="Tyler Youtube" data-value="tyler-yt-icon"><img alt="YouTube" class="no-border" src="/images/icons/youtube-white.svg" width="25px;" height="25px;"></a></li>
                    
                    <li><a href="https://twitter.com/johntylercc" data-event="clicktrack" data-category="welcome" data-action="welcome-footersocial-twitter-click" data-label="Tyler Twitter" data-value="tyler-twitter-icon"><img alt="Twitter" class="no-border" src="/images/icons/twitter-white.svg" width="25px;" height="25px;"></a></li>
                    <li><a href="http://instagram.com/johntylercc" data-event="clicktrack" data-category="welcome" data-action="welcome-footersocial-instagram-click" data-label="Tyler Instagram" data-value="tyler-instagram-icon"><img alt="Instagram" class="no-border" src="/images/icons/instagram-white.svg" width="25px;" height="25px;"></a></li>
            <li><a target="_blank" href="/tyleralert" data-event="clicktrack" data-category="welcome" data-action="welcome-footersocial-tyleralert-click" data-label="Tyler Alert" data-value="tyler-tyleralert-icon"><img src="/images/icons/tyleralert-white.svg" class="no-border" alt="Tyler Alert" width="25px;" height="25px;"></a></li>
          </ul>
        </div>       
      </div>
    </div>
    <!-- end of footer row -->

<div id="backtotop"><a href="#top"><img src="/images/parents/backtotop.svg" alt="link to go back to the top of this page" /></a></div>

    <script src="/assets/javascripts/parents/js/vendor/jquery.js"></script>
    <script src="/assets/javascripts/parents/js/foundation.min.js"></script>
    <script>
      
      //$(document).foundation();
      $(document).foundation({
        orbit: {
            animation: 'fade', // Sets the type of animation used for transitioning between slides, can also be 'fade'
            timer_speed: 12000, // Sets the amount of time in milliseconds before transitioning a slide
            pause_on_hover: true, // Pauses on the current slide while hovering
            resume_on_mouseout: true, // If pause on hover is set to true, this setting resumes playback after mousing out of slide
            next_on_click: true, // Advance to next slide on click
            animation_speed: 500, // Sets the amount of time in milliseconds the transition between slides will last
            stack_on_small: false,
            navigation_arrows: true,
            slide_number: false,
            slide_number_text: 'of',
            container_class: 'orbit-container',
            stack_on_small_class: 'orbit-stack-on-small',
            next_class: 'orbit-next', // Class name given to the next button
            prev_class: 'orbit-prev', // Class name given to the previous button
            timer_container_class: 'orbit-timer', // Class name given to the timer
            timer_paused_class: 'paused', // Class name given to the paused button
            timer_progress_class: 'orbit-progress', // Class name given to the progress bar
            slides_container_class: 'orbit-slides-container', // Class name given to the slide container
            preloader_class: 'preloader', // Class given to the preloader
            slide_selector: 'li', // Default is '*' which selects all children under the container
            bullets_container_class: 'orbit-bullets',
            bullets_active_class: 'active', // Class name given to the active bullet
            slide_number_class: 'orbit-slide-number', // Class name given to the slide number
            caption_class: 'orbit-caption', // Class name given to the caption
            active_slide_class: 'active', // Class name given to the active slide
            orbit_transition_class: 'orbit-transitioning',
            bullets: false, // Does the slider have bullets visible?
            circular: true, // Does the slider should go to the first slide after showing the last?
            timer: true, // Does the slider have a timer active? Setting to false disables the timer.
            variable_height: false, // Does the slider have variable height content?
            swipe: true,
        }
      });

      $(document).ready(function(){

  // hide #backtotop first
  $("#backtotop").hide();

  // fade in #backtotop
  $(function () {
    $(window).scroll(function () {
      if ($(this).scrollTop() > 200) {
        $('#backtotop').fadeIn();
      } else {
        $('#backtotop').fadeOut();
      }
    });

    // scroll body to 0px on click
    $('#backtotop .fi-arrow-up').click(function () {
      $('body,html').animate({
        scrollTop: 0
      }, 800);
      return false;
    });
  });

});
    </script>
    <!--<script src="/assets/javascripts/parents/js/app.js"></script>-->
    <script src="https://js.adsrvr.org/up_loader.1.1.0.js" type="text/javascript"></script>

        <script type="text/javascript">

            ttd_dom_ready( function() {

                if (typeof TTDUniversalPixelApi === 'function') {

                    var universalPixelApi = new TTDUniversalPixelApi();

                    universalPixelApi.init("m71zw8m", ["ffocqxf"], "https://insight.adsrvr.org/track/up");

                }

            });

        </script>

  </body>
</html>
