{% include partial("alert") with {
	published: "2019-10-18 14:52:4",
	title: "Campus is closed due to inclement weather.",
	description: '<p>Praesent commodo cursus magna, <a href="#">vel scelerisque nisl consectetur</a> et. Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod. Donec ullamcorper nulla non metus auctor fringilla.</p>'
} %}