{% extends "_base.twig" %}

{% set page = {
	metaImage: "/images/temp/social-wide.jpg",
	metaImageWidth: "",
	metaImageHeight: "",
	title: "Event Detail",
	description: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus.",
	subNav: false,
	classes: [
		"layout_detail"
	],
	image: "1"
} %}

{% block main %}
	{% include partial("page-header") %}

	<div class="event_entry">
		<script type="application/ld+json">
			{
				"@context": "http://schema.org",
				"@type": "Event",
				"location": {
					"@type": "Place",
					"address": {
						"@type": "PostalAddress",
						"addressLocality": "Baltimore",
						"addressRegion": "MD",
						"postalCode": "21211",
						"streetAddress": "2980 Falls Rd"
					},
					"name": "Fastspot Office"
				},
				"name": "{{ page.title }}",
				"image": "",
				"description": "{{ page.description }}",
				"startDate": "2013-09-14T21:30",
				"endDate": "2013-09-14T21:30",
				"offers": {
					"@type": "Offer",
					"url": "#"
				},
    		}
    	</script>

		<!-- Page Feature -->
		<div class="page_feature" id="skip_content" tabindex="-1">
			{% include partial("event-meta") with {
				item: {
					image: "1",
					date: {
						from: {
							begin: "2017-05-31 17:00:00",
							end: "2017-05-31 19:00:00"
						},
						to: {
							begin: "2017-06-13 17:00:00",
							end: "2017-06-13 19:00:00"
						}
					},
					title: "In Enim Justo Rhoncus Ut",
					url: "#",
					description: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus.",
					location: "Fastspot Office<br>2980 Falls Rd<br>Baltimore, MD 21211",
					categories: [
						"Category 1",
						"Category 2",
						"Category 3"
					],
					category_url: "page-event-category.html"
				}
			} %}
		</div>
		<!-- END: Page Feature -->

		<!-- Page Content -->
		<div class="page_content">
			<div class="fs-row">
				<div class="fs-cell {{ cell }}">

					{% if page.image %}
					<figure class="event_entry_figure">
						{% include partial("image") with {
							class: "event_entry",
							alt: "",
							image: page.image,
							sources: [
								img.classic.xlrg,
								img.classic.lrg,
								img.classic.med,
								img.classic.sml,
								img.classic.xsml,
								img.classic.xxsml
							]
						} %}
					</figure>
					{% endif %}

					<!-- WYSIWYG -->
					<div class="typography">
						<h2>Lorem Ipsum</h2>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. <a href="#">Nulla consequat</a> massa quis enim. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem</p>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Quis enim. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem</p>
					</div>
					<!-- END: WYSIWYG -->

					{% include partial("event-actions") with {
						items: [
							{
								title: "Register",
								url: "#"
							},
							{
								title: "Add to iCal",
								url: "#"
							},
							{
								title: "Add to Google",
								url: "#"
							}
						]
					} %}

				</div>
			</div>
		</div>
	</div>
	<!-- END: Page Content -->
{% endblock %}