{% extends "_base.twig" %}

{% set page = {
	metaImage: "/images/temp/social-wide.jpg",
	metaImageWidth: "",
	metaImageHeight: "",
	title: "Program Detail",
	description: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus.",
	subNav: false,
	classes: [
		"layout_detail"
	]
} %}

{% block main %}
	{% include partial("page-header") %}

	<!-- Page Feature -->
	<div class="page_feature" id="skip_content" tabindex="-1">
		{% include partial("program-meta") with {
			mode: [
				"On-campus",
				"Online"
			],
			level: [
				"Graduate",
				"Undergraduate",
				"Doctoral"
			],
			department_url: "#",
			department: "Business Administration",
			degree: [
				"B.S.",
				"M.S."
			]
		} %}
	</div>
	<!-- END: Page Feature -->

	<!-- Page Content -->
	<div class="page_content">
		<div class="fs-row">
			<div class="fs-cell {{ cell }}">
				<!-- WYSIWYG -->
				<div class="typography" itemprop="mainContentOfPage">
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. <a href="#">Nulla consequat</a> massa quis enim. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem</p>
				</div>
				<!-- END: WYSIWYG -->
			</div>
		</div>
	</div>
	<!-- END: Page Content -->

	<!-- Full Width Callouts -->
	<div class="full_width_callouts" id="skip_content" tabindex="-1">

		{% include component("accordion") with {
			title: "Requirements",
			description: "Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod. Donec ullamcorper nulla non metus auct.",
			items: [
				{
					title: "Ipsum Fermentum",
					subtitle: "Quam Bibendum Pellentesque Tellus",
					description: "<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod. <a href='#'>Donec ullamcorper nulla</a> non metus auctor fringilla.</p>"
				},
				{
					title: "Lorem Tellus Sollicitudin Mollis",
					subtitle: "Quam Bibendum Pellentesque Tellus",
					description: "<p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc,</p>"
				},
				{
					title: "Vulputate Porta Egestas Magna Dolor",
					subtitle: "",
					description: "<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p><p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>"
				}
			]
		} %}

		{% include component("card-group") with {
			title: "Highlights",
			description: "Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod. Donec ullamcorper nulla non metus auct.",
			items: [
				{
					image: "1",
					title: "Ornare Egestas",
					description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget est sed ex pretium fringilla. Vivamus ac turpis quis eros consectetur ornare. "
				},
				{
					image: "2",
					stat: {
						figure: "100%",
						context: "of undergraduate students"
					},
					description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget est sed ex pretium fringilla. <a href='#'>Vivamus ac turpis</a> quis eros consectetur ornare. "
				},
				{
					image: "3",
					title: "Ornare Egestas",
					description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget est sed ex pretium fringilla. Vivamus ac turpis quis eros consectetur ornare. "
				},
				{
					image: "4",
					stat: {
						figure: "100%",
						context: "of undergraduate students"
					},
					description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget est sed ex pretium fringilla. Vivamus ac turpis quis eros consectetur ornare. "
				}
			]
		} %}

		{% include component("testimonial") with {
			quote: "“Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>. Praesent eget est sed ex pretium fringilla. Vivamus <em>ac turpis quis eros consectetur</em> ornare. Proin pulvinar, magna id vulputate commodo, metus massa tincidunt lorem, <a href='#'>non elementum urna dui sed</a> neque. Nulla non ipsum fermentum, fermentum tellus ut, viverra est. Interdum et malesuada fames ac ant faucibus”.",
			name: "Full Name",
			title: "Senior Director of Department",
			image: "1"
		} %}

		{% include component("gallery") with {
			title: "In The Classroom",
			description: "",
			items: [
				{
					image: "1",
					caption: "Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod. Donec <a href='#'>ullamcorper nulla non metus auctor fringilla</a>."
				},
				{
					video: "//www.youtube.com/watch?v=A05ibxFy8KA",
					caption: ""
				},
				{
					video: "//vimeo.com/100759165",
					caption: ""
				}
			]
		} %}

	</div>
	<!-- END: Full Width Callouts -->
{% endblock %}