{% extends "_base.twig" %}

{% block content %}
	<style>
		:root {
			--fractal_bg_color: {{ _target.context.page.bg_color|default('#173a45') }};
		}
	</style>

	<div style="background-color: var(--fractal_bg_color);">
		{{ yield }}
	</div>
{% endblock %}
