{% extends "_base.twig" %}

{% block content %}
	{% render "@layout-header" with {
		layout: page.layout,
		theme: page.theme,
		activePage: page.activePage
	} %}

	<!-- Page Wrapper -->
	<div
		class="page_wrapper{% if page.image or page.video %} has_page_media{% endif %}">
		<!-- Page -->
		<main class="page">
			{{ yield }}
		</main>
	</div>

	{% render "@layout-footer" %}
	{% render "@layout-menu" %}
{% endblock %}
