{layout='layouts/_main-layout'}

{preload_replace:p_title='Event'}


<div class="fs-row">
	<div class="fs-cell fs-md-12 typography">
		<div id="event_page">

			{exp:channel:entries
				channel="calendar"
				require_entry="yes"
				entry_id="{segment_3}"
				dynamic="no"
			}

			{layout:set name='title' value='{if title}{title}{if:else}{p_title}{/if}'}
			<div class="wysiwyg_block">

		
				<h2>Event Information:</h2>
				{event_summary} 

				<h3>Date:</h3>
				{event_info}
					<p>
						{calendar:event_start_date format="%l, %F %j, %Y"}
						{if calendar:event_all_day}
							(all day)
						{if:else}
							at {calendar:event_start_date format="%g:%i%a"} -
							{if calendar:event_multi_day}
								<br />{calendar:event_end_date format="%l, %F %j, %Y at %g:%i%a"}
							{if:else}
								{calendar:event_end_date format="%g:%i%a"}
							{/if}
						{/if}
					</p>

					{if calendar:event_recurs}
						<h4>Upcoming occurrences in the next 3 months:</h4>
						<ul>
						{calendar:recurrences
							date_range_start="today"
							date_range_end="3 months"
							limit="5"
						}
							<li>
									{calendar:recurrence_start_date format="%F %j, %Y at %g:%i%a"}
								 -
								
									{calendar:recurrence_end_date format="%F %j, %Y at %g:%i%a"}
							</li>
						{/calendar:recurrences}
						</ul>
					{/if}
				{/event_info}
				<h3>Location:</h3>
				{location}

				{if no_results}
					<div class="alert alert-danger" role="alert">
						<p class="lead">
            				Sorry, no event was found.
						</p>
					</div>
				{/if}
				
			{/exp:channel:entries}
{!-- 
			{exp:calendar:week
					date_range_start="today"
			}
				{calendar:days}
					{calendar:events}
						<span class="time">
						{if calendar:event_all_day}
								All Day
							{if:else}
								{if calendar:event_multi_day} 
									{if calendar:event_first_day}
										Starts {calendar:event_start_date format="%g:%i%a"}
									{if:elseif calendar:event_last_day}
										Ends {calendar:event_end_date format="%g:%i%a"}
									{if:else}
										All Day
									{/if} 
								{if:else}
									{calendar:event_start_date format="%g:%i%a"} - {calendar:event_end_date format="%g:%i%a"}
								{/if}
							{/if} &nbsp;
						</span>
					{/calendar:events}
				{/calendar:days}
			{/exp:calendar:week} --}
			</div>


		</div>{!-- /week_calendar --}
		
	</div>{!-- /fs-md --}

	{!-- PHASE 2 SIDEBAR --}
	{!-- <div class="fs-cell fs-lg-4 typography" id="week_calendar">
		<div id="mini-cal-wrapper">
			{embed="calendar/mini_cal"}
			<div class="fs-row" style="margin-left:0;">
				<a href="/calendar/month" class="square-button">View Full Month »</a>
			</div>
			{if segment_2 != ''}
				<div class="fs-row" style="margin-left:0;">
					<a href="/calendar/" class="square-button" style="margin-top:1rem;">View Current Week »</a>
				</div>
			{/if}
		</div>
		{exp:calendar:week
				{if segment_3 == ""} 
					date_range_start="today"
				{if:else} 
					date_range_start="{segment_3}-{segment_4}-{segment_5}"
				{/if}
			}
		<div class="left">
			<ul class="pager">
				<li><a href="{path='calendar/week'}/{calendar:previous_week format='%Y/%m/%d'}/">« Last Week</a></li>
			</ul>
		</div>
		<div class="right">
			<ul class="pager">
				<li><a href="{path='calendar/week'}/{if segment_3 == 'by_calendar'}by_calendar/{segment_4}/{/if}{calendar:next_week format='%Y/%m/%d'}/">Next Week »</a></li>
			</ul>
		</div>
		{/exp:calendar:week}
	</div> --}
</div>{!-- /fs-row --}