{layout='layouts/_main-layout'}

{preload_replace:p_title='Calendar'}
{layout:set name='title' value='{p_title}'}

<div class="fs-row">
	<div class="fs-cell fs-md-12 typography">
		<div id="week_calendar">
			{exp:calendar:week
				{if segment_3 == ""} {!-- Is this a regular view in current week? --}
					date_range_start="today"
				{if:else} {!-- Or is this a regular view in a week other than current? --}
					date_range_start="{segment_3}-{segment_4}-{segment_5}"
				{/if}
			}
				<h2>
					Week of {calendar:week_date format="%F %j, %Y"} <br />
					<span class="label {if calendar:week_total_events == '0'}label-default{if:else}label-warning{/if}">
						{calendar:week_total_events} event{if calendar:week_total_events > "1" OR calendar:week_total_events == "0"}s{/if}
					</span>
				</h2>
				{calendar:days}
				<div class="panel {if calendar:current_day}panel-warning{if:else}panel-default{/if}">
					<div class="panel-heading">
						<h3 class="panel-title" id="{calendar:day_date format='%d'}">
								{if calendar:current_day}
									TODAY
								{if:else}
									{calendar:day_date format="%l, %F %j, %Y"}
								{/if}
						{if calendar:day_total_events}
							<span class="label label-warning">
								{calendar:day_total_events} event{if calendar:day_total_events > "1" OR calendar:day_total_events == "0"}s{/if}
							</span>
						{/if}
						</h3>
					</div>
					<div class="panel-body">
					{if calendar:day_total_events == "0"}
						<p>No events for this day.</p>
					{/if}
					{calendar:events}
						{if calendar:event_count == "1"}<ul class="list-group">{/if}
							{if calendar:event_multi_day}
								<li class="list-group-item" style="border-left: 5px solid {calendar:calendar_color};">
								<a href="{path='calendar_main/event'}/{calendar:entry_id}/{if calendar:event_recurs}{calendar:event_start_date format='%Y/%m/%d'}/{/if}" class="calendar_event_title">{calendar:title}</a>
								<span class="time">
								{if calendar:event_all_day}
										All Day
									{if:else}
										{if calendar:event_multi_day} {!-- Special handling for non all-day multi-day events --}
											{if calendar:event_first_day}
												Starts {calendar:event_start_date format="%g:%i%a"}
											{if:elseif calendar:event_last_day}
												Ends {calendar:event_end_date format="%g:%i%a"}
											{if:else}
												All Day
											{/if} 
										{if:else}
											{calendar:event_start_date format="%g:%i%a"} - {calendar:event_end_date format="%g:%i%a"}
										{/if}
									{/if} &nbsp;
								</span>
								{if calendar:location}&nbsp; <em>{calendar:location}</em>{/if}
								</li>
							{if:else}
								<li class="list-group-item" style="border-left: 5px solid {calendar:calendar_color};">
									<a href="{path='calendar_main/event'}/{calendar:entry_id}/{if calendar:event_recurs}{calendar:event_start_date format='%Y/%m/%d'}/{/if}" class="calendar_event_title">{calendar:title}</a>
									<span class="time">
									{if calendar:event_all_day}
											All Day
										{if:else}
											{if calendar:event_multi_day} {!-- Special handling for non all-day multi-day events --}
												{if calendar:event_first_day}
													Starts {calendar:event_start_date format="%g:%i%a"}
												{if:elseif calendar:event_last_day}
													Ends {calendar:event_end_date format="%g:%i%a"}
												{if:else}
													All Day
												{/if} 
											{if:else}
												{calendar:event_start_date format="%g:%i%a"} - {calendar:event_end_date format="%g:%i%a"}
											{/if}
										{/if} &nbsp;
									</span>
									{!-- <div class="event tips
												{if calendar:event_all_day}all_day{/if} 
												{if calendar:event_multi_day}
													multi_day
													{if calendar:event_first_day}first_day{/if} 
													{if calendar:event_last_day}last_day{/if}
												{/if}"
												{if calendar:event_multi_day OR calendar:event_all_day} 
													style="background-color: {calendar:calendar_color_light} !important; border-color: {calendar:calendar_color} !important;"
												{/if}
												>
													{if calendar:event_multi_day} 
														<a href="{path='calendar/event'}/{calendar:entry_id}/{if calendar:event_recurs}{calendar:event_start_date format='%Y/%m/%d'}/{/if}" class="multi-day" style="color: {calendar:calendar_text_color} !important;">
															{if calendar:event_first_day OR calendar:event_last_day}
																{calendar:title}
															{if:else}
																{calendar:title}
															{/if}
														</a>
															{if:else}
																{if calendar:event_all_day == ""}
																	<span class="calendar-color all-day"{if calendar:calendar_color} style="background-color: {calendar:calendar_color};"{/if}></span>
																{/if}
																<a {if calendar:event_all_day} style="color: {calendar:calendar_text_color};"{/if}>{calendar:title}</a>
															{/if}
									</div>
	 --}


									{if calendar:location}&nbsp; <em>{calendar:location}</em>{/if}
								</li>
							{/if}
						{if calendar:event_count == calendar:event_total_results}</ul>{/if}
					{/calendar:events}
					</div>
				</div>
				{/calendar:days}
			{/exp:calendar:week}

		<div class="wysiwyg_block">
			<hr>
			<div class="fs-row" style="margin:2rem 0 0;">
				<a href="/calendar/month" class="square-button">View Full Month »</a>
			</div>
			{if segment_2 != ''}
				<div class="fs-row">
					<a href="/calendar/" class="square-button" style="margin-top:1rem;">View Current Week »</a>
				</div>
			{/if}

			{exp:calendar:week
				{if segment_3 == ""} {!-- Is this a regular view in current week? --}
					date_range_start="today"
				{if:else} {!-- Or is this a regular view in a week other than current? --}
					date_range_start="{segment_3}-{segment_4}-{segment_5}"
				{/if}
			}
			<div class="left">
				<ul class="pager">
					<li><a href="{path='calendar/week'}/{calendar:previous_week format='%Y/%m/%d'}/">« Last Week</a></li>
				</ul>
			</div>
			<div class="right">
				<ul class="pager">
					<li><a href="{path='calendar/week'}/{if segment_3 == 'by_calendar'}by_calendar/{segment_4}/{/if}{calendar:next_week format='%Y/%m/%d'}/">Next Week »</a></li>
				</ul>
			</div>
			{/exp:calendar:week}

		</div>

		</div>{!-- /week_calendar --}
		
	</div>{!-- /fs-md --}

	{!-- PHASE 2 SIDEBAR --}
	{!-- <div class="fs-cell fs-lg-4 typography" id="week_calendar">
		<div id="mini-cal-wrapper">
			{embed="calendar/mini_cal"}
			<div class="fs-row" style="margin-left:0;">
				<a href="/calendar/month" class="square-button">View Full Month »</a>
			</div>
			{if segment_2 != ''}
				<div class="fs-row" style="margin-left:0;">
					<a href="/calendar/" class="square-button" style="margin-top:1rem;">View Current Week »</a>
				</div>
			{/if}
		</div>
		{exp:calendar:week
				{if segment_3 == ""} 
					date_range_start="today"
				{if:else} 
					date_range_start="{segment_3}-{segment_4}-{segment_5}"
				{/if}
			}
		<div class="left">
			<ul class="pager">
				<li><a href="{path='calendar/week'}/{calendar:previous_week format='%Y/%m/%d'}/">« Last Week</a></li>
			</ul>
		</div>
		<div class="right">
			<ul class="pager">
				<li><a href="{path='calendar/week'}/{if segment_3 == 'by_calendar'}by_calendar/{segment_4}/{/if}{calendar:next_week format='%Y/%m/%d'}/">Next Week »</a></li>
			</ul>
		</div>
		{/exp:calendar:week}
	</div> --}
</div>{!-- /fs-row --}