<div class="news_grid">
	<div class="fs-row">
		<div class="fs-cell">
			<div class="news_grid_inner">
				<ul class="news_grid_items" id="item_list" aria-label="{{ page.title }}">
					{% for item in items %}
					<li class="news_grid_item">
						{% render "@partial-news-item" with {
							item: item
						} %}
					</li>
					{% endfor %}
				</ul>
				{% render "@partial-pagination" with {
					title: "News Pagination",
					pages: "50"
				} %}
			</div>
		</div>
	</div>
</div>