@import "mixins";

$rows: 12;
$gutter: 15px;
$padding: 6px;

.cal-row {
  @extend %clearfix;
  margin: 0 (-$gutter);

  *[class^=cal-col-] {
    @include box-sizing;
    @include transition(all .2s ease-out);

    float: left;
    padding: $padding $gutter;
  }

  @for $i from 1 through $rows {
    $width: (100% / $rows);

    .cal-col-#{$i} {
      width: $width * $i;

      &-5 {
        width: ($width * $i) + ($width / 2);
      }
    }
  }
}
