config/
cache/
Cache/
git/
images/
!/static-html
!/static-html/images
!/src/images
!admin/user/addons/ferret/config
themes/user/site/default/asset/img/
backups/
*.sql
custom/environment.php
.DS_store
node_cache/
node_modules/
pnpm-debug.log
site/files/
.idea/
admin/user/addons/dashboard_analytics/
rocket_cache/
googleaa3d91abd1b58471.html
library-blog/
tasks/
includes/
uploads/

# compiled files
# /dist/axe.json
/dist/css
/dist/images
/dist/js

# fractal output
# /static-html
static-html/components/render/template-wysiwyg.html
static-html/components/render/template-search-results.html
static-html/components/render/template-search-results--results.html
static-html/components/render/template-search-results--no-results.html
static-html/components/render/template-program-listing.html
static-html/components/render/template-preview.html
static-html/components/render/template-news-listing-single-feature.html
static-html/components/render/template-news-listing-4-up-feature.html
static-html/components/render/template-news-detail-no-image.html
static-html/components/render/template-news-detail-image.html
static-html/components/render/template-homepage.html
static-html/components/render/template-general-content-video.html
static-html/components/render/template-general-content-no-image.html
static-html/components/render/template-general-content-no-image-no-intro.html
static-html/components/render/template-general-content-image.html
static-html/components/render/template-general-content-image-no-intro.html
static-html/components/render/template-form.html
static-html/components/render/template-form--no-image.html
static-html/components/render/template-form--default.html
static-html/components/render/template-404.html
static-html/components/render/preview.html
static-html/components/render/preview-dark.html
static-html/components/render/partial-wysiwyg.html
static-html/components/render/partial-share.html
static-html/components/render/partial-search.html
static-html/components/render/partial-program-meta.html
static-html/components/render/partial-program-list.html
static-html/components/render/partial-pagination.html
static-html/components/render/partial-page-nav.html
static-html/components/render/partial-page-header.html
static-html/components/render/partial-page-header-bg.html
static-html/components/render/partial-page-header-bg--video.html
static-html/components/render/partial-page-header-bg--long-title.html
static-html/components/render/partial-page-header-bg--description.html
static-html/components/render/partial-page-header-bg--default.html
static-html/components/render/partial-page-header--title-long.html
static-html/components/render/partial-page-header--no-nav.html
static-html/components/render/partial-page-header--description.html
static-html/components/render/partial-page-header--default.html
static-html/components/render/partial-no-results-message.html
static-html/components/render/partial-news-meta.html
static-html/components/render/partial-news-list.html
static-html/components/render/partial-news-item.html
static-html/components/render/partial-news-grid.html
static-html/components/render/partial-news-feature.html
static-html/components/render/partial-news-details.html
static-html/components/render/partial-meta.html
static-html/components/render/partial-meta--midlothian.html
static-html/components/render/partial-meta--default.html
static-html/components/render/partial-meta--chester.html
static-html/components/render/partial-logo.html
static-html/components/render/partial-link.html
static-html/components/render/partial-link-toggle.html
static-html/components/render/partial-image.html
static-html/components/render/partial-head.html
static-html/components/render/partial-google-cse.html
static-html/components/render/partial-form-builder.html
static-html/components/render/partial-filter.html
static-html/components/render/partial-filter--news.html
static-html/components/render/partial-filter--default.html
static-html/components/render/partial-favicons.html
static-html/components/render/partial-event-meta.html
static-html/components/render/partial-event-list.html
static-html/components/render/partial-event-item.html
static-html/components/render/partial-event-feature.html
static-html/components/render/partial-event-details.html
static-html/components/render/partial-event-actions.html
static-html/components/render/partial-entity-meta.html
static-html/components/render/partial-entity-meta--navy.html
static-html/components/render/partial-entity-meta--default.html
static-html/components/render/partial-entity-list.html
static-html/components/render/partial-entity-item.html
static-html/components/render/partial-copyright.html
static-html/components/render/partial-contact-header.html
static-html/components/render/partial-contact-details.html
static-html/components/render/partial-contact-details--midlothian.html
static-html/components/render/partial-contact-details--default.html
static-html/components/render/partial-contact-details--chester.html
static-html/components/render/partial-button-toggle.html
static-html/components/render/partial-background.html
static-html/components/render/partial-alert.html
static-html/components/render/navigation-sub.html
static-html/components/render/navigation-social.html
static-html/components/render/navigation-breadcrumb.html
static-html/components/render/navigation-basic.html
static-html/components/render/navigation-basic--secondary.html
static-html/components/render/navigation-basic--main.html
static-html/components/render/navigation-basic--footer.html
static-html/components/render/navigation-basic--default.html
static-html/components/render/navigation-basic--auxilary.html
static-html/components/render/navigation-basic--audience.html
static-html/components/render/navigation-basic--actions.html
static-html/components/render/layout-preview.html
static-html/components/render/layout-menu.html
static-html/components/render/layout-header.html
static-html/components/render/layout-footer.html
static-html/components/render/component-wysiwyg.html
static-html/components/render/component-wysiwyg--tyler-outro.html
static-html/components/render/component-wysiwyg--tyler-intro.html
static-html/components/render/component-wysiwyg--involved.html
static-html/components/render/component-wysiwyg--default.html
static-html/components/render/component-wysiwyg--connected.html
static-html/components/render/component-wysiwyg--awards.html
static-html/components/render/component-topic-row.html
static-html/components/render/component-testimonial--blue.html
static-html/components/render/component-svg-example.html
static-html/components/render/component-story.html
static-html/components/render/component-story--turquoise.html
static-html/components/render/component-story--standalone.html
static-html/components/render/component-story--default.html
static-html/components/render/component-spotlight.html
static-html/components/render/component-news-by.html
static-html/components/render/component-news-by--three-up.html
static-html/components/render/component-news-by--four-up.html
static-html/components/render/component-news-by--four-up-no-image.html
static-html/components/render/component-media-grid.html
static-html/components/render/component-media-grid--vertical-only.html
static-html/components/render/component-media-grid--flipped.html
static-html/components/render/component-media-grid--equal.html
static-html/components/render/component-media-grid--default.html
static-html/components/render/component-link-group.html
static-html/components/render/component-link-group--gray.html
static-html/components/render/component-link-group--bergundy.html
static-html/components/render/component-flex-callout.html
static-html/components/render/component-featured-programs.html
static-html/components/render/component-featured-news.html
static-html/components/render/component-featured-news--standalone.html
static-html/components/render/component-featured-news--featured.html
static-html/components/render/component-featured-news--default.html
static-html/components/render/component-featured-events.html
static-html/components/render/component-contact-info.html
static-html/components/render/base.html
static-html/components/render/accessibility-axe.html
static-html/components/preview/template-wysiwyg.html
static-html/components/preview/template-search-results.html
static-html/components/preview/template-search-results--results.html
static-html/components/preview/template-search-results--no-results.html
static-html/components/preview/template-program-listing.html
static-html/components/preview/template-preview.html
static-html/components/preview/template-news-listing-single-feature.html
static-html/components/preview/template-news-listing-4-up-feature.html
static-html/components/preview/template-news-detail-no-image.html
static-html/components/preview/template-news-detail-image.html
static-html/components/preview/template-homepage.html
static-html/components/preview/template-general-content-video.html
static-html/components/preview/template-general-content-no-image.html
static-html/components/preview/template-general-content-no-image-no-intro.html
static-html/components/preview/template-general-content-image.html
static-html/components/preview/template-general-content-image-no-intro.html
static-html/components/preview/template-form.html
static-html/components/preview/template-form--no-image.html
static-html/components/preview/template-form--default.html
static-html/components/preview/template-404.html
static-html/components/preview/preview.html
static-html/components/preview/preview-dark.html
static-html/components/preview/partial-wysiwyg.html
static-html/components/preview/partial-share.html
static-html/components/preview/partial-search.html
static-html/components/preview/partial-program-meta.html
static-html/components/preview/partial-program-list.html
static-html/components/preview/partial-pagination.html
static-html/components/preview/partial-page-nav.html
static-html/components/preview/partial-page-header.html
static-html/components/preview/partial-page-header-bg.html
static-html/components/preview/partial-page-header-bg--video.html
static-html/components/preview/partial-page-header-bg--long-title.html
static-html/components/preview/partial-page-header-bg--description.html
static-html/components/preview/partial-page-header-bg--default.html
static-html/components/preview/partial-page-header--title-long.html
static-html/components/preview/partial-page-header--no-nav.html
static-html/components/preview/partial-page-header--description.html
static-html/components/preview/partial-page-header--default.html
static-html/components/preview/partial-no-results-message.html
static-html/components/preview/partial-news-meta.html
static-html/components/preview/partial-news-list.html
static-html/components/preview/partial-news-item.html
static-html/components/preview/partial-news-grid.html
static-html/components/preview/partial-news-feature.html
static-html/components/preview/partial-news-details.html
static-html/components/preview/partial-meta.html
static-html/components/preview/partial-meta--midlothian.html
static-html/components/preview/partial-meta--default.html
static-html/components/preview/partial-meta--chester.html
static-html/components/preview/partial-logo.html
static-html/components/preview/partial-link.html
static-html/components/preview/partial-link-toggle.html
static-html/components/preview/partial-image.html
static-html/components/preview/partial-head.html
static-html/components/preview/partial-google-cse.html
static-html/components/preview/partial-form-builder.html
static-html/components/preview/partial-filter.html
static-html/components/preview/partial-filter--news.html
static-html/components/preview/partial-filter--default.html
static-html/components/preview/partial-favicons.html
static-html/components/preview/partial-event-meta.html
static-html/components/preview/partial-event-list.html
static-html/components/preview/partial-event-item.html
static-html/components/preview/partial-event-feature.html
static-html/components/preview/partial-event-details.html
static-html/components/preview/partial-event-actions.html
static-html/components/preview/partial-entity-meta.html
static-html/components/preview/partial-entity-meta--navy.html
static-html/components/preview/partial-entity-meta--default.html
static-html/components/preview/partial-entity-list.html
static-html/components/preview/partial-entity-item.html
static-html/components/preview/partial-copyright.html
static-html/components/preview/partial-contact-header.html
static-html/components/preview/partial-contact-details.html
static-html/components/preview/partial-contact-details--midlothian.html
static-html/components/preview/partial-contact-details--default.html
static-html/components/preview/partial-contact-details--chester.html
static-html/components/preview/partial-button-toggle.html
static-html/components/preview/partial-background.html
static-html/components/preview/partial-alert.html
static-html/components/preview/navigation-sub.html
static-html/components/preview/navigation-social.html
static-html/components/preview/navigation-breadcrumb.html
static-html/components/preview/navigation-basic.html
static-html/components/preview/navigation-basic--secondary.html
static-html/components/preview/navigation-basic--main.html
static-html/components/preview/navigation-basic--footer.html
static-html/components/preview/navigation-basic--default.html
static-html/components/preview/navigation-basic--auxilary.html
static-html/components/preview/navigation-basic--audience.html
static-html/components/preview/navigation-basic--actions.html
static-html/components/preview/layout-preview.html
static-html/components/preview/layout-menu.html
static-html/components/preview/layout-header.html
static-html/components/preview/layout-footer.html
static-html/components/preview/component-wysiwyg.html
static-html/components/preview/component-wysiwyg--tyler-outro.html
static-html/components/preview/component-wysiwyg--tyler-intro.html
static-html/components/preview/component-wysiwyg--involved.html
static-html/components/preview/component-wysiwyg--default.html
static-html/components/preview/component-wysiwyg--connected.html
static-html/components/preview/component-wysiwyg--awards.html
static-html/components/preview/component-topic-row.html
static-html/components/preview/component-testimonial--blue.html
static-html/components/preview/component-svg-example.html
static-html/components/preview/component-story.html
static-html/components/preview/component-story--turquoise.html
static-html/components/preview/component-story--standalone.html
static-html/components/preview/component-story--default.html
static-html/components/preview/component-spotlight.html
static-html/components/preview/component-news-by.html
static-html/components/preview/component-news-by--three-up.html
static-html/components/preview/component-news-by--four-up.html
static-html/components/preview/component-news-by--four-up-no-image.html
static-html/components/preview/component-media-grid.html
static-html/components/preview/component-media-grid--vertical-only.html
static-html/components/preview/component-media-grid--flipped.html
static-html/components/preview/component-media-grid--equal.html
static-html/components/preview/component-media-grid--default.html
static-html/components/preview/component-link-group.html
static-html/components/preview/component-link-group--gray.html
static-html/components/preview/component-link-group--bergundy.html
static-html/components/preview/component-flex-callout.html
static-html/components/preview/component-featured-programs.html
static-html/components/preview/component-featured-news.html
static-html/components/preview/component-featured-news--standalone.html
static-html/components/preview/component-featured-news--featured.html
static-html/components/preview/component-featured-news--default.html
static-html/components/preview/component-featured-events.html
static-html/components/preview/component-contact-info.html
static-html/components/preview/base.html
static-html/components/preview/accessibility-axe.html
static-html/components/detail/component-media-grid--vertical-only.html
