cache/
Cache/
git/
images/
!/src/images/
themes/user/site/default/asset/img/
backups/
*.sql
custom/environment.php
.DS_store
node_cache/
node_modules/
package-lock.json
pnpm-debug.log
site/files/
.idea/

# compiled files
# /dist/axe.json
/dist/css
/dist/images
/dist/js

# fractal output
# /static-html