/* ==========================================================================
	Program Meta
============================================================================= */

.program_meta {
	background: $navy;
	padding: 0 0 62px;

	@media #{$min_md} {
		padding: 56px 0 62px;
	}

	.page_header + & {
		padding-top: 0;
	}
}

.program_meta_inner {

	@media #{$min_xl} {
		display: flex;
	}
}

.program_details {
	margin-bottom: 30px;

	@media #{$min_md} {
		width: 100%;

		border-top: 1px solid $teal;
		margin-bottom: 40px;
	}

	@media #{$min_xl} {
		width: 77%;

		margin-bottom: 0;
		margin-right: 54px;
	}
}

.program_details_inner {

	@media #{$min_md} {
		display: flex;
		margin: 0 -10px;
	}

	@media #{$min_lg} {
		margin: 0 -28px;
	}
}

.program_detail {

	@media #{$min_md} {
		width: 33.33%;

		padding: 0 10px;
	}

	@media #{$min_lg} {
		padding: 0 28px;
	}

	&:not(:last-child) {
		margin-bottom: 30px;

		@media #{$min_md} {
			margin-bottom: 0;
		}
	}
}

.program_detail_label {
	@include h6;

	border-bottom: 1px solid $teal;
	color: rgba(#fff, .7);
	margin-bottom: 12px;
	padding-bottom: 12px;

	@media #{$min_md} {
		margin-bottom: 18px;
		padding-top: 17px;
		padding-bottom: 17px;
	}
}

.program_detail_label_hint {
	@include visually_hide;
}

.program_detail_data {
	@include body_text;

	color: #fff;
}

.program_detail_data_link {
	color: $accent;
	text-decoration: underline;
	transition: color $base_speed;

	&:hover,
	&:focus {
		color: #000;
	}
}

.program_meta_aside {

	@media #{$min_xl} {
		width: 23%;
	}
}

.program_meta_link {
	@include button_fill("teal");
	@include button_layout;

	width: 100%;

	display: inline-block;
	vertical-align: top;

	@media #{$min_md} {
		width: auto;
	}

	@media #{$min_xl} {
		width: 100%;
	}
}

.program_meta_link_inner {
	justify-content: center;
}
