


<?php

    if (isset($_POST['filter_sbmt'])) {
        $selected_tag = $_POST['selected_tag'];
    }

?>



{if segment_2 != 'tag'}
{!-- channel entries tag --}
{exp:channel:entries channel='{ch}' disable='{ch_disable}' dynamic="no" require_entry="yes"}
{if no_results}
  {redirect="404"}
{/if}





{layout:contents}

                    {/exp:channel:entries} 
{/if}
                    

                            
                        
                            
                            <form class="filter_tools" action='/news/filter-results' method="post">
                               
                                <div class="filter_tool">
                                    <label class="filter_label" for="filter_tool_label_1">Filter by Category</label>
                                    <div class="filter_tool_select_wrapper">
                                        <select name="selected_tag" class="filter_tool_select" id="filter_tool_label_1">
                                            <option value="" selected>Please select</option>
                             {exp:channel:entries
                            channel='{ch}' 
                            disable='categories|member_data' 
                            dynamic="no"
                            category="39|40"
                            limit="1"
                        }
                            {exp:tag:cloud
                                entry_id="{entry_id}"
                                orderby="tag_name"
                                sort="asc"
                                case="upper"
                                tag_group_id="2"
                            }
                                            <option value="{websafe_tag}">{tag}</option>
                                        {/exp:tag:cloud}
                            {/exp:channel:entries}  
                                    



                        {exp:search:simple_form channel="news_stories" status="open" search_in="everywhere" where="any" result_page="/news/search-results" no_result_page="/news/noresults"}
                            <label class="filter_label" for="filter_search_input">Search News</label>
                            <div class="filter_search_form">
                                <div class="filter_search_input_wrapper">
                                    <input class="filter_search_input" name="keywords" id="filter_search_input" type="text" placeholder="Search by keyword">
                                        <span class="filter_search_input_icon">
                                            <svg class="icon icon_search">
                                                <use href="/images/icons.svg#search" />
                                            </svg>
                                        </span>
                                </div>
                                <button class="filter_tools_submit filter_tools_submit_search" type="submit">
                                    <span class="filter_tools_submit_label">Submit</span>
                                    <span class="filter_tools_submit_icon">
                                        <svg class="icon icon_caret_right">
                                            <use href="/images/icons.svg#caret_right" />
                                        </svg>
                                    </span>
                                </button>
                            </div>
                        {/exp:search:simple_form}


                    <div class="filter_results_inner">
                        {if segment_2 == 'search-results'}
                        <p class="filter_results_description">
                            <span class="filter_results_label">{exp:search:total_results}
                                Results</span>
                            {!-- <span class="filter_results_category">Information Technology</span> --}
                        </p>
                        {/if}

{if segment_2 != 'tag'}

                        {exp:channel:entries
                            channel='{ch}' 
                            order_by="date"
                            disable='categories|member_data' 
                            category="39|40"
                            offset="3"
                            paginate="bottom"
                            limit="10"
                            sort="desc"
                            status="open"
                        }


                                                    <span class="news_item_title_link_label">{title}</span>
 
                                            {exp:tag:tags
                                                entry_id="{entry_id}"
                                                orderby="tag_name" sort="asc"
                                                limit="6"
                                                backspace="2"
                                            }
                                            {if tag_no_results}
    <p>Sorry, {tag_count} results were found.</p>
{/if}
                                                {if tag_count == "1"}
                                                    <div class="news_item_category_hint">Categories</div>
                                                {/if}
                                            
                                            <ul class="news_item_category_list" aria-label="Categories">
                                                <li class="news_item_category">
                                                    <a href="/news/tag/{websafe_tag}" class="news_item_category_link">
                                                        {tag}
                                                    </a>
                                                </li>
                                                {if tag_count == tag_total_results}
                                                </ul>                                       
                                                {/if}
                                            {/exp:tag:tags}
                                                                  


                                            <p>{story_description}</p>

{snp_pagination}
                         {/exp:channel:entries}

{if:else}

                        {if segment_3}
                        {exp:tag:entries
                            tag="{segment_3}"
                            channel_entry_id="{entry_id}"
                            inclusive="yes"
                            orderby="date"
                            sort="desc"
                            limit="10"
                            paginate="bottom"
                        }


                                            {url_title_path=news}

                                            {exp:tag:tags
                                                entry_id="{entry_id}"
                                                orderby="tag_name" sort="asc"
                                                limit="6"
                                                backspace="2"
                                                status="open"
                                            }
                                            {if tag_no_results}
    <p>Sorry, {tag_count} results were found.</p>
{/if}
                                                {if tag_count == "1"}
                                                    <div class="news_item_category_hint">Categories</div>
                                                {/if}
                                            
                                            <ul class="news_item_category_list" aria-label="Categories">
                                                <li class="news_item_category">
                                                    <a href="/news/tag/{websafe_tag}" class="news_item_category_link">
                                                        {tag}
                                                    </a>
                                                </li>
                                                {if tag_count == tag_total_results}
                                                </ul>                                       
                                                {/if}
                                            {/exp:tag:tags}

                        {/if}

    {tag_paginate}
    <div class="pagination js-pagination-via-url">
            <nav class="pagination_nav" aria-label="Search Results Pagination">

                {!-- {if next_page} --}
                    {tag_pagination_links}
                    {next_page}
                        <a class="pagination_arrow pagination_arrow_right" href="{pagination_url}">
                            <span class="pagination_arrow_label">Next Page</span>
                            <span class="pagination_arrow_icon">
                                <svg class="icon icon_caret_right">
                                    <use href="/images/icons.svg#caret_right" />
                                </svg>
                            </span>
                        </a>
                    {/next_page}
                    {/tag_pagination_links}

            </nav>
            {tag_pagination_links}
            <form class="pagination_form" action="" method="get">
                <div class="pagination_form_inner">
                    <label class="pagination_form_label" for="pagination_form_select">Page</label>
                    <div class="pagination_form_select_wrapper">
                        <select class="pagination_form_select" name="page" id="pagination_form_select" aria-label="Select Page Number">
                                {page}
                                <option url="{pagination_url}" value="{segment_3}/P{pagination_page_number}0" {if current_page}selected{/if}>{pagination_page_number}</option>
                                {/page}
                        </select>
                        <span class="pagination_form_select_icon"><svg class="icon icon_expand">
                                            <use href="/images/icons.svg#expand" />
                                        </svg></span>
                    </div>
                    <span class="pagination_form_suffix">of {tag_total_pages}</span>
                    <button class="pagination_form_button" type="submit" aria-label="View Page">
                        <span class="pagination_form_button_label">Go</span>
                        <span class="pagination_form_button_icon">
                            <svg class="icon icon_caret_right">
                                <use href="/images/icons.svg#caret_right" />
                            </svg>
                        </span>
                    </button>
                </div>
            </form>
            {/tag_pagination_links}
    </div>
{/tag_paginate}




{/exp:tag:entries}


{/if} 