<div class="collage">
	<div class="fs-row">
		<div class="fs-cell">
			<div class="collage_inner">
				<div class="collage_header">
					<h2 class="collage_title">{{ title }}</h2>
				</div>
				<div class="collage_items">
					{% for item in items %}
						<div class="collage_item">
							<figure class="collage_item_figure">
								<span class="collage_item_media">
									{% render "@partial-image" with {
										class: "collage_item",
										alt: "",
										image: item.image,
										sources: [
											img("wide").med,
											img("wide").sml,
											img("wide").xsml
										]
									} %}
								</span>
								{% if item.caption %}
								<figcaption class="collage_item_figcaption">
									<span class="collage_item_figcaption_inner">{{ item.caption }}</span>
								</figcaption>
								{% endif %}
							</figure>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
