<div class="wysiwyg_block">
	<div class="fs-row">
		<div class="fs-cell">
			<div class="wysiwyg_block_inner typography">
				<h2>Stay Connected</h2><h3>Email</h3><p>All students are assigned a Virginia Community College System (VCCS) e-mail address when they enroll in a class at the College. This e-mail address is the primary e-mail address the College will use for communication with students. Students can access their VCCS student e-mail in their myTyler account once they are enrolled in a class. Students should check their student e-mail regularly for financial aid updates, class information from instructors, reminders about College deadlines and dates, closing and delay notifications, notes from faculty advisors, details on student activities, and many other important messages.</p><h3>Social Media</h3><p>Tap into the Tyler community by connecting with the College on social media. These spaces exist to digitally connect students, faculty and staff, and the community to one another and to Tyler. They tell the Tyler story one post, photo, or video at a time.</p>
			</div>
		</div>
	</div>
</div>