<div class="page_content">
	<div class="full_width_callouts" id="skip_content" tabindex="-1">

		{% render "@partial-entity-list" %}

		{% render "@partial-entity-list" with {
			title: page.title,
			items: [
				{
					name: "Jane Smith",
					url: "page-people-detail.html",
					title: "Director of Department",
					image: "1",
					contact: {
						email: "name@university.edu",
						phone: "(410) 555-1234"
					},
					department_url: "#",
					department: "Department of Biology"
				},
				{
					name: "Cum sociis natoque",
					url: "page-people-detail.html",
					title: "Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem",
					image: "2",
					contact: {
						email: "quisque-rutrum@university.edu",
						phone: ""
					},
					department_url: "#",
					department: "Aenean commodo ligula eget dolor"
				},
				{
					name: "Aenean massa",
					url: "page-people-detail.html",
					title: "Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus",
					image: "3",
					contact: {
						email: "name@university.edu",
						phone: "(410) 555-1234"
					},
					department_url: "#",
					department: "Mmagnis"
				},
				{
					name: "Jane Smith",
					url: "page-people-detail.html",
					title: "",
					image: "",
					contact: {
						email: "name@university.edu",
						phone: "(410) 555-1234"
					},
					department_url: "#",
					department: "Department of Biology"
				},
				{
					name: "Quisque rutrum",
					url: "page-people-detail.html",
					title: "Director of Department",
					image: "4",
					contact: {
						email: "Director@university.edu",
						phone: "(410) 555-1234"
					},
					department_url: "#",
					department: "Nam quam nunc, blandit vel"
				},
				{
					name: "Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu",
					url: "page-people-detail.html",
					title: "",
					image: "",
					contact: {
						email: "enim-justo@university.edu",
						phone: "(410) 555-1234"
					},
					department_url: "#",
					department: "Department of Biology"
				},
				{
					name: "Jane Smith",
					url: "page-people-detail.html",
					title: "Director of Department",
					image: "1",
					contact: {
						email: "name@university.edu",
						phone: "(410) 555-1234"
					},
					department_url: "#",
					department: "Department of Biology"
				},
				{
					name: "Nam Eget Dui",
					url: "page-people-detail.html",
					title: "Director of Department",
					image: "2",
					contact: {
						email: "name@university.edu",
						phone: "(410) 555-1234"
					},
					department_url: "#",
					department: "Department of Biology"
				},
				{
					name: "Curabitur",
					url: "page-people-detail.html",
					title: "Director of Department",
					image: "3",
					contact: {
						email: "name@university.edu",
						phone: "(410) 555-1234"
					},
					department_url: "#",
					department: "Department of Biology"
				},
				{
					name: "Curabitur Ullamcorper",
					url: "page-people-detail.html",
					title: "",
					image: "",
					contact: {
						email: "",
						phone: ""
					},
					department_url: "#",
					department: ""
				},
				{
					name: "Donec Pede",
					url: "page-people-detail.html",
					title: "Director of Department",
					image: "4",
					contact: {
						email: "name@university.edu",
						phone: ""
					},
					department_url: "#",
					department: "Nam eget dui. Etiam rhoncus."
				},
				{
					name: "Aenean Vulputate Eleifend",
					url: "page-people-detail.html",
					title: "Director of Department",
					image: "1",
					contact: {
						email: "name@university.edu",
						phone: "(410) 555-1234"
					},
					department_url: "#",
					department: "Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus."
				}
			]
		} %}

		{% render "@partial-event-list" %}

		{% render "@partial-news-list" %}

		{% render "@partial-program-list" %}
	</div>
</div>