<!-- Page Feature -->
<div class="page_feature" id="skip_content" tabindex="-1">
	{% render "@partial-page-header--description" with {
		title: "John Tyler Community College Announces its Annual Student Award Winners",
		description: "Each year, JTCC honors its students for their academic excellence, leadership, school pride, community service and more through its Student Awards Celebration. "
	} %}
	{% render "@partial-news-meta" %}
</div>
<!-- END: Page Feature -->

<!-- Full Width Callouts -->
<div class="full_width_callouts">
	{% render "@component-wysiwyg--awards" %}

	{% render "@component-news-by--four-up-no-image" %}
</div>
<!-- END: Full Width Callouts -->
