<!-- Page Feature -->
<div class="page_feature" id="skip_content" tabindex="-1">
	{% render "@partial-page-header-bg--description" with {
		title: "Next Up: Aerospace Engineer",
		description: "A freshman slump at a four-year university almost convinced Ravonte Campbell that engineering wasn’t right for him. But after transferring to Tyler, he proved to himself that he could achieve his dream."
	} %}

	{% render "@partial-news-meta" %}
</div>
<!-- END: Page Feature -->

<!-- Full Width Callouts -->
<div class="full_width_callouts">
	{% render "@component-wysiwyg--tyler-intro" %}

	{% render "@component-testimonial" %}

	{% render "@component-wysiwyg--tyler-outro" %}

	{% render "@component-card-group--four-up" %}
</div>
<!-- END: Full Width Callouts -->
