<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-M7KGFM5');</script>
<!-- End Google Tag Manager -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Next Up | John Tyler Community College</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,500" rel="stylesheet"> 
    <link rel="stylesheet" href="/assets/stylesheets/parents/css/foundation.css?version=2018.1.26">
    <link rel="stylesheet" href="/assets/stylesheets/parents/css/app.css?version=2018.7.22.2">
    <script src="/assets/javascripts/parents/js/vendor/modernizr.js"></script>
  </head>
  <body class="nextup-2019">
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M7KGFM5"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <div class="row">
      <div class="large-12 columns headerimg">
        <a href="/" data-event="clicktrack" data-category="nextup-only" data-action="tyler-home-click" data-label="Tyler Home" data-value="tyler-home"><img src="/images/parents/tylertopheaderbar.jpg" alt="link to jtcc.edu"></a>
        <img src="/images/nextup/nextupheaderv3.jpg" alt="">
        <div class="headertext active">
          <h1 class="hide">Next Up - Tyler</h1>
          <h2>Get Started This Spring.</h2>
          <p>Whether you transfer to a four-year college or join the workforce after graduation, we want to help you achieve your goals. Tyler offers an affordable education with 75+ majors in a friendly, supportive environment.</p>
          <p>Learn how Tyler helped these alumni take their next step toward success.
          </p>
        </div>
      </div>
    </div> 
     <div class="row">
    <div class="large-12 columns singleline">
    <p style="color: white;margin: 1rem 0;">We’re here to help you succeed. View <a style="display:inline;" href="http://jtcc.edu/spring2021" data-event="clicktrack" data-category="nextup-only" data-action="nextup-spring-registration-info-click" data-label="spring registration information." data-value="spring-registration2021">spring registration information »</a> and our <a style="display:inline;" href="http://jtcc.edu/schedule" data-event="clicktrack" data-category="nextup-only" data-action="nextup-class-schedule-click" data-label="class schedule." data-value="spring-schedule2021">class schedule. »</a>
    </div>
    </div>
   <!-- <div class="row">
    <div class="large-12 columns singleline">
    <p><a href="/openhouse"  data-event="clicktrack" data-category="nextup-only" data-action="nextup-spring-2020-open-houses-click" data-label="Spring 2020 Open Houses: Register Now" data-value="spring-2020-open-houses">Spring 2020 Open Houses: Register Now »</a></p>
    </div>
    </div>-->
    <div class="row">
      <div class="large-12 columns headerimg nextupstorybig">
       <img src="/images/nextup/NextUp_DamianHeader.jpg" alt="links to Next UP: Fire Captain Damian"><a href="/nextup/fire-captain" data-event="clicktrack" data-category="nextup-only" data-action="nextup-Damian-banner-click" data-label="Next UP: Fire Captain Damian" data-value="nextup-Damian-banner">Read Damian's Story <img src="/images/nextup/button_arrow.svg" class="no-border" alt="" style="margin:0 0 0 .5rem; width:1rem;"></a>
      </div>
    </div>
    <div class="row">
      <div class="large-6 columns headerimg nextupstoryleft">
        <img src="/images/nextup/Nextup_900x900_Elena.jpg" alt="links to Next UP: PR Spokesperson"><a href="/nextup/pr-spokesperson" data-event="clicktrack" data-category="nextup-only" data-action="nextup-Elena-click" data-label="Next UP: PR Spokesperson" data-value="nextup-Elena">Read Elena's Story <img src="/images/nextup/button_arrow.svg" class="no-border" alt="" style="margin:0 0 0 .5rem; width:1rem;"></a>
      </div>
      <div class="large-6 columns headerimg nextupstoryright">
        <img src="/images/nextup/Nextup_900x900_James.jpg" alt="links to Next UP: Police Sergeant"><a href="/nextup/police-sergeant" data-event="clicktrack" data-category="nextup-only" data-action="nextup-James-block-click" data-label="Next UP: Police Sergeant" data-value="nextup-James">Read James's Story <img src="/images/nextup/button_arrow.svg" class="no-border" alt="" style="margin:0 0 0 .5rem; width:1rem;"></a> 
      </div>
    </div><!-- end of row -->
    <div class="row">
      <div class="large-6 columns headerimg nextupstoryleft">
        <img src="/images/nextup/Nextup_900x900_Ravonte.jpg" alt="links to Next UP: Aerospace Engineer"><a href="/nextup/aerospace-engineer" data-event="clicktrack" data-category="nextup-only" data-action="nextup-Ravonte-click" data-label="Next UP: Aerospace Engineer" data-value="nextup-Ravonte">Read Ravonte's Story <img src="/images/nextup/button_arrow.svg" class="no-border" alt="" style="margin:0 0 0 .5rem; width:1rem;"></a>
      </div>
      <div class="large-6 columns headerimg nextupstoryright">
        <img src="/images/nextup/Nextup_900x900_Madeline.jpg" alt="links to Next UP: Early Childhood Teacher"><a href="/nextup/early-childhood-teacher" data-event="clicktrack" data-category="nextup-only" data-action="nextup-Madeline-block-click" data-label="Next UP: Early Childhood Teacher" data-value="nextup-Madeline">Read Madeline's Story <img src="/images/nextup/button_arrow.svg" class="no-border" alt="" style="margin:0 0 0 .5rem; width:1rem;"></a> 
      </div>
    </div><!-- end of row -->

    <div class="row">
      <div class="large-6 columns block">
        <div class="tealblock2">
          <span class="blocklabel">Career Coach</span><div class="clear"></div>
          <p><a href="https://jtcc.emsicc.com/" data-event="clicktrack" data-category="nextup-only" data-action="nextup-careercoach-click" data-label="Explore the endless options" data-value="explore-the-endless-options">Explore the endless options at Tyler</a></p>
        </div>
      </div>
      <div class="large-6 columns block last">
        <div class="tealblock3">
          <span class="blocklabel">Majors</span><div class="clear"></div>
          <p><a href="/academics/academic-programs" data-event="clicktrack" data-category="nextup-only" data-action="nextup-majors-click" data-label="Choose from 75+ programs" data-value="choose-from-75-programs">Choose from 75+ career and transfer programs</a></p>
        </div>
      </div>
    </div><!-- end of row -->
    <div class="row">
      <div class="large-12 columns headerimg nextupstorybig">
       <img style="margin-top: 0;" src="/images/nextup/NextUp_JoeHeader.jpg" alt="links to Next UP: Career Advancement"><a href="/nextup/career-advancement" data-event="clicktrack" data-category="nextup-only" data-action="nextup-Joe-banner-click" data-label="Next UP: Career Advancement" data-value="nextup-Joe-banner">Read Joe's Story <img src="/images/nextup/button_arrow.svg" class="no-border" alt="" style="margin:0 0 0 .5rem; width:1rem;"></a>
      </div>
    </div>
    <div class="row">
      <div class="large-6 columns headerimg nextupstoryleft">
        <img src="/images/nextup/Nextup_900x900_Joanna.jpg" alt="links to Next UP: Fulbright Scholara"><a href="/nextup/fulbright-scholar" data-event="clicktrack" data-category="nextup-only" data-action="nextup-Joanna-click" data-label="Next UP: Fulbright Scholara" data-value="nextup-Joanna">Read Joanna's Story <img src="/images/nextup/button_arrow.svg" class="no-border" alt="" style="margin:0 0 0 .5rem; width:1rem;"></a>
      </div>
      <div class="large-6 columns headerimg nextupstoryright">
        <img src="/images/nextup/Nextup_900x900_Derrick.jpg" alt="links to Next UP: Fourth-Grade Teacher"><a href="/nextup/fourth-grade-teacher" data-event="clicktrack" data-category="nextup-only" data-action="nextup-Derrick-block-click" data-label="Next UP: Fourth-Grade Teacher" data-value="nextup-Derrick">Read Derrick's Story <img src="/images/nextup/button_arrow.svg" class="no-border" alt="" style="margin:0 0 0 .5rem; width:1rem;"></a> 
      </div>
    </div><!-- end of row -->
    <div class="row">
      <div class="large-6 columns headerimg nextupstoryleft">
        <img src="/images/nextup/Nextup_900x900_Gervyn.jpg" alt="links to Next UP: Medical School"><a href="/nextup/medical-school" data-event="clicktrack" data-category="nextup-only" data-action="nextup-Gervyn-click" data-label="Next UP: Medical School" data-value="nextup-Gervyn">Read Gervyn's Story <img src="/images/nextup/button_arrow.svg" class="no-border" alt="" style="margin:0 0 0 .5rem; width:1rem;"></a>
      </div>
      <div class="large-6 columns headerimg nextupstoryright">
        <img src="/images/nextup/Nextup_900x900_Antonio.jpg" alt="links to Next UP: Creative Entrepreneur"><a href="/nextup/creative-entrepreneur" data-event="clicktrack" data-category="nextup-only" data-action="nextup-Antonio-block-click" data-label="Next UP: Creative Entrepreneur" data-value="nextup-Antonio">Read Antonio's Story <img src="/images/nextup/button_arrow.svg" class="no-border" alt="" style="margin:0 0 0 .5rem; width:1rem;"></a> 
      </div>
    </div><!-- end of row -->
    <div class="row">
      <div class="large-12 columns fivethingsheader">
        <h3>Choose Tyler For:</h3>
      </div>
      <div class="large-12 columns fivethings">
        <ol>
          <li><strong>Inside track to 35+ top colleges and universities</strong><br>Tyler offers its graduates <a href="/transfer" data-event="clicktrack" data-category="nextup-only" data-action="nextup-guaranteed-admissions-bullet1-click" data-label="guaranteed admissions agreements in bullet 1" data-value="guaranteed-admissions-bullet1">guaranteed admission</a> to 35+ colleges and universities across Virginia and beyond, including VCU, ODU, Virginia Tech, VSU and UVA. </li> 
          <li><strong>Marketable skills that employers value</strong><br>Top companies like HCA Virginia and Altria invest in Tyler so that our graduates have cutting-edge expertise. Launch your career in two years or less with Tyler’s professional certificates, individual courses and certifications.</li>
          <li><strong>Same four-year degree, less tuition</strong><br>When Tyler graduates transfer to a four-year university, they earn the same degree but have more money in their pockets. Two years at Tyler and two years at a four-year university typically costs less than three years at a university.</li>
          <li><strong>Supportive environment</strong><br>With an average class size of 15 students, Tyler offers personal attention, advising, tutoring and other support services to help you succeed.</li>
          <li><strong>Student life</strong><br>Participate or take a leadership role in over 30 clubs and organizations, intramural sports and other activities on campus.</li>
        </ol>
      </div>
    </div>
    <!-- end of five things row -->
    <div class="row nextup" id="stickyfooter" style="position: fixed; bottom:0; max-width:100%; z-index: 100000;">
      <div class="small-4 columns">
        <!-- <a href="https://www.jtcc.edu/about/tours/" data-event="clicktrack" data-category="nextup-only" data-action="nextup-tour-floating-click" data-label="Tour" data-value="tour">Tour</a> -->
        <a href="https://www.jtcc.edu/infosessions" data-event="clicktrack" data-category="nextup-only" data-action="nextup-infosessions-floating-click" data-label="Virtual Info Sessions" data-value="virtual-info-sessions">Virtual Info Sessions</a>
      </div>
      <div class="small-4 columns">
        <a href="/admissions/request-info" data-event="clicktrack" data-category="nextup-only" data-action="nextup-requestinfo-floating-click" data-label="Request Info" data-value="request-info">Request Info</a>
      </div>
      <div class="small-4 columns">
        <a href="/admissions/get-started-at-tyler/" data-event="clicktrack" data-category="nextup-only" data-action="nextup-apply-floating-click" data-label="Apply" data-value="apply">Apply</a>
      </div>
    </div>
    <div class="row nextup"  id="original-footer">
      <div class="large-12 columns">
        <h2>Next Up</h2>
      </div>
      <div class="medium-4 columns">
        <a href="https://www.jtcc.edu/infosessions" data-event="clicktrack" data-category="nextup-only" data-action="nextup-infosessions-click" data-label="Virtual Info Sessions" data-value="virtual-info-sessions">Virtual Info Sessions</a>
      </div>
      <div class="medium-4 columns">
        <a href="/admissions/request-info" data-event="clicktrack" data-category="nextup-only" data-action="nextup-requestinfo-click" data-label="Request Info" data-value="request-info">Request Info</a>
      </div>
      <div class="medium-4 columns">
        <a href="/admissions/get-started-at-tyler/" data-event="clicktrack" data-category="nextup-only" data-action="nextup-apply-click" data-label="Apply" data-value="apply">Apply</a>
      </div>
    </div>
    <div class="row footer">
      <div class="large-12 columns">
        <a href="/" data-event="clicktrack" data-category="nextup-only" data-action="nextup-footertylerlogo-click" data-label="Tyler logo" data-value="tyler-logo"><img src="/images/interface/jtcc/tyler-horizontal-logo-white.svg" alt="John Tyler Community College" class="footerlogo"></a> 
        <div class="left">
          <a href="/about/nondiscrimination-policy/">Nondiscrimination Policy</a> <br>
          <a href="/about/privacy-and-disclaimer/">Privacy/Disclaimer</a> <br>
          <ul class="block-grid social-icons-news left">
            <li><a href="http://facebook.com/johntylercc" data-event="clicktrack" data-category="nextup-only" data-action="nextup-footersocial-fb-click" data-label="Tyler Facebook" data-value="tyler-fb-icon"><img alt="Facebook" class="no-border" src="/images/icons/fb-white.svg" width="25px;" height="25px;"></a></li>
            <li><a href="https://www.linkedin.com/school/59502" data-event="clicktrack" data-category="nextup-only" data-action="nextup-footersocial-linkedin-click" data-label="Tyler Linkedin" data-value="tyler-linkedin-icon"><img alt="Linkedin" class="no-border" src="/images/icons/linkedin-white.svg" width="25px;" height="25px;"></a></li>
                    <li><a href="http://www.youtube.com/johntylercommcollege" data-event="clicktrack" data-category="nextup-only" data-action="nextup-footersocial-yt-click" data-label="Tyler Youtube" data-value="tyler-yt-icon"><img alt="YouTube" class="no-border" src="/images/icons/youtube-white.svg" width="25px;" height="25px;"></a></li>
                    
                    <li><a href="https://twitter.com/johntylercc" data-event="clicktrack" data-category="nextup-only" data-action="nextup-footersocial-twitter-click" data-label="Tyler Twitter" data-value="tyler-twitter-icon"><img alt="Twitter" class="no-border" src="/images/icons/twitter-white.svg" width="25px;" height="25px;"></a></li>
                    <li><a href="http://instagram.com/johntylercc" data-event="clicktrack" data-category="nextup-only" data-action="nextup-footersocial-instagram-click" data-label="Tyler Instagram" data-value="tyler-instagram-icon"><img alt="Instagram" class="no-border" src="/images/icons/instagram-white.svg" width="25px;" height="25px;"></a></li>
            <li><a target="_blank" href="/tyleralert" data-event="clicktrack" data-category="nextup-only" data-action="nextup-footersocial-tyleralert-click" data-label="Tyler Alert" data-value="tyler-tyleralert-icon"><img src="/images/icons/tyleralert-white.svg" class="no-border" alt="Tyler Alert" width="25px;" height="25px;"></a></li>
          </ul>
        </div>       
      </div>
    </div>
    <!-- end of footer row -->
    <script src="/assets/javascripts/parents/js/vendor/jquery.js"></script>
    <script src="/assets/javascripts/parents/js/foundation.min.js"></script>
    <script>
            $(document).ready(function(){

        // hide #backtotop first
        $("#stickyfooter").hide();


        $(window).scroll(function(){
            // find the top of the original-footer
            var target = $('#original-footer').offset().top < $(this).height() + $(this).scrollTop();
            // if the top is lower than 200 pixels and above the top of the original-footer, fadeIn. Otherwise, fadeOut
            if (($(this).scrollTop() > 200) && (target==false)) {
              $('#stickyfooter').fadeIn();
            } else {
              $('#stickyfooter').fadeOut();
            }
        });
        

        // fade in #backtotop
        $(function () {

        });

      });

      $(document).foundation();
    </script>
    <!--<script src="/assets/javascripts/parents/js/app.js"></script>-->

    {!-- GSI pixel tracking on 7/1/2019 --}
    <script src="https://js.adsrvr.org/up_loader.1.1.0.js" type="text/javascript"></script>

        <script type="text/javascript">

            ttd_dom_ready( function() {

                if (typeof TTDUniversalPixelApi === 'function') {

                    var universalPixelApi = new TTDUniversalPixelApi();

                    universalPixelApi.init("m71zw8m", ["ffocqxf"], "https://insight.adsrvr.org/track/up");

                }

            });

        </script>
  {!-- end GSI pixel tracking --}
  
  </body>
</html>
