/* ==========================================================================
	Audience Navigation
============================================================================= */

.audience_group {
	position: relative;

	border-bottom: 1px solid $teal;
	margin-bottom: 14px;
	padding-bottom: 34px;

	@media #{$min_lg} {
		width: 200px;

		border-bottom: 0;
		margin-bottom: 0;
		padding-bottom: 0;
	}
}

.audience_nav {
	padding: 0 0 26px;

	&.audience_nav_sm {
		background-color: $teal;
		color: #fff;

		.audience_group.fs-swap-enabled & {
			display: none;
		}

		.audience_group.fs-swap-active & {
			display: block;
		}
	}

	&.audience_nav_lg {
		width: 100%;

		position: absolute;
		z-index: 200;

		background: #f0f0f0;
		opacity: 0;
		transform: translate(0, -40px);
		pointer-events: none;
		transition:
			opacity $base_speed,
			transform $base_speed,
			visibility $base_speed;
		visibility: hidden;

		.audience_group.fs-swap-enabled:hover & {
			transform: translate(0, -40px);
			opacity: 0;
			pointer-events: none;
			visibility: hidden;
		}

		.audience_group:hover &,
		.audience_group.fs-swap-active &,
		.audience_group.fs-swap-active:hover & {
			transform: translate(0, 0);
			opacity: 1;
			pointer-events: auto;
			visibility: visible;
		}
	}
}

.audience_nav_header {
}

.audience_nav_title {
	@include visually_hide;
}

.audience_nav_list {

	&:before {
		height: 1px;
		width: 50px;

		background: $navy;
		display: block;
		content: "";
		margin-left: 20px;
		margin-bottom: 12px;

		@media #{$min_lg} {
			background: $bergundy;
		}
	}
}

.audience_nav_item {
}

.audience_nav_item_inner {
}

.audience_nav_link {
	@include serif(300);

	color: inherit;
	font-size: 18px;
	line-height: (20 / 18);
	padding: 7px 20px;
	transition:
		color $base_speed,
		opacity $base_speed;

	&:hover,
	&:focus {

		@media #{$max_lg} {
			opacity: .7;
		}

		@media #{$min_lg} {
			color: $bergundy;
		}
	}
}

.audience_nav_link_label {
}

/* Audience Toggle
============================================================================= */

.audience_toggle {
	width: 100%;

	position: relative;
	z-index: 300;

	border: 1px solid $teal;
	color: #fff;
	display: block;
	font-size: 14px;
	letter-spacing: 1.75px;
	line-height: 1;
	transition:
		background-color $base_speed,
		color $base_speed;

	@media #{$min_lg} {
		background: #F0F0F0;
		border: 0;
		color: #000;
	}

	&:hover,
	&:focus,
	&.fs-swap-active {

		@media #{$max_lg} {
			background-color: $teal;
			color: #fff;
		}
	}

	&:hover,
	&:focus {

		@media #{$min_lg} {
			background: darken(#F0F0F0, 5%);
		}
	}

	.icon_close {
		width: 14px;
		height: 14px;
	}
}

.audience_toggle_inner {
	align-items: center;
	display: flex;
	opacity: 1;
	padding: 14px 20px 15px;
	transition: opacity $base_speed, visibility $base_speed;
	visibility: visible;

	@media #{$min_lg} {
		padding: 13px 10px;
	}

	@media #{$min_xl} {
		padding: 18px 24px;
	}
}

.audience_toggle_inner_default {
	.audience_toggle.fs-swap-active & {
		opacity: 0;
		visibility: hidden;
	}
}

.audience_toggle_inner_active {
	width: 100%;

	position: absolute;
	top: 0;

	opacity: 0;
	pointer-events: none;
	visibility: hidden;

	.audience_toggle.fs-swap-active & {
		opacity: 1;
		pointer-events: auto;
		visibility: visible;
	}
}

.audience_toggle_label {
	@include sans(400);

	margin-right: 10px;
	text-transform: uppercase;
}

.audience_toggle_label_default {
}

.audience_toggle_label_active {
}

.audience_toggle_icon {
	margin-left: auto;

	@media #{$min_lg} {
		color: $bergundy;
		opacity: .75;
	}
}

.audience_toggle_icon_default {
	transition: transform $base_speed;
}

.audience_toggle_icon_active {
}

.audience_toggle_icon_inner {
}

.audience_toggle_icon_inner_default {
}

.audience_toggle_icon_inner_active {
}

.audience_toggle_icon_space {
	display: none;
}
