/* ==========================================================================
	Breadcrumb Navigation
============================================================================= */

.breadcrumb {
	margin: 0 0 15px;

	@media #{$min_lg} {
		margin-bottom: 25px;
	}

	@media print {
		display: none;
	}
}

.breadcrumb_inner {
}

.breadcrumb_nav {
	@media print {
		display: none !important;
	}
}

.breadcrumb_nav_header {
	@include visually_hide;
}

.breadcrumb_nav_title {
}

/* Breadcrumb Links
============================================================================= */

.breadcrumb_list {
	@include small_text;

	align-items: center;
	display: flex;
	list-style: none;
	margin: 0;
	overflow-x: auto;
	overflow-y: hidden;
	padding: 2px 0;
	white-space: nowrap;
}

.breadcrumb_item {
	align-items: center;
	display: flex;

	&:not(:nth-last-of-type(-n + 2)) {
		&:after {
			height: 23px;
			width: 1px;

			background: rgba(#fff, 0.25);
			content: '';
			display: block;
			margin: 0 16px 0 12px;
			transform: skew(-16deg);

			.page_header & {
				background: $teal;
			}
		}

		@media #{$max_lg} {
			display: none;
		}
	}
}

.breadcrumb_pill {
	display: block;
}

.breadcrumb_pill_link {
	color: #fff;
	transition: color $base_speed;

	&:focus,
	&:hover {
		color: rgba(#fff, 0.7);
	}
}

.breadcrumb_pill_inner {
	align-items: center;
	display: flex;
}

.breadcrumb_pill_icon {
	position: relative;
	top: -1px;

	margin-left: 6px;
	transform-origin: left center;
	transform: scale(0.75);

	.breadcrumb_pill_link:hover &,
	.breadcrumb_pill_link:focus & {
		animation: dootdoot_mini 1s infinite;
	}
}

.breadcrumb_pill_label {
	@include small_text;

	border-bottom: 1px solid transparent;
	transition: border $base_speed;

	.breadcrumb_pill_link:hover &,
	.breadcrumb_pill_link:focus & {
		border-bottom-color: currentColor;
	}

	.breadcrumb_item:last-child & {
		@include visually_hide;
	}
}

.breadcrumb_divider {
	margin: 0 4px;

	.breadcrumb_item:nth-last-child(2) & {
		display: none;
	}
}

.breadcrumb_end {
	margin-left: 4px;
}
