.secondary_nav {

	@media #{$min_lg} {
		margin-right: 12px;
	}
}

.secondary_nav_header {
	@include visually_hide;
}

.secondary_nav_title {}

.secondary_nav_list {

	@media #{$min_lg} {
		display: flex;
	}
}

.secondary_nav_item {}

.secondary_nav_item_inner {}

.secondary_nav_link {
	align-items: center;
	color: #fff;
	display: flex;
	justify-content: flex-end;
	flex-direction: row-reverse;
	padding: 5px 0;
	transition: color $base_speed;

	@media #{$min_lg} {
		color: #000;
		padding: 9px 8px;
	}

	@media #{$min_xl} {
		padding: 15px 14px 14px;
	}

	&:hover,
	&:focus {
		color: $turquoise;

		@media #{$min_lg} {
			color: $bergundy;
		}
	}
}

.secondary_nav_link_icon {
	color: $turquoise;
	margin-left: 5px;
	transform: scale(.75);
	transform-origin: left center;

	.secondary_nav_link:hover &,
	.secondary_nav_link:focus & {
		animation: dootdoot_mini 1s infinite;
	}
}

.secondary_nav_link_label {
	@include serif(400);

	font-size: 15px;
	line-height: (22 / 15);

	@media #{$min_xl} {
		font-size: 18px;
		line-height: (21 / 18);
	}
}
