.secondary_nav {}

.secondary_nav_header {
	@include visually_hide;
}

.secondary_nav_title {}

.secondary_nav_list {}

.secondary_nav_item {}

.secondary_nav_item_inner {}

.secondary_nav_link {
	align-items: center;
	display: flex;
	justify-content: flex-end;
	flex-direction: row-reverse;
	padding: 5px 0;
}

.secondary_nav_link_icon {
	color: $turquoise;
	margin-left: 5px;
}

.secondary_nav_link_label {
	@include serif(400);

	font-size: 15px;
	line-height: (22 / 15);
}
