/* ==========================================================================
	Social Navigation
============================================================================= */

.social_nav {

	@media print {
		display: none;
	}
}

.social_nav_header {
}

.social_nav_title {
	@include visually_hide;
}

/* Social Links
============================================================================= */

.social_nav_list {
	list-style: none;
	margin: 0 0 0 -4px;
	padding: 0;

	@media #{$min_xl} {
		margin-left: -8px;
	}
}

.social_nav_item {
	display: inline-block;
	vertical-align: middle;
}

.social_nav_link {
	@include bubble_pop($peach);

	position: relative;

	color: inherit;
	display: block;
	padding: 18px 4px;
	transition: color $base_speed;

	@media #{$min_xl} {
		padding-right: 8px;
		padding-left: 8px;
	}

	&:focus,
	&:hover {
		color: $blush;
	}
}

.social_nav_icon {
	display: block;
	transform-origin: left center;
	transform: scale(.835);

	@media #{$min_xl} {
		transform: none;
	}
}

.social_nav_label {
	@include visually_hide;
}
