{#
	{% include component("call-to-action") with {
		description: "Description",
		link_icon: "",
		link_title: "Link",
		link_url: "#",
		aria: "aria"
	} %}
#}

<!-- Call to Action -->
<div class="cta">
	<div class="fs-row">
		<div class="fs-cell {{ cell }}">
			<div class="cta_inner">
				<div class="cta_description">
					<p>{{ description }}</p>
				</div>
				<div class="cta_action">
					{% include partial("link") with {
						class: "cta",
						title: link_title,
						url: link_url,
						icon: link_icon,
						aria: aria
					} %}
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END: Call to Action -->