{#
	{% include component("wysiwyg") with {
		content: '<p>Lorem ipsum</p>'
	} %}
#}

<!-- WYSIWYG -->
<div class="wysiwyg_block">
	<div class="fs-row">
		<div class="fs-cell {{ cell }}">
			<div class="wysiwyg_block_inner typography">
				{{ content }}
			</div>
		</div>
	</div>
</div>
<!-- END: WYSIWYG -->