<!DOCTYPE html>
<html class="no-js" lang="en">

	{% include "head.twig" %}

	<body class="preload fs-grid{% for class in page.classes %} body_{{class }}{% endfor %}">
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-K6P58WP"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->
		<div class="js-alert-wrapper">
			{% if page.alert %}
				<!-- WordPress / Drupal, use AlertURL to target the script that returns this content. For BigTree, enter the alert markup here. -->
				<script>var AlertURL = "/static-html/alert.html";</script>
			{% endif %}
		</div>

		<!-- Page Wrapper -->
		<div class="page_wrapper{% if page.image or page.video %} has_page_media{% endif %}">

			<!-- Header -->
			<header class="header" id="header">
				<a class="skip_link skip_main" id="skip_link" href="#skip_content">Skip to main content</a>
				{% if page.alert == true %}
				<a class="js-skip-alert skip_link skip_alert" id="alert_link" href="#alert">Skip to site alert</a>
				{% endif %}
				<div class="header_ribbon">
					<div class="fs-row">
						<div class="fs-cell">
							<div class="header_ribbon_inner">
								{% include navigation("basic") with {
									class: "secondary_nav",
									modifier: "lg",
									title: "Secondary",
									toggle_icon: "",
									active_index: "",
									links: navigation.secondary
								} %}

								<div class="js-audience-group audience_group">
									{% include partial("button-toggle") with {
										class: "audience",
										title: "Audience",
										icon: "caret_down",
										active_title: "Close",
										active_icon: "close",
										swap_target: ".js-audience-group",
										swap_link: "audience"
									} %}

									{% include navigation("basic") with {
										class: "audience_nav",
										modifier: "lg",
										title: "Audience",
										toggle_icon: "",
										active_index: "",
										links: navigation.audience
									} %}
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="header_primary">
					<div class="fs-row">
						<div class="fs-cell">
							<div class="header_primary_inner">
								{% include partial("logo") with {
									modifier: "header",
									icon: "logo",
									print: ""
								} %}

								<div class="header_controls">
									{% include partial("link-toggle") with {
										class: "menu",
										title: "Menu",
										url: "#menu",
										icon: "menu",
										swap_target: ".menu",
										swap_link: "menu"
									} %}

									{% include partial("link") with {
										class: "search",
										title: "Search",
										url: "page-search.html"
									} %}
								</div>

								{% include partial("search") with {
									modifier: "header",
									aria: "Site Search",
									label: "Search",
									placeholder: "",
									button_text: "Submit"
								} %}

								{% include navigation("basic") with {
									class: "main_nav",
									modifier: "lg",
									title: "Site",
									toggle_icon: "caret_down",
									active_index: page.activePage,
									links: navigation.main
								} %}
							</div>
						</div>
					</div>
				</div>
			</header>
			<!-- END: Header -->

			<!-- Page -->
			<main class="page">