{% extends "_base.twig" %}

{% block content %}
	{% render "@layout-header" with {
		layout: page.layout,
		theme: page.theme,
		activePage: page.activePage
	} %}

	<!-- Page Wrapper -->
	<div
		id="skip_content" tabindex="-1" class="page_wrapper{% if page.image or page.video %} has_page_media{% endif %}">
		<!-- Page -->
		<div class="page">
			{{ yield }}
		</div>
	</div>

	{% render "@layout-footer" %}
	{% render "@layout-menu" %}
{% endblock %}
