{layout='layouts/_main-layout'}

{!--
	404 redirect
	============
	This is a multi-entry channel page, it doesn't need third segment as is. So we use the following code to make sure the page sends a 404 if someone types in an incorrect URL in the browser address bar. i.e. http://example.com/about/sub-page/nothing
--}
{if segment_6}
	{redirect='404'}
{/if}

{!-- page vars (prefix p_) --}
{preload_replace:p_title='admissions'}
{preload_replace:p_description='admissions section'}
{preload_replace:p_url='admissions'}
{!-- channel vars (prefix ch_) --}
{preload_replace:ch='admissions'}
{preload_replace:ch_status='Open|Default Page'}
{preload_replace:ch_disable='member_data|pagination'}
{!-- layout vars, channel/page related --}
{layout:set name='ch' value='{ch}'}
{layout:set name='p_url' value='{p_url}'}
{layout:set name='p_title' value='{p_title}'}
{layout:set name='ch_disable' value='{ch_disable}'}
{layout:set name='ch_status' value='{ch_status}'}
{if segment_2}{layout:set name='entry_ch' value='{ch}'}{/if}

		{!-- channel entries tag --}
{exp:channel:entries channel='{ch}' disable='{ch_disable}' limit='1'{if segment_2} require_entry='yes'{if:else} status='Default Page'{/if}}
	{!-- layout vars, dynamic, not output --}
	{layout:set name='title' value='{if title}{title}{if:else}{p_title}{/if}'}

	{layout:set name='page_description'}{if page_description}{page_description}{/if}{/layout:set}

	{layout:set name='page_header_bg_image' value='{if page_header_bg_image}{page_header_bg_image}{img:url}{/page_header_bg_image}{/if}'}

	{layout:set name="page_header_bg_image_500x214" value='{page_header_bg_image}{img:url:resize width="500" height="214"}{/page_header_bg_image}'}

	{layout:set name="page_header_bg_image_740x317" value='{page_header_bg_image}{img:url:resize width="740" height="317"}{/page_header_bg_image}'}
	{layout:set name="page_header_bg_image_980x420" value='{page_header_bg_image}{img:url:resize width="980" height="420"}{/page_header_bg_image}'}
	{layout:set name="page_header_bg_image_1220x523" value='{page_header_bg_image}{img:url:resize width="1220" height="523"}{/page_header_bg_image}'}
	{layout:set name="page_header_bg_image_1440x617" value='{page_header_bg_image}{img:url:resize width="1440" height="617"}{/page_header_bg_image}'}
	{layout:set name="entry_id"}{entry_id}{/layout:set}
	{layout:set name='description' value='{if seo_desc}{seo_desc}{if:else}{p_description}{/if}'}
	{!-- OpenGraph meta output --}
	{layout:set name='og_title' value='{if seo_title}{seo_title}{if:elseif title}{title}{if:else}{p_title}{/if}'}
	{layout:set name='og_image'}{if page_image}<meta property="og:image" content="{page_image}{page_image:image}{/page_image}">{/if}{/layout:set}
	{layout:set name='og_url'}{path='{p_url}'}{/layout:set}
	{layout:set name='og_description' value='{if seo_desc}{seo_desc}{if:else}{p_description}{/if}'}
	{!-- /layout vars, dynamic, not output --}

	{!-- content output --}
	{!--{if logged_in}
	<a href="{cp_edit_entry_url}" class="edit-entry">Edit Entry</a>
  {/if}--}
	
	{!-- page_content --}
			
{layout:contents}
{main_content}
	{if segment_4 == 'transfer-credit-request-form'}
		{embed="admissions/transfer-credit-form"}
	{/if}
	{main_content:wysiwyg_block}
	<div class="wysiwyg_block">
		<div class="fs-row">
			<div class="fs-cell">
				<div class="wysiwyg_block_inner typography">
					{content}					
				</div>
			</div>
		</div>
	</div>
	{/main_content:wysiwyg_block}
	

	{snp_js_accordion}

	{snp_flex_callout_image}

	{snp_topic_row}	

	{snp_link_group}
		
	{snp_testimonial}	

	{snp_media_grid}

	{snp_media_grid_vertical}

{/main_content}
{!--
				no results redirect
				===================
				If the entry doesn't exist, we redirect to 404. This works in tandem with the require_entry='yes' parameter on the channel entries tag.
			--}
			{if no_results}
				{redirect='404'}
			{/if}
		{/exp:channel:entries}
{if segment_2 == ''}			
<div class="card_group white">
	<div class="fs-row">
		<div class="fs-cell">
			<div class="wysiwyg_block_inner">
				<div class="card_group_body">
					<ul class="card_group_items card_count_3" aria-label="Related News">
						{exp:channel:entries channel='news_stories' disable='{ch_disable}' limit='3' status='open' dynamic='no' search:featured_on_admissions_transfer="not IS_EMPTY" }
						<li class="card_group_item">
							{story_image}
							<figure class="card_group_item_figure">
								<span class="lazy_image_wrapper card_group_item_image_wrapper">
									<img class="js-lazy card_group_item_image lazyautosizes js-lazyloaded" data-sizes="auto" src='{img:url:resize width="300" height="200"}' data-src='{img:url:resize width="300" height="200"}' data-srcset='{img:url:resize width="300" height="200"} 300w, {img:url:resize width="500" height="334"} 500w, {img:url:resize width="740" height="494"} 740w' alt="" sizes="253px" srcset='{img:url:resize width="300" height="200"} 300w, {img:url:resize width="500" height="334"} 500w, {img:url:resize width="740" height="494"} 740w'>
								</span>
								<noscript>
									<img class="card_group_item_image" src='{img:url:resize width="740" height="494"}'  srcset='{img:url:resize width="740" height="494"} 740w, {img:url:resize width="500" height="334"} 500w, {img:url:resize width="300" height="200"} 300w' sizes="100vw"  alt="" >
								</noscript>
							</figure>
							{/story_image}
							<div class="card_group_item_header">
								<h2 class="card_group_item_title">
									<a href="/news/{url_title}" class="card_group_item_title_link">
										<span class="card_group_item_title_link_inner">
											<span class="card_group_item_title_link_label">{title}</span>
											<span class="card_group_item_title_link_icon" aria-hidden="true">
												<span class="card_group_item_title_link_icon_inner">
													<span class="card_group_item_title_link_icon_space">﻿</span>	
													<svg class="icon icon_caret_right">
														<use href="/images/icons.svg#caret_right"></use>
													</svg>
												</span>
											</span>
										</span>
									</a>
								</h2>
								{!-- <div class="card_group_item_categories">
									<div class="card_group_item_category_hint">Categories</div>
									<ul class="card_group_item_category_list" aria-label="Categories">

										{exp:tag:cloud
			                                entry_id="{entry_id}"
			                                orderby="tag_name"
			                                sort="asc"
			                                case="upper"
			                                limit="6"
			                            }

										<li class="card_group_item_category">
											<a class="card_group_item_category_link" href="/news/tag/{websafe_tag}">{tag}</a>
										</li>
										{/exp:tag:cloud}
									</ul>
								</div> --}
							</div>
							<div class="card_group_item_body">
								<div class="card_group_item_description">
									<p>{story_description}</p>
								</div>
							</div>
						</li>
						{/exp:channel:entries}
					</ul>
				</div>
			</div>
		</div>
	</div>
</div><!-- /card_group -->
{/if}
{exp:channel:entries channel='{ch}' disable='{ch_disable}' limit='1'{if segment_2} require_entry='yes'{if:else} status='Default Page'{/if}}
{if next_up_career}  
<div class="wysiwyg_block">
		<div class="fs-row">
			<div class="fs-cell">
				<div class="wysiwyg_block_inner typography">
					{next_up_career} 					
				</div>
			</div>
		</div>
	</div> 
{/if}
{/exp:channel:entries}
{if segment_2 == ''}			
<div class="card_group white">
	<div class="fs-row">
		<div class="fs-cell">
			<div class="wysiwyg_block_inner">
				<div class="card_group_body">
					<ul class="card_group_items card_count_3" aria-label="Related News">
						{exp:channel:entries channel='news_stories' disable='{ch_disable}' limit='3' status='open' dynamic='no' search:featured_on_admissions_career="not IS_EMPTY" }
						<li class="card_group_item">
							{story_image}
							<figure class="card_group_item_figure">
								<span class="lazy_image_wrapper card_group_item_image_wrapper">
									<img class="js-lazy card_group_item_image lazyautosizes js-lazyloaded" data-sizes="auto" src='{img:url:resize width="300" height="200"}' data-src='{img:url:resize width="300" height="200"}' data-srcset='{img:url:resize width="300" height="200"} 300w, {img:url:resize width="500" height="334"} 500w, {img:url:resize width="740" height="494"} 740w' alt="" sizes="253px" srcset='{img:url:resize width="300" height="200"} 300w, {img:url:resize width="500" height="334"} 500w, {img:url:resize width="740" height="494"} 740w'>
								</span>
								<noscript>
									<img class="card_group_item_image" src='{img:url:resize width="740" height="494"}'  srcset='{img:url:resize width="740" height="494"} 740w, {img:url:resize width="500" height="334"} 500w, {img:url:resize width="300" height="200"} 300w' sizes="100vw"  alt="" >
								</noscript>
							</figure>
							{/story_image}
							<div class="card_group_item_header">
								<h2 class="card_group_item_title">
									<a href="/news/{url_title}" class="card_group_item_title_link">
										<span class="card_group_item_title_link_inner">
											<span class="card_group_item_title_link_label">{title}</span>
											<span class="card_group_item_title_link_icon" aria-hidden="true">
												<span class="card_group_item_title_link_icon_inner">
													<span class="card_group_item_title_link_icon_space">﻿</span>	
													<svg class="icon icon_caret_right">
														<use href="/images/icons.svg#caret_right"></use>
													</svg>
												</span>
											</span>
										</span>
									</a>
								</h2>
								{!-- <div class="card_group_item_categories">
									<div class="card_group_item_category_hint">Categories</div>
									<ul class="card_group_item_category_list" aria-label="Categories">

										{exp:tag:cloud
			                                entry_id="{entry_id}"
			                                orderby="tag_name"
			                                sort="asc"
			                                case="upper"
			                                limit="6"
			                            }

										<li class="card_group_item_category">
											<a class="card_group_item_category_link" href="/news/tag/{websafe_tag}">{tag}</a>
										</li>
										{/exp:tag:cloud}
									</ul>
								</div> --}
							</div>
							<div class="card_group_item_body">
								<div class="card_group_item_description">
									<p>{story_description}</p>
								</div>
							</div>
						</li>
						{/exp:channel:entries}
					</ul>
				</div>
			</div>
		</div>
	</div>
</div><!-- /card_group -->
{/if}
{exp:channel:entries channel='{ch}' disable='{ch_disable}' limit='1'{if segment_2} require_entry='yes'{if:else} status='Default Page'{/if}}
{if next_up_career_switcher}   
<div class="wysiwyg_block">
		<div class="fs-row">
			<div class="fs-cell">
				<div class="wysiwyg_block_inner typography">
					{next_up_career_switcher}  					
				</div>
			</div>
		</div>
	</div> 
{/if}
{/exp:channel:entries}
{if segment_2 == ''}			
<div class="card_group white last">
	<div class="fs-row">
		<div class="fs-cell">
			<div class="wysiwyg_block_inner">
				<div class="card_group_body">
					<ul class="card_group_items card_count_3" aria-label="Related News">
						{exp:channel:entries channel='news_stories' disable='{ch_disable}' limit='3' status='open' dynamic='no' search:featured_on_admissions_career_sw="not IS_EMPTY" }
						<li class="card_group_item">
							{story_image}
							<figure class="card_group_item_figure">
								<span class="lazy_image_wrapper card_group_item_image_wrapper">
									<img class="js-lazy card_group_item_image lazyautosizes js-lazyloaded" data-sizes="auto" src='{img:url:resize width="300" height="200"}' data-src='{img:url:resize width="300" height="200"}' data-srcset='{img:url:resize width="300" height="200"} 300w, {img:url:resize width="500" height="334"} 500w, {img:url:resize width="740" height="494"} 740w' alt="" sizes="253px" srcset='{img:url:resize width="300" height="200"} 300w, {img:url:resize width="500" height="334"} 500w, {img:url:resize width="740" height="494"} 740w'>
								</span>
								<noscript>
									<img class="card_group_item_image" src='{img:url:resize width="740" height="494"}'  srcset='{img:url:resize width="740" height="494"} 740w, {img:url:resize width="500" height="334"} 500w, {img:url:resize width="300" height="200"} 300w' sizes="100vw"  alt="" >
								</noscript>
							</figure>
							{/story_image}
							<div class="card_group_item_header">
								<h2 class="card_group_item_title">
									<a href="/news/{url_title}" class="card_group_item_title_link">
										<span class="card_group_item_title_link_inner">
											<span class="card_group_item_title_link_label">{title}</span>
											<span class="card_group_item_title_link_icon" aria-hidden="true">
												<span class="card_group_item_title_link_icon_inner">
													<span class="card_group_item_title_link_icon_space">﻿</span>	
													<svg class="icon icon_caret_right">
														<use href="/images/icons.svg#caret_right"></use>
													</svg>
												</span>
											</span>
										</span>
									</a>
								</h2>
								{!-- <div class="card_group_item_categories">
									<div class="card_group_item_category_hint">Categories</div>
									<ul class="card_group_item_category_list" aria-label="Categories">

										{exp:tag:cloud
			                                entry_id="{entry_id}"
			                                orderby="tag_name"
			                                sort="asc"
			                                case="upper"
			                                limit="6"
			                            }

										<li class="card_group_item_category">
											<a class="card_group_item_category_link" href="/news/tag/{websafe_tag}">{tag}</a>
										</li>
										{/exp:tag:cloud}
									</ul>
								</div> --}
							</div>
							<div class="card_group_item_body">
								<div class="card_group_item_description">
									<p>{story_description}</p>
								</div>
							</div>
						</li>
						{/exp:channel:entries}
					</ul>
				</div>
			</div>
		</div>
	</div>
</div><!-- /card_group -->

<div class="wysiwyg_block">
	<div class="fs-row">
		<div class="wysiwyg_block_inner typography flex-l">
			<div class="fs-cell fs-lg-6 block left">
				<div class="tealblock2">
		          <span class="blocklabel">Majors</span>
		          <p><a href="/academics/academic-programs">Choose from 75+ Career and Transfer Programs</a></p>
		        </div>
			</div>
			<div class="fs-cell fs-lg-6 block right">
				<div class="tealblock3">
					<span class="blocklabel">Support</span>
			          <p><a href="/admissions">From advising to navigating financial aid, our staff is here to help you succeed.</a></p>
				</div>
			</div>
		</div>
	</div>
</div>	

<div class="wysiwyg_block">
	<div class="fs-row">
		<div class="wysiwyg_block_inner typography">
			<div class="fs-cell fs-lg-12 fivethingsheader">
				<h3>Choose Tyler For:</h3>
			</div>
			<div class="fs-cell fs-lg-12 fivethings">
		        <ol>
		          <li><strong>Inside track to 35+ top colleges and universities</strong><br>Tyler offers its graduates <a href="/transfer" data-event="clicktrack" data-category="nextup-only" data-action="nextup-guaranteed-admissions-bullet1-click" data-label="guaranteed admissions agreements in bullet 1" data-value="guaranteed-admissions-bullet1">guaranteed admission</a> to 35+ colleges and universities across Virginia and beyond, including VCU, ODU, Virginia Tech, VSU and UVA. </li> 
		          <li><strong>Marketable skills that employers value</strong><br>Top companies like HCA Virginia and Altria invest in Tyler so that our graduates have cutting-edge expertise. Launch your career in two years or less with Tyler’s professional certificates, individual courses and certifications.</li>
		          <li><strong>Same four-year degree, less tuition</strong><br>When Tyler graduates transfer to a four-year university, they earn the same degree but have more money in their pockets. Two years at Tyler and two years at a four-year university typically costs less than three years at a university.</li>
		          <li><strong>Supportive environment</strong><br>With an average class size of 15 students, Tyler offers personal attention, advising, tutoring and other support services to help you succeed.</li>
		          <li><strong>Student life</strong><br>Participate or take a leadership role in over 30 clubs and organizations, intramural sports and other activities on campus.</li>
		        </ol>
		    </div>
		</div>
	</div>
</div>
<div class="wysiwyg_block">
	<div class="fs-row" id="original-footer">
		<div class="wysiwyg_block_inner typography nextup">
			<div class="fs-cell fs-lg-12 fullwidth">
				<h2>Next Up</h2>
			</div>
			<div class="fs-row">
				<div class="fs-cell fs-lg-4">
					<a href="/infosessions" data-event="clicktrack" data-category="nextup-only" data-action="nextup-infosessions-click" data-label="Virtual Info Sessions" data-value="virtual-info-sessions">Virtual Info Sessions</a>
				</div>
				<div class="fs-cell fs-lg-4">
					<a href="/admissions/request-info" data-event="clicktrack" data-category="nextup-only" data-action="nextup-requestinfo-click" data-label="Request Info" data-value="request-info">Request Info</a>
				</div>
				<div class="fs-cell fs-lg-4">
					<a href="/admissions/get-started-at-tyler/" data-event="clicktrack" data-category="nextup-only" data-action="nextup-apply-click" data-label="Apply" data-value="apply">Apply</a>
				</div>
			</div>
		</div>
	</div>
</div>
{/if}
{exp:channel:entries channel='{ch}' disable='{ch_disable}' limit='1'{if segment_2} require_entry='yes'{if:else} status='Default Page'{/if}}
{snp_contact}

		{/exp:channel:entries}			