<!-- Menu -->
<div class="js-menu menu" id="menu" aria-label="Site Menu">
	<h2 class="menu_title">Site Menu</h2>
	<div class="menu_primary">
		<div class="fs-row">
			<div class="fs-cell">
				<div class="menu_primary_inner">
					{% render "@navigation-basic--main" with {
						class: "main_nav",
						modifier: "sm",
						title: "Site",
						toggle_icon: "plus",
						active_index: activePage,
					} %}
					{% render "@partial-search" with {
						modifier: "menu",
						aria: "Site Search",
						label: "Search",
						placeholder: "Search by keyword",
						button_text: "Submit"
					} %}
					{% render "@navigation-basic--actions" with {
						class: "actions_nav",
						modifier: "sm",
					} %}
				</div>
			</div>
		</div>
	</div>
	<div class="menu_sole">
		<div class="fs-row">
			<div class="fs-cell">
				<div class="menu_sole_inner">
					<div class="js-audience-group audience_group">
						{% render "@partial-button-toggle" with {
							class: "audience",
							title: "Resources for…",
							icon: "caret_down",
							active_title: "Close",
							active_icon: "close",
							swap_target: ".js-audience-group",
							swap_link: "audience"
						} %}

						{% render "@navigation-basic--audience" with {
							class: "audience_nav",
							modifier: "sm"
						} %}
					</div>
					{% render "@navigation-basic--secondary" with {
						class: "secondary_nav",
						modifier: "sm",
						title: "Secondary",
						icon: "caret_right"
					} %}
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END: Menu -->
