<!-- Menu -->
<div class="js-menu menu" id="menu" aria-label="Site Menu">
	<div class="menu_header">
		<div class="fs-row">
			<div class="fs-cell">
				<div class="menu_header_inner">
					<h2 class="menu_title">Site Menu</h2>
				</div>
			</div>
		</div>
	</div>
	<div class="menu_primary">
		<div class="fs-row">
			<div class="fs-cell">
				<div class="menu_primary_inner">
					{% render "@partial-search" with {
						modifier: "menu",
						aria: "Site Search",
						label: "Search",
						placeholder: "",
						button_text: "Submit"
					} %}
					{% render "@navigation-basic" with {
						class: "main_nav",
						modifier: "sm",
						title: "Site",
						toggle_icon: "caret_down",
						active_index: activePage,
						links: navigation.main
					} %}
				</div>
			</div>
		</div>
	</div>
	<div class="menu_ribbon">
		<div class="fs-row">
			<div class="fs-cell">
				<div class="menu_ribbon_inner">
					<div class="js-audience-group audience_group">
						{% render "@partial-button-toggle" with {
							class: "audience",
							title: "Audience",
							icon: "caret_down",
							active_title: "Close",
							active_icon: "close",
							swap_target: ".js-audience-group",
							swap_link: "audience"
						} %}

						{% render "@navigation-basic" with {
							class: "audience_nav",
							modifier: "sm",
							title: "Audience",
							toggle_icon: "",
							active_index: "",
							links: navigation.audience
						} %}
					</div>
					{% render "@navigation-basic" with {
						class: "secondary_nav",
						modifier: "sm",
						title: "Secondary",
						toggle_icon: "",
						active_index: "",
						links: navigation.secondary
					} %}
				</div>
			</div>
		</div>
	</div>
	<div class="menu_close">
		<div class="fs-row">
			<div class="fs-cell">
				<div class="menu_close_inner">
					{% render "@partial-button-toggle" with {
						class: "menu_close",
						title: "Close",
						icon: "close",
						swap_target: ".menu",
						swap_link: "menu"
					} %}
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END: Menu -->
