/* ==========================================================================
	Accordion
============================================================================= */

/* ==========================================================================
	Accordion: Layout
============================================================================= */

.accordion {
	@include margined_xl;

	--border_color: rgba(0, 0, 0, 0.15);
}

.accordion_inner {
	//
}

/* Accordion Items
============================================================================= */

.accordion_items {
	border-top: 1px solid var(--border_color);
}

.accordion_item {
	border-bottom: 1px solid var(--border_color);
}

.accordion_item_heading {
	font-weight: normal;
	margin: 0;
}

.accordion_item_button {
	width: 100%;

	text-align: left;
	transition: color $base_speed;

	&:focus {
		color: $accent;
	}
}

.accordion_item_heading_inner {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: 25px 0 30px;

	@media print {
		padding: 20px 0 10px;
	}
}

.accordion_item_heading_label {
	flex: 1;
	padding-right: 20px;
}

.accordion_item_heading_title {
	@include sans(100);

	font-size: 48px;
	line-height: (54 / 48);
	margin-right: 10px;
}

.accordion_item_heading_subtitle {
	@include body_text;

	@media #{$min_xl} {
		font-size: 21px;
		line-height: (38 / 21);
	}
}

.accordion_item_heading_icon {
	--color: #000;
	--bg_color: transparent;
	--border_color: #{$maroon};

	.accordion_item_button:hover &,
	.accordion_item_button:focus & {
		--color: #fff;
		--bg_color: #000;
		--border_color: #000;
	}

	width: 45px;
	height: 45px;

	position: relative;

	align-items: center;
	background: var(--bg_color);
	border: 1px solid var(--border_color);
	border-radius: 50%;
	color: var(--color);
	display: flex;
	justify-content: center;
	transition: $base_speed $base_timing;

	@media print {
		display: none;
	}

	&:before,
	&:after {
		width: 20px;
		height: 2px;

		position: absolute;
		top: 50%;
		left: 50%;

		background: currentColor;
		border-radius: 2px;
		content: '';
		transition: opacity 0.15s, transform 0.15s;
	}

	&:before {
		transform: translate(-50%, -50%);
	}

	&:after {
		transform: translate(-50%, -50%) rotate(90deg);

		.accordion_item.fs-swap-active & {
			transform: translate(-50%, -50%) rotate(0deg);
		}
	}
}

.accordion_item_content {
	overflow: hidden;
	padding: 13px 0 40px;

	@media #{$min_lg} {
		max-width: 75%;
	}

	@media print {
		padding: 0 0 20px;
	}

	.accordion_item.fs-swap-enabled & {
		display: none;

		@media print {
			display: block;
		}
	}

	.accordion_item.fs-swap-active & {
		display: block;
	}

	> *:first-child {
		margin-top: 0;
	}

	> *:last-child {
		margin-bottom: 0;
	}
}
