/* ==========================================================================
	Card Group
============================================================================= */

.card_group {
	background: #F7F7F7;
	padding: 40px 0 56px;

	@media #{$min_lg} {
		padding: 64px 0 84px;
	}
}

.card_group_header {
	border-bottom: 1px solid rgba(#000, .08);
	margin-bottom: 20px;
	padding-bottom: 14px;

	@media #{$min_md} {
		margin-bottom: 42px;
		padding-bottom: 14px;
	}
}

.card_group_header_inner {

	@media #{$min_md} {
		align-items: center;
		display: flex;
		justify-content: space-between;
	}
}

.card_group_title {
	@include sans(400);

	color: rgba(#000, .7);
	font-size: 15px;
	letter-spacing: 1.88px;
	line-height: (18 / 15);
	text-transform: uppercase;

	@media #{$min_lg} {
		font-size: 16px;
		line-height: (19 / 16);
		letter-spacing: 2px;
	}
}

.card_group_header_link {
	@include button_text;
	@include button_layout;

	display: none;

	@media #{$min_md} {
		display: block;
	}
}

.card_group_items {
	@include remove_list;

	@media #{$min_sm} {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	@media #{$min_lg} {
		justify-content: flex-start;
	}
}


/* Card Items
============================================================================= */

.card_group_item {
	margin-bottom: 30px;

	@media #{$min_sm} {
		width: 48%;
	}

	@media #{$min_lg} {
		width: 24%;

		margin-bottom: 0;
	}

	@media #{$min_xl} {
		width: 22%;
	}

	.card_group_items.card_count_3 & {

		@media #{$min_lg} {
			width: 32%;

			margin-right: 1.845%;
		}

		@media #{$min_xl} {
			width: 25%;

			margin-right: 60px;
		}
	}

	&:nth-child(3n + 3) {

		.card_group_items.card_count_3 & {

			@media #{$min_lg} {
				margin-right: 0;
			}
		}
	}

	&:not(:nth-child(4n + 4)) {

		@media #{$min_lg} {
			margin-right: 1.333%;
		}

		@media #{$min_xl} {
			margin-right: 4%;
		}
	}

	&:last-of-type {

		@media #{$min_lg} {
			margin-right: 0;
		}
	}

	&:first-child {

		.card_count_2 & {

			@media #{$min_lg} {
				margin-left: 8.7%;
			}

			@media #{$min_xl} {
				margin-left: 17.4%;
			}
		}
	}
}

.card_group_item_figure {
	margin-bottom: 26px;

	@media print {
		display: none;
	}
}

.card_group_item_image_wrapper {
	display: block;
	padding-top: $classic;
}

.card_group_item_header {
	display: flex;
	flex-direction: column-reverse;
	margin-bottom: 14px;
}

.card_group_item_title {
	@include sans(100);

	font-size: 28px;
	line-height: (34 / 28);

	@media #{$min_xl} {
		font-size: 40px;
		line-height: (42 / 40);
		letter-spacing: .5px;
	}
}

.card_group_item_title_link {
	display: block;
}

.card_group_item_title_link_label {
	border-bottom: 1px solid transparent;
	display: inline;
	margin-right: 18px;
	transition:
		border $base_speed,
		color $base_speed;

	.card_group_item_title_link:hover &,
	.card_group_item_title_link:focus & {
		border-bottom-color: currentColor;
		color: $maroon;
	}
}

.card_group_item_title_link_icon {
	color: $maroon;
	display: inline-block;
	margin-left: -12px;
	vertical-align: middle;

	@media #{$min_lg} {
		transform-origin: left center;
		transform: scale(1.25);
	}

	.card_group_item_title_link:hover &,
	.card_group_item_title_link:focus & {
		animation: dootdoot 1s infinite;

		@media #{$min_lg} {
			animation: dootdoot_big 1s infinite;
		}
	}
}

.card_group_item_title_link_icon_space {
	display: none;
}

.card_group_item_categories {
	margin: 0 0 2px;
}

.card_group_item_category_hint {
	@include visually_hide;
}

.card_group_item_category_list {
	@include remove_list;

	display: flex;
	flex-wrap: wrap;
}

.card_group_item_category {
	@include mini_h6;

	color: rgba(#000, .5);
	margin-right: 4px;
	margin-bottom: 8px;
	text-transform: uppercase;

	&:not(:last-child) {

		&:after {
			content: ",";
			margin-left: -2px;
		}
	}
}

.card_group_item_category_link {
	border-bottom: 1px solid rgba($peach, .35);
	padding-bottom: 2px;
	transition:
		border $base_speed,
		color $base_speed;

	&:hover,
	&:focus {
		color: #000;
		border-bottom-color: $maroon;
	}
}

.card_group_item_body {
}

.card_group_item_description {
	@include small_text;

	p {
		margin: 0;
	}
}

.card_group_discovery_link {
	@include button_fill;
	@include button_layout;

	display: block;

	@media #{$min_md} {
		display: none;
	}
}

.card_group_discovery_link_inner {
	justify-content: center;
}
