.collage {
	background: #f7f7f7;
	padding: 50px 0 40px;

	@media #{$min_xl} {
		padding: 90px 0 40px;
	}
}

.collage_inner {}

.collage_header {
	margin-bottom: 30px;

	@media #{$min_xl} {
		margin-bottom: 62px;
	}
}

.collage_title {
	@include h1;

	position: relative;

	background: $turquoise;
	display: inline-block;
	margin: 0;
	padding-right: 8px;

	@media #{$min_lg} {
		padding: 4px 16px 5px 0;
	}

	&:before {
		height: 100%;
		width: 50vw;

		position: absolute;
		top: 0;
		right: 100%;

		background: inherit;
		content: "";
	}
}

.collage_items {

	@media #{$min_md} {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -18px;
	}

	@media #{$min_xl} {
		margin: 0 -28px;
	}

	&:nth-of-type(odd) {

		.layout_flipped & {

			@media #{$min_md} {
				flex-direction: row-reverse;
			}
		}
	}

	&:nth-of-type(even) {

		@media #{$min_md} {
			flex-direction: row-reverse;
		}

		.layout_flipped & {

			@media #{$min_md} {
				flex-direction: row;
			}
		}
	}
}

.collage_item {
	margin-bottom: 28px;

	@media #{$min_md} {
		margin-bottom: 36px;
		padding: 0 18px;
	}

	@media #{$min_xl} {
		margin-bottom: 60px;
		padding: 0 28px;
	}

	.layout_equal & {

		@media #{$min_md} {
			width: 50%;
		}
	}

	&:nth-of-type(odd) {

		.layout_unbalanced & {

			@media #{$min_md} {
				width: 71%;
			}
		}
	}

	&:nth-of-type(even) {

		.layout_unbalanced & {

			@media #{$min_md} {
				width: 29%;
			}
		}
	}
}

.collage_item_figure {
	margin: 0;
}

.collage_item_media {
	display: block;

	overflow: hidden;

	.layout_unbalanced & {

		@media #{$min_md} {
			max-height: 260px;
		}

		@media #{$min_lg} {
			max-height: 360px;
		}

		@media #{$min_xl} {
			max-height: 450px;
		}
	}
}

.collage_item_image_wrapper {

	.layout_equal & {
		padding-bottom: $wide;
	}

	.collage_item:nth-of-type(odd) & {

		.layout_unbalanced & {
			padding-bottom: $wide;
		}
	}

	.collage_item:nth-of-type(even) & {

		.layout_unbalanced & {
			padding-bottom: $portrait_classic;
		}
	}
}

.collage_item_image {

	@media #{$min_md} {
		height: inherit;

		object-fit: cover;
	}
}

.collage_item_figcaption {
	@include small_text;

	border-bottom: 1px solid rgba(#000, .15);
	color: rgba(#000, .8);
	margin: 0;
	padding: 10px 0;

	@media #{$min_xl} {
		padding: 20px 0 28px;
	}
}

.collage_item_figcaption_inner {
	max-width: 740px;

	display: block;
}
