/* ==========================================================================
	Contact
============================================================================= */

.contact_block {
	@include margined_xl;
}

.contact_block_inner {
	border-top: 5px solid $gray_10;
	border-bottom: 5px solid $gray_10;
	padding: 30px 0;

	@media #{$min_lg} {
		padding: 50px 0;
	}
}

.contact {
}

.contact_header {
	align-items: center;
	border-bottom: 1px solid rgba(#000, 0.2);
	display: flex;
	justify-content: space-between;
	margin-bottom: 12px;
	padding-bottom: 28px;

	@media #{$min_lg} {
		margin-bottom: 20px;
		padding-bottom: 44px;
	}

	.theme_navy & {
		border-bottom-color: $teal;
	}
}

.contact_header_group {
	&:first-child {
		padding-right: 20px;
	}
}

.contact_header_title {
	@include h2;

	margin: 0;
	text-transform: uppercase;

	@media #{$min_lg} {
		margin-bottom: 10px;
	}
}

.contact_header_caption {
	@include small_text;
}

.contact_header_figure {
	@include responsive_image;

	width: 90px;

	border-radius: 50%;
	overflow: hidden;

	@media #{$min_lg} {
		width: 170px;

		margin-right: 60px;
	}
}

.contact_header_image_wrapper {
	padding-bottom: $square;
}

.contact_info {
	flex: auto;
	padding-right: 20px;
}

.contact_name {
	@include h3;

	margin: 0;
}

.contact_title {
	@include body_text;
}

.contact_figure {
	@include responsive_image;

	width: 60px;

	@media #{$min_sm} {
		width: 100px;
	}
}

.contact_image_wrapper {
	border-radius: 50%;
	display: block;
	padding-top: $square;
}

.contact_image {
}

.contact_body {
}

/* Contact Details
============================================================================= */

.contact_details_wrapper {
	&:not(:last-child) {
		border-bottom: 1px solid rgba(#000, 0.2);
		margin-bottom: 12px;
		padding-bottom: 36px;

		@media #{$min_sm} {
			padding-bottom: 10px;
		}

		@media #{$min_lg} {
			margin-bottom: 24px;
			padding-bottom: 50px;
		}

		.theme_navy & {
			border-bottom-color: $teal;
		}
	}
}

.contact_details_title {
	@include h4;

	margin-bottom: 18px;

	@media #{$min_lg} {
		margin-bottom: 20px;
	}
}

.contact_details {
	@media #{$min_sm} {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -10px;
	}

	@media #{$min_lg} {
		margin: 0 -20px;
	}
}

.contact_detail {
	--label_border_bottom_color: rgba(#000, 0.2);
	--label_color: #4c4c4c;
	--link_color: #{$bergundy};
	--icon_color: #{$bergundy};
	--social_link_color: #{$bergundy};
	--social_link_icon_color: #{$bergundy};

	.theme_navy & {
		--label_border_bottom_color: $teal;
		--label_color: rgba(#f0f0f0, 0.7);
		--link_color: #{$turquoise};
		--icon_color: #{$turquoise};
		--social_link_color: #{$turquoise};
		--social_link_icon_color: #{$turquoise};
	}

	margin-bottom: 24px;

	@media #{$min_sm} {
		width: 50%;

		padding: 0 10px;
	}

	@media #{$min_lg} {
		width: 25%;

		margin-bottom: 0;
		padding: 0 20px;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

.contact_detail_label {
	@include h6;

	border-bottom: 1px solid var(--label_border_bottom_color);
	color: var(--label_color);
	margin-bottom: 10px;
	padding-bottom: 12px;
	text-transform: uppercase;

	@media #{$min_lg} {
		margin-bottom: 14px;
		padding-bottom: 20px;
	}
}

.contact_detail_item {
	margin-bottom: 6px;

	&:last-child {
		margin-bottom: 0;
	}
}

.contact_detail_hint {
	@include body_text;
}

.contact_detail_info {
	@include body_text;

	align-items: center;
	display: flex;

	&[href] {
		transition: $base_speed color;

		&:hover,
		&:focus {
			color: var(--link_color);
		}

		&:after {
			@media print {
				content: normal;
			}
		}
	}
}

.contact_detail_info_icon {
	color: var(--icon_color);
	margin-right: 10px;
}

.contact_detail_info_label {
	border-bottom: 1px solid transparent;
	transition: $base_speed border;

	.contact_detail_info[href]:hover &,
	.contact_detail_info[href]:focus & {
		border-bottom-color: var(--link_color);
	}
}

.contact_socials {
	@include remove_list;
}

.contact_social {
	display: block;

	&:not(:last-child) {
		margin-bottom: 8px;

		@media #{$min_lg} {
			margin-bottom: 6px;
		}
	}
}

.contact_social_link {
	align-items: center;
	display: flex;
	transition: color $base_speed;

	&:hover,
	&:focus {
		color: var(--social_link_color);
	}
}

.contact_social_link_label {
	@include body_text;

	border-bottom: 1px solid transparent;
	transition: border $base_speed;

	.contact_social_link:hover &,
	.contact_social_link:focus & {
		border-bottom-color: currentColor;
	}
}

.contact_social_link_icon {
	position: relative;
	top: -1px;

	color: var(--social_link_icon_color);
	margin-left: 10px;
	transform-origin: left center;
	transform: scale(0.75);

	.contact_social_link:hover &,
	.contact_social_link:focus & {
		animation: dootdoot_mini 1s infinite;
	}
}
