/* ==========================================================================
	Entity List
============================================================================= */

.entity_list {
	@include margined_xl;
}

.entity_list_inner {}

.entity_list_items {
	@include remove_list;
}

.entity_list_item {
	border-top: 2px solid $gray_20;
	padding: 30px 0;

	@media #{$min_sm} {
		padding-bottom: 50px;
	}

	@media #{$min_xl} {
		padding-bottom: 70px;
	}
}
