/* ==========================================================================
	Event Actions
============================================================================= */

.event_actions {
	@include margined_lg;
}

.event_actions_header {
	@include visually_hide;
}

.event_actions_title {}

.event_actions_title_label {}

.event_actions_body {}

.event_actions_list {
	@include remove_list;
}

.event_action {
	margin-bottom: 10px;

	@media #{$min_sm} {
		display: inline-block;
	}

	&:not(:last-child) {

		@media #{$min_sm} {
			margin-right: 10px;
		}
	}
}

.event_action_link {
	@include button_fill("accent");
	@include button_mixed_block;

	text-align: center;
}

.event_action_link_inner {}

.event_action_link_label {}
