/* ==========================================================================
	Event Entry
============================================================================= */

.event_entry {
}

.event_entry_figure {
	@include responsive_image;

	margin: 30px 0;
}

.event_entry_image_wrapper {
	display: block;
	padding-top: $classic;
}

.event_entry_image {
}
