/* ==========================================================================
	Related Events
============================================================================= */

.event_related {
	@include margined_xl;
}

.event_related_header {
	margin-bottom: 30px;

	@media #{$min_xl} {
		margin-bottom: 45px;
	}
}

.event_related_header_inner {
}

.event_related_title {
	@include h2;

	margin: 0 0 5px;
}

.event_related_description {
	@include body_text;

	p {
		margin: 0;
	}
}

.event_related_body {
}

.event_related_items {
	@include remove_list;

	@media #{$min_sm} {
		display: flex;
		flex-wrap: wrap;
	}
}

/* Related News Items
============================================================================= */

.event_related_item {
	@include fw_card_grid_item;

	margin-bottom: 30px;
}
