/* ==========================================================================
	Event Meta
============================================================================= */

.event_meta {
}

.event_meta_inner {
	border-bottom: 2px solid $gray_10;
	padding: 30px 0;

	@media #{$min_lg} {
		align-items: center;
		display: flex;
	}
}

.event_meta_body {
	@media #{$min_lg} {
		margin-right: 30px;
	}
}

.event_meta_details {
}
