/* ==========================================================================
	News Meta
============================================================================= */

.news_meta {
	background: #F6F6F6;
	padding: 18px 0 17px;
}

.news_meta_inner {

	@media #{$min_lg} {
		align-items: center;
		display: flex;
	}
}

.news_meta_body {
	@media #{$min_md} {
		align-items: center;
		display: flex;
	}

	@media #{$min_lg} {
		margin-right: 30px;
	}
}

.news_meta_categories_block {
	position: relative;

	align-items: center;
	display: flex;
	margin-top: 16px;

	@media #{$min_md} {
		margin-top: 3px;
	}
}

.news_meta_categories_icon {
	color: #D8D8D8;
	margin-right: 6px;
}

.news_meta_categories {
	@include remove_list;
}

.news_meta_category {}

.news_meta_category_link {
	@include mini_h6;

	border-bottom: 1px solid rgba($peach, .35);
	color: rgba(#000, .5);
	display: block;
	padding-bottom: 2px;
	transition:
		border $base_speed,
		color $base_speed;

	&:hover,
	&:focus {
		color: #000;
		border-bottom-color: $maroon;
	}
}
