/* ==========================================================================
	News Feature
============================================================================= */

.news_feature {
	@include margined_xl;
}

.news_feature_inner {
	border: 2px solid $gray_10;
	padding: 20px;

	@media #{$min_md} {
		padding: 30px;
	}

	@media #{$min_xl} {
		padding: 45px;
	}
}
