/* ==========================================================================
	News Item
============================================================================= */

.news_item {
	@media #{$min_xl} {
		align-items: center;
	}

	.news_list & {
		@media #{$min_md} {
			display: flex;
		}
	}

	.news_feature & {
		@media #{$min_lg} {
			display: flex;
		}
	}
}

.news_item_figure {
	@include responsive_image;

	margin-bottom: 20px;

	.news_list & {
		width: 115px;

		@media (min-width: 360px) {
			float: right;
			margin-left: 20px;
		}

		@media #{$min_sm} {
			width: 30.5%;
		}

		@media #{$min_md} {
			margin: 0;
			order: 2;
		}
	}

	.news_feature & {
		@media #{$min_md} {
			width: 40%;

			float: right;
			margin: 0 0 30px 30px;
		}

		@media #{$min_lg} {
			width: 45%;

			margin: 0;
			order: 2;
		}
	}
}

.news_item_figure_link {
	display: block;
}

.news_item_image_wrapper {
	display: block;
	padding-top: $classic;
}

.news_item_wrapper {
	@media #{$min_md} {
		margin-right: auto;
	}

	.news_list & {
		@media #{$min_md} {
			flex: 0 0 65%;
		}
	}

	.news_feature & {
		@media #{$min_md} {
			flex: 0 0 48%;
		}
	}
}

.news_item_header {
	display: flex;
	flex-direction: column-reverse;
	margin-bottom: 14px;
}

.news_item_title {
	margin: 0;

	.news_list & {
		@include h3;
		@include sans(100);

		@media #{$min_lg} {
			font-size: 48px;
			line-height: (54 / 48);
		}
	}

	.news_feature & {
		@include h2;
	}

	.news_related & {
		@include h4;
	}
}

.news_item_title_link {
	@include decorated_link;

	display: block;
}

.news_item_title_link_label {
	border: 1px solid transparent;
	transition:
		border $base_speed,
		color $base_speed;

	.news_item_title_link:hover &,
	.news_item_title_link:focus & {
		border-bottom-color: currentColor;
		color: $maroon;
	}
}

.news_item_title_link_icon {
	top: -2px;

	color: $maroon;

	@media #{$min_lg} {
		top: -4px;

		transform-origin: left center;
		transform: scale(1.25);
	}

	.news_item_title_link:hover &,
	.news_item_title_link:focus & {
		animation: dootdoot 1s infinite;

		@media #{$min_lg} {
			animation: dootdoot_big 1s infinite;
		}
	}
}

.news_item_categories {
	margin: 0;
}

.news_item_category_hint {
	@include visually_hide;
}

.news_item_category_list {
	@include remove_list;

	display: flex;
	flex-wrap: wrap;
}

.news_item_category {
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 0.5px;
	line-height: (20 / 14);
	margin-right: 6px;
	margin-bottom: 8px;
	text-transform: uppercase;

	&:not(:last-child) {

		&:after {
			color: rgba(#000, .5);
			content: ",";
			margin-left: -2px;
		}
	}
}

.news_item_category_link {
	@include mini_h6;

	border-bottom: 1px solid rgba($peach, .35);
	color: rgba(#000, .5);
	padding-bottom: 2px;
	transition:
		border $base_speed,
		color $base_speed;

	&:hover,
	&:focus {
		color: #000;
		border-bottom-color: $maroon;
	}
}

.news_item_body {
}

.news_item_description {
	@include body_text;

	p {
		margin: 0;
	}
}
