/* ==========================================================================
	News Details
============================================================================= */

.news_item_details {
	@include small_text;

	color: rgba(#000, .8);
	margin-bottom: 20px;

	.news_meta & {
		margin-bottom: 0;
	}
}

.news_item_detail {
	display: inline-block;
	vertical-align: middle;

	.news_meta & {
		font-weight: 700;
	}
}

.news_item_detail_hint {

	&:before {
		height: 23px;
		width: 1px;

		background: rgba(#000, .15);
		content: "";
		display: inline-block;
		margin: 0 16px 0 12px;
		transform: skew(-16deg);
		vertical-align: middle;
	}

	.news_item_date & {
		@include visually_hide;
	}
}

.news_item_detail_label {
}

.news_item_date_label {
}

.news_item_publisher {
	@include visually_hide;
}
