/* ==========================================================================
	News Details
============================================================================= */

.news_item_details {
	@include small_text;

	margin-bottom: 6px;

	.news_meta & {
		margin-bottom: 0;
	}
}

.news_item_detail {
	display: inline-block;
	vertical-align: middle;

	.news_meta & {
		font-weight: 700;
	}
}

.news_item_detail_hint {

	.news_item_date & {
		@include visually_hide;
	}
}

.news_item_detail_label {}

.news_item_date_label {}

.news_item_publisher {
	@include visually_hide;
}