/* ==========================================================================
	Pill
============================================================================= */

.pill {
	--bg_color: #{$dijon};
	--color: #000;

	@include mini_h6;

	&.theme_dijon {
		// same as default values
	}

	&.theme_green_blue {
		--bg_color: #{$green_blue};
	}

	background-color: var(--bg_color);
	border-radius: 22px;
	color: var(--color);
	display: inline-block;
	padding: 11px 17px;
}
