/* ==========================================================================
	Program List
============================================================================= */

.program_list {
	@include margined_xl;
}

.program_list_inner {
}

.program_list_items {
	@include remove_list;

	border-top: 2px solid $gray_10;
}

.program_item {
	border-bottom: 2px solid $gray_10;
}

.program_item_inner {
}

.program_item_heading {
	margin: 0;
}

.program_item_button {
	width: 100%;

	color: #000;
}

.program_item_heading_inner {
	align-items: center;
	display: flex;
	padding: 18px 0;

	@media #{$min_md} {
		padding: 28px 0;
	}
}

.program_item_heading_label {
	margin-right: auto;

	@media #{$min_sm} {
		align-items: center;
		display: flex;
		flex: 1;
	}
}

.program_item_heading_title {
	@include h5;

	display: block;

	@media #{$min_sm} {
		margin-right: 10px;
	}
}

.program_item_heading_mode {
	@include h6;

	display: block;
	text-transform: none;

	@media #{$min_sm} {
		margin-left: auto;
	}
}

.program_item_heading_mode_label {
	@include visually_hide;
}

.program_item_heading_mode_label_hint {
}

.program_item_heading_mode_data {
}

.program_item_heading_icon {
	width: 45px;
	height: 45px;

	position: relative;

	align-items: center;
	background: $accent;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	margin-left: 20px;
	opacity: 0;
	transition: background $base_speed;

	@media #{$min_lg} {
		margin-left: 50px;
	}

	@media print {
		display: none;
	}

	.program_item.fs-swap-enabled & {
		opacity: 1;
	}

	.program_item.fs-swap-enabled:hover &,
	.program_item.fs-swap-enabled:focus & {
		background: #000;
	}

	&:before,
	&:after {
		width: 20px;
		height: 2px;

		position: absolute;
		top: 50%;
		left: 50%;

		background: #fff;
		border-radius: 2px;
		content: '';
		transition: opacity 0.15s, transform 0.15s;
	}

	&:before {
		transform: translate(-50%, -50%);
	}

	&:after {
		transform: translate(-50%, -50%) rotate(90deg);

		.program_item.fs-swap-active & {
			transform: translate(-50%, -50%) rotate(0deg);
		}
	}
}

.program_item_content {
	.program_item.fs-swap-enabled & {
		display: none;

		@media print {
			display: block;
		}
	}

	.program_item.fs-swap-active & {
		display: block;
	}
}

.program_item_content_inner {
	padding-bottom: 20px;

	@media #{$min_md} {
		width: 100%;

		display: flex;
		padding-bottom: 40px;
	}

	@media #{$min_lg} {
		padding-right: 95px;
	}

	@media print {
		padding-right: 0;
	}
}

.program_item_content_group {
	@media #{$min_md} {
		margin-right: 5%;
	}

	@media #{$min_lg} {
		margin-right: 15%;
	}
}

.program_item_description {
	margin-bottom: 20px;

	p {
		margin: 0;
	}
}

.program_item_links {
	margin-bottom: 30px;

	@media #{$min_md} {
		margin-bottom: 0;
	}
}

.program_item_link {
	@include button_fill('accent');

	display: inline-block;
	vertical-align: top;
	white-space: nowrap;
}

.program_item_link_inner {
}

.program_item_link_label {
}

.program_item_details {
	border-top: 1px solid $gray_10;
	font-size: 15px;
	line-height: (22 / 15);

	@media #{$min_md} {
		flex: 0 0 30%;
		text-align: right;
	}

	@media #{$min_lg} {
		flex: 0 0 22%;
	}
}

.program_item_detail {
	border-bottom: 1px solid $gray_10;
	padding: 8px 0;

	@media #{$min_lg} {
		padding: 15px 0;
	}
}

.program_item_detail_label {
	@include visually_hide;
}

.program_item_detail_label_hint {
}

.program_item_detail_data {
}

.program_item_detail_data_link {
	color: $accent;
	text-decoration: underline;
	transition: color $base_speed;

	&:hover,
	&:focus {
		color: #000;
	}
}
