/* ==========================================================================
	Program List
============================================================================= */

.program_list {
	@include margined_xl_bottom;
}

.program_list_inner {
}

.program_list_items {
	@include remove_list;

}

.program_item {

	&.fs-swap-active {
		background: #f7f7f7;
	}
}

.program_item_inner {
	border-bottom: 1px solid $gray_10;

	.program_item:first-child & {
		border-top: 1px solid $gray_10;
	}
}

.program_item_heading {
	margin: 0;
}

.program_item_button {
	width: 100%;

	color: #000;
}

.program_item_heading_inner {
	align-items: center;
	display: flex;
	padding: 12px 0 18px;

	@media #{$min_lg} {
		padding: 30px 0;
	}
}

.program_item_heading_label {
	width: calc(100% - 45px);

	margin-right: auto;
	padding-right: 25px;

	@media #{$min_lg} {
		align-items: center;
		display: flex;
		flex: 1;
	}
}

.program_item_heading_title {
	@include sans(100);

	display: block;
	font-size: 28px;
	line-height: (34 / 28);
	margin-bottom: 10px;
	padding-right: 20px;
	text-align: left;

	@media #{$min_lg} {
		flex: auto;
		font-size: 36px;
		line-height: (38 / 36);
		margin-bottom: 0;
	}

	@media #{$min_xl} {
		font-size: 48px;
		line-height: (54 / 48);
	}
}

.program_item_heading_title_label {
	border-bottom: 1px solid transparent;
	display: inline;
	margin-right: 20px;
	transition: border $base_speed;

	.program_item_heading_title:hover &,
	.program_item_heading_title:focus & {
		border-bottom-color: $maroon;
	}
}

.program_item_heading_title_icon {
	color: $maroon;
	display: inline-block;
	margin-left: -14px;
	vertical-align: middle;

	@media #{$min_xl} {
		transform: scale(1.315);
		transform-origin: left center;
	}

	.program_item_heading_title:hover &,
	.program_item_heading_title:focus & {
		animation: dootdoot 1s infinite;

		@media #{$min_xl} {
			animation: dootdoot_big 1s infinite;
		}
	}
}

.program_item_heading_mode {
	@include mini_h6;

	display: block;

	@media #{$min_sm} {
		margin-left: auto;
	}
}

.program_item_heading_mode_label {
	@include visually_hide;
}

.program_item_heading_mode_label_hint {
}

.program_item_heading_mode_data_wrapper {
	align-items: center;
	display: flex;
}

.program_item_heading_mode_data {
	border-radius: 38px;
	padding: 11px 20px;
	white-space: nowrap;

	&:not(:last-child) {
		margin-right: 10px;
	}

	&.theme_green_blue {
		background: $green_blue;
	}

	&.theme_mustard {
		background: $mustard;
	}
}

.program_item_heading_icon {
	width: 45px;
	height: 45px;

	position: relative;

	align-items: center;
	border: 1px solid $maroon;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	opacity: 0;
	transition:
		background $base_speed,
		border $base_speed;

	@media print {
		display: none;
	}

	.program_item.fs-swap-enabled & {
		opacity: 1;
	}

	.program_item.fs-swap-enabled:hover &,
	.program_item.fs-swap-enabled:focus & {
		background: #000;
		border-color: #000;

		&:before,
		&:after {
			background: #fff;
		}
	}

	&:before,
	&:after {
		width: 12px;
		height: 2px;

		position: absolute;
		top: 50%;
		left: 50%;

		background: #000;
		border-radius: 2px;
		content: '';
		transition: opacity 0.15s, transform 0.15s;
	}

	&:before {
		transform: translate(-50%, -50%);
	}

	&:after {
		transform: translate(-50%, -50%) rotate(90deg);

		.program_item.fs-swap-active & {
			transform: translate(-50%, -50%) rotate(0deg);
		}
	}
}

.program_item_content {
	.program_item.fs-swap-enabled & {
		display: none;

		@media print {
			display: block;
		}
	}

	.program_item.fs-swap-active & {
		display: block;
	}
}

.program_item_content_inner {
	padding-bottom: 20px;

	@media #{$min_md} {
		width: 100%;

		padding-bottom: 40px;
	}

	@media #{$min_lg} {
		margin-top: -5px;
		padding-bottom: 55px;
	}

	@media #{$min_xl} {
		margin-top: -15px;
	}

	@media print {
		padding-right: 0;
	}
}

.program_item_content_group {
	max-width: 860px;
}

.program_item_description {
	margin-bottom: 30px;

	@media #{$min_lg} {
		margin-bottom: 40px;
	}

	p {
		margin: 0;
	}
}

.program_item_links {
	margin-bottom: 30px;

	@media #{$min_md} {
		margin-bottom: 0;
	}
}

.program_item_link {
	@include button_fill('accent');

	display: inline-block;
	vertical-align: top;
	white-space: nowrap;
}

.program_item_link_inner {
}

.program_item_link_label {
}

.program_item_details {

	@media #{$min_md} {
		display: flex;
	}

	@media #{$min_xl} {
		max-width: 980px + 55px;
	}
}

.program_item_detail {

	@media #{$min_md} {
		width: 33.33%;

		padding-right: 25px;
	}

	@media #{$min_xl} {
		padding-right: 55px;
	}

	&:not(:last-child) {
		margin-bottom: 25px;

		@media #{$min_md} {
			margin-bottom: 0;
		}
	}
}

.program_item_detail_label {
	@include h6;

	border-bottom: 1px solid rgba(#000, .15);
	color: $navy;
	display: block;
	margin-bottom: 14px;
	padding-bottom: 10px;

	@media #{$min_lg} {
		margin-bottom: 20px;
		padding-bottom: 16px;
	}
}

.program_item_detail_label_hint {
	@include visually_hide;
}

.program_item_detail_data {
	@include body_text;
}

.program_item_detail_data_link {
	align-items: center;
	display: flex;
	transition: color $base_speed;

	&:hover,
	&:focus {
		color: $maroon;
	}
}

.program_item_detail_data_link_label {}

.program_item_detail_data_link_icon {
	color: $maroon;
	margin-left: 6px;
	transform-origin: left center;
	transform: scale(.75);

	.program_item_detail_data_link:hover &,
	.program_item_detail_data_link:focus & {
		animation: dootdoot 1s infinite;
	}
}
