.spotlight {
	position: relative;

	background: $navy;
	padding-bottom: 40px;

	@media #{$min_xl} {
		padding-bottom: 100px;
	}
}

.spotlight_background {
	@include cover;

	position: fixed;
	top: 0;

	&:before {
		@include cover;

		z-index: 2;

		background: linear-gradient(
			to bottom,
			rgba(#000, 0.8),
			rgba(#000, 0) 100%
		);
		content: '';

		@media #{$min_md} {
			background: linear-gradient(
				to right,
				rgba(#000, 0.8),
				rgba(#000, 0) 100%
			);
		}

		@media #{$min_lg} {
			background: linear-gradient(
				to right,
				rgba(#000, 0.8),
				rgba(#000, 0) 60%
			);
		}
	}
}

.spotlight_inner {
	position: relative;
	z-index: 4;

	min-height: calc(100vh - 60px - 50px - 55px);
	display: flex;
	flex-direction: column;

	@media #{$min_md} {
		min-height: inherit;
	}
}

.spotlight_header {
	min-height: var(--window_height);
}

.spotlight_header_inner {
	position: sticky;
	top: 0;

	padding: 50px 0 55px;

	@media #{$min_md} {
		padding-top: 80px;
	}

	@media #{$min_xl} {
		padding-top: 120px;
	}
}

.spotlight_title {
	@include sans(500);

	color: #fff;
	display: inline-block;
	font-size: 48px;
	line-height: (55 / 48);
	letter-spacing: 1.87px;
	margin: 0 0 20px;
	text-transform: uppercase;
	white-space: nowrap;

	@media #{$min_lg} {
		font-size: 65px;
		line-height: (75 / 65);
		margin-bottom: 36px;
	}

	@media #{$min_xl} {
		font-size: 90px;
		line-height: (105 / 90);
		letter-spacing: 3.5px;
	}
}

.spotlight_title_group {
	max-width: 0;

	position: relative;

	display: block;
	overflow: hidden;
	transition: max-width 1s;

	&_primary {
		margin-bottom: 5px;
		transition-delay: 1s;

		@media #{$min_xl} {
			margin-bottom: 12px;
		}
	}

	&_secondary {
		transition-delay: 1.15s;
	}

	.in_view & {
		max-width: 100%;
	}
}

.spotlight_title_label {
	position: relative;

	display: inline-block;
	vertical-align: top;
	padding-right: 8px;

	@media #{$min_xl} {
		padding-right: 20px;
	}

	&_primary {
		background: $maroon;
	}

	&_secondary {
		background: $bright_pink;
	}
}

.spotlight_header_details {
	@media #{$min_md} {
		align-items: flex-end;
		display: flex;
		justify-content: space-between;
	}
}

.spotlight_caption {
	@include intro_text;
	@include serif(300);

	max-width: 500px;

	color: #fff;
	opacity: 0;
	transition: opacity 1s 1.6s;

	@media #{$min_md} {
		padding-right: 30px;
	}

	.in_view & {
		opacity: 1;
	}

	strong {
		// display: block;
	}
}

.spotlight_details_link {
	@include button_text('white');
	@include button_layout;

	@media #{$min_md} {
		position: relative;
		top: 7px;

		opacity: 0;
		white-space: nowrap;
		transition: opacity $base_speed;
	}

	@media #{$max_md} {
		display: none;
	}

	&.visible {
		opacity: 1;
	}
}

.spotlight_content {
	@media #{$min_lg} {
		min-width: 290px;
	}
}
