/* ==========================================================================
	Testimonial
============================================================================= */

// theming

.testimonial {
	--bg-color: #{$turquoise};
	--color: #000;
	--quote_icon_color: #fff;
	--quote_icon_bg_color: #{$teal};
	--quote_icon_border_color: #{$teal};

	&.theme-blue {
		// same as default values
	}

	&.theme-maroon {
		--bg-color: #{$maroon};
		--color: #fff;
		--quote_icon_color: #000;
		--quote_icon_bg_color: #{$peach};
		--quote_icon_border_color: #{$bergundy};
	}

	&.theme-gold {
		--bg-color: #{$mustard};
		--color: #000;
		--quote_icon_color: #000;
		--quote_icon_bg_color: #{$dijon};
		--quote_icon_border_color: rgba(0, 0, 0, 0.2);
	}
}

.testimonial_inner {
	background-color: var(--bg-color);
	color: var(--color);
}

// layout

.testimonial_inner {
	display: flex;
	flex-flow: column-reverse nowrap;

	@media #{$min_md} {
		flex-direction: row;
	}
}

.testimonial_content {
	padding: 30px 30px 40px;

	@media #{$min_md} {
		width: 60%;

		padding: 60px 60px 80px;
	}

	@media #{$min_xl} {
		width: 68%;
	}
}

.testimonial_media {
	position: relative;

	@media #{$min_md} {
		min-height: 444px;

		flex: 1;
	}
}

.testimonial_media_img {
	@media #{$min_md} {
		display: none;
	}
}

.testimonial_image_wrapper {
	padding-top: $portrait_classic;
}

.testimonial_background {
	@include cover;

	display: none;

	@media #{$min_md} {
		display: block;
	}
}

.testimonial_info {
	margin-top: 40px;
}

// component

.testimonial_icon_wrap {
	align-items: center;
	display: flex;

	&:after {
		height: 1px;
		min-width: 40px;

		background-color: var(--quote_icon_border_color);
		content: '';
		display: block;
		flex: 1;
		margin-left: 20px;
	}
}

.testimonial_icon {
	height: 55px;
	width: 55px;

	align-items: center;
	background-color: var(--quote_icon_bg_color);
	border-radius: 999px;
	color: var(--quote_icon_color);
	display: flex;
	flex-shrink: 0;
	justify-content: center;
}

.testimonial_quote {
	@include h4;
	@include sans(300);

	line-height: (42 / 36);
	margin-top: 25px;
}

.testimonial_quote_name {
	@include intro_text;
}
