{layout='layouts/_main-layout'}

{layout:set name='title'}Thank You for Making a Difference{/layout:set}
{layout:set name='page_description'}Throughout the year, we want to recognize faculty and staff at JTCC who made a difference in our community. Please nominate a faculty or staff member who exhibited outstanding kindness, assistance, advising, teaching, mentoring, service, or other forms of excellence. Thank you!{/layout:set}


<!-- Full Width Callouts -->
<div class="full_width_callouts">
	<script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <form action="/academics/declare-major-form" accept-charset="utf-8" class="form_builder typography" name="declare_major" method="post" onsubmit="return validateForm();">



    </form>
</div>
<!-- END: Full Width Callouts -->