{layout='layouts/_main-layout'}

{layout:set name='title'}Workforce Credentials Scholarship Application{/layout:set}
{layout:set name='page_description'}{/layout:set}

<?php 
	if(isset($_POST['sbmt'])){
    if(isset($_POST['g-recaptcha-response']) && !empty($_POST['g-recaptcha-response'])) {
        //your site secret key
        $secret = '6LcYxEsUAAAAALTn5MsBaNJ0G1GFwoduojD9rkEP';
        //get verify response data
        $verifyResponse = file_get_contents('https://www.google.com/recaptcha/api/siteverify?secret='.$secret.'&response='.$_POST['g-recaptcha-response']);
        $responseData = json_decode($verifyResponse);

    if($responseData->success) {

        $first_name = $_POST['first_name'];
        $last_name = $_POST['last_name'];
        $address = $_POST['street'];
        $city = $_POST['city'];
        $state = $_POST['state'];
        $zip = $_POST['zip'];
        $phone = $_POST['phone'];
        $email = $_POST['email'];
        $emp_id = $_POST['emp_id'];
        $veteran = '';
        if (isset($_POST['veteran'])){
            $veteran = $_POST['veteran'];
        }

        $certification = explode(", ", $_POST['certification']);
        $certificate = $certification[0];
        //$to = $certification[1];
        //$completionDate = $_POST['completionDate'];
        //$testingDate = $_POST['testingDate'];
        $completionDate = date('m/d/Y', strtotime($_POST['completionDate']));
        $testingDate = date('m/d/Y', strtotime($_POST['testingDate']));
        $testingSite = $_POST['testingSite'];
        $organization = $_POST['organization'];
        $cost = $_POST['cost'];
        $attachment = chunk_split(base64_encode(file_get_contents($_FILES['file']['tmp_name'])));
        $filename = $_FILES['file']['name'];
        $statement = $_POST['statement'];

        $message = '<html>
                    <head><title>Student Application for Financial Assistance for Certification Exam Fees</title></head>
                    <body>
                        <table border="0" cellpadding="0" cellspacing="0" width="98%">
                        <tr><td>
                            <p>Dear Faculty Member, </p>
                            <p>Please review this student&#39;s request for scholarship support of credential testing and forward your approval or denial to Christin Jones, Grants Specialist, at cjones01@jtcc.edu. Scholarships are awarded on a first-come, first-served basis so your prompt attention to this is appreciated.</p>
                            <p><strong>Applicant Information</strong><br />
                                <strong>Name: </strong>' . $first_name . ' ' . $last_name . '<br />
                                <strong>Address: </strong>' . $address . ', ' . $city . ', ' . $state . ' ' . $zip . '<br />
                                <strong>Phone: </strong>' . $phone . '<br />
                                <strong>E-mail: </strong>' . $email . '<br />
                                <strong>Student ID: </strong>' . $emp_id . '<br />
                                <strong>Are you a veteran? </strong>' . $veteran . '</p>
                            <p><strong>Education</strong><br />
                                <strong>Certification: </strong>' . $certificate . '<br />
                                <strong>Program Completion Date: </strong>' . $completionDate . '<br />
                                <strong>Testing Date: </strong>' . $testingDate . '<br />
                                <strong>Testing Site: </strong>' . $testingSite . '<br />
                                <strong>Testing Organization and Mailing Address: </strong><br />' . nl2br($organization) . '<br />
                                <strong>Cost of Credential: </strong>' . $cost . '</p>
                            <p><strong>Statement</strong><br />' . nl2br($statement) . '</p>
                        </td></tr>
                        </table>
                    </body>
                    </html>';

        //echo $certificate . '<br />' . $to;

            
            $to = $certification[1];
            //$to = 'jzhai@jtcc.edu';
            $subject = 'Student Application for Financial Assistance for Certification Exam Fees';
        
            $headers = "From: do-not-reply@jtcc.edu \r\nReply-To: foundation@jtcc.edu\r\n";
            $headers .= "CC: foundation@jtcc.edu, rbiundo@jtcc.edu, " . $email;
            //$headers .= "CC: jzhai@jtcc.edu, " . $email;
            /*$headers = "From: do-not-reply@jtcc.edu " . PHP_EOL . "Reply-To: jzhai@jtcc.edu " . PHP_EOL . 
                    "CC: jzhai@jtcc.edu, " . $email;*/
            $headers .= "\r\nBCC: webmaster@jtcc.edu";
        
        /*if (!empty($filename)) {*/
            $boundary =md5(date('r', time())); 
            $headers .= "\r\nMIME-Version: 1.0\r\nContent-Type: multipart/mixed; boundary=\"_1_$boundary\"";
            $message="This is a multi-part message in MIME format.

--_1_$boundary
Content-Type: multipart/alternative; boundary=\"_2_$boundary\"

--_2_$boundary
Content-Type: text/html; charset=\"iso-8859-1\"
Content-Transfer-Encoding: 7bit

$message

--_2_$boundary--
--_1_$boundary
Content-Type: application/octet-stream; name=\"$filename\" 
Content-Transfer-Encoding: base64 
Content-Disposition: attachment 

$attachment
--_1_$boundary--";

        /*} else {
            $headers.= "Content-Type: text/html; charset=ISO-8859-1 ";
			$headers.= "MIME-Version: 1.0 ";
        }*/

            mail($to, $subject, $message, $headers); 

            echo '<div class="wysiwyg_block">
                    <div class="fs-row">
                    <div class="fs-cell">
                    <div class="wysiwyg_block_inner typography">
                        <!--<p style="color:#009CA6;">Your request has been successfully submitted.</p>-->
                        <p>Your submission has been successfully submitted. Please email Eddie Webster (<a href="mailto:wwebster@jtcc.edu">wwebster@jtcc.edu</a>) with questions about scholarships.</p>
                    </div></div></div></div>';
            
        } else {
            echo '<div class="wysiwyg_block">
                    <div class="fs-row">
                    <div class="fs-cell">
                    <div class="wysiwyg_block_inner typography">
                        <p style="color:#C8102E;">Error occurs. Your request has NOT been sent. Please try it again.</p>
                    </div></div></div></div>';
        }
    }
}
?>
