{layout='layouts/_main-layout'}


{layout:set name='title'}Student Application for Financial Assistance for Certification Exam Fees{/layout:set}
{layout:set name='page_description'}{/layout:set}


<!-- Full Width Callouts -->
<!--<div class="full_width_callouts">-->

<?php 
    include("includes/customapps_conn.php");

    $getCertification = "SELECT * FROM credential_scholarship ORDER BY certification";
    $getCertification_result = mysqli_query($conn, $getCertification);

    $getState = "SELECT * FROM states ORDER BY state";
	$getState_result = mysqli_query($conn, $getState);

    mysqli_close($conn);
?>

	<script type="text/javascript"> 
        function validateForm(){
            var f = document.ws;
            
            if (f.first_name.value.length == 0) { 
                alert("Please enter your first name.");
                f.first_name.focus();
                return false;
            } 
            if (f.last_name.value.length == 0) { 
                alert("Please enter your last name.");
                f.last_name.focus();
                return false;
            }
            if (f.address.value.length == 0) { 
                alert("Please enter your address.");
                f.address.focus();
                return false;
            } 
            if (f.city.value.length == 0) { 
                alert("Please enter your city name.");
                f.city.focus();
                return false;
            }
            if (f.state.options[f.state.selectedIndex].value == "") {
                alert("Please select your state.");
                f.state.focus();
                return false;
            } 
            if (f.zip.value.length == 0) {
                alert("Please enter your zip code.");
                f.zip.focus();
                return false;
            } 
            if (f.phone.value.length == 0) {
                alert("Please enter your phone number.");
                f.phone.focus();
                return false;
            } 
            if (f.email.value.length == 0) { 
                alert("Please enter your college e-mail address.");
                f.email.focus();
                return false;
            } else {
                var emailFilter = /^.+@.+\..{2,3}$/;
                if (!emailFilter.test(f.email.value)) {
                    alert("Invalid e-mail address.");
                    f.email.focus();
                    return false;
                }
            }
            if (f.emp_id.value.length == 0) { 
                alert("Please enter your student ID number.");
                f.emp_id.focus();
                return false;
            } 
            if (f.veteranY[0].checked == false && f.veteranY[1].checked == false) {
                alert("Are you a veteran?");
                f.veteranY[0].focus();
                return false;
            }
            
            if (f.veteranN[0].checked == false && f.veteranN[1].checked == false) {
                alert("Are you a veteran?");
                f.veteranN[0].focus();
                return false;
            }

            if (f.certification.options[f.certification.selectedIndex].value == "") {
                alert("Please select the certification needed.");
                f.certification.focus();
                return false;
            } 
            if (f.completionDate.value.length == 0) { 
                alert("Please enter the program completion date.");
                f.completionDate.focus();
                return false;
            } 
            if (f.testingDate.value.length == 0) { 
                alert("Please enter the testing date.");
                f.testingDate.focus();
                return false;
            }
            if (f.testingSite.value.length == 0) { 
                alert("Please enter the testing site.");
                f.testingSite.focus();
                return false;
            } 
            if (f.organization.value.length == 0) { 
                alert("Please enter the testing organization and mailing address.");
                f.organization.focus();
                return false;
            }
            var allowedExtensions = ['doc', 'docx', 'txt', 'pdf', 'rtf', 'xls', 'xlsx', 'jpg', 'jpeg', 'gif', 'png'];
            var myFile = f.elements['file'].value;
            if (myFile.length == 0) {
                alert("Please attach your registration form for your credentialing exam.");
                return false;
            } else {
                var fSize = f.elements['file'].files[0].size;
                var ext = myFile.substr(myFile.lastIndexOf('.') + 1).toLowerCase();
                if (allowedExtensions.indexOf(ext) === -1) {
                    alert('Attachment: Invalid file Format. Only extensions of ' + allowedExtensions.join(', ') + ' are allowed.');
                    f.elements['file'].value = "";
                    return false;
                }
                if (fSize > 2000000) {
                    alert("The size of the attachment file cannot exceed 2 MB.");
                    f.elements['file'].value = "";
                    return false;
                }
            }
            if (f.statement.value.length == 0) { 
                alert("Please state how this financial assistance will benefit your goal of achieving certification in your field.");
                f.statement.focus();
                return false;
            }
            if (document.getElementById("g-recaptcha-response").value.length == 0 ) {
                alert ("Please check on the reCAPTCHA box.");
                return false;
            }
            return true;
        }
    </script> 

	<script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <form action="/about/workforce-credential-form-action" enctype="multipart/form-data" accept-charset="utf-8" class="form_builder typography" name="ws" method="post" onsubmit="return validateForm();">
        <div class="fs-row">
            <div class="fs-cell">
                <div class="form_builder_required_message">
                    <p>
                        <span class="form_builder_required_star">*</span> = required field
                    </p>
                </div>
                <div class="form_builder_section_header">
                    <!--<h2>Section Break</h2>-->
                    <p>Workforce Credential Awards will fund up to $200 for the cost of the industry credential exam for students who have completed training and are taking the exam to expedite their entry into the workforce. Funding for this program is provided by <em>Walmart</em>.</p>
                </div>

                <h2>Applicant Information</h2>

                <fieldset id="student_name">
                    <legend for="student_name">
                        Student Name <span class="form_builder_required_star">*</span>
                    </legend>
                    <div class="form_builder_wrap">
                        <div class="form_builder_firstname">
                            <input type="text" maxlength="30" name="first_name" id="first_name" class="form_builder_text form_builder_required" value="" />
                            <label for="first_name" class="form_builder_sublabel">First</label>
                        </div> 
                        <div class="form_builder_lastname">
                            <input type="text" maxlength="30" name="last_name" id="last_name" class="form_builder_text form_builder_required" value="" />
                            <label for="last_name" class="form_builder_sublabel">Last</label>
                        </div>
                    </div>        
                </fieldset>

                <fieldset class="form_builder_address" id="address">
                    <legend for="address">
                        Address <span class="form_builder_required_star">*</span>
                    </legend>

                    <div class="form_builder_full">
                        <input type="text" maxlength="100" name="street" id="street" class="form_builder_text form_builder_required" value="" />
                        <label for="street" class="form_builder_sublabel">Street Address</label>
                    </div>

                    <div class="form_builder_split">
                        <input type="text" maxlength="30" name="city" id="city" class="form_builder_text form_builder_required" value="" />
                        <label for="city" class="form_builder_sublabel">City</label>
                    </div>

                    <div class="form_builder_split form_builder_select">  
                        <select id="state" class="form_builder_select form_builder_required" name="state" >
                            <option value="" data-price="0">Please select: </option>
                <?php
                if (mysqli_num_rows($getState_result) > 0) {
                    while ($row = mysqli_fetch_array($getState_result)) { 
                        echo '<option value="' . $row['abbreviation'] . '" label="' . $row['state'] . '" data-price="0">' . $row['state'] . '</option>';
                    }
                }
                ?> 
                        </select>
                        <label for="state" class="form_builder_sublabel">State</label>
                    </div>

                    <div class="form_builder_split">
                        <input type="text" maxlength="10" name="zip" id="zip" class="form_builder_text form_builder_required" value="" />
                        <label for="zip" class="form_builder_sublabel">Postal / Zip Code</label>
                    </div>
                </fieldset>

                 <fieldset id="phone_number">
                    <label for="phone">
                        Phone Number
                        <span class="form_builder_required_star">*</span>
                    </label>
                    <input type="text" maxlength="20" name="phone" id="phone" class="form_builder_text form_builder_required" value="" />
                </fieldset>

                <fieldset id="e-mail">
                    <label for="email">
                        College E-mail
                        <span class="form_builder_required_star">*</span>
                    </label>
                    <input type="text" maxlength="50" name="email" id="email" class="form_builder_text form_builder_required" value="" />
                </fieldset> 

                <fieldset id="studentID">
                    <label for="emp_id">
                        Student ID Number
                        <span class="form_builder_required_star">*</span>
                    </label>
                    <input type="text" maxlength="7" name="emp_id" id="emp_id" class="form_builder_text form_builder_required" value="" />
                </fieldset> 

                <fieldset id="are_you_a_veteran">
                    <legend>
                        Are you a veteran?
                    </legend>
                    <div class="form_builder_radio">
                        <input type="radio" class="form_builder_required" name="veteran" id="veteranY" value="Yes" data-price="0" />
                        <span class="form_builder_radio_indicator"></span>
                        <label class="form_builder_for_checkbox" for="veteranY">Yes</label>
                    </div>
                    <div class="form_builder_radio">
                        <input type="radio" class="form_builder_required" name="veteran" id="veteranN" value="No" data-price="0" />
                        <span class="form_builder_radio_indicator"></span>
                        <label class="form_builder_for_checkbox" for="fveteranN">No</label>
                    </div>
                </fieldset>
                  
                <h2>Education</h2> 

                <fieldset id="certification_needed">
                    <label for="certification"> Certification Needed</label>
                    <div class="form_builder_select">
                        <select name="certification" id="certification" class="form_builder_required">
                            <option value="" data-price="0">Please select: </option>
                <?php
                if (mysqli_num_rows($getCertification_result) > 0) {
                    while ($row = mysqli_fetch_array($getCertification_result)) { 
                        echo '<option value="' . $row['certification'] . ', ' . $row['email'] . '" label="' . $row['certification'] . '">' . $row['certification'] . '</option>';
                    }
                }
                ?>    
                        </select>
                    </div>
                </fieldset> 

                 <fieldset id="completionD">
                    <label for="completionDate">
                        Program Completion Date
                        <span class="form_builder_required_star">*</span>
                    </label>
                    <input type="text" maxlength="" name="completionDate" id="completionDate" class="form_builder_text form_builder_required" value="" />
                </fieldset>           
                        
                <fieldset id="testingD">
                    <label for="testingDate">
                        Testing Date
                        <span class="form_builder_required_star">*</span>
                    </label>
                    <input type="text" maxlength="" name="testingDate" id="testingDate"  class="form_builder_text form_builder_required" value="" />
                </fieldset>

                <fieldset id="testingS">
                    <label for="testingSite">
                        Testing Site
                        <span class="form_builder_required_star">*</span>
                    </label>
                    <input type="text" maxlength="" name="testingSite" id="testingSite"  class="form_builder_text form_builder_required" value="" />
                </fieldset>

                <fieldset id="testing_org">
                    <label for="organization">
                        Testing Organization and Mailing Address <span class="form_builder_required_star">*</span>
                    </label>
                    <textarea name="organization" id="organization" maxlength="1500" class="form_builder_required" placeholder=""></textarea>
                </fieldset>

                 <fieldset id="credential_cost">
                    <label for="cost">
                        Cost of Credential
                    </label>
                    <input type="text" maxlength="" name="cost" id="cost" class="form_builder_text" value="" />
                </fieldset>

                <p>Please attach your registration form for your credentialing exam. We will enclose this with a check to the credentialing organization.  If a form is not available, please include documentation that states your name, credentialing exam required & expected date of testing.</p>

                <fieldset id="file_upload">
                    <label for="file"> Use the browse button to attach a file </label>
                    <input type="file" name="file" id="file" class="form_builder_upload form_builder_required" value="">
                    <div class="form_builder_sublabel">Maximum File Size: 2 MB</div>
                </fieldset>


                

    			 

                
                

                

                <div class="row">
                    <label for="captcha">reCAPTCHA below is required: </label>
                    <div class="g-recaptcha" data-sitekey="6LcYxEsUAAAAANN6hiqezLb5UJLoQD5nPs6M25bo"></div>
                </div>

                <div class="form_builder_submit_wrapper">
                    <div class="form_builder_submit_pill">
                        <input type="hidden" name="XID" value="{XID_HASH}" /> 
                        <input type="submit" name="sbmt" class="form_builder_submit" value="Submit Form" />
                        <span class="form_builder_submit_icon">
                            <svg class="icon icon_caret_right">
                                <use href="/images/icons.svg#caret_right" />
                            </svg>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </form>
<!--</div>-->
<!-- END: Full Width Callouts -->

