<div class="news_related">
	{% if title or description %}
		<div class="news_related_header">
			<div class="fs-row">
				<div class="fs-cell {{ cell }}">
					<div class="news_related_header_inner">
						{% if title %}
							<h2 class="news_related_title">{{ title }}</h2>
						{% endif %}
						{% if description %}
							<div class="news_related_description">
								<p>{{ description }}</p>
							</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	{% endif %}
	<div class="news_related_body">
		<div class="fs-row">
			<div class="fs-cell">
				<ul class="news_related_items">
					{% for item in items %}
						<li class="news_related_item">
							{% render '@partial-news-item' with {
								item: item
							} %}
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- END: Related News -->
