								<div class="breadcrumb">
                                <div class="fs-row">
						<div class="fs-cell">
											<div class="breadcrumb_inner">
											


<nav class="breadcrumb_nav" aria-labelledby="breadcrumb_nav_title">
    <div class="breadcrumb_nav_header">
        <h2 class="breadcrumb_nav_title" id="breadcrumb_nav_title">You are here:</h2>
    </div>
    <ol class="breadcrumb_list" aria-labelledby="breadcrumb_nav_title">
        <li class="breadcrumb_item breadcrumb_item_home">
            <a class="breadcrumb_pill breadcrumb_pill_link" href="/">
                <span class="breadcrumb_pill_inner">
                    <span class="breadcrumb_pill_label">Home</span>
                    <span class="breadcrumb_pill_icon">
                        <svg class="icon icon_caret_right">
                            <use href="/images/icons.svg#caret_right" />
                        </svg>
                    </span>
                </span>
            </a>
        </li>
        {!--{if segment_2 != ''}--}
            {if segment_1 == 'major'}
					<li class="breadcrumb_item">
				<a class="breadcrumb_pill breadcrumb_pill_link" href="/major">
					<span class="breadcrumb_pill_inner">
						<span class="breadcrumb_pill_label">Major</span>
						<span class="breadcrumb_pill_icon">
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		</span>
					</span>
				</a>
							</li>
            {if:elseif segment_1 == 'employment-opportunities'}
                <li class="breadcrumb_item">
                <a class="breadcrumb_pill breadcrumb_pill_link" href="/about/employment-opportunities">
                    <span class="breadcrumb_pill_inner">
                        <span class="breadcrumb_pill_label">Employment Opportunities</span>
                        <span class="breadcrumb_pill_icon">
            <svg class="icon icon_caret_right">
                <use href="/images/icons.svg#caret_right" />
            </svg>
        </span>
                    </span>
                </a>
                            </li>
            {/if}
        {!--{/if}--}
        <li class="breadcrumb_item">
            <span class="breadcrumb_pill">
                <span class="breadcrumb_pill_inner">
                    <span class="breadcrumb_pill_label">Page Title</span>
                </span>
            </span>
        </li>
    </ol>
</nav>
											</div>
                                            </div>
                                            </div>
										</div>