<div class="page_content" id="skip_content" tabindex="-1">
	<div class="fs-row">
		<div class="fs-cell {{ cell }}">
			<!-- WYSIWYG -->
			<div class="typography" itemprop="mainContentOfPage">
				{% render "@partial-wysiwyg" %}
			</div>
			<!-- END: WYSIWYG -->
		</div>
	</div>
</div>