<div class="full_width_callouts">
	{% render "@component-flex-callout" with {
		caption: "With more than 75 majors, we’re sure to have something that interests you, and if you don’t know what you want to study, we’re a great place to explore your options. If you’re planning to start a new career, Tyler offers career studies certificates and associate’s degrees that will get you the training you need to get the job you want in as little as a year. If transferring is part of your plan, we have guaranteed admissions agreements with more than 35 colleges and universities across Virginia and beyond, so as long as you meet certain requirements, you’re in! Plus, starting at Tyler and transferring to a four year means you’ll finish with more money in your pocket; two years at Tyler and two years at a four-year university typically costs less than three years at a university."
	} %}

	{% render "@component-flex-callout" with {
		image: 2,
		caption: "With more than 75 majors, we’re sure to have something that interests you, and if you don’t know what you want to study, we’re a great place to explore your options. If you’re planning to start a new career, Tyler offers career studies certificates and associate’s degrees that will get you the training you need to get the job you want in as little as a year."
	} %}
</div>
