<!-- Page Feature -->
<div class="page_feature">
	{% render "@partial-page-header" with {
		title: "Search"
	} %}
</div>
<!-- END: Page Feature -->

<div class="full_width_callouts">
	{% render "@partial-google-cse" with {
		results_url: ''
	} %}
</div>

{% if show_results %}
	<script>
		(function() {
			if (window.location.search) return;
	
			window.history.replaceState(null, null, '?q={{ search_term|default("About") }}');
		})();
	</script>
{% endif %}