/* ==========================================================================
	Header
============================================================================= */

.header {
	width: 100%;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 200;

	background: #fff;
	box-shadow: 0 2px 10px 0 rgba(#000, .15);
}

.header_ribbon {
	position: relative;
	padding: 10px 0;

	@media #{$min_lg} {
		padding: 0;
	}
}

.header_ribbon_inner {

	@media #{$min_lg} {
		display: flex;
		justify-content: space-between;
	}
}

.header_ribbon_group {

	&_logo {

		@media #{$min_lg} {
			padding: 21px 0;
		}

		@media #{$min_xl} {
			padding: 20px 0;
		}
	}

	&_navigation {

		@media #{$max_lg} {
			display: none;
		}

		@media #{$min_lg} {
			position: absolute;
			top: 0;
			right: 0;
		}
	}
}

.header_ribbon_row {

	@media #{$min_lg} {
		align-items: center;
		display: flex;
		justify-content: flex-end;
	}

	&:first-child {

		@media #{$min_lg} {
			border-bottom: 1px solid #F0F0F0;
		}

		@media #{$min_xl} {
			padding-left: 50px;
		}

		@media #{$min_xxl} {
			padding-left: 90px;
		}
	}

	&:last-child {

		@media #{$min_lg} {
			padding-right: 20px;
		}

		@media #{$min_xl} {
			padding-right: 60px;
		}
	}
}

.header_ribbon_search {
	position: relative;
}

.header_controls {
	height: 100%;
	width: 60px;

	position: absolute;
	top: 0;
	right: 0;

	@media #{$min_lg} {
		display: none;
	}
}
