/* ==========================================================================
	Alert
============================================================================= */

.alert {
	@include focus_outline_none;

	width: 100%;

	display: block;
	position: fixed;
	bottom: 0;
	z-index: 100;

	transform: translate3d(0, 100%, 0);
	transition: transform 0.4s;
	transition-delay: 0s;

	@media print {
		@include margined_xl_bottom;

		border-bottom: 2px solid $gray_10;
	}

	&.visible {
		transform: translate3d(0, 0, 0);
		transition-delay: 0.28s;

		@media print {
			position: relative;
		}
	}
}

.alert_inner {
	position: relative;

	background: #fff;
	box-shadow: 0 -2px 6px 0 rgba(#000, .15);
	margin: 0 -10px;
	overflow: hidden;
	padding: 30px 40px 30px 20px;

	@media #{$min_sm} {
		margin: 0;
	}

	@media #{$min_lg} {
		padding: 44px 9%;
	}

	@media print {
		padding-right: 0;
		padding-left: 0;
	}
}

.alert_header {
}

.alert_title {
	@include sans(100);

	position: relative;

	align-items: center;
	background: $mustard;
	display: inline-flex;
	font-size: 30px;
	letter-spacing: 1px;
	margin: 0 50px 16px 0;
	padding: 4px 8px 4px 0;
	text-transform: uppercase;

	@media #{$min_lg} {
		left: -60px;

		font-size: 40px;
		letter-spacing: 1.6px;
		padding: 7px 8px 7px 0;
	}

	@media print,
	#{$min_lg} {
		margin-right: 0;
	}

	&:before {
		height: 100%;
		width: 50vw;

		position: absolute;
		top: 0;
		right: 100%;

		background: inherit;
		content: "";
	}
}

.alert_title_icon {
	display: none;

	@media #{$min_sm} {
		display: block;
		margin-right: 10px;
	}

	@media #{$min_lg} {
		margin-right: 38px;
		transform-origin: right center;
		transform: scale(1.35);
	}
}

.alert_title_label {
}

.alert_body {
}

.alert_description {
	max-width: 860px;

	p:first-child {
		margin-top: 0;
	}

	p:last-child {
		margin-bottom: 0;
	}
}

.alert_close {
	position: absolute;
	top: 10px;
	right: 10px;

	display: none;

	@media #{$min_lg} {
		top: 38px;
		right: 26px;
	}

	.js & {
		display: block;

		@media print {
			display: none;
		}
	}
}

.alert_close_inner {
}

.alert_close_icon {
	width: 32px;
	height: 32px;

	position: relative;

	align-items: center;
	background: #000;
	border-radius: 50%;
	box-shadow: 0 0 4px 0 rgba(#000, .08);
	display: flex;
	justify-content: center;
	margin-left: 25px;
	transition:
		background $base_speed,
		border $base_speed;

	@media #{$min_lg} {
		width: 45px;
		height: 45px;
	}

	.alert_close:hover &,
	.alert_close:focus & {
		background: $bergundy;
	}

	&:after {
		width: 12px;
		height: 2px;

		position: absolute;
		top: 50%;
		left: 50%;

		background: #fff;
		border-radius: 2px;
		content: '';
		transform: translate(-50%, -50%);
	}
}

.alert_close_icon_inner {
	@include center;

	display: block;
}

.alert_close_label {
	@include visually_hide;
}

/* Alert Toggle
============================================================================= */

.alert_open_wrapper {
	width: 100%;

	position: fixed;
	right: 0;
	bottom: 0;
	z-index: 10;

	pointer-events: none;
}

.alert_open {
	position: relative;

	background-color: $mustard;
	box-shadow: 0 -2px 6px 0 rgba(#000, .15);
	color: #000;
	display: none;
	float: right;
	pointer-events: auto;
	transform: translate3d(0, 100%, 0);
	transition:
		background 0.3s,
		transform 0.3s;
	transition-delay: 0s;

	&:hover,
	&:focus {
		background-color: darken($mustard, 5%);
	}

	&.enabled {
		display: block;
	}

	&.visible {
		transform: translate3d(0, 0, 0);
		transition-delay: 0.38s;
	}
}

.alert_open_inner {
}

.alert_open_icon {
	width: 40px;
	height: 40px;

	position: relative;

	align-items: center;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	transition:
		background $base_speed,
		border $base_speed;

	@media #{$min_sm} {
		width: 60px;
		height: 60px;
	}
}

.alert_open_label {
	@include visually_hide;
}
