// =============================================================================
// Animations
// =============================================================================

/* Custom
============================================================================= */

@keyframes dootdoot {

	50% {
		transform: translate(4px, 0);
	}
}

@keyframes dootdoot_mini {

	50% {
		transform:
			scale(.75)
			translate(4px, 0);
	}
}

@keyframes bubble_pop {

	100% {
		opacity: 0;
		transform:
			translate(-50%, -50%)
			scale(2);
	}
}