/* ==========================================================================
	Forms
============================================================================= */

@mixin form_label($theme: null) {
	@include body_text;

	font-weight: 700;
}

@mixin input($theme: null) {
	border: 1px solid #000;
	border-radius: 4px;
	font-size: 18px;
	line-height: (32 / 18);
	padding: 8px 12px;

	@media #{$min_md} {
		padding: 12px 16px;
	}
}


/* Select
============================================================================= */

@mixin select() {
	position: relative;

	display: inline-block;

	select {
		width: 100%;

		appearance: none;
		-webkit-appearance: none;
		background: none;
		border: 1px solid #000;
		border-radius: 3px;
		color: inherit;
		cursor: pointer;
		display: inline-block;
		line-height: normal;
		margin: 0;
		outline: 0;
		padding: 14px 40px 14px 20px;

		// Media query to target Firefox only
		@-moz-document url-prefix() {
			// Firefox hack to hide the arrow
			text-indent: 0.01px;
			text-overflow: "";
		}

		// Undo the Firefox inner focus ring
		&:focus:-moz-focusring {
			color: transparent;
			text-shadow: 0 0 0 #000;
		}

		// Hide the arrow in IE10 and up
		&::-ms-expand {
			display: none;
		}

		option {

			@-moz-document url-prefix() {
				// <option> elements inherit styles from <select>, so reset them
				background-color: #fff;
			}
		}
	}
}

/* Select Themes
============================================================================= */

@mixin select_accent() {

	select {

		&:focus {
			box-shadow: 0 0 3px 1px $accent;
		}

		&:active {
			color: #fff;
			background-color: #000;
		}
	}

	&:after {
		border-top-color: $accent;
	}
}


/* Checkbox and Radio
============================================================================= */

@mixin option() {
	position: relative;

	input {
		position: absolute;
 		z-index: -2;

		opacity: 0;

		&:checked {

			~ [class$="indicator"] {

				&:before {
					transform: scale(1);
				}
			}
		}
	}

	[class$="indicator"] {
		position: absolute;
		top: 0;
		left: 0;

		display: block;
		pointer-events: none;
		text-align: center;
		transition:
			background-color $base_speed,
			border $base_speed,
			color $base_speed;
		user-select: none;

		&:before {
			@include absolute_center;

			display: block;
			transition:
				background $base_speed,
				transform $base_speed;
		}
	}
}

@mixin checkbox() {
	@include option;

	input {

		&:checked {

			~ [class$="indicator"] {

				&:before {
					transform: scale(1);
				}
			}
		}
	}

	[class$="indicator"] {
		width: 20px;
		height: 20px;

		border-radius: 2px;

		&:before {
			top: 3px;

			content:  "\2713";
			font-size: 14px;
			line-height: 1;
			transform: scale(0);
		}
	}
}

@mixin radio() {
	@include option;

	[class$="indicator"] {
		width: 16px;
		height: 16px;

		border-radius: 50%;

		&:before {
			width: 6px;
			height: 6px;

			border-radius: inherit;
			content: "";
		}
	}
}

@mixin option_accent() {

	input {

		&:focus {

			~ [class$="indicator"] {
				box-shadow: 0 0 3px 1px $accent;
			}
		}
	}

	[class$="indicator"] {
		border: 1px solid;
		color: $gray_40;
	}
}

@mixin checkbox_accent() {
	@include option_accent;

	input {

		&:checked {

			~ [class$="indicator"] {
				background-color: $accent;
				border-color: $accent;
				color: #fff;
			}
		}
	}
}

@mixin radio_accent() {
	@include option_accent;

	[class$="indicator"] {

		&:before {
			background-color: $gray_20;
		}
	}

	input {

		&:checked {

			~ [class$="indicator"] {

				&:before {
					background-color: $accent;
				}
			}
		}
	}
}