/* ==========================================================================
	Icons
============================================================================= */

.icon {
	display: block;
	fill: currentColor;
	margin: auto;
	pointer-events: none;
	stroke: inherit;
	transition: fill $base_speed, stroke $base_speed;

	$icons: (
		(angle_down, 5, 4),
		(angle_right, 7, 7),
		(arrow_left, 22, 22),
		(arrow_right, 22, 22),
		(caret_down, 9, 6),
		(caret_right, 6, 9),
		(caret_left, 6, 9),
		(caret_up, 9, 6),
		(clock, 16, 16),
		(close, 18, 18),
		(expand, 9, 18),
		(external, 15, 15),
		(facebook, 25, 25),
		(fax, 18, 16),
		(file, 12, 15),
		(flickr, 22, 10),
		(home, 14, 14),
		(instagram, 26, 25),
		(label, 14, 14),
		(linkedin, 26, 25),
		(logo, 89, 59),
		(mail, 16, 12),
		(menu, 22, 12),
		(minus, 14, 2),
		(phone, 16, 16),
		(place, 12, 18),
		(play, 20, 20),
		(plus, 10, 10),
		(quote, 24, 18),
		(reset, 9, 10),
		(search, 18, 18),
		(twitter, 25, 21),
		(video_pause, 11, 11),
		(video_play, 11, 11),
		(vimeo, 18, 18),
		(youtube, 26, 19)
	);

	@each $label, $width, $height in $icons {

		&_#{$label} {
			width: $width#{px};
			height: $height#{px};
		}
	}
}
