/* ==========================================================================
	Logo
============================================================================= */

.logo {
	margin: 0;
}

.logo_header {
	color: #50152B;

	@media #{$min_md} {
		will-change: transform;
		transform-origin: left bottom;
		transition: transform $base_speed;
	}

	.scrolling & {

		@media #{$min_lg} {
			transform:
				translate(0, 9px)
				scale(.65);
		}

		@media #{$min_xl} {
			transform:
				translate(0, 4px)
				scale(.5);
		}
	}
}

.logo_footer {
	align-items: center;
	display: flex;
	margin-bottom: 22px;

	@media #{$min_lg} {
		margin-bottom: 32px;
	}

	@media #{$min_xl} {
		width: 100%;

		position: absolute;
		bottom: 0;

		margin-bottom: 0;
		transform: translate(0, 50%);
	}

	&:before,
	&:after {
		height: 1px;

		background: $bright_pink;
		content: "";
		flex: auto;
	}

	&:before {
		margin-right: 15px;

		@media #{$min_xl} {
			margin-right: 45px;
		}
	}

	&:after {
		margin-left: 15px;

		@media #{$min_xl} {
			margin-left: 45px;
		}
	}
}

.logo_link {
	position: relative;

	display: block;
	overflow: hidden;
	transition: color $base_speed;
	white-space: nowrap;

	&:after {
		@media print {
			content: normal;
			display: none;
		}
	}
}

.logo_link_label {
	@include center;

	color: #fff;
}

.logo_link_icon {
	display: inline-block;
	vertical-align: top;
}

.icon_logo {

	.logo_header & {
		width: 60px;
		height: 40px;

		@media #{$min_lg} {
			width: 90px;
			height: 66px;
		}

		@media #{$min_xl} {
			width: 129px;
			height: 85px;
		}
	}

	.logo_footer & {

		@media #{$min_xl} {
			width: 186px;
			height: 123px;
		}
	}
}

.logo_print {
	display: none;

	@media print {
		display: block;
	}
}
