/* ==========================================================================
	Meta
============================================================================= */

.meta_info {
	&:not(:last-child) {
		margin-bottom: 20px;

		@media #{$min_lg} {
			margin-right: 60px;
			margin-bottom: 0;
		}

		@media #{$min_xl} {
			margin-right: 110px;
		}
	}
}

.meta_info_link {
	align-items: center;
	color: inherit;
	display: flex;
	padding: 7px 0 6px;
	transition: color $base_speed;

	@media #{$min_xl} {
		margin-bottom: 10px;
	}

	&:hover,
	&:focus {
		color: $blush;
	}
}

.meta_info_link_label {
	@include sans(100);

	font-size: 28px;

	@media #{$min_xl} {
		font-size: 36px;
	}
}

.meta_info_link_icon {
	color: $peach;
	margin-left: 10px;

	@media #{$min_xl} {
		margin-left: 14px;
	}

	.meta_info_link:hover &,
	.meta_info_link:focus & {
		animation: dootdoot 1s infinite;
	}
}

.meta_info_details {
}

.meta_info_detail {
	display: flex;
	padding: 6px 0;

	@media #{$min_xl} {
		padding: 7px 0;
	}

	@supports (display: grid) {
		display: grid;
		grid-gap: 8px;
		grid-template-columns: 16px 1fr;
	}
}

.meta_info_detail_address {
}

.meta_info_detail_email {
}

.meta_info_detail_phone {
}

.meta_info_detail_fax {
}

.meta_info_detail_icon {
	position: relative;
	top: 4px;

	color: $peach;
}

.meta_info_detail_label {
	font-size: 15px;
	line-height: (22 / 15);

	@media #{$min_xl} {
		font-size: 16px;
		line-height: (25 / 16);
	}

	&:after {
		@media print {
			content: normal;
			display: none;
		}
	}
}

.meta_info_detail_label_hint {
	@include visually_hide;
}

.meta_info_detail_link {
	color: inherit;
	display: inline-block;
	transition: color $base_speed;

	&:hover,
	&:focus {
		color: $blush;
	}
}

.meta_info_address_street {
	display: block;
}

.meta_info_address_group {
	display: block;
}

.meta_info_address_city {
}

.meta_info_address_state {
}

.meta_info_address_zip {
}
