// =============================================================================
// Mixins
// =============================================================================

/* Custom
============================================================================= */

@mixin bubble_pop($color: $accent) {

	&:before {
		height: 30px;
		width: 30px;

		position: absolute;
		top: 50%;
		left: 50%;

		background: $color;
		border-radius: 50%;
		content: "";
		transform:
			translate(-50%, -50%)
			scale(0);
		transition:
			opacity $base_speed,
			transform $base_speed;
	}

	&:hover,
	&:focus {

		&:before {
			animation: bubble_pop $base_speed * 2 forwards;
		}
	}
}


/* Framework
============================================================================= */

@mixin fw_emphasized($font: text) {
	@if $font == text {
		font-size: 18px;
		font-weight: 700;
	} @else if $font == display {
		@include title;

		font-size: 16px;
		font-weight: 700;
	}
}

@mixin fw_site_button() {
	align-items: center;
	display: flex;
	justify-content: flex-end;

	[class$='_label'] {
		@include fw_emphasized(display);

		margin-right: 10px;
	}

	[class$='_icon'] {
		width: 46px;
		height: 46px;

		position: relative;

		background: $accent;
		border-radius: 50%;
		display: block;
		transition: background $base_speed, color $base_speed;
	}

	[class$='_icon_inner'] {
		@include center;
	}

	&:hover,
	&:focus {
		[class$='_icon'] {
			background: #fff;
			color: #000;
		}
	}
}

@mixin fw_type_breakout() {
	@media #{$min_lg} {
		margin-right: -10.5%;
		margin-left: -10.5%;
	}

	@media #{$min_xl} {
		margin-right: -13.5%;
		margin-left: -13.5%;
	}
}

@mixin fw_type_link() {
	border-bottom: 1px solid $peach;
	color: $bergundy;
	padding-bottom: 4px;
	transition:
		border $base_speed,
		color $base_speed;

	&:hover,
	&:focus {
		border-bottom-color: currentColor;
		color: $maroon;
	}
}

@mixin fw_card_grid_item() {
	@media #{$min_sm} {
		flex: 0 0 48%;
		margin-right: auto;
	}

	@media #{$min_lg} {
		flex-basis: 30%;
		margin-right: 5%;
	}

	@media #{$min_xl} {
		flex-basis: 22%;
		margin-right: 4%;
	}

	&:nth-child(even) {
		@media #{$min_sm $and_max_lg} {
			margin-right: 0;
		}
	}

	&:nth-child(3n + 3) {
		@media #{$min_lg $and_max_xl} {
			margin-right: 0;
		}
	}

	&:nth-child(4n + 4) {
		@media #{$min_xl} {
			margin-right: 0;
		}
	}
}
