/* ==========================================================================
	Page Header
============================================================================= */

.page_header {
	color: #fff;
	overflow: hidden;

	@media print {
		margin: 30px 0;
		padding: 0;
	}
}

.page_header_inner {}

.page_header_body {
	background-color: $navy;
	padding: 20px 0 60px;

	@media #{$min_md} {
		padding: 46px 0 82px;
	}

	@media #{$min_lg} {
		padding-bottom: 62px;
	}
}

.page_title {
	@include h1;

	position: relative;

	background: $maroon;
	display: inline-block;
	margin: 0;
	padding-right: 8px;

	@media #{$min_lg} {
		padding: 4px 16px 5px 0;
	}

	&:before {
		height: 100%;
		width: 50vw;

		position: absolute;
		top: 0;
		right: 100%;

		background: inherit;
		content: "";
	}
}

.page_intro {

	.page_header_bg & {
		margin: auto 0 0;
		padding: 30px 0 60px;

		@media #{$min_md} {
			background:
				linear-gradient(
					to right,
						rgba(#000, .9),
						rgba(#000, 0) 60%
				);
			padding: 80px 0 94px;
		}

		@media #{$min_xl} {
			padding: 100px 0 124px;
		}

		@media print {
			margin: 6px 0 25px;
			padding: 0;
		}
	}
}

.page_intro_inner {}

.page_description {
	@include intro_text;

	max-width: 745px;

	margin: 12px 0 0;

	@media #{$min_lg} {
		margin-top: 30px;
	}

	.page_header_bg & {
		max-width: 500px;
	}
}

.page_nav {
	position: relative;
	z-index: 4;

	margin-top: -23px;

	@media #{$min_lg} {
		background: $teal;
		margin-top: 0;
	}

	@media print {
		display: none;
	}
}

.page_nav_inner {}

.page_header_media {}

.page_header_media_inner {
	position: relative;
}

.page_header_figure {}

.page_header_image_wrapper {
	padding-top: $ultra_wide;
}

.page_header_image {
	@include responsive_image;

	max-width: 100%;
}

.page_header_video {
	display: none;

	.js & {
		background-color: #000;
		display: block;
		padding-top: $ultra_wide;

		@media print {
			display: none;
		}
	}
}

.page_header_iframe {

	@media #{$min_md} {
		@include cover;
	}
}
