/* ==========================================================================
	Type Base
============================================================================= */

// Headings
// =============================================================================

@mixin h1 {
	@include title(100);

	font-size: 64px;
	line-height: (89 / 64);
	letter-spacing: #{(2.49 / 64)}em;
	text-transform: uppercase;
}

@mixin h2 {
	@include title(500);

	font-size: 52px;
	line-height: (52 / 52);
	letter-spacing: #{(2.71 / 52)}em;
	text-transform: uppercase;
}

@mixin h3 {
	@include title(500);

	font-size: 40px;
	line-height: (42 / 40);
	letter-spacing: #{(0.5 / 52)}em;
}

@mixin h4 {
	@include title(100);

	font-size: 36px;
	line-height: (36 / 38);
	letter-spacing: #{(0.4 / 36)}em;
}

@mixin h5 {
	@include title(600);

	font-size: 28px;
	line-height: (34 / 28);
	letter-spacing: #{(0.37 / 28)}em;
}

@mixin h6 {
	@include title(400);

	font-size: 16px;
	line-height: (19 / 16);
	letter-spacing: #{(2 / 16)}em;
	text-transform: uppercase;
}

@mixin intro_text {
	@include serif(600);

	font-size: 21px;
	line-height: (32 / 21);
}

@mixin body_text {
	@include sans;

	font-size: 18px;
	line-height: (32 / 18);
}

@mixin small_text {
	@include serif(100);

	font-size: 16px;
	line-height: (22 / 16);
}

@mixin label_text {
	font-size: 12px;
	font-weight: 700;
	line-height: (22 / 14);
	text-transform: uppercase;
}

@mixin caption_text {
	font-size: 12px;
	line-height: (22 / 14);
}

/* Typography
============================================================================= */

.typography {
	@include body_text;

	a {
		@include fw_type_link;
	}

	p {
		margin: 30px 0;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		+ * {
			margin-top: 0;
		}
	}

	h1 {
		@include h1;

		margin: 50px 0 10px;
	}

	h2 {
		@include h2;

		margin: 50px 0 10px;
	}

	h3 {
		@include h3;

		margin: 50px 0 10px;
	}

	h4 {
		@include h4;

		color: rgba(#000, 0.7);

		margin: 50px 0 10px;
	}

	h5 {
		@include h5;

		margin: 50px 0 10px;
	}

	h6 {
		@include h6;

		margin: 50px 0 10px;
	}

	.intro {
		@include intro_text;

		color: $navy;

		p {
			margin: 0;
		}
	}

	.copy {
		@include body_text;
	}

	.small {
		@include small_text;
	}

	.label {
		@include label_text;
	}

	.caption {
		@include caption_text;
	}
}

/* WYSIWYG Images
============================================================================= */

.typography {
	img {
		height: auto;
		max-width: 100%;
	}

	.block_left,
	.block_right,
	.block_center,
	.alignleft,
	.alignright,
	.aligncenter,
	.alignnone,
	.align-left,
	.align-right,
	.align-center {
		width: auto;

		display: table;
		margin-top: 20px;
		margin-bottom: 20px;
		table-layout: fixed;

		img {
			display: block;
		}

		figcaption,
		.wp-caption-text {
			@include small_text();

			caption-side: bottom;
			color: rgba(#000, 0.8);
			display: table-caption;
			margin: 20px 0 0 0;
		}
	}

	.block_left,
	.block_right,
	.alignleft,
	.alignright,
	.align-left,
	.align-right {
		max-width: 50%;

		@media #{$max_sm} {
			max-width: 100%;

			float: none;
			margin-right: 0;
			margin-left: 0;
		}

		@media #{$min_sm} {
			margin-top: 10px;
			margin-bottom: 30px;
		}
	}

	.block_left,
	.alignleft,
	.align-left {
		@media #{$min_sm} {
			float: left;
			margin-right: 30px;
		}
	}

	.block_right,
	.alignright,
	.align-right {
		@media #{$min_sm} {
			float: right;
			margin-left: 30px;
		}
	}

	.block_center,
	.aligncenter,
	.align-center {
		text-align: center;

		img {
			margin-right: auto;
			margin-left: auto;
		}
	}

	.alignleft,
	.alignright,
	.aligncenter,
	.alignnone {
		width: auto !important;
	}
}

/* Blockquote
============================================================================= */

.typography {
	blockquote {
		@include intro_text;

		margin: 50px 0;

		&:not(.quote_content) {
		}

		p {
			margin: 0;
		}
	}

	.quote {
		position: relative;

		margin: 50px 0;
		padding: 50px 0;

		&:before,
		&:after {
			@include fw_type_breakout();

			height: 2px;

			position: absolute;
			right: 0;
			left: 0;

			background-color: $gray_30;
			content: '';
			display: block;
		}

		&:before {
			top: 0;
		}

		&:after {
			bottom: 0;
		}
	}

	.quote_content {
		margin: 0 0 20px;

		p {
			margin: 0;
		}
	}

	.quote_caption {
		@include body_text;
	}

	.quote_caption_name {
		&:before {
			content: '- ';
		}
	}

	.quote_caption_title {
	}
}

/* Lists
============================================================================= */

.typography {
	ol,
	ul {
		list-style: none;
		margin: 30px 0;
		padding: 0;

		li {
			position: relative;

			margin: 12px 0;
			padding: 0 0 0 20px;

			@media #{$min_lg} {
				padding-left: 30px;
			}
		}

		ol,
		ul {
			margin: 0;
		}
	}

	ol {
		counter-reset: li;

		> li {
			&:before {
				content: counter(li) '. ';
				counter-increment: li;
				float: left;
				font-weight: 700;
				margin: 1px 0 0 -30px;

				@at-root ol[type='A'] li:before {
					content: counter(li, upper-latin) '. ';
				}

				@at-root ol[type='a'] li:before {
					content: counter(li, lower-latin) '. ';
				}
			}
		}
	}

	ul {
		li {
			&:before {
				width: 6px;
				height: 6px;

				position: absolute;
				left: 0;
				top: 12px;

				background-color: $maroon;
				border-radius: 50%;
				content: '';
				display: block;

				@media print {
					border: 3px solid currentColor;
				}
			}

			ul li {
				&:before {
					background-color: $teal;
				}
			}
		}
	}
}

/* Tables
============================================================================= */

.typography {
	table {
		width: 100%;

		border-collapse: collapse;
		border: 1px solid $gray_10;

		tr {
			&:nth-child(even) {
				background: $gray_05;
			}
		}

		th,
		td {
			padding: 10px 20px;
			vertical-align: top;
		}

		th,
		thead td {
			@include h6;

			background: #000;
			border-width: 0;
			color: #fff;
			font-weight: 700;
			text-align: left;

			@media print {
				border: 1px solid $gray_10;
			}
		}

		td {
			@include small_text;

			border: 1px solid $gray_10;
		}
	}
}

// 1. Workaround for IE9 bug (see https://github.com/twbs/bootstrap/issues/14837)

.table_wrapper {
	@include margined;
	@include fw_type_breakout();

	min-height: 0.01%; // 1

	position: relative;
}

.table_wrapper_overflow {
	position: relative;

	border: 1px solid #ccc;

	&:after {
		@include gradient_right(rgba(#000, 0), rgba(#000, 0.1));

		width: 20px;
		height: 100%;

		position: absolute;
		top: 0;
		right: 0;

		content: '';
	}
}

.table_wrapper_inner {
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}

/* ==========================================================================
   iframe
============================================================================= */

.typography {
	.video_frame {
		@include video_frame();

		@media print {
			display: none;
		}
	}
}
