{snp_major_top}

	<div class="filter_results">
			<div class="fs-row">
				<div class="fs-cell">
					<div class="filter_results_inner">
						<p class="filter_results_description">
							{!--<span class="filter_results_label">{exp:search:total_results} 
								Results for:</span>
							<span class="filter_results_category">{exp:search:keywords}</span>--}
							No results found.
						</p>

						

	{!--<a href="page-news-listing.html" class="filter_results_reset_link" >--}
	<a href="/major" class="filter_results_reset_link" >
	<span class="filter_results_reset_link_inner">
		<span class="filter_results_reset_link_label">Reset</span>
					<span class="filter_results_reset_link_icon" aria-hidden="true">
				<span class="filter_results_reset_link_icon_inner">
					<span class="filter_results_reset_link_icon_space">&#xfeff;</span>
					
			<svg class="icon icon_reset">
				<use href="/images/icons.svg#reset" />
			</svg>
		
				</span>
			</span>
			</span>
	</a>
					</div>
				</div>
			</div>
		</div>
	</div>