{layout='layouts/_main-wrapper'}


<!-- Page Feature -->
<div class="page_feature">
	<div class="page_header">
		<div class="page_header_inner">
			<div class="page_header_body">
				<div class="breadcrumb">
					<div class="fs-row">
						<div class="fs-cell">
							<div class="breadcrumb_inner">
								

<nav class="breadcrumb_nav" aria-labelledby="breadcrumb_nav_title">
	<div class="breadcrumb_nav_header">
		<h2 class="breadcrumb_nav_title" id="breadcrumb_nav_title">You are here:</h2>
	</div>
	<ol class="breadcrumb_list" aria-labelledby="breadcrumb_nav_title">
		<li class="breadcrumb_item breadcrumb_item_home">
			<a class="breadcrumb_pill breadcrumb_pill_link" href="/">
				<span class="breadcrumb_pill_inner">
										<span class="breadcrumb_pill_label">Home</span>
					<span class="breadcrumb_pill_icon">
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		</span>
				</span>
			</a>
					</li>
					
					{!--<li class="breadcrumb_item">
				<a class="breadcrumb_pill breadcrumb_pill_link" href="/major">
					<span class="breadcrumb_pill_inner">
						<span class="breadcrumb_pill_label">Major</span>
						<span class="breadcrumb_pill_icon">
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		</span>
					</span>
				</a>
							</li>
					<li class="breadcrumb_item">
				<a class="breadcrumb_pill breadcrumb_pill_link" href="#">
					<span class="breadcrumb_pill_inner">
						<span class="breadcrumb_pill_label">Parent Level</span>
						<span class="breadcrumb_pill_icon">
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		</span>
					</span>
				</a>
							</li>--}
				<li class="breadcrumb_item">
			<span class="breadcrumb_pill">
				<span class="breadcrumb_pill_inner">
					<span class="breadcrumb_pill_label">Page Title</span>
				</span>
			</span>
					</li>
	</ol>
</nav>
							</div>
						</div>
					</div>
				</div>
				<div class="page_intro">
					<div class="fs-row">
						<div class="fs-cell fs-lg-10 fs-xl-9">
							<div class="page_intro_inner">
								<h1 class="page_title" itemprop="name">Directory</h1>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END: Page Feature -->

<?php
$host = "164.106.55.222"; //database location external
//$host = "10.70.200.12"; //database location internal
//$host = "apps.jtcc.edu"; //database location
$user = "diruser"; //database username
$pass = "J20tcc17#"; //database password
$db_name = "jtccdirdb"; //database name

//database connection
$con = mysqli_connect($host, $user, $pass, $db_name);
if (mysqli_connect_errno()){
	echo "Failed to connect to database.";
}

//object oriented - db connection
/*$mysqli = new mysqli($host, $user, $pass, $db_name);
if (mysqli_connect_errno()){
	echo "Failed to connect to database.";
}*/

$getDepts = "SELECT dept 
            FROM jtccdirdb.tbllkdept
            WHERE DeptAbbr is NULL OR DeptAbbr = ''
            UNION
            SELECT adept 
            FROM  jtccdirdb.tblacaddeptdiv
            ORDER BY 1";                               

$dept_result = mysqli_query($con, $getDepts);

mysqli_close($con);
	
	/*echo '<h1>Data is from the DWA server</h1>';
	
	if (mysqli_num_rows($dept_result) > 0) {
		echo '<p>';
		while ($row = mysqli_fetch_assoc($dept_result)) {
			echo $row['dept'] . '<br />';
		}
		echo '</p>';
	}*/
?>

<div class="full_width_callouts">
	<div class="filter">
	<div class="filter_tabs" role="tablist" aria-label="Directory Filtering">
		<div class="fs-row">
			<div class="fs-cell">
				<div class="filter_tabs_inner">
					<button class="js-swap filter_tab" role="tab" data-swap-target=".filter_tabpanel_tools" data-swap-group="filter_tabs"  data-swap-options='{"collapse": false}'>Search</button>
					<!--<button class="js-swap filter_tab" role="tab" data-swap-target=".filter_tabpanel_search" data-swap-group="filter_tabs"  data-swap-active="true"  data-swap-options='{"collapse": false}'>Search</button>-->
				</div>
			</div>
		</div>
	</div>
	<div class="filter_panels">
		<div class="fs-row">
			<div class="fs-cell">
				<div class="filter_panels_inner">
					<div class="filter_tabpanel filter_tabpanel_tools" role="tabpanel">
						<form class="filter_tools" action="/directory" method="post">
							<div class="filter_tool">
								<label class="filter_label" for="filter_tool_label_1">First Name</label>
									<div class="filter_search_input_wrapper">
										<input class="filter_search_input" type="text" id="first_name" name="fname" value="">
		<!--<span class="filter_tool_select_icon">
			<svg class="icon icon_caret_down">
				<use href="/images/icons.svg#caret_down" />
			</svg>
		</span>-->
		<span class="filter_search_input_icon">
			<svg class="icon icon_search">
				<use href="/images/icons.svg#search" />
			</svg>
		</span>

									</div>
								</div>
								<div class="filter_tool">
									<label class="filter_label" for="filter_tool_label_2">Last Name</label>
									<div class="filter_search_input_wrapper">
										<input class="filter_search_input" type="text" id="last_name" name="lname" value="">
		<!--<span class="filter_tool_select_icon">
			<svg class="icon icon_caret_down">
				<use href="/images/icons.svg#caret_down" />
			</svg>
		</span>-->
		<span class="filter_search_input_icon">
			<svg class="icon icon_search">
				<use href="/images/icons.svg#search" />
			</svg>
		</span>
									</div>
								</div>
								<div class="filter_tool">
									<label class="filter_label" for="filter_tool_label_3">Department</label>
									<div class="filter_tool_select_wrapper">
										<select class="filter_tool_select" id="filter_tool_label_3" name="dept">
											<option value=""  selected >All Departments</option>
											<?php 
											if (mysqli_num_rows($dept_result) > 0) {	
												while ($dept_row = mysqli_fetch_assoc($dept_result)) {
													echo '<option value="' . $dept_row['dept'] . '" label="' . $dept_row['dept'] . '">' . $dept_row['dept'] . '</option>';
												}
											}	
											?>
											<!--<option value="">Office of the Dean of Arts, Humanities, Mathematics, and Social Sciences</option>-->
										</select>
		<span class="filter_tool_select_icon">
			<svg class="icon icon_caret_down">
				<use href="/images/icons.svg#caret_down" />
			</svg>
		</span>
									</div>
								</div>
								<div class="filter_tool">
								<input type="hidden" name="XID" value="{XID_HASH}" />
								<button class="filter_tools_submit filter_tools_submit_tools" type="submit" name="dir_sbmt">
									<span class="filter_tools_submit_label">Submit</span>
		<span class="filter_tools_submit_icon">
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		</span>
								</button>
							</div>
						</form>
					</div>
					<div class="filter_tabpanel filter_tabpanel_search" role="tabpanel">
						<form class="filter_search" action="#" method="get">
							<label class="filter_label" for="filter_search_input">Search our Majors & Programs</label>
							<div class="filter_search_form">
								<div class="filter_search_input_wrapper">
									{!--<input class="filter_search_input" id="filter_search_input" type="search" placeholder="Search by keyword">--} 
									<input class="filter_search_input" name="keywords" id="filter_search_input" type="text" placeholder="Search by keyword">
		<span class="filter_search_input_icon">
			<svg class="icon icon_search">
				<use href="/images/icons.svg#search" />
			</svg>
		</span>
								</div>
								<button class="filter_tools_submit filter_tools_submit_search" type="submit">
									<span class="filter_tools_submit_label">Submit</span>
									<span class="filter_tools_submit_icon">
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		</span>
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

<!-- Full Width Callouts -->
<div class="full_width_callouts">
    <div class="wysiwyg_block">
        <div class="fs-row">
            <div class="fs-cell">
                <div class="wysiwyg_block_inner typography">
	

<?php 
if($_SERVER['REQUEST_METHOD'] == "POST") { 
		$host = "164.106.55.222"; //database location external
//$host = "10.70.200.12"; //database location internal
//$host = "apps.jtcc.edu"; //database location
$user = "diruser"; //database username
$pass = "J20tcc17#"; //database password
$db_name = "jtccdirdb"; //database name

//database connection
$con = mysqli_connect($host, $user, $pass, $db_name);
if (mysqli_connect_errno()){
	echo "Failed to connect to database.";
}

        $FName = mysqli_real_escape_string($con, $_POST['fname']);
        $LName = mysqli_real_escape_string($con, $_POST['lname']);
        $Dept  = $_POST['dept'];
            		
            		$sql = "SELECT 	tblemp.StateID,
                                    tblemp.Prefix, 
                                    tblemp.FName, 
                                    tblemp.MName, 
                                    tblemp.LName,
                                    tblemp.Nickname,
                                    tblemp.Suffix, 
            						tblemp.Email,
                                    tblemp.WTitleID,
            						tbllkwtitle.WorkTitle,
                                    tblemp.DeptID,
                                    tblemp.DivID,
            						tbllkdiv.DivDesc,         
                                    tbllkdept.Dept,
            						tblacaddeptdiv.ADept,
                                    tblacaddeptdiv.AcadDeptID
                            FROM tblemp
                            LEFT OUTER JOIN tbllkwtitle
                            USING (WTitleID)
                            Left outer join tbllkdiv
                            USING (DivID)
                            LEFT OUTER JOIN tbllkdept
                            USING (DeptID)
                            LEFT OUTER JOIN tblacaddeptdis
                            USING (DeptID)
                            LEFT OUTER JOIN tblacaddeptdiv 
                            USING (AcadDeptID)
                            WHERE 1 = 1";    
                    if (strlen($FName) > 0) {
                      	$sql .= " AND (tblemp.FName LIKE '$FName%'
            					OR tblemp.Nickname LIKE '$FName%')";
                    }
                    if (strlen($LName) > 0) {
                    	$sql .= " AND tblemp.LName LIKE '$LName%'";
                    }    
                    if ($Dept != "") {
                    	$sql .= " AND (tbllkdept.Dept = '$Dept' OR tblacaddeptdiv.ADept = '$Dept')";
                    }       		
                    $sql .= " ORDER BY LName, FName";

                    $result = mysqli_query($con, $sql);
            		
                    
                	if (mysqli_num_rows($result)) {
            			while ($row = mysqli_fetch_assoc($result)) {
            				$sID = $row['StateID'];
                        	$getLoc = "SELECT StateID, Building, Room, PACode, PExt, Phone, FACode, FExt, FAX, Location
                                        FROM tblemploc
                                        LEFT OUTER JOIN tbllocbuild
                                        USING (BuildID)
                                        LEFT OUTER JOIN tbllkloc
                                        USING (LocID)
                                        WHERE StateID = '$sID'
                                        ORDER BY StateID, Location";
                            $getLoc_result = mysqli_query($con, $getLoc);
                            
                            
                            echo '<h3>';            
            				echo $row['Prefix']; 
                            if (strlen(trim($row['Nickname'])) > 0) {
                            	echo ' ' . $row['Nickname'];
                            } else {
                            	echo ' ' . $row['FName'];
                            }
                            echo ' ' . $row['LName'] . '</h3>';
                            echo '<h4>' . $row['WorkTitle'] . '</h4>';
                            echo '<p>';
                            if ($row['DivID'] != 17) {
                            	echo $row['DivDesc'] . '<br />';
                            }
                            /*if (strlen(trim($row['ADept'])) > 0) {
                            	echo $row['ADept'] . '<br />';
                            } 
                            if ($row['ADept'] != $row['Dept']) {
                            	echo $row['Dept'] . '<br />';
                            }*/
                            if (strlen(trim($row['ADept'])) > 0) {
                            	echo $row['ADept'] . '<br />';
                            } else {
                            	if (strlen(trim($row['Dept'])) > 0) {
                            		echo $row['Dept'] . '<br />';
                            	}
                            }
                            /*if (strlen($row['Email']) > 0) {
                            	echo '<a href="mailto:' . $row['Email'] . '">' . $row['Email'] . '</a>';
                            }*/
                            echo '</p>';
                            if (mysqli_num_rows($getLoc_result) > 0) {
                            	while ($loc_row = mysqli_fetch_assoc($getLoc_result)) {
                            		echo '<p>';
                                	if (strlen($loc_row['Location']) > 0) {
                                		//echo '<h6>' . strtoupper($loc_row['Location']) . '</h6>';
                                		echo $loc_row['Location'] . '<br />';
                                    }
                                    if (strlen($loc_row['Room']) > 0 && $loc_row['Room'] != '0') {
                                        echo $loc_row['Room'] . ', ';
                                    }
                                    if (strlen($loc_row['Building']) > 0) {
                                        echo $loc_row['Building'];
                                    }
                                    echo '<br />';
                                    if (strlen($loc_row['PACode']) > 0) {
                                    	echo 'Phone: ' . $loc_row['PACode'] . '-' . $loc_row['PExt'] . '-' . $loc_row['Phone'] . '<br />';
                                    }
                                    if (strlen($loc_row['FACode']) > 0) {
                                    	echo 'Fax: ' . $loc_row['FACode'] . '-' . $loc_row['FExt'] . '-' . $loc_row['FAX'] . '<br />';
                                    }
                                    //echo '<p>';
                                }
                                mysqli_free_result($getLoc_result);
                                //unset($loc_row);
                            }
                            if (strlen($row['Email']) > 0) {
                            	echo '<a href="mailto:' . $row['Email'] . '">' . $row['Email'] . '</a>';
                            }
                            echo '<p>';
                    		echo '<hr />';
                    	}
            			mysqli_free_result($result);
                   		//unset($row);        
                    } else {
                    	echo 'No record found. Please try it again.'; 
                    }
                   mysqli_close($con); 
            	} 
            ?>
            
            <p>Need general information? Call 804-796-4000.</p>
        	</div>
    	</div>
     </div>
   </div>
</div>  
<!-- end full_width_callouts -->     
