<div class="event_meta" id="meta" data-type="event" data-category="{% for item in item.categories %}{{ item }}{% if not loop.last %}, {% endif %}{% endfor %}">
	<div class="fs-row">
		<div class="fs-cell">
			<div class="event_meta_inner">
				<div class="event_meta_body">
					{% render "@partial-event-details" with {
						item: item
					} %}
				</div>
				{% render "@partial-share" %}
			</div>
		</div>
	</div>
</div>