			<!-- Header -->
			<header class="header" id="header">
				<a class="skip_link skip_main" id="skip_link" href="#skip_content">Skip to main content</a>
				<a class="js-skip-alert skip_link skip_alert" id="alert_link" href="#alert">Skip to site alert</a>
				<div class="header_ribbon">
					<div class="fs-row">
						<div class="fs-cell">
							<div class="header_ribbon_inner">
								<div class="header_ribbon_group header_ribbon_group_logo">
									<div class="logo logo_header logo_icon">
										<a class="logo_link" href="/" aria-label="Logo Link">
											<span class="logo_link_label"></span>
											<span class="logo_link_icon">
												
												<svg class="icon icon_logo">
													<use href="/static-html/images/icons.svg#logo" />
												</svg>
											
											</span>
										</a>
									</div>
								</div>
							<div class="header_ribbon_group header_ribbon_group_navigation">
								<div class="header_ribbon_row">
									<nav class="js-nav js-secondary-nav js-secondary-nav-lg nav secondary_nav secondary_nav_lg" aria-labelledby="secondary_nav_title_lg">
										<div class="nav_header secondary_nav_header">
											<h2 class="nav_title secondary_nav_title" id="secondary_nav_title_lg">Secondary</h2>
										</div>
										<ul class="js-nav-list js-secondary-nav-list nav_list secondary_nav_list" aria-labelledby="secondary_nav_title_lg">
											<li class="js-nav-item js-secondary-nav-item js-secondary-nav-item-1 nav_item secondary_nav_item">
												<div class="nav_item_inner secondary_nav_item_inner">
													<a class="js-nav-link js-secondary-nav-link nav_link secondary_nav_link" href="/about">
														<span class="nav_link_label secondary_nav_link_label">About</span>
													</a>
												</div>
											</li>
											<li class="js-nav-item js-secondary-nav-item js-secondary-nav-item-2 nav_item secondary_nav_item">
												<div class="nav_item_inner secondary_nav_item_inner">
													<a class="js-nav-link js-secondary-nav-link nav_link secondary_nav_link" href="/about/locations-tours">
														<span class="nav_link_label secondary_nav_link_label">Locations & Tours</span>
													</a>
												</div>
											</li>
											<li class="js-nav-item js-secondary-nav-item js-secondary-nav-item-3 nav_item secondary_nav_item">
												<div class="nav_item_inner secondary_nav_item_inner">
													<a class="js-nav-link js-secondary-nav-link nav_link secondary_nav_link" href="/about/tyler-a-z">
														<span class="nav_link_label secondary_nav_link_label">Tyler A-Z</span>
													</a>
												</div>
											</li>
										</ul>
									</nav>
									<nav class="js-nav js-actions-nav js-actions-nav-lg nav actions_nav actions_nav_lg" aria-labelledby="actions_nav_title_lg">
										<div class="nav_header actions_nav_header">
											<h2 class="nav_title actions_nav_title" id="actions_nav_title_lg">Actions</h2>
										</div>
										<ul class="js-nav-list js-actions-nav-list nav_list actions_nav_list" aria-labelledby="actions_nav_title_lg">
											<li class="js-nav-item js-actions-nav-item js-actions-nav-item-1 nav_item actions_nav_item">
												<div class="nav_item_inner actions_nav_item_inner">
													<a class="js-nav-link js-actions-nav-link nav_link actions_nav_link" href="https://jt.my.vccs.edu/">
														<span class="nav_link_icon actions_nav_link_icon" aria-hidden="true">
															<svg class="icon icon_caret_right">
																<use href="/static-html/images/icons.svg#caret_right" />
															</svg>
														</span>
														<span class="nav_link_label actions_nav_link_label">MyTyler</span>
													</a>
												</div>
											</li>
											<li class="js-nav-item js-actions-nav-item js-actions-nav-item-2 nav_item actions_nav_item">
												<div class="nav_item_inner actions_nav_item_inner">
													<a class="js-nav-link js-actions-nav-link nav_link actions_nav_link" href="/applynow">
														<span class="nav_link_icon actions_nav_link_icon" aria-hidden="true">
															<svg class="icon icon_caret_right">
																<use href="/static-html/images/icons.svg#caret_right" />
															</svg>
														</span>
														<span class="nav_link_label actions_nav_link_label">Apply Now</span>
													</a>
												</div>
											</li>
											<li class="js-nav-item js-actions-nav-item js-actions-nav-item-3 nav_item actions_nav_item">
												<div class="nav_item_inner actions_nav_item_inner">
													<a class="js-nav-link js-actions-nav-link nav_link actions_nav_link" href="/donatenow">
														<span class="nav_link_icon actions_nav_link_icon" aria-hidden="true">
															<svg class="icon icon_caret_right">
																<use href="/static-html/images/icons.svg#caret_right" />
															</svg>
														</span>
														<span class="nav_link_label actions_nav_link_label">Give to Tyler</span>
													</a>
												</div>
											</li>
										</ul>
									</nav>
									<div class="js-audience-group audience_group">
										<button class="js-audience-toggle js-swap audience_toggle "   data-swap-target=".js-audience-group"   data-swap-linked="audience" >
											<span class="audience_toggle_inner_default audience_toggle_inner">
												<span class="audience_toggle_label_default audience_toggle_label">Resources for…</span>
												<span class="audience_toggle_icon_default audience_toggle_icon" aria-hidden="true">
													<span class="audience_toggle_icon_inner_default audience_toggle_icon_inner">
														<span class="audience_toggle_icon_space">&#xfeff;</span>					
														<svg class="icon icon_caret_down">
															<use href="/static-html/images/icons.svg#caret_down" />
														</svg>
												
													</span>
												</span>
											</span>
											<span class="audience_toggle_inner_active audience_toggle_inner">
												<span class="audience_toggle_label_active audience_toggle_label">Resources for…</span>
												<span class="audience_toggle_icon_active audience_toggle_icon" aria-hidden="true">
													<span class="audience_toggle_icon_inner_active audience_toggle_icon_inner">
														<span class="audience_toggle_icon_space">&#xfeff;</span>
														<svg class="icon icon_caret_up">
															<use href="/static-html/images/icons.svg#caret_up" />
														</svg>
													</span>
												</span>
											</span>
										</button>
										<nav class="js-nav js-audience-nav js-audience-nav-lg nav audience_nav audience_nav_lg" aria-labelledby="audience_nav_title_lg">
											<div class="nav_header audience_nav_header">
												<h2 class="nav_title audience_nav_title" id="audience_nav_title_lg">Resources for…</h2>
											</div>
											<ul class="js-nav-list js-audience-nav-list nav_list audience_nav_list" aria-labelledby="audience_nav_title_lg">
												<li class="js-nav-item js-audience-nav-item js-audience-nav-item-1 nav_item audience_nav_item">
													<div class="nav_item_inner audience_nav_item_inner">
														<a class="js-nav-link js-audience-nav-link nav_link audience_nav_link" href="/about/future-students">
															<span class="nav_link_label audience_nav_link_label">Future Students</span>
														</a>
													</div>
												</li>
												<li class="js-nav-item js-audience-nav-item js-audience-nav-item-2 nav_item audience_nav_item">
													<div class="nav_item_inner audience_nav_item_inner">
														<a class="js-nav-link js-audience-nav-link nav_link audience_nav_link" href="/about/current-students">
															<span class="nav_link_label audience_nav_link_label">Current Students</span>
														</a>
													</div>
												</li>
												<li class="js-nav-item js-audience-nav-item js-audience-nav-item-3 nav_item audience_nav_item">
													<div class="nav_item_inner audience_nav_item_inner">
														<a class="js-nav-link js-audience-nav-link nav_link audience_nav_link" href="/about/alumni">
															<span class="nav_link_label audience_nav_link_label">Alumni</span>
														</a>
													</div>
												</li>
												<li class="js-nav-item js-audience-nav-item js-audience-nav-item-4 nav_item audience_nav_item">
													<div class="nav_item_inner audience_nav_item_inner">
														<a class="js-nav-link js-audience-nav-link nav_link audience_nav_link" href="/about/faculty-staff">
															<span class="nav_link_label audience_nav_link_label">Faculty & Staff</span>
														</a>
													</div>
												</li>
											</ul>
										</nav>
									</div><!-- /js-audience-group audience_group -->
								</div><!-- /header_ribbon_row -->
								<div class="header_ribbon_row">
									<nav class="js-nav js-main-nav js-main-nav-lg nav main_nav main_nav_lg" aria-labelledby="main_nav_title_lg">
										<div class="nav_header main_nav_header">
											<h2 class="nav_title main_nav_title" id="main_nav_title_lg">Main</h2>
										</div>
										<ul class="js-nav-list js-main-nav-list nav_list main_nav_list" aria-labelledby="main_nav_title_lg">
											<li class="js-nav-item js-main-nav-item js-main-nav-item-1 nav_item main_nav_item has_children">
												<div class="nav_item_inner main_nav_item_inner">
													<a class="js-nav-link js-main-nav-link nav_link main_nav_link" href="/admissions">
														<span class="nav_link_label main_nav_link_label">Admissions</span>
													</a>
													<button class="js-swap js-nav-toggle js-main-nav-toggle nav_toggle main_nav_toggle" data-swap-target=".js-main-nav-item-1" data-swap-group="main_nav_lg" aria-label="Admissions" aria-haspopup="true" aria-expanded="false">
														<span class="nav_toggle_inner main_nav_toggle_inner">
															<span class="nav_toggle_icon main_nav_toggle_icon">
																<svg class="icon icon_caret_down">
																	<use href="/static-html/images/icons.svg#caret_down" />
																</svg>
															</span>
														</span>
													</button>
												</div>
												<ul class="js-nav-children js-main-nav-children nav_children main_nav_children" aria-label="Admissions">
													<li class="js-nav-child-item js-main-nav-child-item nav_child_item main_nav_child_item">
														<a class="js-nav-child-link js-main-nav-child-link nav_child_link main_nav_child_link" href="/admissions/get-started/">
															<span class="nav_child_link_label main_nav_child_link_label">Get Started</span>
														</a>
													</li>
													<li class="js-nav-child-item js-main-nav-child-item nav_child_item main_nav_child_item">
														<a class="js-nav-child-link js-main-nav-child-link nav_child_link main_nav_child_link" href="/admissions/virtual-info-sessions/">
															<span class="nav_child_link_label main_nav_child_link_label">Virtual Info Sessions</span>
														</a>
													</li>
													<li class="js-nav-child-item js-main-nav-child-item nav_child_item main_nav_child_item">
														<a class="js-nav-child-link js-main-nav-child-link nav_child_link main_nav_child_link" href="/admissions/tours/">
															<span class="nav_child_link_label main_nav_child_link_label">Tour Tyler</span>
														</a>
													</li>
													<li class="js-nav-child-item js-main-nav-child-item nav_child_item main_nav_child_item">
														<a class="js-nav-child-link js-main-nav-child-link nav_child_link main_nav_child_link" href="/majors/">
															<span class="nav_child_link_label main_nav_child_link_label">Majors</span>
														</a>
													</li>
													<li class="js-nav-child-item js-main-nav-child-item nav_child_item main_nav_child_item">
														<a class="js-nav-child-link js-main-nav-child-link nav_child_link main_nav_child_link" href="/admissions/high-school-homeschool/">
															<span class="nav_child_link_label main_nav_child_link_label">High School and Homeschool Programs</span>
														</a>
													</li>
													<li class="js-nav-child-item js-main-nav-child-item nav_child_item main_nav_child_item">
														<a class="js-nav-child-link js-main-nav-child-link nav_child_link main_nav_child_link" href="/admissions/international-students/">
															<span class="nav_child_link_label main_nav_child_link_label">International Students</span>
														</a>
													</li>
													<li class="js-nav-child-item js-main-nav-child-item nav_child_item main_nav_child_item">
														<a class="js-nav-child-link js-main-nav-child-link nav_child_link main_nav_child_link" href="/paying-for-tyler/pay-tuition/military-veterans-educational-benefits">
															<span class="nav_child_link_label main_nav_child_link_label">Military & Veterans Educational Benefits</span>
														</a>
													</li>	
													<li class="js-nav-child-item js-main-nav-child-item nav_child_item main_nav_child_item">
														<a class="js-nav-child-link js-main-nav-child-link nav_child_link main_nav_child_link" href="/admissions/great-expectations/">
															<span class="nav_child_link_label main_nav_child_link_label">Great Expectations</span>
														</a>
													</li>										
													<li class="js-nav-child-item js-main-nav-child-item nav_child_item main_nav_child_item">
														<a class="js-nav-child-link js-main-nav-child-link nav_child_link main_nav_child_link" href="/admissions/admissions-and-records/">
															<span class="nav_child_link_label main_nav_child_link_label">Admissions & Records</span>
														</a>
													</li>
												</ul>
											</li>
											<li class="js-nav-item js-main-nav-item js-main-nav-item-2 nav_item main_nav_item has_children">
												<div class="nav_item_inner main_nav_item_inner">
													<a class="js-nav-link js-main-nav-link nav_link main_nav_link" href="/academics">
														<span class="nav_link_label main_nav_link_label">Academics & Programs</span>
													</a>
													<button class="js-swap js-nav-toggle js-main-nav-toggle nav_toggle main_nav_toggle" data-swap-target=".js-main-nav-item-2" data-swap-group="main_nav_lg" aria-label="Academics & Programs" aria-haspopup="true" aria-expanded="false">
														<span class="nav_toggle_inner main_nav_toggle_inner">
															<span class="nav_toggle_icon main_nav_toggle_icon">
																<svg class="icon icon_caret_down">
																	<use href="/static-html/images/icons.svg#caret_down" />
																</svg>
															</span>
														</span>
													</button>
												</div>
												<ul class="js-nav-children js-main-nav-children nav_children main_nav_children" aria-label="Academics & Programs">
													<li class="js-nav-child-item js-main-nav-child-item nav_child_item main_nav_child_item">
														<a class="js-nav-child-link js-main-nav-child-link nav_child_link main_nav_child_link" href="/majors/">
															<span class="nav_child_link_label main_nav_child_link_label">Majors</span>
														</a>
													</li>
													<li class="js-nav-child-item js-main-nav-child-item nav_child_item main_nav_child_item">
														<a class="js-nav-child-link js-main-nav-child-link nav_child_link main_nav_child_link" href="/academics/career-clusters/">
															<span class="nav_child_link_label main_nav_child_link_label">Career Clusters</span>
														</a>
													</li>
													<li class="js-nav-child-item js-main-nav-child-item nav_child_item main_nav_child_item">
														<a class="js-nav-child-link js-main-nav-child-link nav_child_link main_nav_child_link" href="/academics/declaring-a-major/">
															<span class="nav_child_link_label main_nav_child_link_label">Declaring a Major</span>
														</a>
													</li>
													<li class="js-nav-child-item js-main-nav-child-item nav_child_item main_nav_child_item">
														<a class="js-nav-child-link js-main-nav-child-link nav_child_link main_nav_child_link" href="/academics/register/">
															<span class="nav_child_link_label main_nav_child_link_label">Register for Classes</span>
														</a>
													</li>
													<li class="js-nav-child-item js-main-nav-child-item nav_child_item main_nav_child_item">
														<a class="js-nav-child-link js-main-nav-child-link nav_child_link main_nav_child_link" href="/academics/transfer/">
															<span class="nav_child_link_label main_nav_child_link_label">Transfer</span>
														</a>
													</li>
													<li class="js-nav-child-item js-main-nav-child-item nav_child_item main_nav_child_item">
														<a class="js-nav-child-link js-main-nav-child-link nav_child_link main_nav_child_link" href="/academics/online-learning/">
															<span class="nav_child_link_label main_nav_child_link_label">Online Learning</span>
														</a>
													</li>
													<li class="js-nav-child-item js-main-nav-child-item nav_child_item main_nav_child_item">
														<a class="js-nav-child-link js-main-nav-child-link nav_child_link main_nav_child_link" href="/academics/division-offices/">
															<span class="nav_child_link_label main_nav_child_link_label">Division Offices</span>
														</a>
													</li>
													<li class="js-nav-child-item js-main-nav-child-item nav_child_item main_nav_child_item">
														<a class="js-nav-child-link js-main-nav-child-link nav_child_link main_nav_child_link" href="/academics/exam-schedule/">
															<span class="nav_child_link_label main_nav_child_link_label">Exam Schedule</span>
														</a>
													</li>
													<li class="js-nav-child-item js-main-nav-child-item nav_child_item main_nav_child_item">
														<a class="js-nav-child-link js-main-nav-child-link nav_child_link main_nav_child_link" href="/schedule/">
															<span class="nav_child_link_label main_nav_child_link_label">Schedule</span>
														</a>
													</li>
													<li class="js-nav-child-item js-main-nav-child-item nav_child_item main_nav_child_item">
														<a class="js-nav-child-link js-main-nav-child-link nav_child_link main_nav_child_link" href="/academics/academic-calendar/">
															<span class="nav_child_link_label main_nav_child_link_label">Academic Calendar</span>
														</a>
													</li>
													<li class="js-nav-child-item js-main-nav-child-item nav_child_item main_nav_child_item">
														<a class="js-nav-child-link js-main-nav-child-link nav_child_link main_nav_child_link" href="https://catalog.jtcc.edu/">
															<span class="nav_child_link_label main_nav_child_link_label">Catalog & Student Handbook</span>
														</a>
													</li>											
													<li class="js-nav-child-item js-main-nav-child-item nav_child_item main_nav_child_item">
														<a class="js-nav-child-link js-main-nav-child-link nav_child_link main_nav_child_link" href="/academics/study-abroad/">
															<span class="nav_child_link_label main_nav_child_link_label">Study Abroad</span>
														</a>
													</li>											
													<li class="js-nav-child-item js-main-nav-child-item nav_child_item main_nav_child_item">
														<a class="js-nav-child-link js-main-nav-child-link nav_child_link main_nav_child_link" href="/academics/drop-withdraw-request-to-repeat/">
															<span class="nav_child_link_label main_nav_child_link_label">Drop, Withdraw, Request to Repeat</span>
														</a>
													</li>
													<li class="js-nav-child-item js-main-nav-child-item nav_child_item main_nav_child_item">
														<a class="js-nav-child-link js-main-nav-child-link nav_child_link main_nav_child_link" href="/academics/beginning-coursework/">
															<span class="nav_child_link_label main_nav_child_link_label">Beginning Coursework</span>
														</a>
													</li>
												</ul>
											</li>
											<li class="js-nav-item js-main-nav-item js-main-nav-item-3 nav_item main_nav_item has_children">
												<div class="nav_item_inner main_nav_item_inner">
													<a class="js-nav-link js-main-nav-link nav_link main_nav_link" href="/training-workforce/">
														<span class="nav_link_label main_nav_link_label">Training & Workforce</span>
													</a>
													<button class="js-swap js-nav-toggle js-main-nav-toggle nav_toggle main_nav_toggle" data-swap-target=".js-main-nav-item-3" data-swap-group="main_nav_lg" aria-label="Training & Workforce" aria-haspopup="true" aria-expanded="false">
														<span class="nav_toggle_inner main_nav_toggle_inner">
															<span class="nav_toggle_icon main_nav_toggle_icon">
																<svg class="icon icon_caret_down">
																	<use href="/static-html/images/icons.svg#caret_down" />
																</svg>
															</span>
														</span>
													</button>
												</div>
												<ul class="js-nav-children js-main-nav-children nav_children main_nav_children" aria-label="Tyler: Good for Business">
													<li class="js-nav-child-item js-main-nav-child-item nav_child_item main_nav_child_item">
														<a class="js-nav-child-link js-main-nav-child-link nav_child_link main_nav_child_link" href="/training-workforce/tyler-good-for-business/">
															<span class="nav_child_link_label main_nav_child_link_label">Tyler: Good for Business</span>
														</a>
													</li>
													<li class="js-nav-child-item js-main-nav-child-item nav_child_item main_nav_child_item">
														<a class="js-nav-child-link js-main-nav-child-link nav_child_link main_nav_child_link" href="/training-workforce/training/">
															<span class="nav_child_link_label main_nav_child_link_label">Career Training Programs</span>
														</a>
													</li>
													<li class="js-nav-child-item js-main-nav-child-item nav_child_item main_nav_child_item">
														<a class="js-nav-child-link js-main-nav-child-link nav_child_link main_nav_child_link" href="/training-workforce/career-and-education-consortium/">
															<span class="nav_child_link_label main_nav_child_link_label">Career and Education Consortium</span>
														</a>
													</li>
												</ul>
											</li>
											<li class="js-nav-item js-main-nav-item js-main-nav-item-4 nav_item main_nav_item has_children">
												<div class="nav_item_inner main_nav_item_inner">
													<a class="js-nav-link js-main-nav-link nav_link main_nav_link" href="/paying-for-tyler">
														<span class="nav_link_label main_nav_link_label">Paying for Tyler</span>
													</a>
													<button class="js-swap js-nav-toggle js-main-nav-toggle nav_toggle main_nav_toggle" data-swap-target=".js-main-nav-item-4" data-swap-group="main_nav_lg" aria-label="Paying for Tyler" aria-haspopup="true" aria-expanded="false">
														<span class="nav_toggle_inner main_nav_toggle_inner">
															<span class="nav_toggle_icon main_nav_toggle_icon">
																<svg class="icon icon_caret_down">
																	<use href="/static-html/images/icons.svg#caret_down" />
																</svg>
															</span>
														</span>
													</button>
												</div>
												<ul class="js-nav-children js-main-nav-children nav_children main_nav_children" aria-label="Paying for Tyler">
													<li class="js-nav-child-item js-main-nav-child-item nav_child_item main_nav_child_item">
														<a class="js-nav-child-link js-main-nav-child-link nav_child_link main_nav_child_link" href="/paying-for-tyler/tuition-and-fees/">
															<span class="nav_child_link_label main_nav_child_link_label">Tuition and Fees</span>
														</a>
													</li>
													<li class="js-nav-child-item js-main-nav-child-item nav_child_item main_nav_child_item">
														<a class="js-nav-child-link js-main-nav-child-link nav_child_link main_nav_child_link" href="/paying-for-tyler/pay-tuition/">
															<span class="nav_child_link_label main_nav_child_link_label">Pay Your Tuition</span>
														</a>
													</li>
													<li class="js-nav-child-item js-main-nav-child-item nav_child_item main_nav_child_item">
														<a class="js-nav-child-link js-main-nav-child-link nav_child_link main_nav_child_link" href="/paying-for-tyler/financial-aid/">
															<span class="nav_child_link_label main_nav_child_link_label">Financial Aid</span>
														</a>
													</li>
                                                    <li class="js-nav-child-item js-main-nav-child-item nav_child_item main_nav_child_item">
														<a class="js-nav-child-link js-main-nav-child-link nav_child_link main_nav_child_link" href="/paying-for-tyler/pay-tuition/cashiers-office/">
															<span class="nav_child_link_label main_nav_child_link_label">Cashier's Office</span>
														</a>
													</li>
												</ul>
											</li>
											<li class="js-nav-item js-main-nav-item js-main-nav-item-5 nav_item main_nav_item has_children">
												<div class="nav_item_inner main_nav_item_inner">
													<a class="js-nav-link js-main-nav-link nav_link main_nav_link" href="/services">
														<span class="nav_link_label main_nav_link_label">Services</span>
													</a>
													<button class="js-swap js-nav-toggle js-main-nav-toggle nav_toggle main_nav_toggle" data-swap-target=".js-main-nav-item-5" data-swap-group="main_nav_lg" aria-label="Services" aria-haspopup="true" aria-expanded="false">
														<span class="nav_toggle_inner main_nav_toggle_inner">
															<span class="nav_toggle_icon main_nav_toggle_icon">
																<svg class="icon icon_caret_down">
																	<use href="/static-html/images/icons.svg#caret_down" />
																</svg>
															</span>
														</span>
													</button>
												</div>
												<ul class="js-nav-children js-main-nav-children nav_children main_nav_children" aria-label="Services">
													<li class="js-nav-child-item js-main-nav-child-item nav_child_item main_nav_child_item">
														<a class="js-nav-child-link js-main-nav-child-link nav_child_link main_nav_child_link" href="/admissions/admissions-and-records/">
															<span class="nav_child_link_label main_nav_child_link_label">Admissions & Records</span>
														</a>
													</li>
													<li class="js-nav-child-item js-main-nav-child-item nav_child_item main_nav_child_item">
														<a class="js-nav-child-link js-main-nav-child-link nav_child_link main_nav_child_link" href="/services/advising/">
															<span class="nav_child_link_label main_nav_child_link_label">Advising</span>
														</a>
													</li>
													<li class="js-nav-child-item js-main-nav-child-item nav_child_item main_nav_child_item">
														<a class="js-nav-child-link js-main-nav-child-link nav_child_link main_nav_child_link" href="/services/bookstore/">
															<span class="nav_child_link_label main_nav_child_link_label">Bookstore</span>
														</a>
													</li>
													<li class="js-nav-child-item js-main-nav-child-item nav_child_item main_nav_child_item">
														<a class="js-nav-child-link js-main-nav-child-link nav_child_link main_nav_child_link" href="/services/career-services/">
															<span class="nav_child_link_label main_nav_child_link_label">Career Services</span>
														</a>
													</li>
													<li class="js-nav-child-item js-main-nav-child-item nav_child_item main_nav_child_item">
														<a class="js-nav-child-link js-main-nav-child-link nav_child_link main_nav_child_link" href="/services/disability-support-services/">
															<span class="nav_child_link_label main_nav_child_link_label">Disability Support Services</span>
														</a>
													</li>
													<li class="js-nav-child-item js-main-nav-child-item nav_child_item main_nav_child_item">
														<a class="js-nav-child-link js-main-nav-child-link nav_child_link main_nav_child_link" href="/services/graduation/">
															<span class="nav_child_link_label main_nav_child_link_label">Graduation</span>
														</a>
													</li>
													<li class="js-nav-child-item js-main-nav-child-item nav_child_item main_nav_child_item">
														<a class="js-nav-child-link js-main-nav-child-link nav_child_link main_nav_child_link" href="/services/help-hub/">
															<span class="nav_child_link_label main_nav_child_link_label">Help Hub</span>
														</a>
													</li>
													<li class="js-nav-child-item js-main-nav-child-item nav_child_item main_nav_child_item">
														<a class="js-nav-child-link js-main-nav-child-link nav_child_link main_nav_child_link" href="/library/">
															<span class="nav_child_link_label main_nav_child_link_label">Library</span>
														</a>
													</li>
													<li class="js-nav-child-item js-main-nav-child-item nav_child_item main_nav_child_item">
														<a class="js-nav-child-link js-main-nav-child-link nav_child_link main_nav_child_link" href="/services/military-veterans-education-office/">
															<span class="nav_child_link_label main_nav_child_link_label">Military & Veterans Education Office</span>
														</a>
													</li>
													<li class="js-nav-child-item js-main-nav-child-item nav_child_item main_nav_child_item">
														<a class="js-nav-child-link js-main-nav-child-link nav_child_link main_nav_child_link" href="/services/student-activities/">
															<span class="nav_child_link_label main_nav_child_link_label">Student Activities</span>
														</a>
													</li>
													<li class="js-nav-child-item js-main-nav-child-item nav_child_item main_nav_child_item">
														<a class="js-nav-child-link js-main-nav-child-link nav_child_link main_nav_child_link" href="/services/student-support/">
															<span class="nav_child_link_label main_nav_child_link_label">Student Support</span>
														</a>
													</li>
													<li class="js-nav-child-item js-main-nav-child-item nav_child_item main_nav_child_item">
														<a class="js-nav-child-link js-main-nav-child-link nav_child_link main_nav_child_link" href="/services/technology-support/">
															<span class="nav_child_link_label main_nav_child_link_label">Technology Support</span>
														</a>
													</li>											
													<li class="js-nav-child-item js-main-nav-child-item nav_child_item main_nav_child_item">
														<a class="js-nav-child-link js-main-nav-child-link nav_child_link main_nav_child_link" href="/services/testing-center/">
															<span class="nav_child_link_label main_nav_child_link_label">Testing Center</span>
														</a>
													</li>
													<li class="js-nav-child-item js-main-nav-child-item nav_child_item main_nav_child_item">
														<a class="js-nav-child-link js-main-nav-child-link nav_child_link main_nav_child_link" href="/services/tutoring/">
															<span class="nav_child_link_label main_nav_child_link_label">Tutoring</span>
														</a>
													</li>
												</ul>
											</li>
										</ul>
									</nav>
									<div class="header_ribbon_search">
										<button class="js-search-toggle js-swap search_toggle "   data-swap-target=".site_search_header"  >
											<span class="search_toggle_inner_default search_toggle_inner">
												<span class="search_toggle_label_default search_toggle_label">Search</span>
												<span class="search_toggle_icon_default search_toggle_icon" aria-hidden="true">
													<span class="search_toggle_icon_inner_default search_toggle_icon_inner">
														<span class="search_toggle_icon_space">&#xfeff;</span>	
														<svg class="icon icon_search">
															<use href="/static-html/images/icons.svg#search" />
														</svg>
													</span>
												</span>
											</span>
											<span class="search_toggle_inner_active search_toggle_inner">
												<span class="search_toggle_label_active search_toggle_label">Close</span>
												<span class="search_toggle_icon_active search_toggle_icon" aria-hidden="true">
													<span class="search_toggle_icon_inner_active search_toggle_icon_inner">
														<span class="search_toggle_icon_space">&#xfeff;</span>
														<svg class="icon icon_close">
																<use href="/static-html/images/icons.svg#close" />
															</svg>							
														</span>
													</span>
												</span>
										</button>
										<div class="js-site-search site_search site_search_header" id="site_search_header" role="search" itemscope itemtype="https://schema.org/WebSite" aria-label="Site Search">
											<meta itemprop="url" content="https://dev.jtcc.edu">
											{!--<form class="site_search_form" action="/static-html/templates/page-search.html" itemprop="potentialAction" itemscope itemtype="http://schema.org/SearchAction">
												<meta itemprop="target" content="http:///static-html/templates/page-search.html?q={q}">--}
											<form class="site_search_form" action="/search/" itemprop="potentialAction" itemscope itemtype="http://schema.org/SearchAction">
												<meta itemprop="target" content="/search/?q={q}">
												<label class="js-site-search-label site_search_label" for="search_string__header">Search</label>
												<div class="site_search_field">
													<input class="js-site-search-input site_search_input" itemprop="query-input" type="search" id="search_string__header" name="q"  placeholder="Search by keyword"  required>
													<button class="site_search_button" type="submit" >
														<span class="site_search_button_label">Submit</span>
														<span class="site_search_button_icon">
															<svg class="icon icon_search">
																<use href="/static-html/images/icons.svg#search" />
															</svg>
														</span>
													</button>
												</div>
											</form>
										</div><!-- /js-site-search site_search site_search_header -->
									</div><!-- /header_ribbon_search -->
								</div><!-- /header_ribbon_row -->
							</div><!-- /header_ribbon_group header_ribbon_group_navigation -->
							<div class="header_controls">
								<a href="#menu" class="menu_toggle js-menu-toggle js-swap"   data-swap-target=".menu"   data-swap-linked="menu" >
									<span class="menu_toggle_inner_default menu_toggle_inner">
										<span class="menu_toggle_label_default menu_toggle_label">Menu</span>
										<span class="menu_toggle_icon_default menu_toggle_icon" aria-hidden="true">
											<span class="menu_toggle_icon_inner_default menu_toggle_icon_inner">
												<span class="menu_toggle_icon_space">&#xfeff;</span>		
												<svg class="icon icon_menu">
													<use href="/static-html/images/icons.svg#menu" />
												</svg>
											</span>
										</span>
									</span>
									<span class="menu_toggle_inner_active menu_toggle_inner">
										<span class="menu_toggle_label_active menu_toggle_label">Close</span>
										<span class="menu_toggle_icon_active menu_toggle_icon" aria-hidden="true">
											<span class="menu_toggle_icon_inner_active menu_toggle_icon_inner">
												<span class="menu_toggle_icon_space">&#xfeff;</span>		
												<svg class="icon icon_close">
													<use href="/static-html/images/icons.svg#close" />
												</svg>
											</span>
										</span>
									</span>
								</a>
							</div><!-- /header_controls -->
						</div><!-- /fs-cell -->
					</div><!-- fs-row -->
				</div><!-- /header_ribbon -->
			</div><!-- /header -->
		</header>
		<!-- END: Header -->