<!-- Script that converts the query string into valid parameter -->
<script type="text/javascript">
    function searchPrimo() {
        document.getElementById("primoQuery").value = "any,contains," + document.getElementById("primoQueryTemp").value.replace(/[,]/g, " ");
        document.forms["searchForm"].submit();
    }
</script>

<div class="featured_programs">
        <div class="featured_programs_inner">
            <div class="featured_programs_header">
                <!--<div class="js-background featured_programs_header_background" data-background-options='{"source": { "1220px": "//images.fastspot.com/jtcc/1440x1080/18", "740px": "//images.fastspot.com/jtcc/814x1220/18", "500px": "//images.fastspot.com/jtcc/980x654/18", "0px": "//images.fastspot.com/jtcc/494x740/18", "980px": "//images.fastspot.com/jtcc/915x1220/18"}, "lazy": true, "alt": ""}' aria-hidden="true">
                    <div class="featured_programs_header_background_fallback" style="background-image: url(' //images.fastspot.com/jtcc/300x129/18');"></div>
                </div>
                <h2 class="featured_programs_title">
                    <span class="featured_programs_title_group featured_programs_title_group_primary">
                        <span class="featured_programs_title_label featured_programs_title_label_primary">What do <strong>you</strong></span>
                    </span>
                    <span class="featured_programs_title_group featured_programs_title_group_secondary">
                        <span class="featured_programs_title_label featured_programs_title_label_secondary">Want to study?</span>
                    </span>
                </h2>-->
                <form class="featured_programs_form" id="simple" name="searchForm" method="get" target="_self" action="https://vcc-jtc-primo.hosted.exlibrisgroup.com/primo-explore/search" enctype="application/x-www-form-urlencoded; charset=utf-8" onsubmit="searchPrimo()">
                    <div class="featured_programs_input_wrapper">
                        <input class="featured_programs_input" id="primoQueryTemp" type="search" placeholder="Find articles, journals, books, media, and more" aria-label="library_search">
                    </div>
                            <input type="hidden" name="XID" value="{XID_HASH}">
                            <!-- Customizable Parameters -->
                            <input type="hidden" name="institution" value="01VCC_JTC">
                            <input type="hidden" name="vid" value="JTCC">
                            <input type="hidden" name="tab" value="default_tab">
                            <input type="hidden" name="search_scope" value="EVERYTHING">
                            <input type="hidden" name="mode" value="Basic">
                            <!-- Fixed parameters -->
                            <input type="hidden" name="displayMode" value="full">
                            <input type="hidden" name="bulkSize" value="10">
                            <input type="hidden" name="highlight" value="true">
                            <input type="hidden" name="dum" value="true">
                            <input type="hidden" name="query" id="primoQuery">
                            <input type="hidden" name="displayField" value="all">
                            <!-- Enable this if "Expand My Results" is enabled by default in Views Wizard -->
                            <input type="hidden" name="pcAvailabiltyMode" value="true">
                    <button class="featured_programs_submit">
                        <span class="featured_programs_submit_label">Search</span>
                        <span class="featured_programs_submit_icon">
                            <svg class="icon icon_search">
                                <use href="/images/icons.svg#search" />
                            </svg>
                        </span>
                    </button>
                </form>
            </div>
        </div>
    </div>