	{main_content:media_grid_vertical}
		{content}
<div class="collage layout_vertical_only">
	<div class="fs-row">
		<div class="fs-cell">
			<div class="collage_inner">
				<div class="collage_header">
					<h2 class="collage_title">{content:title}</h2>
				</div>
				<div class="collage_rows">
					<div class="collage_items">
						<div class="collage_item">
							{content:image1}
							<figure class="collage_item_figure">
								<span class="collage_item_media">
									<span class="lazy_image_wrapper collage_item_image_wrapper">
										<img class="js-lazy collage_item_image lazyautosizes js-lazyloaded" data-sizes="auto" src='{img:url:resize width="375" height="500"}' data-src='{img:url:resize width="375" height="500"}' data-srcset='{img:url:resize width="375" height="500"} 375w, {img:url:resize width="555" height="740"} 555w, {img:url:resize width="735" height="980"} 735w' alt="{img:title}" sizes="402px" srcset='{img:url:resize width="375" height="500"} 375w, {img:url:resize width="555" height="740"} 555w, {img:url:resize width="735" height="980"} 735w'>
									</span>
									<noscript>
										<img class="collage_item_image" src='{img:url:resize width="735" height="980"}'  srcset='{img:url:resize width="735" height="980"} 735w, {img:url:resize width="555" height="740"} 555w, {img:url:resize width="375" height="500"} 375w' sizes="100vw"  alt="{img:title}" >
									</noscript>
								</span>
								{if img:caption}
								<figcaption class="collage_item_figcaption">
								<span class="collage_item_figcaption_inner">{img:caption}</span>
							</figcaption>
							{/if}
							</figure>
							{/content:image1}
						</div>
						<div class="collage_item">
							{content:image2}
							<figure class="collage_item_figure">
								<span class="collage_item_media">
									<span class="lazy_image_wrapper collage_item_image_wrapper">
										<img class="js-lazy collage_item_image lazyautosizes js-lazyloaded" data-sizes="auto" src='{img:url:resize width="375" height="500"}' data-src='{img:url:resize width="375" height="500"}' data-srcset='{img:url:resize width="375" height="500"} 375w, {img:url:resize width="555" height="740"} 555w, {img:url:resize width="735" height="980"} 735w' alt="{img:title}" sizes="402px" srcset='{img:url:resize width="375" height="500"} 375w, {img:url:resize width="555" height="740"} 555w, {img:url:resize width="735" height="980"} 735w'>
									</span>
									<noscript>
										<img class="collage_item_image" src='{img:url:resize width="735" height="980"}'  srcset='{img:url:resize width="735" height="980"} 735w, {img:url:resize width="555" height="740"} 555w, {img:url:resize width="375" height="500"} 375w' sizes="100vw"  alt="{img:title}" >
									</noscript>
								</span>
								{if img:caption}
								<figcaption class="collage_item_figcaption">
								<span class="collage_item_figcaption_inner">{img:caption}</span>
							</figcaption>
							{/if}
							</figure>
							{/content:image2}
						</div>
						<div class="collage_item">
							{content:image3}
							<figure class="collage_item_figure">
								<span class="collage_item_media">
									<span class="lazy_image_wrapper collage_item_image_wrapper">
										<img class="js-lazy collage_item_image lazyautosizes js-lazyloaded" data-sizes="auto" src='{img:url:resize width="375" height="500"}' data-src='{img:url:resize width="375" height="500"}' data-srcset='{img:url:resize width="375" height="500"} 375w, {img:url:resize width="555" height="740"} 555w, {img:url:resize width="735" height="980"} 735w' alt="{img:title}" sizes="402px" srcset='{img:url:resize width="375" height="500"} 375w, {img:url:resize width="555" height="740"} 555w, {img:url:resize width="735" height="980"} 735w'>
									</span>
									<noscript>
										<img class="collage_item_image" src='{img:url:resize width="735" height="980"}'  srcset='{img:url:resize width="735" height="980"} 735w, {img:url:resize width="555" height="740"} 555w, {img:url:resize width="375" height="500"} 375w' sizes="100vw"  alt="{img:title}" >
									</noscript>
								</span>
								{if img:caption}
								<figcaption class="collage_item_figcaption">
								<span class="collage_item_figcaption_inner">{img:caption}</span>
							</figcaption>
							{/if}
							</figure>
							{/content:image3}
						</div><!-- /collage_item -->
					</div>
					<div class="collage_items">
						<div class="collage_item">
							{content:image4}
							<figure class="collage_item_figure">
								<span class="collage_item_media">
									<span class="lazy_image_wrapper collage_item_image_wrapper">
										<img class="js-lazy collage_item_image lazyautosizes js-lazyloaded" data-sizes="auto" src='{img:url:resize width="375" height="500"}' data-src='{img:url:resize width="375" height="500"}' data-srcset='{img:url:resize width="375" height="500"} 375w, {img:url:resize width="555" height="740"} 555w, {img:url:resize width="735" height="980"} 735w' alt="{img:title}" sizes="402px" srcset='{img:url:resize width="375" height="500"} 375w, {img:url:resize width="555" height="740"} 555w, {img:url:resize width="735" height="980"} 735w'>
									</span>
									<noscript>
										<img class="collage_item_image" src='{img:url:resize width="735" height="980"}'  srcset='{img:url:resize width="735" height="980"} 735w, {img:url:resize width="555" height="740"} 555w, {img:url:resize width="375" height="500"} 375w' sizes="100vw"  alt="{img:title}" >
									</noscript>
								</span>
								{if img:caption}
								<figcaption class="collage_item_figcaption">
								<span class="collage_item_figcaption_inner">{img:caption}</span>
							</figcaption>
							{/if}
							</figure>
							{/content:image4}
						</div>
						<div class="collage_item">
							{content:image5}
							<figure class="collage_item_figure">
								<span class="collage_item_media">
									<span class="lazy_image_wrapper collage_item_image_wrapper">
										<img class="js-lazy collage_item_image lazyautosizes js-lazyloaded" data-sizes="auto" src='{img:url:resize width="375" height="500"}' data-src='{img:url:resize width="375" height="500"}' data-srcset='{img:url:resize width="375" height="500"} 375w, {img:url:resize width="555" height="740"} 555w, {img:url:resize width="735" height="980"} 735w' alt="{img:title}" sizes="402px" srcset='{img:url:resize width="375" height="500"} 375w, {img:url:resize width="555" height="740"} 555w, {img:url:resize width="735" height="980"} 735w'>
									</span>
									<noscript>
										<img class="collage_item_image" src='{img:url:resize width="735" height="980"}'  srcset='{img:url:resize width="735" height="980"} 735w, {img:url:resize width="555" height="740"} 555w, {img:url:resize width="375" height="500"} 375w' sizes="100vw"  alt="{img:title}" >
									</noscript>
								</span>
								{if img:caption}
								<figcaption class="collage_item_figcaption">
								<span class="collage_item_figcaption_inner">{img:caption}</span>
							</figcaption>
							{/if}
							</figure>
							{/content:image5}
						</div><!-- /collage_item -->
					</div><!-- /collage_items -->
				</div><!-- /collage_rows -->		
			</div><!-- /collage_inner -->
		</div><!-- /fs-cell -->
	</div><!-- /fs-row --> 
</div><!-- /collage layout_vertical_only -->
{/content}
	{/main_content:media_grid_vertical}