	{main_content:media_grid}
		{content}
		<div class="collage {if content:layout == 'layout_flipped'}layout_unbalanced{/if} {content:layout}">
	<div class="fs-row">
		<div class="fs-cell">
			<div class="collage_inner">
				<div class="collage_header">
					<h2 class="collage_title">{content:title}</h2>
				</div>
				

					{if content:layout == "layout_equal"}
					<div class="collage_rows">
						<div class="collage_items">
							<div class="collage_item">
								{content:image1}
								<figure class="collage_item_figure">
									<span class="collage_item_media">
										<span class="lazy_image_wrapper collage_item_image_wrapper">
											<img class="js-lazy collage_item_image lazyautosizes js-lazyloaded" data-sizes="auto" src='{img:url:resize width="500" height="282"}' data-src='{img:url:resize width="500" height="282"}' data-srcset='{img:url:resize width="500" height="282"} 500w, {img:url:resize width="740" height="416"} 740w, {img:url:resize width="980" height="552"} 980w' alt="{img:title}" sizes="632px" srcset='{img:url:resize width="500" height="282"} 500w, {img:url:resize width="740" height="416"} 740w, {img:url:resize width="980" height="552"} 980w'>
										</span>
										<noscript>
											<img class="collage_item_image" src='{img:url:resize width="980" height="552"}'  srcset='{img:url:resize width="980" height="552"} 980w, {img:url:resize width="740" height="416"} 740w, {img:url:resize width="500" height="282"} 500w' sizes="100vw"  alt="{img:title}" >
										</noscript>
									</span>
									{if img:caption}
									<figcaption class="collage_item_figcaption">
									<span class="collage_item_figcaption_inner">{img:caption}</span>
								</figcaption>
								{/if}
								</figure>
								{/content:image1}
							</div>
							<div class="collage_item">
								{content:image2}
								<figure class="collage_item_figure">
									<span class="collage_item_media">
										<span class="lazy_image_wrapper collage_item_image_wrapper">
											<img class="js-lazy collage_item_image lazyautosizes js-lazyloaded" data-sizes="auto" src='{img:url:resize width="500" height="282"}' data-src='{img:url:resize width="500" height="282"}' data-srcset='{img:url:resize width="500" height="282"} 500w, {img:url:resize width="740" height="416"} 740w, {img:url:resize width="980" height="552"} 980w' alt="{img:title}" sizes="632px" srcset='{img:url:resize width="500" height="282"} 500w, {img:url:resize width="740" height="416"} 740w, {img:url:resize width="980" height="552"} 980w'>
										</span>
										<noscript>
											<img class="collage_item_image" src='{img:url:resize width="980" height="552"}'  srcset='{img:url:resize width="980" height="552"} 980w, {img:url:resize width="740" height="416"} 740w, {img:url:resize width="500" height="282"} 500w' sizes="100vw"  alt="{img:title}" >
										</noscript>
									</span>
									{if img:caption}
									<figcaption class="collage_item_figcaption">
									<span class="collage_item_figcaption_inner">{img:caption}</span>
								</figcaption>
								{/if}
								</figure>
								{/content:image2}
							</div>
						</div>
						<div class="collage_items">
							<div class="collage_item">
								{content:image4}
								<figure class="collage_item_figure">
									<span class="collage_item_media">
										<span class="lazy_image_wrapper collage_item_image_wrapper">
											<img class="js-lazy collage_item_image lazyautosizes js-lazyloaded" data-sizes="auto" src='{img:url:resize width="500" height="282"}' data-src='{img:url:resize width="500" height="282"}' data-srcset='{img:url:resize width="500" height="282"} 500w, {img:url:resize width="740" height="416"} 740w, {img:url:resize width="980" height="552"} 980w' alt="{img:title}" sizes="632px" srcset='{img:url:resize width="500" height="282"} 500w, {img:url:resize width="740" height="416"} 740w, {img:url:resize width="980" height="552"} 980w'>
										</span>
										<noscript>
											<img class="collage_item_image" src='{img:url:resize width="980" height="552"}'  srcset='{img:url:resize width="980" height="552"} 980w, {img:url:resize width="740" height="416"} 740w, {img:url:resize width="500" height="282"} 500w' sizes="100vw"  alt="{img:title}" >
										</noscript>
									</span>
									{if img:caption}
									<figcaption class="collage_item_figcaption">
									<span class="collage_item_figcaption_inner">{img:caption}</span>
								</figcaption>
								{/if}
								</figure>
								{/content:image4}
							</div>
							<div class="collage_item">
								{content:image3}
								<figure class="collage_item_figure">
									<span class="collage_item_media">
										<span class="lazy_image_wrapper collage_item_image_wrapper">
											<img class="js-lazy collage_item_image lazyautosizes js-lazyloaded" data-sizes="auto" src='{img:url:resize width="500" height="282"}' data-src='{img:url:resize width="500" height="282"}' data-srcset='{img:url:resize width="500" height="282"} 500w, {img:url:resize width="740" height="416"} 740w, {img:url:resize width="980" height="552"} 980w' alt="{img:title}" sizes="632px" srcset='{img:url:resize width="500" height="282"} 500w, {img:url:resize width="740" height="416"} 740w, {img:url:resize width="980" height="552"} 980w'>
										</span>
										<noscript>
											<img class="collage_item_image" src='{img:url:resize width="980" height="552"}'  srcset='{img:url:resize width="980" height="552"} 980w, {img:url:resize width="740" height="416"} 740w, {img:url:resize width="500" height="282"} 500w' sizes="100vw"  alt="{img:title}" >
										</noscript>
									</span>
									{if img:caption}
									<figcaption class="collage_item_figcaption">
									<span class="collage_item_figcaption_inner">{img:caption}</span>
								</figcaption>
								{/if}
								</figure>
								{/content:image3}
							</div>
						</div>
					</div>
					{if:elseif content:layout == "layout_flipped"}
						<div class="collage_rows">
	<div class="collage_items">
		<div class="collage_item">
			{content:image1}
			<figure class="collage_item_figure">
				<span class="collage_item_media">				
					<span class="lazy_image_wrapper collage_item_image_wrapper">
						<img class="js-lazy collage_item_image lazyautosizes js-lazyloaded" data-sizes="auto" src='{img:url:resize width="500" height="282"}' data-src='{img:url:resize width="500" height="282"}' data-srcset='{img:url:resize width="500" height="282"} 500w, {img:url:resize width="740" height="416"} 740w, {img:url:resize width="980" height="552"} 980w' alt="{img:title}" sizes="921px" srcset='{img:url:resize width="500" height="282"} 500w, {img:url:resize width="740" height="416"} 740w, {img:url:resize width="980" height="552"} 980w'>
					</span>
					<noscript>
					<img class="collage_item_image" src='{img:url:resize width="980" height="552"}'  srcset='{img:url:resize width="980" height="552"} 980w, {img:url:resize width="740" height="416"} 740w, {img:url:resize width="500" height="282"} 500w' sizes="100vw"  alt="{img:title}" >
											</noscript>														
										</span>
										{if img:caption}
									<figcaption class="collage_item_figcaption">
									<span class="collage_item_figcaption_inner">{img:caption}</span>
								</figcaption>
								{/if}
									</figure>
									{/content:image1}
								</div>
								<div class="collage_item">
									{content:image2}
									<figure class="collage_item_figure">
										<span class="collage_item_media">											<span class="lazy_image_wrapper collage_item_image_wrapper">
												<img class="js-lazy collage_item_image lazyautosizes js-lazyloaded" data-sizes="auto" src='{img:url:resize width="334" height="500"}' data-src='{img:url:resize width="334" height="500"}' data-srcset='{img:url:resize width="334" height="500"} 334w, {img:url:resize width="494" height="740"} 494w, {img:url:resize width="654" height="980"} 654w' alt="{img:title}" sizes="343px" srcset='{img:url:resize width="334" height="500"}, {img:url:resize width="494" height="740"} 494w, {img:url:resize width="654" height="980"} 654w'>
											</span>
											<noscript>
												<img class="collage_item_image" src='{img:url:resize width="654" height="980"}'  srcset='{img:url:resize width="654" height="980"} 654w, {img:url:resize width="494" height="740"} 494w, {img:url:resize width="334" height="500"}' sizes="100vw"  alt="{img:title}" >
											</noscript>													
										</span>
										{if img:caption}
									<figcaption class="collage_item_figcaption">
									<span class="collage_item_figcaption_inner">{img:caption}</span>
								</figcaption>
								{/if}
									</figure>
									{/content:image2}
								</div>
							</div>
							<div class="collage_items">
								<div class="collage_item">
									{content:image4}
									<figure class="collage_item_figure">
										<span class="collage_item_media">
											<span class="lazy_image_wrapper collage_item_image_wrapper">
												<img class="js-lazy collage_item_image lazyautosizes js-lazyloaded" data-sizes="auto" src='{img:url:resize width="500" height="282"}' data-src='{img:url:resize width="500" height="282"}' data-srcset='{img:url:resize width="500" height="282"} 500w, {img:url:resize width="740" height="416"} 740w, {img:url:resize width="980" height="552"} 980w' alt="{img:title}" sizes="921px" srcset='{img:url:resize width="500" height="282"} 500w, {img:url:resize width="740" height="416"} 740w, {img:url:resize width="980" height="552"} 980w'>
											</span>
											<noscript>
												<img class="collage_item_image" src='{img:url:resize width="980" height="552"}'  srcset='{img:url:resize width="980" height="552"} 980w, {img:url:resize width="740" height="416"} 740w, {img:url:resize width="500" height="282"} 500w' sizes="100vw"  alt="{img:title}" >
											</noscript>															
										</span>
										{if img:caption}
									<figcaption class="collage_item_figcaption">
									<span class="collage_item_figcaption_inner">{img:caption}</span>
								</figcaption>
								{/if}
									</figure>
									{/content:image4}
								</div>
								<div class="collage_item">
									{content:image3}
									<figure class="collage_item_figure">
										<span class="collage_item_media">				<span class="lazy_image_wrapper collage_item_image_wrapper">
												<img class="js-lazy collage_item_image lazyautosizes js-lazyloaded" data-sizes="auto" src='{img:url:resize width="334" height="500"}' data-src='{img:url:resize width="334" height="500"}' data-srcset='{img:url:resize width="334" height="500"} 334w, {img:url:resize width="494" height="740"} 494w, {img:url:resize width="654" height="980"} 654w' alt="{img:title}" sizes="343px" srcset='{img:url:resize width="334" height="500"} 334w, {img:url:resize width="494" height="740"} 494w, {img:url:resize width="654" height="980"} 654w'>
											</span>
											<noscript>
												<img class="collage_item_image" src='{img:url:resize width="654" height="980"}'  srcset='{img:url:resize width="654" height="980"} 654w, {img:url:resize width="494" height="740"} 494w, {img:url:resize width="334" height="500"} 334w' sizes="100vw"  alt="{img:title}" >
											</noscript>														
										</span>
										{if img:caption}
											<figcaption class="collage_item_figcaption">
											<span class="collage_item_figcaption_inner">{img:caption}</span>
										</figcaption>
										{/if}
									</figure>
									{/content:image3}
								</div>
							</div>
						</div>
					{if:else}
					<div class="collage_rows">
					<div class="collage_items">
						<div class="collage_item">
							{content:image1}
							<figure class="collage_item_figure">
								<span class="collage_item_media">
									<span class="lazy_image_wrapper collage_item_image_wrapper">
										<img class="js-lazy collage_item_image lazyautosizes js-lazyloaded" data-sizes="auto" src='{img:url:resize width="500" height="282"}' data-src='{img:url:resize width="500" height="282"}' data-srcset='{img:url:resize width="500" height="282"} 500w, {img:url:resize width="740" height="416"} 740w, {img:url:resize width="980" height="552"} 980w' alt="{img:title}" sizes="921px" srcset='{img:url:resize width="500" height="282"} 500w, {img:url:resize width="740" height="416"} 740w, {img:url:resize width="980" height="552"} 980w'>
									</span>
									<noscript>
										<img class="collage_item_image" src='{img:url:resize width="980" height="552"}'  srcset='{img:url:resize width="980" height="552"} 980w, {img:url:resize width="740" height="416"} 740w, {img:url:resize width="500" height="282"} 500w' sizes="100vw"  alt="{img:title}" >
									</noscript>
								</span>
								{if img:caption}
									<figcaption class="collage_item_figcaption">
									<span class="collage_item_figcaption_inner">{img:caption}</span>
								</figcaption>
								{/if}
							</figure>
							{/content:image1}
						</div>
						<div class="collage_item">
							{content:image2}
							<figure class="collage_item_figure">
								<span class="collage_item_media">
									<span class="lazy_image_wrapper collage_item_image_wrapper">
										<img class="js-lazy collage_item_image lazyautosizes js-lazyloaded" data-sizes="auto" src='{img:url:resize width="334" height="500"}' data-src='{img:url:resize width="334" height="500"}' data-srcset='{img:url:resize width="334" height="500"} 334w, {img:url:resize width="494" height="740"} 494w, {img:url:resize width="654" height="980"} 654w' alt="{img:title}" sizes="343px" srcset='{img:url:resize width="334" height="500"}, {img:url:resize width="494" height="740"} 494w, {img:url:resize width="654" height="980"} 654w'>
									</span>
									<noscript>
										<img class="collage_item_image" src='{img:url:resize width="654" height="980"}'  srcset='{img:url:resize width="654" height="980"} 654w, {img:url:resize width="494" height="740"} 494w, {img:url:resize width="334" height="500"}' sizes="100vw"  alt="{img:title}" >
									</noscript>
								</span>
								{if img:caption}
									<figcaption class="collage_item_figcaption">
									<span class="collage_item_figcaption_inner">{img:caption}</span>
								</figcaption>
								{/if}
							</figure>
							{/content:image2}
						</div>
					</div>
					<div class="collage_items">
						<div class="collage_item">
							{content:image4}
							<figure class="collage_item_figure">
								<span class="collage_item_media">
									<span class="lazy_image_wrapper collage_item_image_wrapper">
										<img class="js-lazy collage_item_image lazyautosizes js-lazyloaded" data-sizes="auto" src='{img:url:resize width="500" height="282"}' data-src='{img:url:resize width="500" height="282"}' data-srcset='{img:url:resize width="500" height="282"} 500w, {img:url:resize width="740" height="416"} 740w, {img:url:resize width="980" height="552"} 980w' alt="{img:title}" sizes="921px" srcset='{img:url:resize width="500" height="282"} 500w, {img:url:resize width="740" height="416"} 740w, {img:url:resize width="980" height="552"} 980w'>
									</span>
									<noscript>
										<img class="collage_item_image" src='{img:url:resize width="980" height="552"}'  srcset='{img:url:resize width="980" height="552"} 980w, {img:url:resize width="740" height="416"} 740w, {img:url:resize width="500" height="282"} 500w' sizes="100vw"  alt="{img:title}" >
									</noscript>
								</span>
								{if img:caption}
									<figcaption class="collage_item_figcaption">
									<span class="collage_item_figcaption_inner">{img:caption}</span>
								</figcaption>
								{/if}
							</figure>
							{/content:image4}
						</div>
						<div class="collage_item">
							{content:image3}
							<figure class="collage_item_figure">
								<span class="collage_item_media">
									<span class="lazy_image_wrapper collage_item_image_wrapper">
										<img class="js-lazy collage_item_image lazyautosizes js-lazyloaded" data-sizes="auto" src='{img:url:resize width="334" height="500"}' data-src='{img:url:resize width="334" height="500"}' data-srcset='{img:url:resize width="334" height="500"} 334w, {img:url:resize width="494" height="740"} 494w, {img:url:resize width="654" height="980"} 654w' alt="{img:title}" sizes="343px" srcset='{img:url:resize width="334" height="500"} 334w, {img:url:resize width="494" height="740"} 494w, {img:url:resize width="654" height="980"} 654w'>
									</span>
									<noscript>
										<img class="collage_item_image" src='{img:url:resize width="654" height="980"}'  srcset='{img:url:resize width="654" height="980"} 654w, {img:url:resize width="494" height="740"} 494w, {img:url:resize width="334" height="500"} 334w' sizes="100vw"  alt="{img:title}" >
									</noscript>
								</span>
								{if img:caption}
									<figcaption class="collage_item_figcaption">
									<span class="collage_item_figcaption_inner">{img:caption}</span>
								</figcaption>
								{/if}
							</figure>
							{/content:image3}
						</div><!-- /collage_item -->
					</div><!-- /collage_items -->
					</div><!-- /collage_rows -->
					{/if}

					
				
			</div><!-- /collage_inner -->
		</div><!-- /fs-cell -->
	</div><!-- /fs-row --> 
</div><!-- /collage layout_unbalanced -->
{/content}
	{/main_content:media_grid}