<div class="wysiwyg_block">
		<div class="fs-row">
			<div class="fs-cell">
				<div class="wysiwyg_block_inner typography">
<div class="filter">
<div aria-label="Directory Filtering" class="filter_tabs" role="tablist">
<div class="fs-row">
<div class="fs-cell">
<div class="filter_tabs_inner">
					<button class="js-swap filter_tab fs-swap-element fs-swap-enabled" data-swap-group="filter_tabs" data-swap-options="{" collapse":="" false}"="" data-swap-target=".first" role="tab">Spring 2021</button>
					<button class="js-swap filter_tab fs-swap-element fs-swap-enabled fs-swap-active" data-swap-active="true" data-swap-group="filter_tabs" data-swap-options="{" collapse":="" false}"="" data-swap-target=".second" role="tab">Summer 2021</button>
					<button class="js-swap filter_tab fs-swap-element fs-swap-enabled" data-swap-group="filter_tabs" data-swap-options="{" collapse":="" false}"="" data-swap-target=".third" role="tab">Fall 2021</button>
					<button class="js-swap filter_tab fs-swap-element fs-swap-enabled" data-swap-group="filter_tabs" data-swap-options="{" collapse":="" false}"="" data-swap-target=".fourth" role="tab">Spring 2022</button>
				</div>
</div>
</div>
</div>

<div class="filter_panels">
<div class="fs-row">
<div class="fs-cell">
<div class="filter_panels_inner">
<div class="filter_tabpanel first" role="tabpanel">
<h2>Spring 2021</h2>

<table>
	<tbody>
	</tbody>
	<colgroup>
		<col />
		<col />
	</colgroup>
	<tbody>
		<tr>
			<td>General Registration</td>
			<td>November 9 &ndash; January 8</td>
		</tr>
		<tr>
			<th colspan="2" scope="row">15-Week Session</th>
		</tr>
		<tr>
			<td>Classes begin</td>
			<td>January 11</td>
		</tr>
		<tr>
			<td>Last day to add</td>
			<td>January 15</td>
		</tr>
		<tr>
			<td>Martin Luther King Holiday (College closed)</td>
			<td>January 18</td>
		</tr>
		<tr>
			<td>Last day to drop w/refund</td>
			<td>January 26</td>
		</tr>
		<tr>
			<td>Spring Break (No classes)</td>
			<td>March 8 &ndash; 12</td>
		</tr>
		<tr>
			<td>Last day to withdraw</td>
			<td>March 22</td>
		</tr>
		<tr>
			<td>Classes end</td>
			<td>April 26</td>
		</tr>
		<tr>
			<td>Reading Day (no classes)</td>
			<td>April 27</td>
		</tr>
		<tr>
			<td><a href="/academics/exam-schedule/#simpleContained4">Final exams</a></td>
			<td>April 28 &ndash; May 4</td>
		</tr>
		<tr>
			<td>Grades due</td>
			<td>May 6, 9:00 a.m.</td>
		</tr>
		<tr>
			<th colspan="2" scope="row">8-Week 1 Session</th>
		</tr>
		<tr>
			<td>Classes begin</td>
			<td>January 11</td>
		</tr>
		<tr>
			<td>Last day to add</td>
			<td>January 13</td>
		</tr>
		<tr>
			<td>Martin Luther King Holiday (College closed)</td>
			<td>January 18</td>
		</tr>
		<tr>
			<td>Last day to drop w/refund</td>
			<td>January 19</td>
		</tr>
		<tr>
			<td>Last day to withdraw</td>
			<td>February 10</td>
		</tr>
		<tr>
			<td>Classes end</td>
			<td>March 3</td>
		</tr>
		<tr>
			<td>Final exams</td>
			<td>Last day of scheduled class</td>
		</tr>
		<tr>
			<td>Grades due</td>
			<td>March 5, 9:00 a.m.</td>
		</tr>
		<tr>
			<th colspan="2" scope="row">8-Week 2 Session</th>
		</tr>
		<tr>
			<td>Classes begin</td>
			<td>March 15</td>
		</tr>
		<tr>
			<td>Last day to add</td>
			<td>March 17</td>
		</tr>
		<tr>
			<td>Last day to drop w/refund</td>
			<td>March 22</td>
		</tr>
		<tr>
			<td>Last day to withdraw</td>
			<td>April 13</td>
		</tr>
		<tr>
			<td>Classes end</td>
			<td>May 4</td>
		</tr>
		<tr>
			<td>Final exams</td>
			<td>Last day of scheduled class</td>
		</tr>
		<tr>
			<td>Grades due</td>
			<td>May 6, 9:00 a.m.</td>
		</tr>
		<tr>
			<th colspan="2" scope="row">12-Week Session</th>
		</tr>
		<tr>
			<td>Classes begin</td>
			<td>January 25</td>
		</tr>
		<tr>
			<td>Last day to add</td>
			<td>January 28</td>
		</tr>
		<tr>
			<td>Last day to drop w/refund</td>
			<td>February 5</td>
		</tr>
		<tr>
			<td>Spring Break (No classes)</td>
			<td>March 8 &ndash; 12</td>
		</tr>
		<tr>
			<td>Last day to withdraw</td>
			<td>March 22</td>
		</tr>
		<tr>
			<td>Classes end</td>
			<td>April 24</td>
		</tr>
		<tr>
			<td>Final exams</td>
			<td>Last day of scheduled class</td>
		</tr>
		<tr>
			<td>Grades due</td>
			<td>May 6, 9:00 a.m.</td>
		</tr>
		<tr>
			<th colspan="2" scope="row">5-Week 1 Session</th>
		</tr>
		<tr>
			<td>Classes begin</td>
			<td>January 11</td>
		</tr>
		<tr>
			<td>Last day to add</td>
			<td>January 12</td>
		</tr>
		<tr>
			<td>Last day to drop w/refund</td>
			<td>January 15</td>
		</tr>
		<tr>
			<td>Martin Luther King Holiday (College closed)</td>
			<td>January 18</td>
		</tr>
		<tr>
			<td>Last day to withdraw</td>
			<td>January 29</td>
		</tr>
		<tr>
			<td>Classes end</td>
			<td>February 15</td>
		</tr>
		<tr>
			<td>Final exams</td>
			<td>Last day of scheduled class</td>
		</tr>
		<tr>
			<td>Grades due</td>
			<td>February 17, 9:00 a.m.</td>
		</tr>
		<tr>
			<th colspan="2" scope="row">5-Week 2 Session</th>
		</tr>
		<tr>
			<td>Classes begin</td>
			<td>February 16</td>
		</tr>
		<tr>
			<td>Last day to add</td>
			<td>February 17</td>
		</tr>
		<tr>
			<td>Last day to drop w/refund</td>
			<td>February 22</td>
		</tr>
		<tr>
			<td>Spring Break (No classes)</td>
			<td>March 8 - 12</td>
		</tr>
		<tr>
			<td>Last day to withdraw</td>
			<td>March 15</td>
		</tr>
		<tr>
			<td>Classes end</td>
			<td>March 29</td>
		</tr>
		<tr>
			<td>Final exams</td>
			<td>Last day of scheduled class</td>
		</tr>
		<tr>
			<td>Grades due</td>
			<td>March 31, 9:00 a.m.</td>
		</tr>
		<tr>
			<th colspan="2" scope="row">5-Week 3 Session</th>
		</tr>
		<tr>
			<td>Classes begin</td>
			<td>March 30</td>
		</tr>
		<tr>
			<td>Last day to add</td>
			<td>March 31</td>
		</tr>
		<tr>
			<td>Last day to drop w/refund</td>
			<td>April 5</td>
		</tr>
		<tr>
			<td>Last day to withdraw</td>
			<td>April 19</td>
		</tr>
		<tr>
			<td>Classes end</td>
			<td>May 3</td>
		</tr>
		<tr>
			<td>Final exams</td>
			<td>Last day of scheduled class</td>
		</tr>
		<tr>
			<td>Grades due</td>
			<td>May 6, 9:00 a.m.</td>
		</tr>
	</tbody>
</table>
</div>

<div class="filter_tabpanel second fs-swap-active" role="tabpanel">
<h2>Summer 2021</h2>

<table>
		<tbody>
		</tbody>
		<colgroup>
			<col>
			<col>
		</colgroup>
		<tbody>
			<tr>
				<th colspan="2" scope="row">Maymester (May 17 – June 6)</th>
			</tr>
			<tr>
				<td>General Registration</td>
				<td>April 5-May 17</td>
			</tr>
<tr>
				<td>Classes begin</td>
				<td>May 17</td>
			</tr>
			<tr>
				<td>Last day to add</td>
				<td>May 17</td>
			</tr>
			<tr>
				<td>Last day to drop w/refund</td>
				<td>May 20</td>
			</tr>
			<tr>
				<td>Last day to withdraw</td>
				<td>May 29</td>
			</tr>
			<tr>
				<td>Memorial Day (College closed)</td>
				<td>May 31</td>
			</tr>
			<tr>
				<td>Classes end</td>
				<td>June 6</td>
			</tr>
			<tr>
				<td>Final exams</td>
				<td>Last day of scheduled class</td>
			</tr>
			<tr>
				<td>Grades due</td>
				<td>June 11, 9:00 a.m.</td>
			</tr>
			<tr>
				<th colspan="2" scope="row">10-Week Session</th>
			</tr>
			<tr>
				<td>General Registration</td>
				<td>April 5-May 27</td>
			</tr>
<tr>
				<td>Classes begin</td>
				<td>May 24</td>
			</tr>
			<tr>
				<td>Last day to add</td>
				<td>May 27</td>
			</tr>
			<tr>
				<td>Memorial Day (College closed)</td>
				<td>May 31</td>
			</tr>
			<tr>
				<td>Last day to drop w/refund</td>
				<td>June 3</td>
			</tr>
			<tr>
				<td>Juneteenth Holiday (College closed)</td>
				<td>June 18</td>
			</tr>
			<tr>
				<td>Last day to withdraw</td>
				<td>June 30</td>
			</tr>
			<tr>
				<td>No classes</td>
				<td>July 1-5</td>
			</tr>
			<tr>
				<td>Independence Day (College closed)</td>
				<td>July 3-5</td>
			</tr>
			<tr>
				<td>Classes end</td>
				<td>August 4</td>
			</tr>
			<tr>
				<td>Final exams</td>
				<td>Last day of scheduled class</td>
			</tr>
			<tr>
				<td>Grades due</td>
				<td>August 6, 9:00 a.m.</td>
			</tr>
			<tr>
				<th colspan="2" scope="row">8-Week Session</th>
			</tr>
			<tr>
				<td>General Registration</td>
				<td>April 5-June 9</td>
			</tr>
<tr>
				<td>Classes begin</td>
				<td>June 7</td>
			</tr>
			<tr>
				<td>Last day to add</td>
				<td>June 9</td>
			</tr>
			<tr>
				<td>Last day to drop w/refund</td>
				<td>June 14</td>
			</tr>
			<tr>
				<td>Juneteenth Holiday (College closed)</td>
				<td>June 18</td>
			</tr>
			<tr>
				<td>No classes</td>
				<td>July 1-5</td>
			</tr>
			<tr>
				<td>Independence Day (College closed)</td>
				<td>July 3-5</td>
			</tr>
			<tr>
				<td>Last day to withdraw</td>
				<td>July 12</td>
			</tr>
			<tr>
				<td>Classes end</td>
				<td>August 3</td>
			</tr>
			<tr>
				<td>Final exams</td>
				<td>Last day of scheduled class</td>
			</tr>
			<tr>
				<td>Grades due</td>
				<td>August 6, 9:00 a.m.</td>
			</tr>
			<tr>
				<th colspan="2" scope="row">1ST 5-Week Session</th>
			</tr>
			<tr>
				<td>General Registration</td>
				<td>April 5-May 25</td>
			</tr>
<tr>
				<td>Classes begin</td>
				<td>May 24</td>
			</tr>
			<tr>
				<td>Last day to add</td>
				<td>May 25</td>
			</tr>
			<tr>
				<td>Memorial Day (College closed)</td>
				<td>May 31</td>
			</tr>
			<tr>
				<td>Last day to drop w/refund</td>
				<td>June 1</td>
			</tr>
			<tr>
				<td>Last day to withdraw</td>
				<td>June 11</td>
			</tr>
			<tr>
				<td>Juneteenth Holiday (College closed)</td>
				<td>June 18</td>
			</tr>
			<tr>
				<td>Classes end</td>
				<td>June 28</td>
			</tr>
			<tr>
				<td>Final exams</td>
				<td>Last day of scheduled class</td>
			</tr>
			<tr>
				<td>Grades due</td>
				<td>June 30, 9:00 a.m.</td>
			</tr>
			<tr>
				<th colspan="2" scope="row">2ND 5-Week Session</th>
			</tr>
			<tr>
				<td>General Registration</td>
				<td>April 5-June 30</td>
			</tr>
<tr>
				<td>Classes begin</td>
				<td>June 29</td>
			</tr>
			<tr>
				<td>Last day to add</td>
				<td>June 30</td>
			</tr>
			<tr>
				<td>No classes</td>
				<td>July 1-5</td>
			</tr>
			<tr>
				<td>Independence Day (College closed)</td>
				<td>July 3-5</td>
			</tr>
			<tr>
				<td>Last day to drop w/refund</td>
				<td>July 6</td>
			</tr>
			<tr>
				<td>Last day to withdraw</td>
				<td>July 20</td>
			</tr>
			<tr>
				<td>Classes end</td>
				<td>August 4</td>
			</tr>
			<tr>
				<td>Final exams</td>
				<td>Last day of scheduled class</td>
			</tr>
			<tr>
				<td>Grades due</td>
				<td>August 6, 9:00 a.m.</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="filter_tabpanel third" role="tabpanel">
<h2>Fall 2021</h2>

<table>
		<tbody>
		</tbody>
		<colgroup>
			<col>
			<col>
		</colgroup>
		<tbody>
			<tr>
				<th colspan="2" scope="row">15-Week Session</th>
			</tr>
			<tr>
				<td>General Registration</td>
				<td>April 5-August 27</td>
			</tr>
<tr>
				<td>Classes begin</td>
				<td>August 23</td>
			</tr>
			<tr>
				<td>Last day to add</td>
				<td>August 27</td>
			</tr>
			<tr>
				<td>Labor Day (College closed)</td>
				<td>September 6</td>
			</tr>
			<tr>
				<td>Last day to drop w/refund</td>
				<td>September 7</td>
			</tr>
			<tr>
				<td>Founder's Day (No classes)</td>
				<td>October 1</td>
			</tr>
			<tr>
				<td>Last day to withdraw</td>
				<td>October 27</td>
			</tr>
			<tr>
				<td>Election Day (College closed)</td>
				<td>November 2</td>
			</tr>
			<tr>
				<td>Thanksgiving Break</td>
				<td>November 24 (No classes)<br>
				November 25-28 (College closed)</td>
			</tr>
			<tr>
				<td>Classes end</td>
				<td>December 4</td>
			</tr>
			<tr>
				<td><!--<a href="https://www.jtcc.edu/academics/exam-schedule/#simpleContained3">-->Final exams</td>
				<td>December 6-11</td>
			</tr>
			<tr>
				<td>Grades due</td>
				<td>December 14, 9:00 a.m.</td>
			</tr>
			<tr>
				<th colspan="2" scope="row">8-Week 1 Session</th>
			</tr>
			<tr>
				<td>General Registration</td>
				<td>April 5-August 25</td>
			</tr>
			<tr>
				<td>Classes begin</td>
				<td>August 23</td>
			</tr>
			<tr>
				<td>Last day to add</td>
				<td>August 25</td>
			</tr>
			<tr>
				<td>Last day to drop w/refund</td>
				<td>August 30</td>
			</tr>
			<tr>
				<td>Labor Day (College closed)</td>
				<td>September 6</td>
			</tr>
			<tr>
				<td>Last day to withdraw</td>
				<td>September 22</td>
			</tr>
			<tr>
				<td>Founder's Day (No classes)</td>
				<td>October 1</td>
			</tr>
			<tr>
				<td>Classes end</td>
				<td>October 13</td>
			</tr>
			<tr>
				<td>Final exams</td>
				<td>Last day of scheduled class</td>
			</tr>
			<tr>
				<td>Grades due</td>
				<td>October 19, 9:00 a.m.</td>
			</tr>
			<tr>
				<th colspan="2" scope="row">8-Week 2 Session</th>
			</tr>
			<tr>
				<td>General Registration</td>
				<td>April 5-October 18</td>
			</tr>
			<tr>
				<td>Classes begin</td>
				<td>October 14</td>
			</tr>
			<tr>
				<td>Last day to add</td>
				<td>October 18</td>
			</tr>
			<tr>
				<td>Last day to drop w/refund</td>
				<td>October 21</td>
			</tr>
			<tr>
				<td>Election Day (College closed)</td>
				<td>November 2</td>
			</tr>
			<tr>
				<td>Last day to withdraw</td>
				<td>November 17</td>
			</tr>
			<tr>
				<td>Thanksgiving Break</td>
				<td>November 24 (No classes)<br>
				November 25-28 (College closed)</td>
			</tr>
			<tr>
				<td>Classes end</td>
				<td>December 11</td>
			</tr>
			<tr>
				<td>Final exams</td>
				<td>Last day of scheduled class</td>
			</tr>
			<tr>
				<td>Grades due</td>
				<td>December 14, 9:00 a.m.</td>
			</tr>
			<tr>
				<th colspan="2" scope="row">12-Week Session</th>
			</tr>
			<tr>
				<td>General Registration</td>
				<td>April 5-September 10</td>
			</tr>
			<tr>
				<td>Classes begin</td>
				<td>September 7</td>
			</tr>
			<tr>
				<td>Last day to add</td>
				<td>September 10</td>
			</tr>
			<tr>
				<td>Last day to drop w/refund</td>
				<td>September 30</td>
			</tr>
			<tr>
				<td>Founder's Day (No classes)</td>
				<td>October 1</td>
			</tr>
			<tr>
				<td>Last day to withdraw</td>
				<td>October 29</td>
			</tr>
			<tr>
				<td>Election Day (College closed)</td>
				<td>November 2</td>
			</tr>
			<tr>
				<td>Thanksgiving Break</td>
				<td>November 24 (No classes)<br>
				November 25-28 (College closed)</td>
			</tr>
			<tr>
				<td>Classes end</td>
				<td>December 4</td>
			</tr>
			<tr>
				<td>Final exams</td>
				<td>Last day of scheduled class</td>
			</tr>
			<tr>
				<td>Grades due</td>
				<td>December 7, 9:00 a.m.</td>
			</tr>
			<tr>
				<th colspan="2" scope="row">5-Week 1 Session</th>
			</tr>
			<tr>
				<td>General Registration</td>
				<td>April 5-August 24</td>
			</tr>
			<tr>
				<td>Classes begin</td>
				<td>August 23</td>
			</tr>
			<tr>
				<td>Last day to add</td>
				<td>August 24</td>
			</tr>
			<tr>
				<td>Last day to drop w/refund</td>
				<td>August 27</td>
			</tr>
			<tr>
				<td>Labor Day (College closed)</td>
				<td>September 6</td>
			</tr>
			<tr>
				<td>Last day to withdraw</td>
				<td>September 13</td>
			</tr>
			<tr>
				<td>Classes end</td>
				<td>September 27</td>
			</tr>
			<tr>
				<td>Final exams</td>
				<td>Last day of scheduled class</td>
			</tr>
			<tr>
				<td>Grades due</td>
				<td>September 29, 9:00 a.m.</td>
			</tr>
			<tr>
				<th colspan="2" scope="row">5-Week 2 Session</th>
			</tr>
			<tr>
				<td>General Registration</td>
				<td>April 5-September 29</td>
			</tr>
			<tr>
				<td>Classes begin</td>
				<td>September 28</td>
			</tr>
			<tr>
				<td>Last day to add</td>
				<td>September 29</td>
			</tr>
			<tr>
				<td>Founder's Day (No classes)</td>
				<td>October 1</td>
			</tr>
			<tr>
				<td>Last day to drop w/refund</td>
				<td>October 4</td>
			</tr>
			<tr>
				<td>Last day to withdraw</td>
				<td>October 18</td>
			</tr>
			<tr>
				<td>Classes end</td>
				<td>November 1</td>
			</tr>
			<tr>
				<td>Final exams</td>
				<td>Last day of scheduled class</td>
			</tr>
			<tr>
				<td>Grades due</td>
				<td>November 8, 9:00 a.m.</td>
			</tr>
			<tr>
				<th colspan="2" scope="row">5-Week 3 Session</th>
			</tr>
			<tr>
				<td>General Registration</td>
				<td>April 5-November 4</td>
			</tr>
			<tr>
				<td>Classes begin</td>
				<td>November 3</td>
			</tr>
			<tr>
				<td>Last day to add</td>
				<td>November 4</td>
			</tr>
			<tr>
				<td>Last day to drop w/refund</td>
				<td>November 8</td>
			</tr>
			<tr>
				<td>Last day to withdraw</td>
				<td>November 23</td>
			</tr>
			<tr>
				<td>Thanksgiving Break</td>
				<td>November 24 (No classes)<br>
				November 25-28 (College closed)</td>
			</tr>
			<tr>
				<td>Classes end</td>
				<td>December 11</td>
			</tr>
			<tr>
				<td>Final exams</td>
				<td>Last day of scheduled class</td>
			</tr>
			<tr>
				<td>Grades due</td>
				<td>December 14, 9:00 a.m.</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="filter_tabpanel fourth" role="tabpanel">
<h2>Spring 2022</h2>

<table>
		<tbody>
		</tbody>
		<colgroup>
			<col>
			<col>
		</colgroup>
		<tbody>
			<tr>
				<th colspan="2" scope="row">Winter Session (Online only)</th>
			</tr>
			<tr>
				<td>General Registration</td>
				<td>October 25–December 15</td>
			</tr>
			<tr>
				<td>Classes begin</td>
				<td>December 15</td>
			</tr>
			<tr>
				<td>Last day to add</td>
				<td>December 15</td>
			</tr>
			<tr>
				<td>Last day to drop w/refund</td>
				<td>December 20</td>
			</tr>
			<tr>
				<td>No assignments due</td>
				<td>December 24-25</td>
			</tr>
			<tr>
				<td>Last day to withdraw</td>
				<td>December 31</td>
			</tr>
			<tr>
				<td>No assignments due</td>
				<td>December 31-January 1</td>
			</tr>
			<tr>
				<td>Classes end</td>
				<td>January 12</td>
			</tr>
			<tr>
				<td>Final exams</td>
				<td>Last day of scheduled class</td>
			</tr>
			<tr>
				<td>Grades due</td>
				<td>January 14, 9:00 a.m.</td>
			</tr>
			<tr>
				<th colspan="2" scope="row">15-Week Session</th>
			</tr>
			<tr>
				<td>General Registration</td>
				<td>October 25–January 24</td>
			</tr>
			<tr>
				<td>Classes begin</td>
				<td>January 18</td>
			</tr>
			<tr>
				<td>Last day to add</td>
				<td>January 24</td>
			</tr>
			<!--<tr>
				<td>Martin Luther King Holiday (College closed)</td>
				<td>January 20</td>
			</tr>-->
			<tr>
				<td>Last day to drop w/refund</td>
				<td>February 3</td>
			</tr>
			<tr>
				<td>Spring Break (No classes)</td>
				<td>March 14 – 19</td>
			</tr>
			<tr>
				<td>Last day to withdraw</td>
				<td>March 25</td>
			</tr>
			<tr>
				<td>Classes end</td>
				<td>May 2</td>
			</tr>
			<tr>
				<td>Reading Day*</td>
				<td>May 3</td>
			</tr>
			<tr><!--<td><a href="https://www.jtcc.edu/academics/exam-schedule/#simpleContained2">Final exams</a></td>-->
				<td>Final exams</td>
				<td>May 4 – 10</td>
			</tr>
			<tr>
				<td>Grades due</td>
				<td>May 12, 9:00 a.m.</td>
			</tr>
			<tr>
				<th colspan="2" scope="row">8-Week 1 Session</th>
			</tr>
			<tr>
				<td>General Registration</td>
				<td>October 25–January 20</td>
			</tr>
			<tr>
				<td>Classes begin</td>
				<td>January 18</td>
			</tr>
			<tr>
				<td>Last day to add</td>
				<td>January 20</td>
			</tr>
			<!--<tr>
				<td>Martin Luther King Holiday (College closed)</td>
				<td>January 20</td>
			</tr>-->
			<tr>
				<td>Last day to drop w/refund</td>
				<td>January 24</td>
			</tr>
			<tr>
				<td>Last day to withdraw</td>
				<td>February 15</td>
			</tr>
			<tr>
				<td>Classes end</td>
				<td>March 12</td>
			</tr>
			<tr>
				<td>Final exams</td>
				<td>Last day of scheduled class</td>
			</tr>
			<tr>
				<td>Grades due</td>
				<td>March 20, 9:00 a.m.</td>
			</tr>
			<tr>
				<th colspan="2" scope="row">8-Week 2 Session</th>
			</tr>
			<tr>
				<td>General Registration</td>
				<td>October 25–March 23</td>
			</tr>
			<tr>
			</tr>
			<tr>
				<td>Classes begin</td>
				<td>March 21</td>
			</tr>
			<tr>
				<td>Last day to add</td>
				<td>March 23</td>
			</tr>
			<tr>
				<td>Last day to drop w/refund</td>
				<td>March 28</td>
			</tr>
			<tr>
				<td>Last day to withdraw</td>
				<td>April 11</td>
			</tr>
			<tr>
				<td>Classes end</td>
				<td>May 10</td>
			</tr>
			<tr>
				<td>Final exams</td>
				<td>Last day of scheduled class</td>
			</tr>
			<tr>
				<td>Grades due</td>
				<td>May 12, 9:00 a.m.</td>
			</tr>
			<tr>
				<th colspan="2" scope="row">12-Week Session</th>
			</tr>
			<tr>
				<td>General Registration</td>
				<td>October 25–January 27</td>
			</tr>
<tr>
				<td>Classes begin</td>
				<td>January 24</td>
			</tr>
			<tr>
				<td>Last day to add</td>
				<td>January 27</td>
			</tr>
			<tr>
				<td>Last day to drop w/refund</td>
				<td>February 7</td>
			</tr>
			<tr>
				<td>Spring Break (No classes)</td>
				<td>March 14 – 19</td>
			</tr>
			<tr>
				<td>Last day to withdraw</td>
				<td>March 21</td>
			</tr>
			<tr>
				<td>Classes end</td>
				<td>April 23</td>
			</tr>
			<tr>
				<td>Final exams</td>
				<td>Last day of scheduled class</td>
			</tr>
			<tr>
				<td>Grades due</td>
				<td>May 5, 9:00 a.m.</td>
			</tr>
			<tr>
				<th colspan="2" scope="row">5-Week 1 Session</th>
			</tr>
			<tr>
				<td>General Registration</td>
				<td>October 25-January 19</td>
			</tr>
<tr>
				<td>Classes begin</td>
				<td>January 18</td>
			</tr>
			<tr>
				<td>Last day to add</td>
				<td>January 19</td>
			</tr>
			<tr>
				<td>Last day to drop w/refund</td>
				<td>January 24</td>
			</tr>
			<!--<tr>
				<td>Martin Luther King Holiday (College closed)</td>
				<td>January 20</td>
			</tr>-->
			<tr>
				<td>Last day to withdraw</td>
				<td>February 7</td>
			</tr>
			<tr>
				<td>Classes end</td>
				<td>February 21</td>
			</tr>
			<tr>
				<td>Final exams</td>
				<td>Last day of scheduled class</td>
			</tr>
			<tr>
				<td>Grades due</td>
				<td>February 23, 9:00 a.m.</td>
			</tr>
			<tr>
				<th colspan="2" scope="row">5-Week 2 Session</th>
			</tr>
			<tr>
				<td>General Registration</td>
				<td>October 25-February 23</td>
			</tr>
<tr>
				<td>Classes begin</td>
				<td>February 22</td>
			</tr>
			<tr>
				<td>Last day to add</td>
				<td>February 23</td>
			</tr>
			<tr>
				<td>Last day to drop w/refund</td>
				<td>February 28</td>
			</tr>
			<tr>
				<td>Spring Break (No classes)</td>
				<td>March 14 - 19</td>
			</tr>
			<tr>
				<td>Last day to withdraw</td>
				<td>March 21</td>
			</tr>
			<tr>
				<td>Classes end</td>
				<td>April 4</td>
			</tr>
			<tr>
				<td>Final exams</td>
				<td>Last day of scheduled class</td>
			</tr>
			<tr>
				<td>Grades due</td>
				<td>April 13, 9:00 a.m.</td>
			</tr>
			<tr>
				<th colspan="2" scope="row">5-Week 3 Session</th>
			</tr>
			<tr>
				<td>General Registration</td>
				<td>October 25-April 6</td>
			</tr>
<tr>
				<td>Classes begin</td>
				<td>April 5</td>
			</tr>
			<tr>
				<td>Last day to add</td>
				<td>April 6</td>
			</tr>
			<tr>
				<td>Last day to drop w/refund</td>
				<td>April 11</td>
			</tr>
			<tr>
				<td>Last day to withdraw</td>
				<td>April 25</td>
			</tr>
			<tr>
				<td>Classes end</td>
				<td>May 10</td>
			</tr>
			<tr>
				<td>Final exams</td>
				<td>Last day of scheduled class</td>
			</tr>
			<tr>
				<td>Grades due</td>
				<td>May 12, 9:00 a.m.</td>
			</tr>
		</tbody>
	</table>
</div>
</div>
<!-- /filter_panels_inner --></div>
<!-- /fs-cell --></div>
<!-- /fs-row --></div>
<!-- /filter_panels --></div>
<!-- /filter -->
</div>
</div>
</div>
</div>