<!-- Footer -->
<footer class="footer" id="footer">
    <div class="footer_primary">
        <div class="fs-row">
            <div class="fs-cell">
                <div class="footer_primary_inner">
                    <div class="logo logo_footer logo_icon">
                        <a class="logo_link" href="/" aria-label="Logo Link">
                            <span class="logo_link_label"></span>
                            <span class="logo_link_icon">
                                <svg class="icon icon_logo">
                                    <use href="/static-html/images/icons.svg#logo" />
                                </svg>
                            </span>
                        </a>
                    </div>
                    <div class="footer_primary_content">
                        <div class="footer_primary_group footer_primary_group_meta">
                            <div class="meta_info">
                                <script type="application/ld+json">
                                {
                                    "@context": "https://schema.org",
                                    "@type": "",
                                    "name": "",
                                    "logo": "///images/logo-schema.png",
                                    "address": {
                                        "@type": "PostalAddress",
                                        "streetAddress": "13101 Jefferson Davis Highway",
                                        "addressLocality": "Chester",
                                        "addressRegion": "Virginia",
                                        "postalCode": "23831-5316"
                                    },
                                    "telephone": "804-796-4000",
                                    "url": "https://jtcc.edu"
                                }
                                </script>
                                {!-- <a class="meta_info_link" href="#"> --}
                                    <span class="meta_info_link_label">Chester Campus</span>
                                    {!-- <span class="meta_info_link_icon">
                                        <svg class="icon icon_caret_right">
                                            <use href="/static-html/images/icons.svg#caret_right" />
                                        </svg>
                                    </span> --}
                                    {!-- </a> --}
                                <div class="meta_info_details">
                                    <div class="meta_info_detail meta_info_detail_address">
                                        <span class="meta_info_detail_icon">
                                            <svg class="icon icon_place">
                                                <use href="/static-html/images/icons.svg#place" />
                                            </svg>
                                        </span>
                                        <a class="meta_info_detail_label meta_info_detail_link" href="//www.google.com/maps/place/?q=place_id:" target="_blank" rel="noopener">
                                            <span class="meta_info_address_street">13101 Jefferson Davis Highway,</span>
                                            <span class="meta_info_address_group">
                                                <span class="meta_info_address_city">Chester,</span>
                                                <span class="meta_info_address_state">Virginia</span>
                                                <span class="meta_info_address_zip">23831-5316</span>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="meta_info_detail meta_info_detail_phone">
                                        <span class="meta_info_detail_icon">
                                            <svg class="icon icon_phone">
                                                <use href="/static-html/images/icons.svg#phone" />
                                            </svg>
                                        </span>
                                        <a class="meta_info_detail_label meta_info_detail_link" href="tel:8047964000">
                                            <span class="meta_info_detail_label_hint">Phone</span>
                                            804-796-4000
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="meta_info">
                                <script type="application/ld+json">
                                {
                                    "@context": "https://schema.org",
                                    "@type": "",
                                    "name": "",
                                    "logo": "///images/logo-schema.png",
                                    "address": {
                                        "@type": "PostalAddress",
                                        "streetAddress": "800 Charter Colony Parkway",
                                        "addressLocality": "Midlothian",
                                        "addressRegion": "Virginia",
                                        "postalCode": "23114-4383"
                                    },
                                    "telephone": "804-796-4000",
                                    "url": "https://jtcc.edu"
                                }
                                </script>
                                {!-- <a class="meta_info_link" href="#"> --}
                                    <span class="meta_info_link_label">Midlothian Campus</span>
                                    {!-- <span class="meta_info_link_icon">
                                        <svg class="icon icon_caret_right">
                                            <use href="/static-html/images/icons.svg#caret_right" />
                                        </svg>
                                    </span> --}
                                    {!-- </a> --}
                                <div class="meta_info_details">
                                    <div class="meta_info_detail meta_info_detail_address">
                                        <span class="meta_info_detail_icon">
                                            <svg class="icon icon_place">
                                                <use href="/static-html/images/icons.svg#place" />
                                            </svg>
                                        </span>
                                        <a class="meta_info_detail_label meta_info_detail_link" href="//www.google.com/maps/place/?q=place_id:" target="_blank" rel="noopener">
                                            <span class="meta_info_address_street">800 Charter Colony Parkway,</span>
                                            <span class="meta_info_address_group">
                                                <span class="meta_info_address_city">Midlothian,</span>
                                                <span class="meta_info_address_state">Virginia</span>
                                                <span class="meta_info_address_zip">23114-4383</span>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="meta_info_detail meta_info_detail_phone">
                                        <span class="meta_info_detail_icon">
                                            <svg class="icon icon_phone">
                                                <use href="/static-html/images/icons.svg#phone" />
                                            </svg>
                                        </span>
                                        <a class="meta_info_detail_label meta_info_detail_link" href="tel:8047964000">
                                            <span class="meta_info_detail_label_hint">Phone</span>
                                            804-796-4000
                                        </a>
                                    </div>
                                </div><!-- /meta_info_details -->
                            </div><!-- /meta_info -->
                        </div><!-- /footer_primary_group footer_primary_group_meta -->
                        <div class="footer_primary_group footer_primary_group_nav">
                            <nav class="js-nav js-footer-nav nav footer_nav" aria-labelledby="footer_nav_title">
                                <div class="nav_header footer_nav_header">
                                    <h2 class="nav_title footer_nav_title" id="footer_nav_title">Footer</h2>
                                </div>
                                <ul class="js-nav-list js-footer-nav-list nav_list footer_nav_list" aria-labelledby="footer_nav_title">
                                    <li class="js-nav-item js-footer-nav-item js-footer-nav-item-1 nav_item footer_nav_item">
                                        <div class="nav_item_inner footer_nav_item_inner">
                                            <a class="js-nav-link js-footer-nav-link nav_link footer_nav_link" href="/services/help-hub/">
                                                <span class="nav_link_icon footer_nav_link_icon" aria-hidden="true">
                                                    <svg class="icon icon_caret_right">
                                                        <use href="/static-html/images/icons.svg#caret_right" />
                                                    </svg>
                                                </span>
                                                <span class="nav_link_label footer_nav_link_label">Help Hub</span>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="js-nav-item js-footer-nav-item js-footer-nav-item-2 nav_item footer_nav_item">
                                        <div class="nav_item_inner footer_nav_item_inner">
                                            <a class="js-nav-link js-footer-nav-link nav_link footer_nav_link" href="/about/nondiscrimination-policy/">
                                                <span class="nav_link_icon footer_nav_link_icon" aria-hidden="true">
                                                    <svg class="icon icon_caret_right">
                                                        <use href="/static-html/images/icons.svg#caret_right" />
                                                    </svg>
                                                </span>
                                                <span class="nav_link_label footer_nav_link_label">Nondiscrimination Policy</span>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="js-nav-item js-footer-nav-item js-footer-nav-item-2 nav_item footer_nav_item">
                                        <div class="nav_item_inner footer_nav_item_inner">
                                            <a class="js-nav-link js-footer-nav-link nav_link footer_nav_link" href="/directory/">
                                                <span class="nav_link_icon footer_nav_link_icon" aria-hidden="true">
                                                    <svg class="icon icon_caret_right">
                                                        <use href="/static-html/images/icons.svg#caret_right" />
                                                    </svg>
                                                </span>
                                                <span class="nav_link_label footer_nav_link_label">Directory</span>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="js-nav-item js-footer-nav-item js-footer-nav-item-3 nav_item footer_nav_item">
                                        <div class="nav_item_inner footer_nav_item_inner">
                                            <a class="js-nav-link js-footer-nav-link nav_link footer_nav_link" href="/about/mission-vision-values/diversity-equity-inclusion">
                                                <span class="nav_link_icon footer_nav_link_icon" aria-hidden="true">
                                                    <svg class="icon icon_caret_right">
                                                        <use href="/static-html/images/icons.svg#caret_right" />
                                                    </svg>
                                                </span>
                                                <span class="nav_link_label footer_nav_link_label">Diversity, Equity & Inclusion</span>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="js-nav-item js-footer-nav-item js-footer-nav-item-4 nav_item footer_nav_item">
                                        <div class="nav_item_inner footer_nav_item_inner">
                                            <a class="js-nav-link js-footer-nav-link nav_link footer_nav_link" href="/about/privacy-disclaimer">
                                                <span class="nav_link_icon footer_nav_link_icon" aria-hidden="true">
                                                    <svg class="icon icon_caret_right">
                                                        <use href="/static-html/images/icons.svg#caret_right" />
                                                    </svg>
                                                </span>
                                                <span class="nav_link_label footer_nav_link_label">Privacy/Disclaimer</span>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="js-nav-item js-footer-nav-item js-footer-nav-item-5 nav_item footer_nav_item">
                                        <div class="nav_item_inner footer_nav_item_inner">
                                            <a class="js-nav-link js-footer-nav-link nav_link footer_nav_link" href="/paying-for-tyler/financial-aid/">
                                                <span class="nav_link_icon footer_nav_link_icon" aria-hidden="true">
                                                    <svg class="icon icon_caret_right">
                                                        <use href="/static-html/images/icons.svg#caret_right" />
                                                    </svg>
                                                </span>
                                                <span class="nav_link_label footer_nav_link_label">Financial Aid</span>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="js-nav-item js-footer-nav-item js-footer-nav-item-6 nav_item footer_nav_item">
                                        <div class="nav_item_inner footer_nav_item_inner">
                                            <a class="js-nav-link js-footer-nav-link nav_link footer_nav_link" href="/about/public-records">
                                                <span class="nav_link_icon footer_nav_link_icon" aria-hidden="true">
                                                    <svg class="icon icon_caret_right">
                                                        <use href="/static-html/images/icons.svg#caret_right" />
                                                    </svg>
                                                </span>
                                                <span class="nav_link_label footer_nav_link_label">Public Records</span>
                                            </a>
                                        </div>
                                    </li>
                                    {if segment_1 == ''}
                                    <li class="js-nav-item js-footer-nav-item js-footer-nav-item-6 nav_item footer_nav_item">
                                        <div class="nav_item_inner footer_nav_item_inner">
                                        </div>
                                    </li>
                                    <li class="js-nav-item js-footer-nav-item js-footer-nav-item-6 nav_item footer_nav_item">
                                        <div class="nav_item_inner footer_nav_item_inner">
                                            <a href="https://logi.epro.cgipdc.com/Public" target="_blank" class="eva-logo home">
                                                <img src="/images/uploads/eva-logo-white.png" alt="eVA Transparency Reports" width="170"></a>
                                        </div>
                                    </li>
                                    {/if}
                                </ul>
                            </nav>
                            <nav class="js-nav js-auxilary-nav js-auxilary-nav-sm nav auxilary_nav auxilary_nav_sm" aria-labelledby="auxilary_nav_title_sm">
                                <div class="nav_header auxilary_nav_header">
                                    <h2 class="nav_title auxilary_nav_title" id="auxilary_nav_title_sm">Auxilary</h2>
                                </div>
                                <ul class="js-nav-list js-auxilary-nav-list nav_list auxilary_nav_list" aria-labelledby="auxilary_nav_title_sm">
                                    <li class="js-nav-item js-auxilary-nav-item js-auxilary-nav-item-1 nav_item auxilary_nav_item">
                                        <div class="nav_item_inner auxilary_nav_item_inner">
                                            <a class="js-nav-link js-auxilary-nav-link nav_link auxilary_nav_link" href="/about/public-records/">
                                                <span class="nav_link_icon auxilary_nav_link_icon" aria-hidden="true">
                                                    <svg class="icon icon_caret_right">
                                                        <use href="/static-html/images/icons.svg#caret_right" />
                                                    </svg>
                                                </span>
                                                <span class="nav_link_label auxilary_nav_link_label">FOIA</span>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="js-nav-item js-auxilary-nav-item js-auxilary-nav-item-2 nav_item auxilary_nav_item">
                                        <div class="nav_item_inner auxilary_nav_item_inner">
                                            <a class="js-nav-link js-auxilary-nav-link nav_link auxilary_nav_link" href="/about/employment-opportunities/">
                                                <span class="nav_link_icon auxilary_nav_link_icon" aria-hidden="true">
                                                    <svg class="icon icon_caret_right">
                                                        <use href="/static-html/images/icons.svg#caret_right" />
                                                    </svg>
                                                </span>
                                                <span class="nav_link_label auxilary_nav_link_label">Employment at Tyler</span>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="js-nav-item js-auxilary-nav-item js-auxilary-nav-item-3 nav_item auxilary_nav_item">
                                        <div class="nav_item_inner auxilary_nav_item_inner">
                                            <a class="js-nav-link js-auxilary-nav-link nav_link auxilary_nav_link" href="https://www.vccs.edu/">
                                                <span class="nav_link_icon auxilary_nav_link_icon" aria-hidden="true">
                                                    <svg class="icon icon_caret_right">
                                                        <use href="/static-html/images/icons.svg#caret_right" />
                                                    </svg>
                                                </span>
                                                <span class="nav_link_label auxilary_nav_link_label">VCCS</span>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </nav>
                        </div><!-- /footer_primary_group footer_primary_group_nav -->
                    </div><!-- /footer_primary_content -->
                </div><!-- /footer_primary_inner -->
            </div><!-- /fs-cell -->
        </div><!-- /fs-row -->
    </div><!-- /footer_primary -->
    <div class="footer_ribbon">
        <div class="fs-row">
            <div class="fs-cell">
                <div class="footer_ribbon_inner">
                    <div class="footer_ribbon_group footer_ribbon_group_social">
                        <div class="social_nav">
                            <div class="social_nav_header">
                                <h2 class="social_nav_title" id="social_nav_title">Social</h2>
                            </div>
                            <ul class="social_nav_list" aria-labelledby="social_nav_title">
                                <li class="social_nav_item">
                                    <a class="social_nav_link social_nav_link_twitter" href="https://twitter.com/johntylercc" target="_blank" rel="noopener">
                                        <span class="social_nav_icon">
                                            <svg class="icon icon_twitter">
                                                <use href="/static-html/images/icons.svg#twitter" />
                                            </svg>
                                        </span>
                                        <span class="social_nav_label">Twitter</span>
                                    </a>
                                </li>
                                <li class="social_nav_item">
                                    <a class="social_nav_link social_nav_link_facebook" href="https://facebook.com/johntylercc" target="_blank" rel="noopener">
                                        <span class="social_nav_icon">
                                            <svg class="icon icon_facebook">
                                                <use href="/static-html/images/icons.svg#facebook" />
                                            </svg>
                                        </span>
                                        <span class="social_nav_label">Facebook</span>
                                    </a>
                                </li>
                                <li class="social_nav_item">
                                    <a class="social_nav_link social_nav_link_instagram" href="https://instagram.com/johntylercc" target="_blank" rel="noopener">
                                        <span class="social_nav_icon">
                                            <svg class="icon icon_instagram">
                                                <use href="/static-html/images/icons.svg#instagram" />
                                            </svg>
                                        </span>
                                        <span class="social_nav_label">Instagram</span>
                                    </a>
                                </li>
                                <li class="social_nav_item">
                                    <a class="social_nav_link social_nav_link_linkedin" href="https://www.linkedin.com/school/59502" target="_blank" rel="noopener">
                                        <span class="social_nav_icon">
                                            <svg class="icon icon_linkedin">
                                                <use href="/static-html/images/icons.svg#linkedin" />
                                            </svg>
                                        </span>
                                        <span class="social_nav_label">Linkedin</span>
                                    </a>
                                </li>
                                <li class="social_nav_item">
                                    <a class="social_nav_link social_nav_link_youtube" href="https://www.youtube.com/johntylercommcollege" target="_blank" rel="noopener">
                                        <span class="social_nav_icon">
                                            <svg class="icon icon_youtube">
                                                <use href="/static-html/images/icons.svg#youtube" />
                                            </svg>
                                        </span>
                                        <span class="social_nav_label">Youtube</span>
                                    </a>
                                </li>
                            </ul>
                        </div><!-- /social_nav -->
                    </div><!-- /footer_ribbon_group footer_ribbon_group_social -->
                    <div class="footer_ribbon_group footer_ribbon_group_auxilary">
                        <nav class="js-nav js-auxilary-nav js-auxilary-nav-lg nav auxilary_nav auxilary_nav_lg" aria-labelledby="auxilary_nav_title_lg">
                            <div class="nav_header auxilary_nav_header">
                                <h2 class="nav_title auxilary_nav_title" id="auxilary_nav_title_lg">Auxilary</h2>
                            </div>
                            <ul class="js-nav-list js-auxilary-nav-list nav_list auxilary_nav_list" aria-labelledby="auxilary_nav_title_lg">
                                <li class="js-nav-item js-auxilary-nav-item js-auxilary-nav-item-1 nav_item auxilary_nav_item">
                                    <div class="nav_item_inner auxilary_nav_item_inner">
                                        <a class="js-nav-link js-auxilary-nav-link nav_link auxilary_nav_link" href="/about/public-records/">
                                            <span class="nav_link_icon auxilary_nav_link_icon" aria-hidden="true">
                                                <svg class="icon icon_caret_right">
                                                    <use href="/static-html/images/icons.svg#caret_right" />
                                                </svg>
                                            </span>
                                            <span class="nav_link_label auxilary_nav_link_label">FOIA</span>
                                        </a>
                                    </div>
                                </li>
                                <li class="js-nav-item js-auxilary-nav-item js-auxilary-nav-item-2 nav_item auxilary_nav_item">
                                    <div class="nav_item_inner auxilary_nav_item_inner">
                                        <a class="js-nav-link js-auxilary-nav-link nav_link auxilary_nav_link" href="/about/employment-opportunities/">
                                            <span class="nav_link_icon auxilary_nav_link_icon" aria-hidden="true">
                                                <svg class="icon icon_caret_right">
                                                    <use href="/static-html/images/icons.svg#caret_right" />
                                                </svg>
                                            </span>
                                            <span class="nav_link_label auxilary_nav_link_label">Employment at Tyler</span>
                                        </a>
                                    </div>
                                </li>
                                <li class="js-nav-item js-auxilary-nav-item js-auxilary-nav-item-3 nav_item auxilary_nav_item">
                                    <div class="nav_item_inner auxilary_nav_item_inner">
                                        <a class="js-nav-link js-auxilary-nav-link nav_link auxilary_nav_link" href="https://www.vccs.edu/">
                                            <span class="nav_link_icon auxilary_nav_link_icon" aria-hidden="true">
                                                <svg class="icon icon_caret_right">
                                                    <use href="/static-html/images/icons.svg#caret_right" />
                                                </svg>
                                            </span>
                                            <span class="nav_link_label auxilary_nav_link_label">VCCS</span>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </nav>
                        <p class="copyright">
                            <span class="copyright_icon">&copy;</span>
                            <span class="copyright_holder">
                                <span class="copyright_holder_name"></span>
                            </span>
                            <span class="copyright_year">{current_time format="%Y"}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- END: Footer -->