.fs-row.content-width{
	width: auto;
}

// =============================================================================
// Calendar
// =============================================================================

ul.pager {
    list-style-type: none;
    margin-left: 0;
    li{
    	padding-left: 0;
    }
    li::before{
    	background-color:none;
    	width: 0;
    	height: 0;
    }
    li > a,
	li > span {
	    display: inline-block;
	    padding: 5px 10px;
	    background-color: #fff;
	    border: 1px solid rgba(98,98,98,0.25);
	    line-height: 1.2;
	}
}
.right ul.pager{
	li{
		text-align: right;
	}
}

.typography #week_calendar ul li::before {
	height: 0;
	width: 0;
}
span.time{
	float: left;
	margin-right: 1rem;
}
#week_calendar{
	margin:2.5rem 0 1.875rem;
	thead a{
		border-bottom: 0;
		color: #ffffff;
	}
	.center{
		text-align: center;
	}
	.left {
	    float: left;
	}
	.right {
	    float: right;
	    text-align: right;
	}
	.today{
		background-color:#f1c400;
	}
	a:hover{
		cursor: pointer;
	}
	.event.tips{
		float:left;
	}
	.list-group-item{
		min-height: 35px;
	}
	.starts-ends-all{
		font-size: .9rem;
	}
}
#month_calendar{
	.btn{
		background:#660033;
		border: 1px solid rgba(98,98,98,0.25);
		color: #ffffff;
		padding:0.5rem 1rem;
		width: 100%;
	}
	.dropdown-menu {
	    position: absolute;
	    z-index: 1000;
	    display: none;
		left:39%;
	    min-width: 15rem;
	    padding: 5px 0;
	    margin: 2px 0 0;
	    text-align: left;
	    list-style: none;
	    background-color: #fff;
	    -webkit-background-clip: padding-box;
	    background-clip: padding-box;
	    border: 1px solid #ccc;
	    border: 1px solid rgba(0,0,0,.15);
	    border-radius: 4px;
	    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	    box-shadow: 0 6px 12px rgba(0,0,0,.175);
	    li::before{
	    	background-color:transparent;
	    }
	}
	.event{
		padding: 2px 0 0 0;
	}
	.open > .dropdown-menu {
	    display: block;
	}
	.caret {
	    display: inline-block;
	    width: 0;
	    height: 0;
	    margin-left: 2px;
	    vertical-align: middle;
	    border-top: 10px dashed;
	        border-top-width: 10px;
	    border-top: 10px solid\9;
	    border-right: 10px solid transparent;
	        border-right-width: 10px;
	    border-left: 10px solid transparent;
	        border-left-width: 10px;
	}
	.table_wrapper_inner{
		overflow-y: visible;
	}
	th.center h3{
		text-align: center;
	}
	table thead td,
	table th{
		background:#f8f8f8;
		color: #000000;
		&.day_of_week{
			background:#173a45;
			color: #ffffff;
		}
		&.day_cell{
			background:#ffffff;
		}
	}
	#month_calendar_inner table th{
		background:#ffffff;
	}
	.day_cell .all_day, .day_cell .multi_day {
	    border: 1px solid;
	    padding: 0 6px;
	    line-height: 20px;
	    color: #7f7f7f;
	}
	.day_cell .multi_day {
	    margin-bottom: 2px;
	    background-color: #f2f2f2;
	    border-top: 1px solid;
	        border-top-color: currentcolor;
	    border-bottom: 1px solid;
	        border-bottom-color: currentcolor;
	    border-left: none;
	    border-right: none;
	        border-right-color: currentcolor;
	    border-color: #c6c6c6;
	    margin-left: -5px;
	    margin-right: -5px;
	}
	#month_calendar_outer{
		.table_wrapper{
			margin: 0;
		}
		td{
			padding-top:0;
		}
		td.day_cell{
			height: 100px;
	     	padding: 10px 5px 5px;
			.has_events{
				margin-bottom: .8rem;
			}
		}
	}
}
#mini_calendar{
	margin-bottom: 1.25rem;
	.table_wrapper{
		margin: 0;
	}
	table td,
	table th{
		padding:.8rem .5rem;
	}
}
.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2060;
  display: none;
  max-width: 276px;
  padding: 1px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, .2);

  line-break: auto;
  h3{
  	font-size:1.7rem;
  	margin:0;
  	padding-bottom:0;
  	padding-top:5px;
  }
  a:hover{
  	cursor: pointer;
  }
  .summary{
  	font-size: .9rem;
  }
}
.popover.top {
  margin-top: -10px;
}
.popover.right {
  margin-left: 10px;
}
.popover.bottom {
  margin-top: 10px;
}
.popover.left {
  margin-left: -10px;
}
.popover-title {
  padding: 0 14px 0;
  margin: 0;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0;
}
.popover-title span.event_time {
	background:none;
    display: block;
    color: #4f4f4f;
    font-size: 1.2rem;
    margin-left: 0;
    padding-left:0;
    margin-top: 0px;
    padding-top:2px;
}
.popover hr{
	margin:1rem 0;
}
.popover-content {
  padding: 9px 14px;
}
.popover > .arrow,
.popover > .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.popover > .arrow {
  border-width: 11px;
}
.popover > .arrow:after {
  content: "";
  border-width: 10px;
}
.popover.top > .arrow {
  bottom: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-color: #999;
  border-top-color: rgba(0, 0, 0, .25);
  border-bottom-width: 0;
}
.popover.top > .arrow:after {
  bottom: 1px;
  margin-left: -10px;
  content: " ";
  border-top-color: #fff;
  border-bottom-width: 0;
}
.popover.right > .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-right-color: #999;
  border-right-color: rgba(0, 0, 0, .25);
  border-left-width: 0;
}
.popover.right > .arrow:after {
  bottom: -10px;
  left: 1px;
  content: " ";
  border-right-color: #fff;
  border-left-width: 0;
}
.popover.bottom > .arrow {
  top: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #999;
  border-bottom-color: rgba(0, 0, 0, .25);
}
.popover.bottom > .arrow:after {
  top: 1px;
  margin-left: -10px;
  content: " ";
  border-top-width: 0;
  border-bottom-color: #fff;
}
.popover.left > .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-right-width: 0;
  border-left-color: #999;
  border-left-color: rgba(0, 0, 0, .25);
}
.popover.left > .arrow:after {
  right: 1px;
  bottom: -10px;
  content: " ";
  border-right-width: 0;
  border-left-color: #fff;
}
.typography a.square-button{
	border:0.0625rem solid rgba(98,98,98,0.25);
	padding:0.3125rem 0.625rem;
}
.card_group.white{
	background:white;
	padding:0;
}
.mb-3{
	margin-bottom: 3rem;
}
// =============================================================================
// Next Up
// =============================================================================

.fs-grid .fs-row .fs-cell.block {
    text-transform: uppercase;
    a {
	    color: #ffffff;
	    border-bottom:0.2rem solid #FFFFFF;
	    transition: opacity .2s;
	    &:hover{
	    	border-bottom:0.2rem solid #FFFFFF;
	    	color: #FFFFFF;
	    	opacity: .9;
	    }
	}
	p {
	    font-size: 2.2rem;
	    font-weight: 100;
	    line-height: 1.3;
	    margin: 1.8rem 1.6rem;
	}
}
.blocklabel {
    background: #ffffff;
    color: #008375;
    font-weight: 300;
    padding: .3rem .8rem .3rem;
}
.tealblock2,
.tealblock3{
	background:#00a88f;
	float: left;
	font-family: 'Knockout', Arial, Helvetica, sans-serif;
	padding-top:1rem;
}
.tealblock3{
	background:#173a45;
}
.fs-grid .fs-row .fs-cell.fs-lg-12.fivethingsheader {
    background: #660033;
    max-width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%
}
.fs-grid .fs-row .fs-cell.fs-lg-12.fivethings{
	max-width: 100%;
	width: 100%;
}
.fivethingsheader h3 {
    font-size: 2rem;
    font-weight: 500;
    color: #e53e51;
    text-align: center;
}
.fivethings ol {
    counter-reset: jtcc-counter;
    margin-bottom: 0;
    margin-left: 0;
}
.fivethings ol li {
    background: #f8e8e3;
    color: #000000;
    font-size: 1.2rem;
    padding: 1rem 0.9375rem 2rem 4rem;
    position: relative;
}
.fivethings ol > li {
    list-style: none;
    margin-bottom: .5rem;
}
.fs-row .fivethings ol > li::before {
    background: #f8e8e3;
    color: #e53e51;
    content: counter(jtcc-counter);
    counter-increment: jtcc-counter;
    position: absolute;
    left: 0;
    font: normal 2rem Oswald;
    margin-top: -1rem;
    margin-left: 0;
    padding: 1rem 1rem 2rem 1rem;
}
.tylerataglance, .nextup {
    background: #e53e51;
    text-align: center;
    padding: 1rem 0.9375rem 2rem;
}
.nextup a {
    border: 1px solid;
    display: block;
    font-size: 1.2rem;
    margin-top: .5rem;
    padding: .5rem 0;
}

.news_meta_categories{
	display: flex;
	flex-direction: column;
	a{
		display: inline;
	}
	li::after{
		content: ",";
		margin-right: 5px;
	}
	li:last-child::after{
		content: "";
		margin-right: 0;
	}
}
// =============================================================================
// Media Queries
// =============================================================================

@media #{$min_md} {
	.mobile-only{
		display: none;
	}
	.news_meta_categories{
		flex-direction: row;
	}
}

@media #{$min_lg} {
	.card_group_items.card_count_3 .card_group_item{
		margin-right: 3.45rem;
		width:29%;
	}
	.card_group.white.last{
		margin-bottom: 4.375rem;
	}
	.tealblock2, .tealblock3 {
	    float: none;
	    height: 415px;
	}
	.fs-grid .fs-row .fs-lg-6.block {
		width: 46.91%;
	    max-width: 46.91%;
	    min-width: 0;
	    flex: 0 0 46.91%;
		&.left{
			margin:0 2.545% 0 0;
		}
		&.right{
			margin:0 0 0 3.545%;
		}
		p {
		    font-size: 3.2rem;
		}
	}
	.fivethingsheader h3 {
	    font-size: 4.8rem;
	}
	.fivethings ol li {
	    font-size: 1.4rem;
	    padding: 2rem 0.9375rem 4rem 7rem;
	}
	.fivethings ol > li {
	    margin-bottom: 2rem;
	}
	.fivethings ol > li::before {
	    font: normal 3.3rem Oswald;
	    margin-top: -2rem;
	    padding: 2rem 2rem 3rem 2rem;
	}
	.nextup a {
	    font-size: 2rem;
	    margin-top: 1rem;
	    padding: 0;
	}
}

@media #{$min_xl} {
	
}

@media #{$min_xxl} {
	
}