{layout='layouts/_main-wrapper'}

            <!-- Page Feature -->
            
<div class="page_feature">
    {!-- Check if field has images
        /news never will since it's a template
     --}
    {if layout:page_header_bg_image != ''}
    <div class="page_header_bg">
        <div class="page_header_bg_inner">
            <div class="page_header_bg_group">
                <div class="page_header_bg_media">
                    <div class="page_header_bg_media_inner">
                        <figure class="page_header_bg_figure">
                            <span class="lazy_image_wrapper page_header_bg_image_wrapper">
                                <img class="js-lazy js-lazyload page_header_bg_image"  data-sizes="auto"  src="/images/placeholder.png" data-src='{layout:page_header_bg_image_500x214}' data-srcset='{layout:page_header_bg_image_500x214} 500w, {layout:page_header_bg_image_740x317} 740w, {layout:page_header_bg_image_980x420} 980w, {layout:page_header_bg_image_1220x523} 1220w, {layout:page_header_bg_image_1440x617} 1440w'  alt="">
                            </span>
                            <noscript>
                                <img class="page_header_bg_image" src='{layout:page_header_bg_image_1440x617}'  srcset='{layout:page_header_bg_image_1440x617} 1440w, {layout:page_header_bg_image_1220x523} 1220w, {layout:page_header_bg_image_980x420} 980w, {layout:page_header_bg_image_740x317} 740w, {layout:page_header_bg_image_500x214} 500w' sizes="100vw"  alt=""  itemprop="primaryImageOfPage" >
                            </noscript>
                        </figure>
                    </div>
                </div>
                <div class="page_header_bg_content">
                    <div class="page_intro">
                        <div class="fs-row">
                            <div class="fs-cell fs-lg-10 fs-xl-9">
                                <div class="page_intro_inner">
                                    
                                    {!--{snp_breadcrumbs}--}    
                                    {embed="common/_breadcrumbs_tyler"}
                                        <h1 class="page_title" itemprop="name">{layout:title}</h1>
                                        {if layout:page_description}
                                        <p class="page_description" itemprop="description">{layout:page_description}</p>
                                        {/if}
                                </div>
                            </div>{!-- /fs-cell --}
                        </div>{!-- /fs-row --}
                    </div>{!-- /page_intro --}
                </div>{!-- /page_header_bg_content --}
            </div>{!-- /page_header_bg_group --}
        </div>{!-- /page_header_bg_inner --}
    </div>{!-- /page_header_bg --}
    {if:elseif segment_2 != ''}
    
    <div class="page_header">
        <div class="page_header_inner">
            <div class="page_header_body">
                {if segment_1 == 'major'}
                    {embed="common/_breadcrumbs_major"}
                {if:else}
                    {embed="common/_breadcrumbs_tyler_no_image"}
                {/if}
                <div class="page_intro">
                    <div class="fs-row">
                        <div class="fs-cell fs-lg-10 fs-xl-9">
                            <div class="page_intro_inner">
                                <h1 class="page_title" itemprop="name">{layout:title}{layout:tag_title}</h1>
                                {if layout:page_description}
                                        <p class="page_description" itemprop="description">{layout:page_description}</p>
                                {/if}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {if:else}
    {!-- News home --}
    <div class="featured_news theme_featured">
        <div class="fs-row">
            <div class="fs-cell">
                <div class="featured_news_inner">
                    <div class="featured_news_breadcrumbs">
                        <nav class="breadcrumb_nav" aria-labelledby="breadcrumb_nav_title">
                            <div class="breadcrumb_nav_header">
                                <h2 class="breadcrumb_nav_title" id="breadcrumb_nav_title">You are here:</h2>
                            </div>
                            <ol class="breadcrumb_list" aria-labelledby="breadcrumb_nav_title">
                                <li class="breadcrumb_item breadcrumb_item_home">
                                    <a class="breadcrumb_pill breadcrumb_pill_link" href="page-home.html">
                                        <span class="breadcrumb_pill_inner">
                                            <span class="breadcrumb_pill_label">Home</span>
                                            <span class="breadcrumb_pill_icon">
                                                <svg class="icon icon_caret_right">
                                                    <use href="/images/icons.svg#caret_right" />
                                                </svg>
                                            </span>
                                        </span>
                                    </a>
                                </li>
                                <li class="breadcrumb_item">
                                    <span class="breadcrumb_pill">
                                        <span class="breadcrumb_pill_inner">
                                            <span class="breadcrumb_pill_label">News</span>
                                        </span>
                                    </span>
                                </li>
                            </ol>
                        </nav>
                    </div><!-- /featured_news_breadcrumbs -->
                    <div class="featured_news_header">
                        <h1 class="featured_news_title">News</h1>
                    </div><!-- /featured_news_header -->


                    <div class="featured_news_body">
                        {exp:channel:entries
                            channel='{layout:ch}' 
                            disable='{layout:ch_disable}' 
                            dynamic="no" 
                            limit="1"
                            category="39"
                            search:featured_on_news_page="not IS_EMPTY" 
                        }
                        <div class="featured_news_spotlight">
                            <div class="story theme_turquoise">
                                <figure class="story_figure has_wide_image">
                                    <a class="story_figure_link" href="{url_title_path=news}" aria-label="Read more about {title}" tabindex="-1">
                                        {story_image} 
                                        <span class="lazy_image_wrapper story_image_wrapper">
                                            <img class="js-lazy js-lazyload story_image" data-sizes="auto" src="/images/placeholder.png" data-src='
                                            {img:url:resize width="740" height="494"}
                                            ' data-srcset='{img:url:resize width="740" height="494"} 740w, {img:url:resize width="980" height="654"} 980w' alt="{img:title}">
                                        </span>
                                        <noscript>
                                            <img class="story_image" src='{img:url:resize width="980" height="654"}' srcset='{img:url:resize width="980" height="654"} 980w, img:url:resize width="740" height="494"} 740w' sizes="100vw" alt="{img:title}">
                                        </noscript>
                                        {/story_image}
                                    </a>
                                </figure>
                                <div class="story_wrapper">
                                    <div class="story_label">Featured News</div>
                                    <h2 class="story_title">

                                        <a href="{url_title_path=news}" class="story_title_link">
                                            <span class="story_title_link_inner">
                                                <span class="story_title_link_label">{title}</span>
                                            </span>
                                        </a>
                                    </h2>
                                    <div class="story_description">
                                        <p>{story_description}</p>
                                    </div>

                                    <a href="{url_title_path=news}" class="story_discovery_link">
                                        <span class="story_discovery_link_inner">
                                            <span class="story_discovery_link_label">Read The Story</span>
                                            <span class="story_discovery_link_icon" aria-hidden="true">
                                                <span class="story_discovery_link_icon_inner">
                                                    <span class="story_discovery_link_icon_space">&#xfeff;</span>

                                                    <svg class="icon icon_caret_right">
                                                        <use href="/images/icons.svg#caret_right" />
                                                    </svg>

                                                </span>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div><!-- /story theme_turquoise -->
                            {/exp:channel:entries}
                        </div><!-- /featured_news_spotlight -->
                        
                        
                        <div class="featured_news_content">
                            <div class="js-carousel featured_news_articles" data-carousel-options='{
                            "maxWidth": "739px"
                        }'>
                        {exp:channel:entries
                            channel='{layout:ch}' 
                            disable='{layout:ch_disable}' 
                            dynamic="no"
                            category="39"
                            search:featured_on_news_page="IS_EMPTY" 
                            limit="3"
                        }
                                <div class="featured_news_article fs-carousel-item">
                                    <time class="featured_news_article_date" datetime='{entry_date format="%F %d, %Y"}'>{entry_date format="%F %d, %Y"}</time>
                                    <h3 class="featured_news_article_title">

                                        <a href="{url_title_path=news}" class="featured_news_article_title_link">
                                            <span class="featured_news_article_title_link_inner">
                                                <span class="featured_news_article_title_link_label">{title}</span>
                                                <span class="featured_news_article_title_link_icon" aria-hidden="true">
                                                    <span class="featured_news_article_title_link_icon_inner">
                                                        <span class="featured_news_article_title_link_icon_space">&#xfeff;</span>

                                                        <svg class="icon icon_caret_right">
                                                            <use href="/images/icons.svg#caret_right" />
                                                        </svg>

                                                    </span>
                                                </span>
                                            </span>
                                        </a>
                                    </h3>
                                </div><!-- /featured_news_article fs-carousel-item -->
                            {/exp:channel:entries}
                            <div class="featured_news_hint">
                                <span class="featured_news_hint_icon">
                                    <svg class="icon icon_arrow_down">
                                        <use href="/images/icons.svg#arrow_down" />
                                    </svg>
                                </span>
                                <span class="featured_news_hint_label"><a href="#entries">Scroll for more stories</a></span>
                            </div><!-- /featured_news_hint -->
                           </div><!-- /featured_news_content -->

                    </div><!-- /featured_news_body -->


                </div><!-- /featured_news_inner -->
            </div><!-- /fs-cell -->
        </div><!-- /fs-row -->
    </div><!-- /featured_news theme_featured -->

                    

                
                  




    {/if}
   {if segment_2 != '' AND segment_2 == '{layout:url_title}'}
    <div class="news_meta" id="meta" data-type="news" data-category="Category 1">
        <div class="fs-row">
            <div class="fs-cell">
                <div class="news_meta_inner">
                    <div class="news_meta_body">
                        <div class="news_item_details">
                            <div class="news_item_detail news_item_date">
                                <span class="news_item_detail_hint">Published:
                                </span>
                                <time class="news_item_detail_label" datetime="{layout:entry_date format='%Y-%m-%d'}">{layout:entry_date format="%F %d, %Y"}</time>
                            </div>
                            {if layout:author}
                            <div class="news_item_detail news_item_author">
                                <span class="news_item_detail_hint">by
                                </span>
                                <span class="news_item_detail_label">{layout:author}</span>
                            </div>
                            {/if}
                        </div>
                        <div class="news_meta_categories_block">
                            <span class="news_meta_categories_icon">
                                <svg class="icon icon_label">
                                    <use href="/images/icons.svg#label"></use>
                                </svg>
                            </span>
                            {layout:categories}
                        </div>
                    </div><!-- /news_meta_body -->
                    <div class="js-share-tools share_tools fs-swap-target fs-swap-enabled">
                        <div class="share_tools_header">
                            <h2 class="share_tools_title">Share Options</h2>
                            <button class="js-share-tools-toggle share_tools_toggle fs-swap-element fs-swap-enabled" data-swap-target=".js-share-tools" aria-haspopup="true" aria-expanded="false">
                                <span class="share_tools_toggle_inner">
                                    <span class="share_tools_toggle_label">Share This</span>
                                </span>
                            </button>
                        </div>
                        <ul class="js-share-tools-list share_tools_list" aria-label="Share Options" aria-hidden="true">
                            <li class="js-share-tool-item share_tool_item">
                                <a class="js-share-tool js-share-twitter share_tool" href="//twitter.com/intent/tweet?text=%0A%09%09Default%0A%09%09%C2%BB%20Pattern%20Library%0A%09&amp;url=https://jtcc.dev.fastspot.com/components/preview/template-news-detail-image.html" target="_blank" rel="noopener" tabindex="-1">
                                    <span class="share_tool_icon">
                                        <svg class="icon icon_twitter">
                                            <use href="/images/icons.svg#twitter"></use>
                                        </svg>
                                    </span>
                                    <span class="share_tool_label">Share to Twitter</span>
                                </a>
                            </li>
                            <li class="js-share-tool-item share_tool_item">
                                <a class="js-share-tool js-share-facebook share_tool fbc-has-badge fbc-UID_1" href="//www.facebook.com/sharer/sharer.php?u=https://jtcc.dev.fastspot.com/components/preview/template-news-detail-image.html" target="_blank" rel="noopener" tabindex="-1">
                                    <span class="share_tool_icon">
                                        <svg class="icon icon_facebook">
                                            <use href="/images/icons.svg#facebook"></use>
                                        </svg>
                                    </span>
                                    <span class="share_tool_label">Share to Facebook</span>
                                </a>
                            </li>
                            <li class="js-share-tool-item share_tool_item">
                                <a class="js-share-tool js-share-linkedin share_tool" href="//www.linkedin.com/shareArticle?mini=true&amp;url=https://jtcc.dev.fastspot.com/components/preview/template-news-detail-image.html&amp;title=%0A%09%09Default%0A%09%09%C2%BB%20Pattern%20Library%0A%09" target="_blank" rel="noopener" tabindex="-1">
                                    <span class="share_tool_icon">
                                        <svg class="icon icon_linkedin">
                                            <use href="/images/icons.svg#linkedin"></use>
                                        </svg>
                                    </span>
                                    <span class="share_tool_label">Share to Linkedin</span>
                                </a>
                            </li>
                        </ul>
                    </div><!-- /js-share-tools share_tools fs-swap-target fs-swap-enabled -->
                </div><!-- /news_meta_inner -->
            </div><!-- /fs-cell -->
        </div><!-- /fs-row -->
    </div><!-- /news_meta -->
    {/if}
</div>
<!-- END: Page Feature -->
                    {!-- <div class="featured_news_header">
                        <h1 class="featured_news_title">{if segment_2 == ''}News{if:else}{layout:title}{/if}</h1>
                    </div> --}
                    


    {layout:contents}
    {snp_alert}


                    {!-- <div class="featured_news_header">
                        <h1 class="featured_news_title">{if segment_2 == ''}News{if:else}{layout:title}{/if}</h1>
                    </div> --}