</main>
<!-- END: Page -->

<!-- Footer -->
<footer class="footer" id="footer">
	<div class="footer_primary">
		<div class="fs-row">
			<div class="fs-cell">
				<div class="footer_primary_inner">
					{% if page.alert == true %}
						<div class="alert_open_wrapper">
							<button class="js-alert-open alert_open">
								<span class="alert_open_inner">
									<span class="alert_open_icon" aria-hidden="true">
										<span class="alert_open_icon_inner">{{ icon("plus") }}</span>
									</span>
									<span class="alert_open_label">Open site alert</span>
								</span>
							</button>
						</div>
					{% endif %}

					{% render "@partial-meta" %}

					{% render "@navigation-basic" with {
						class: "footer_nav",
						modifier: "",
						title: "Footer",
						toggle_icon: "",
						active_index: "",
						links: navigation.footer
					} %}

					{% render "@navigation-social" with {
						title: "Social",
						links: navigation.social
					} %}
				</div>
			</div>
		</div>
	</div>
	<div class="footer_ribbon">
		<div class="fs-row">
			<div class="fs-cell">
				<div class="footer_ribbon_inner">
					{% render "@navigation-basic" with {
						class: "utility_nav",
						modifier: "",
						title: "Utility",
						toggle_icon: "",
						active_index: "",
						links: navigation.utility
					} %}

					{% render "@partial-copyright" %}
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- END: Footer -->
