</main>
<!-- END: Page -->

<!-- Footer -->
<footer class="footer" id="footer">
	<div class="footer_primary">
		<div class="fs-row">
			<div class="fs-cell">
				<div class="footer_primary_inner">
					{% render "@partial-logo" with {
						modifier: "footer",
						icon: "logo",
						print: ""
					} %}

					<div class="footer_primary_content">
						<div class="footer_primary_group footer_primary_group_meta">
							{% render "@partial-meta--chester" %}
							{% render "@partial-meta--midlothian" %}
						</div>
						<div class="footer_primary_group footer_primary_group_nav">
							{% render "@navigation-basic--footer" with {
								class: "footer_nav"
							} %}
							{% render "@navigation-basic--auxilary" with {
								class: "auxilary_nav",
								modifier: "sm"
							} %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer_ribbon">
		<div class="fs-row">
			<div class="fs-cell">
				<div class="footer_ribbon_inner">
					<div class="footer_ribbon_group footer_ribbon_group_social">
						{% render "@navigation-social" with {
							links: navigation.social
						} %}
					</div>
					<div class="footer_ribbon_group footer_ribbon_group_auxilary">
						{% render "@navigation-basic--auxilary" with {
							modifier: "lg"
						} %}

						{% render "@partial-copyright" %}
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- END: Footer -->

{% if page.alert == true %}
	<div class="alert_open_wrapper">
		<div class="fs-row">
			<div class="fs-cell">
				<button class="js-alert-open alert_open">
					<span class="alert_open_inner">
						<span class="alert_open_icon" aria-hidden="true">{{icon("alert")}}</span>
						<span class="alert_open_label">Open site alert</span>
					</span>
				</button>
			</div>
		</div>
	</div>
{% endif %}