

<!DOCTYPE html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">

	<title>
		Gold
		&raquo; Pattern Library
	</title>

<link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
<link rel="manifest" href="/favicons/site.webmanifest">
<link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#ffffff">
<link rel="shortcut icon" href="/favicons/favicon.ico">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-config" content="/favicons/browserconfig.xml">
<!-- Facebook -->
<meta property="og:title" content="">
<meta property="og:type" content="website">
<meta property="og:image" content="http:///social.png">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="600">
<meta property="og:description" content="">
<meta property="og:site_name" content="">

	<!-- Twitter -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@">
	<meta name="twitter:creator" content="@">
	<meta name="twitter:url" content="//twitter.com/">
	<meta name="twitter:title" content="">
	<meta name="twitter:description" content="">
	<meta name="twitter:image" content="http:///social.png">

<link media="all" rel="stylesheet" href="/css/site.css">


<!-- Google Tag Manager -->
<script>
	(function (w, d, s, l, i) {
w[l] = w[l] || [];
w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
var f = d.getElementsByTagName(s)[0],
j = d.createElement(s),
dl = l != 'dataLayer' ? '&l=' + l : '';
j.async = true;
j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl;
f.parentNode.insertBefore(j, f);
})(window, document, 'script', 'dataLayer', 'GTM-K6P58WP');
</script>
<!-- End Google Tag Manager -->
	</head>

	<body class="preload no-js fs-grid theme-default ">
		<noscript>
			<iframe src="//www.googletagmanager.com/ns.html?id=GTM-K6P58WP" height="0" width="0" style="display:none;visibility:hidden"></iframe>
		</noscript>

		<div class="js-alert-wrapper">
					</div>

		

		<main>
							<div class="testimonial theme-gold">
	<div class="testimonial_inner">
		<div class="testimonial_content">
			<div class="testimonial_icon_wrap">
				<div class="testimonial_icon">
					
			<svg class="icon icon_quote">
				<use href="/images/icons.svg#quote" />
			</svg>
		
				</div>
			</div>

			<blockquote class="testimonial_quote">
				<p>Aut fuga rerum doloribus ipsa distinctio nihil vitae quis. Eligendi facere consequuntur expedita recusandae qui. Magnam sequi odio. Minus sed sint nam. Maiores quod quis quaerat doloremque.</p>
			</blockquote>

			<div class="testimonial_info">
				<div class="testimonial_quote_name">Kevin Klein</div>
									<a class="testimonial_quote_title" href="#">Supervisor</a>
							</div>
		</div>

		<div class="testimonial_media">
			<span class="lazy_image_wrapper testimonial_image_wrapper">
	<img class="js-lazy js-lazyload testimonial_image"  data-sizes="auto"  src="/images/placeholder.png" data-src="https://images.fastspot.com/jtcc/740x555/7"  data-srcset="//images.fastspot.com/jtcc/740x555/7 740w, //images.fastspot.com/jtcc/980x735/7 980w"  alt="">
</span>
<noscript>
	<img class="testimonial_image" src="https://images.fastspot.com/jtcc/980x735/7"  srcset="//images.fastspot.com/jtcc/980x735/7 980w, //images.fastspot.com/jtcc/740x555/7 740w" sizes="100vw"  alt="" >
</noscript>

			<div class="js-background testimonial_background" data-background-options='{"source": { "1220px": "//images.fastspot.com/jtcc/1080x1440/7", "740px": "//images.fastspot.com/jtcc/735x980/7", "500px": "//images.fastspot.com/jtcc/980x654/7", "0px": "//images.fastspot.com/jtcc/494x740/7", "980px": "//images.fastspot.com/jtcc/915x1220/7"}, "lazy": true, "alt": ""}' aria-hidden="true">
	<div class="testimonial_background_fallback" style="background-image: url(' //images.fastspot.com/jtcc/300x129/7');"></div>
</div>
		</div>
	</div>
</div>

					</main>

		<script>
			var WWW_ROOT = "";
			var STATIC_ROOT = "../../index.html";
		</script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>

					
		
		<script src="../../js/site.js"></script>

					
		
			</body>
</html>

