

<!DOCTYPE html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">

	<title>
		Default
		&raquo; Pattern Library
	</title>

<link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
<link rel="manifest" href="/favicons/site.webmanifest">
<link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#ffffff">
<link rel="shortcut icon" href="/favicons/favicon.ico">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-config" content="/favicons/browserconfig.xml">
<!-- Facebook -->
<meta property="og:title" content="">
<meta property="og:type" content="website">
<meta property="og:image" content="http:///social.png">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="600">
<meta property="og:description" content="">
<meta property="og:site_name" content="">

	<!-- Twitter -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@">
	<meta name="twitter:creator" content="@">
	<meta name="twitter:url" content="//twitter.com/">
	<meta name="twitter:title" content="">
	<meta name="twitter:description" content="">
	<meta name="twitter:image" content="http:///social.png">

<link media="all" rel="stylesheet" href="/css/site.css">


<!-- Google Tag Manager -->
<script>
	(function (w, d, s, l, i) {
w[l] = w[l] || [];
w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
var f = d.getElementsByTagName(s)[0],
j = d.createElement(s),
dl = l != 'dataLayer' ? '&l=' + l : '';
j.async = true;
j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl;
f.parentNode.insertBefore(j, f);
})(window, document, 'script', 'dataLayer', 'GTM-K6P58WP');
</script>
<!-- End Google Tag Manager -->
	</head>

	<body class="preload no-js fs-grid theme-default ">
		<noscript>
			<iframe src="//www.googletagmanager.com/ns.html?id=GTM-K6P58WP" height="0" width="0" style="display:none;visibility:hidden"></iframe>
		</noscript>

		<div class="js-alert-wrapper">
					</div>

		

					<div class="news_related">
			<div class="news_related_header">
			<div class="fs-row">
				<div class="fs-cell ">
					<div class="news_related_header_inner">
													<h2 class="news_related_title">Related News</h2>
																			<div class="news_related_description">
								<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod. Donec ullamcorper nulla non metus auct.</p>
							</div>
											</div>
				</div>
			</div>
		</div>
		<div class="news_related_body">
		<div class="fs-row">
			<div class="fs-cell">
				<ul class="news_related_items">
											<li class="news_related_item">
							<div class="news_item">
			<figure class="news_item_figure">
							<a class="news_item_figure_link" href="page-news-detail.html" aria-label="Read more about In Enim Justo Rhoncus Ut Lorem" tabindex="-1">
								<span class="lazy_image_wrapper news_item_image_wrapper">
	<img class="js-lazy js-lazyload news_item_image"  data-sizes="auto"  src="/images/placeholder.png" data-src="https://images.fastspot.com/false/300x200/1"  data-srcset="//images.fastspot.com/jtcc/300x200/1 300w, //images.fastspot.com/jtcc/500x334/1 500w, //images.fastspot.com/jtcc/740x494/1 740w, //images.fastspot.com/jtcc/980x654/1 980w"  alt="">
</span>
<noscript>
	<img class="news_item_image" src="https://images.fastspot.com/false/980x654/1"  srcset="//images.fastspot.com/jtcc/980x654/1 980w, //images.fastspot.com/jtcc/740x494/1 740w, //images.fastspot.com/jtcc/500x334/1 500w, //images.fastspot.com/jtcc/300x200/1 300w" sizes="100vw"  alt="" >
</noscript>
								</a>
					</figure>
		<div class="news_item_wrapper">
		<div class="news_item_header">
			<h2 class="news_item_title">
									

<a href="page-news-detail.html" class="news_item_title_link" >
	<span class="news_item_title_link_inner">
		<span class="news_item_title_link_label">In Enim Justo Rhoncus Ut Lorem</span>
					<span class="news_item_title_link_icon" aria-hidden="true">
				<span class="news_item_title_link_icon_inner">
					<span class="news_item_title_link_icon_space">&#xfeff;</span>
					
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		
				</span>
			</span>
			</span>
</a>
							</h2>
							<div class="news_item_categories">
					<div class="news_item_category_hint">Categories</div>
					<ul class="news_item_category_list" aria-label="Categories">
													<li class="news_item_category">
								<a class="news_item_category_link" href="page-news-category.html">Category 1</a>
							</li>
											</ul>
				</div>
					</div>
		<div class="news_item_body">
							<div class="news_item_details">
			<div class="news_item_detail news_item_date">
			<span class="news_item_detail_hint">Published:
			</span>
			<time class="news_item_detail_label" datetime="2019-01-01 17:00:00">January 1, 2019</time>
		</div>
				<div class="news_item_detail news_item_author">
			<span class="news_item_detail_hint">by
			</span>
			<span class="news_item_detail_label">Author</span>
		</div>
	</div>
										<div class="news_item_description">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget est sed ex pretium fringilla. Vivamus ac turpis quis eros consectetur ornare.</p>
				</div>
					</div>
	</div>
</div>
<!-- END: News Item -->
						</li>
											<li class="news_related_item">
							<div class="news_item">
			<figure class="news_item_figure">
							<a class="news_item_figure_link" href="page-news-detail.html" aria-label="Read more about Lorem ipsum dolor sit amet, consectetuer adipiscing elit" tabindex="-1">
								<span class="lazy_image_wrapper news_item_image_wrapper">
	<img class="js-lazy js-lazyload news_item_image"  data-sizes="auto"  src="/images/placeholder.png" data-src="https://images.fastspot.com/false/300x200/2"  data-srcset="//images.fastspot.com/jtcc/300x200/2 300w, //images.fastspot.com/jtcc/500x334/2 500w, //images.fastspot.com/jtcc/740x494/2 740w, //images.fastspot.com/jtcc/980x654/2 980w"  alt="">
</span>
<noscript>
	<img class="news_item_image" src="https://images.fastspot.com/false/980x654/2"  srcset="//images.fastspot.com/jtcc/980x654/2 980w, //images.fastspot.com/jtcc/740x494/2 740w, //images.fastspot.com/jtcc/500x334/2 500w, //images.fastspot.com/jtcc/300x200/2 300w" sizes="100vw"  alt="" >
</noscript>
								</a>
					</figure>
		<div class="news_item_wrapper">
		<div class="news_item_header">
			<h2 class="news_item_title">
									

<a href="page-news-detail.html" class="news_item_title_link" >
	<span class="news_item_title_link_inner">
		<span class="news_item_title_link_label">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</span>
					<span class="news_item_title_link_icon" aria-hidden="true">
				<span class="news_item_title_link_icon_inner">
					<span class="news_item_title_link_icon_space">&#xfeff;</span>
					
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		
				</span>
			</span>
			</span>
</a>
							</h2>
							<div class="news_item_categories">
					<div class="news_item_category_hint">Categories</div>
					<ul class="news_item_category_list" aria-label="Categories">
													<li class="news_item_category">
								<a class="news_item_category_link" href="page-news-category.html">Category One</a>
							</li>
													<li class="news_item_category">
								<a class="news_item_category_link" href="page-news-category.html">Another Category</a>
							</li>
											</ul>
				</div>
					</div>
		<div class="news_item_body">
							<div class="news_item_details">
			<div class="news_item_detail news_item_date">
			<span class="news_item_detail_hint">Published:
			</span>
			<time class="news_item_detail_label" datetime="2019-01-01 17:00:00">January 1, 2019</time>
		</div>
				<div class="news_item_detail news_item_author">
			<span class="news_item_detail_hint">by
			</span>
			<span class="news_item_detail_label">Author</span>
		</div>
	</div>
										<div class="news_item_description">
					<p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
				</div>
					</div>
	</div>
</div>
<!-- END: News Item -->
						</li>
											<li class="news_related_item">
							<div class="news_item">
			<figure class="news_item_figure">
							<a class="news_item_figure_link" href="page-news-detail.html" aria-label="Read more about Etiam ultricies nisi vel augue" tabindex="-1">
								<span class="lazy_image_wrapper news_item_image_wrapper">
	<img class="js-lazy js-lazyload news_item_image"  data-sizes="auto"  src="/images/placeholder.png" data-src="https://images.fastspot.com/false/300x200/3"  data-srcset="//images.fastspot.com/jtcc/300x200/3 300w, //images.fastspot.com/jtcc/500x334/3 500w, //images.fastspot.com/jtcc/740x494/3 740w, //images.fastspot.com/jtcc/980x654/3 980w"  alt="">
</span>
<noscript>
	<img class="news_item_image" src="https://images.fastspot.com/false/980x654/3"  srcset="//images.fastspot.com/jtcc/980x654/3 980w, //images.fastspot.com/jtcc/740x494/3 740w, //images.fastspot.com/jtcc/500x334/3 500w, //images.fastspot.com/jtcc/300x200/3 300w" sizes="100vw"  alt="" >
</noscript>
								</a>
					</figure>
		<div class="news_item_wrapper">
		<div class="news_item_header">
			<h2 class="news_item_title">
									

<a href="page-news-detail.html" class="news_item_title_link" >
	<span class="news_item_title_link_inner">
		<span class="news_item_title_link_label">Etiam ultricies nisi vel augue</span>
					<span class="news_item_title_link_icon" aria-hidden="true">
				<span class="news_item_title_link_icon_inner">
					<span class="news_item_title_link_icon_space">&#xfeff;</span>
					
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		
				</span>
			</span>
			</span>
</a>
							</h2>
							<div class="news_item_categories">
					<div class="news_item_category_hint">Categories</div>
					<ul class="news_item_category_list" aria-label="Categories">
													<li class="news_item_category">
								<a class="news_item_category_link" href="page-news-category.html">Category</a>
							</li>
											</ul>
				</div>
					</div>
		<div class="news_item_body">
							<div class="news_item_details">
			<div class="news_item_detail news_item_date">
			<span class="news_item_detail_hint">Published:
			</span>
			<time class="news_item_detail_label" datetime="2019-01-01 17:00:00">January 1, 2019</time>
		</div>
				<div class="news_item_detail news_item_author">
			<span class="news_item_detail_hint">by
			</span>
			<span class="news_item_detail_label">Author</span>
		</div>
	</div>
										<div class="news_item_description">
					<p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.</p>
				</div>
					</div>
	</div>
</div>
<!-- END: News Item -->
						</li>
											<li class="news_related_item">
							<div class="news_item">
			<figure class="news_item_figure">
							<a class="news_item_figure_link" href="page-news-detail.html" aria-label="Read more about Quisque rutrum" tabindex="-1">
								<span class="lazy_image_wrapper news_item_image_wrapper">
	<img class="js-lazy js-lazyload news_item_image"  data-sizes="auto"  src="/images/placeholder.png" data-src="https://images.fastspot.com/false/300x200/4"  data-srcset="//images.fastspot.com/jtcc/300x200/4 300w, //images.fastspot.com/jtcc/500x334/4 500w, //images.fastspot.com/jtcc/740x494/4 740w, //images.fastspot.com/jtcc/980x654/4 980w"  alt="">
</span>
<noscript>
	<img class="news_item_image" src="https://images.fastspot.com/false/980x654/4"  srcset="//images.fastspot.com/jtcc/980x654/4 980w, //images.fastspot.com/jtcc/740x494/4 740w, //images.fastspot.com/jtcc/500x334/4 500w, //images.fastspot.com/jtcc/300x200/4 300w" sizes="100vw"  alt="" >
</noscript>
								</a>
					</figure>
		<div class="news_item_wrapper">
		<div class="news_item_header">
			<h2 class="news_item_title">
									

<a href="page-news-detail.html" class="news_item_title_link" >
	<span class="news_item_title_link_inner">
		<span class="news_item_title_link_label">Quisque rutrum</span>
					<span class="news_item_title_link_icon" aria-hidden="true">
				<span class="news_item_title_link_icon_inner">
					<span class="news_item_title_link_icon_space">&#xfeff;</span>
					
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		
				</span>
			</span>
			</span>
</a>
							</h2>
							<div class="news_item_categories">
					<div class="news_item_category_hint">Categories</div>
					<ul class="news_item_category_list" aria-label="Categories">
													<li class="news_item_category">
								<a class="news_item_category_link" href="page-news-category.html">Category One</a>
							</li>
											</ul>
				</div>
					</div>
		<div class="news_item_body">
							<div class="news_item_details">
			<div class="news_item_detail news_item_date">
			<span class="news_item_detail_hint">Published:
			</span>
			<time class="news_item_detail_label" datetime="2019-01-01 17:00:00">January 1, 2019</time>
		</div>
				<div class="news_item_detail news_item_author">
			<span class="news_item_detail_hint">by
			</span>
			<span class="news_item_detail_label">Author</span>
		</div>
	</div>
										<div class="news_item_description">
					<p>Phasellus viverra nulla ut metus varius laoreet.</p>
				</div>
					</div>
	</div>
</div>
<!-- END: News Item -->
						</li>
									</ul>
			</div>
		</div>
	</div>
</div>
<!-- END: Related News -->

		
		<script>
			var WWW_ROOT = "";
			var STATIC_ROOT = "../../index.html";
		</script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>

					
		
		<script src="../../js/site.js"></script>

					
		
			</body>
</html>

