

<!DOCTYPE html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">

	<title>
		Default
		&raquo; Pattern Library
	</title>

<link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
<link rel="manifest" href="/favicons/site.webmanifest">
<link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#ffffff">
<link rel="shortcut icon" href="/favicons/favicon.ico">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-config" content="/favicons/browserconfig.xml">
<!-- Facebook -->
<meta property="og:title" content="">
<meta property="og:type" content="website">
<meta property="og:image" content="http:///social.png">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="600">
<meta property="og:description" content="">
<meta property="og:site_name" content="">

	<!-- Twitter -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@">
	<meta name="twitter:creator" content="@">
	<meta name="twitter:url" content="//twitter.com/">
	<meta name="twitter:title" content="">
	<meta name="twitter:description" content="">
	<meta name="twitter:image" content="http:///social.png">

<link media="all" rel="stylesheet" href="/css/site.css">


<!-- Google Tag Manager -->
<script>
	(function (w, d, s, l, i) {
w[l] = w[l] || [];
w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
var f = d.getElementsByTagName(s)[0],
j = d.createElement(s),
dl = l != 'dataLayer' ? '&l=' + l : '';
j.async = true;
j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl;
f.parentNode.insertBefore(j, f);
})(window, document, 'script', 'dataLayer', 'GTM-K6P58WP');
</script>
<!-- End Google Tag Manager -->
	</head>

	<body class="preload no-js fs-grid theme-default ">
		<noscript>
			<iframe src="//www.googletagmanager.com/ns.html?id=GTM-K6P58WP" height="0" width="0" style="display:none;visibility:hidden"></iframe>
		</noscript>

		<div class="js-alert-wrapper">
					</div>

		

					
	

<!-- Gallery -->
<div class="gallery">
	<div class="fs-row">
		<div class="fs-cell ">
			<div class="gallery_inner">
									<div class="gallery_header">
													<h2 class="gallery_title">Ipsum Fermentum Tristique</h2>
																			<div class="gallery_description">
								<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod. Donec ullamcorper nulla non metus auct.</p>
							</div>
											</div>
								<div class="gallery_body">
					<div class="js-carousel gallery_items" role="region" aria-label="Ipsum&#x20;Fermentum&#x20;Tristique Gallery" tabindex="0" data-carousel-options='{"contained":false,"labels":{"controls":"Ipsum Fermentum Tristique carousel controls","pagination":"Ipsum Fermentum Tristique carousel pagination"}}'>
													<div class="gallery_item">
								<figure class="gallery_item_figure"  aria-label="Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod. Donec ullamcorper nulla non metus auctor fringilla." >
									<span class="gallery_item_media">
										<span class="lazy_image_wrapper gallery_item_image_wrapper">
	<img class="js-lazy js-lazyload gallery_item_image"  data-sizes="auto"  src="/images/placeholder.png" data-src="https://images.fastspot.com/false/300x169/1"  data-srcset="//images.fastspot.com/jtcc/300x169/1 300w, //images.fastspot.com/jtcc/500x282/1 500w, //images.fastspot.com/jtcc/740x416/1 740w, //images.fastspot.com/jtcc/980x552/1 980w, //images.fastspot.com/jtcc/1220x686/1 1220w"  alt="">
</span>
<noscript>
	<img class="gallery_item_image" src="https://images.fastspot.com/false/1220x686/1"  srcset="//images.fastspot.com/jtcc/1220x686/1 1220w, //images.fastspot.com/jtcc/980x552/1 980w, //images.fastspot.com/jtcc/740x416/1 740w, //images.fastspot.com/jtcc/500x282/1 500w, //images.fastspot.com/jtcc/300x169/1 300w" sizes="100vw"  alt="" >
</noscript>
																			</span>
									<figcaption class="gallery_details">
										<span class="gallery_index">
											<span class="gallery_index_number">1</span>
											<span class="gallery_index_label">of</span>
											<span class="gallery_index_number">5</span>
										</span>
																					<p class="gallery_item_caption">Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod. Donec <a href='#'>ullamcorper nulla non metus auctor fringilla</a>.</p>
																			</figcaption>
								</figure>
							</div>
													<div class="gallery_item">
								<figure class="gallery_item_figure"  aria-label="Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo." >
									<span class="gallery_item_media">
										<span class="lazy_image_wrapper gallery_item_image_wrapper">
	<img class="js-lazy js-lazyload gallery_item_image"  data-sizes="auto"  src="/images/placeholder.png" data-src="https://images.fastspot.com/false/300x169/2"  data-srcset="//images.fastspot.com/jtcc/300x169/2 300w, //images.fastspot.com/jtcc/500x282/2 500w, //images.fastspot.com/jtcc/740x416/2 740w, //images.fastspot.com/jtcc/980x552/2 980w, //images.fastspot.com/jtcc/1220x686/2 1220w"  alt="">
</span>
<noscript>
	<img class="gallery_item_image" src="https://images.fastspot.com/false/1220x686/2"  srcset="//images.fastspot.com/jtcc/1220x686/2 1220w, //images.fastspot.com/jtcc/980x552/2 980w, //images.fastspot.com/jtcc/740x416/2 740w, //images.fastspot.com/jtcc/500x282/2 500w, //images.fastspot.com/jtcc/300x169/2 300w" sizes="100vw"  alt="" >
</noscript>
																					<a class="js-video-appender gallery_item_link" href="https://www.youtube.com/embed/XPjQhvjQbSM" target="_blank">
												<span class="gallery_item_link_inner">
													<span class="gallery_item_link_icon">
			<svg class="icon icon_play">
				<use href="/images/icons.svg#play" />
			</svg>
		</span>
													<span class="gallery_item_link_label">Play</span>
												</span>
											</a>
																			</span>
									<figcaption class="gallery_details">
										<span class="gallery_index">
											<span class="gallery_index_number">2</span>
											<span class="gallery_index_label">of</span>
											<span class="gallery_index_number">5</span>
										</span>
																					<p class="gallery_item_caption">Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
																			</figcaption>
								</figure>
							</div>
													<div class="gallery_item">
								<figure class="gallery_item_figure"  aria-label="Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus." >
									<span class="gallery_item_media">
										<span class="lazy_image_wrapper gallery_item_image_wrapper">
	<img class="js-lazy js-lazyload gallery_item_image"  data-sizes="auto"  src="/images/placeholder.png" data-src="https://images.fastspot.com/false/300x169/3"  data-srcset="//images.fastspot.com/jtcc/300x169/3 300w, //images.fastspot.com/jtcc/500x282/3 500w, //images.fastspot.com/jtcc/740x416/3 740w, //images.fastspot.com/jtcc/980x552/3 980w, //images.fastspot.com/jtcc/1220x686/3 1220w"  alt="">
</span>
<noscript>
	<img class="gallery_item_image" src="https://images.fastspot.com/false/1220x686/3"  srcset="//images.fastspot.com/jtcc/1220x686/3 1220w, //images.fastspot.com/jtcc/980x552/3 980w, //images.fastspot.com/jtcc/740x416/3 740w, //images.fastspot.com/jtcc/500x282/3 500w, //images.fastspot.com/jtcc/300x169/3 300w" sizes="100vw"  alt="" >
</noscript>
																					<a class="js-video-appender gallery_item_link" href="https://player.vimeo.com/video/81742487" target="_blank">
												<span class="gallery_item_link_inner">
													<span class="gallery_item_link_icon">
			<svg class="icon icon_play">
				<use href="/images/icons.svg#play" />
			</svg>
		</span>
													<span class="gallery_item_link_label">Play</span>
												</span>
											</a>
																			</span>
									<figcaption class="gallery_details">
										<span class="gallery_index">
											<span class="gallery_index_number">3</span>
											<span class="gallery_index_label">of</span>
											<span class="gallery_index_number">5</span>
										</span>
																					<p class="gallery_item_caption">Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.</p>
																			</figcaption>
								</figure>
							</div>
													<div class="gallery_item">
								<figure class="gallery_item_figure"  aria-label="Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem." >
									<span class="gallery_item_media">
										<span class="lazy_image_wrapper gallery_item_image_wrapper">
	<img class="js-lazy js-lazyload gallery_item_image"  data-sizes="auto"  src="/images/placeholder.png" data-src="https://images.fastspot.com/false/300x169/4"  data-srcset="//images.fastspot.com/jtcc/300x169/4 300w, //images.fastspot.com/jtcc/500x282/4 500w, //images.fastspot.com/jtcc/740x416/4 740w, //images.fastspot.com/jtcc/980x552/4 980w, //images.fastspot.com/jtcc/1220x686/4 1220w"  alt="">
</span>
<noscript>
	<img class="gallery_item_image" src="https://images.fastspot.com/false/1220x686/4"  srcset="//images.fastspot.com/jtcc/1220x686/4 1220w, //images.fastspot.com/jtcc/980x552/4 980w, //images.fastspot.com/jtcc/740x416/4 740w, //images.fastspot.com/jtcc/500x282/4 500w, //images.fastspot.com/jtcc/300x169/4 300w" sizes="100vw"  alt="" >
</noscript>
																			</span>
									<figcaption class="gallery_details">
										<span class="gallery_index">
											<span class="gallery_index_number">4</span>
											<span class="gallery_index_label">of</span>
											<span class="gallery_index_number">5</span>
										</span>
																					<p class="gallery_item_caption">Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.</p>
																			</figcaption>
								</figure>
							</div>
													<div class="gallery_item">
								<figure class="gallery_item_figure"  aria-label="Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc." >
									<span class="gallery_item_media">
										<span class="lazy_image_wrapper gallery_item_image_wrapper">
	<img class="js-lazy js-lazyload gallery_item_image"  data-sizes="auto"  src="/images/placeholder.png" data-src="https://images.fastspot.com/false/300x169/1"  data-srcset="//images.fastspot.com/jtcc/300x169/1 300w, //images.fastspot.com/jtcc/500x282/1 500w, //images.fastspot.com/jtcc/740x416/1 740w, //images.fastspot.com/jtcc/980x552/1 980w, //images.fastspot.com/jtcc/1220x686/1 1220w"  alt="">
</span>
<noscript>
	<img class="gallery_item_image" src="https://images.fastspot.com/false/1220x686/1"  srcset="//images.fastspot.com/jtcc/1220x686/1 1220w, //images.fastspot.com/jtcc/980x552/1 980w, //images.fastspot.com/jtcc/740x416/1 740w, //images.fastspot.com/jtcc/500x282/1 500w, //images.fastspot.com/jtcc/300x169/1 300w" sizes="100vw"  alt="" >
</noscript>
																			</span>
									<figcaption class="gallery_details">
										<span class="gallery_index">
											<span class="gallery_index_number">5</span>
											<span class="gallery_index_label">of</span>
											<span class="gallery_index_number">5</span>
										</span>
																					<p class="gallery_item_caption">Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc.</p>
																			</figcaption>
								</figure>
							</div>
											</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END: Gallery -->

		
		<script>
			var WWW_ROOT = "";
			var STATIC_ROOT = "../../index.html";
		</script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>

					
		
		<script src="../../js/site.js"></script>

					
		
			</body>
</html>

