

<!DOCTYPE html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">

	<title>
		Default
		&raquo; Pattern Library
	</title>

<link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
<link rel="manifest" href="/favicons/site.webmanifest">
<link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#ffffff">
<link rel="shortcut icon" href="/favicons/favicon.ico">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-config" content="/favicons/browserconfig.xml">
<!-- Facebook -->
<meta property="og:title" content="">
<meta property="og:type" content="website">
<meta property="og:image" content="http:///social.png">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="600">
<meta property="og:description" content="">
<meta property="og:site_name" content="">

	<!-- Twitter -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@">
	<meta name="twitter:creator" content="@">
	<meta name="twitter:url" content="//twitter.com/">
	<meta name="twitter:title" content="">
	<meta name="twitter:description" content="">
	<meta name="twitter:image" content="http:///social.png">

<link media="all" rel="stylesheet" href="/css/site.css">


<!-- Google Tag Manager -->
<script>
	(function (w, d, s, l, i) {
w[l] = w[l] || [];
w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
var f = d.getElementsByTagName(s)[0],
j = d.createElement(s),
dl = l != 'dataLayer' ? '&l=' + l : '';
j.async = true;
j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl;
f.parentNode.insertBefore(j, f);
})(window, document, 'script', 'dataLayer', 'GTM-K6P58WP');
</script>
<!-- End Google Tag Manager -->
	</head>

	<body class="preload no-js fs-grid theme-default ">
		<noscript>
			<iframe src="//www.googletagmanager.com/ns.html?id=GTM-K6P58WP" height="0" width="0" style="display:none;visibility:hidden"></iframe>
		</noscript>

		<div class="js-alert-wrapper">
					</div>

		

		<main>
							<div class="featured_programs">
	<div class="featured_programs_inner">
		<div class="featured_programs_header">
			<div class="js-background featured_programs_header_background" data-background-options='{"source": { "1220px": "//images.fastspot.com/jtcc/1440x1080/18", "740px": "//images.fastspot.com/jtcc/814x1220/18", "500px": "//images.fastspot.com/jtcc/980x654/18", "0px": "//images.fastspot.com/jtcc/494x740/18"}, "lazy": true, "alt": ""}' aria-hidden="true">
	<div class="featured_programs_header_background_fallback" style="background-image: url(' //images.fastspot.com/jtcc/300x129/18');"></div>
</div>
			<h2 class="featured_programs_title">
				<span class="featured_programs_title_group featured_programs_title_group_primary">
					<span class="featured_programs_title_label featured_programs_title_label_primary">What do <strong>you</strong></span>
				</span>
				<span class="featured_programs_title_group featured_programs_title_group_secondary">
					<span class="featured_programs_title_label featured_programs_title_label_secondary">Want to study?</span>
				</span>
			</h2>
			<div class="featured_programs_input_wrapper">
				<input class="featured_programs_input" id="featured_programs_input" type="search" placeholder="Search our Programs & Majors" aria-label="Search our Programs">
				<span class="featured_programs_input_icon">
			<svg class="icon icon_search">
				<use href="/images/icons.svg#search" />
			</svg>
		</span>
			</div>
		</div>
		<div class="featured_programs_content">
			<div class="feature_programs_body">
				<div class="featured_programs_body_details">
					<h3 class="featured_programs_body_title"><strong>60+</strong> Majors in…</h3>
				</div>
				<ul class="featured_programs_items">
											<li class="featured_programs_item">
							

<a href="#" class="featured_programs_item_link" >
	<span class="featured_programs_item_link_inner">
		<span class="featured_programs_item_link_label">General Transfer</span>
					<span class="featured_programs_item_link_icon" aria-hidden="true">
				<span class="featured_programs_item_link_icon_inner">
					<span class="featured_programs_item_link_icon_space">&#xfeff;</span>
					
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		
				</span>
			</span>
			</span>
</a>
						</li>
											<li class="featured_programs_item">
							

<a href="#" class="featured_programs_item_link" >
	<span class="featured_programs_item_link_inner">
		<span class="featured_programs_item_link_label">Advanced Manufacturing, Architecture, Construction & Skilled Trades</span>
					<span class="featured_programs_item_link_icon" aria-hidden="true">
				<span class="featured_programs_item_link_icon_inner">
					<span class="featured_programs_item_link_icon_space">&#xfeff;</span>
					
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		
				</span>
			</span>
			</span>
</a>
						</li>
											<li class="featured_programs_item">
							

<a href="#" class="featured_programs_item_link" >
	<span class="featured_programs_item_link_inner">
		<span class="featured_programs_item_link_label">Arts & Communication</span>
					<span class="featured_programs_item_link_icon" aria-hidden="true">
				<span class="featured_programs_item_link_icon_inner">
					<span class="featured_programs_item_link_icon_space">&#xfeff;</span>
					
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		
				</span>
			</span>
			</span>
</a>
						</li>
											<li class="featured_programs_item">
							

<a href="#" class="featured_programs_item_link" >
	<span class="featured_programs_item_link_inner">
		<span class="featured_programs_item_link_label">Business, Management, Finance, Hospitality Management & Marketing</span>
					<span class="featured_programs_item_link_icon" aria-hidden="true">
				<span class="featured_programs_item_link_icon_inner">
					<span class="featured_programs_item_link_icon_space">&#xfeff;</span>
					
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		
				</span>
			</span>
			</span>
</a>
						</li>
											<li class="featured_programs_item">
							

<a href="#" class="featured_programs_item_link" >
	<span class="featured_programs_item_link_inner">
		<span class="featured_programs_item_link_label">Education</span>
					<span class="featured_programs_item_link_icon" aria-hidden="true">
				<span class="featured_programs_item_link_icon_inner">
					<span class="featured_programs_item_link_icon_space">&#xfeff;</span>
					
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		
				</span>
			</span>
			</span>
</a>
						</li>
											<li class="featured_programs_item">
							

<a href="#" class="featured_programs_item_link" >
	<span class="featured_programs_item_link_inner">
		<span class="featured_programs_item_link_label">Engineering, Computer Science & Natural Science</span>
					<span class="featured_programs_item_link_icon" aria-hidden="true">
				<span class="featured_programs_item_link_icon_inner">
					<span class="featured_programs_item_link_icon_space">&#xfeff;</span>
					
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		
				</span>
			</span>
			</span>
</a>
						</li>
											<li class="featured_programs_item">
							

<a href="#" class="featured_programs_item_link" >
	<span class="featured_programs_item_link_inner">
		<span class="featured_programs_item_link_label">Health Science</span>
					<span class="featured_programs_item_link_icon" aria-hidden="true">
				<span class="featured_programs_item_link_icon_inner">
					<span class="featured_programs_item_link_icon_space">&#xfeff;</span>
					
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		
				</span>
			</span>
			</span>
</a>
						</li>
											<li class="featured_programs_item">
							

<a href="#" class="featured_programs_item_link" >
	<span class="featured_programs_item_link_inner">
		<span class="featured_programs_item_link_label">Government, Human Services, Law & Public Safety</span>
					<span class="featured_programs_item_link_icon" aria-hidden="true">
				<span class="featured_programs_item_link_icon_inner">
					<span class="featured_programs_item_link_icon_space">&#xfeff;</span>
					
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		
				</span>
			</span>
			</span>
</a>
						</li>
											<li class="featured_programs_item">
							

<a href="#" class="featured_programs_item_link" >
	<span class="featured_programs_item_link_inner">
		<span class="featured_programs_item_link_label">Information Technology</span>
					<span class="featured_programs_item_link_icon" aria-hidden="true">
				<span class="featured_programs_item_link_icon_inner">
					<span class="featured_programs_item_link_icon_space">&#xfeff;</span>
					
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		
				</span>
			</span>
			</span>
</a>
						</li>
									</ul>
				<div class="featured_programs_items_select_wrapper">
					<select class="featured_programs_items_select">
						<option>Discover an Area of Interest</option>
												<option>General Transfer</option>
												<option>Advanced Manufacturing, Architecture, Construction & Skilled Trades</option>
												<option>Arts & Communication</option>
												<option>Business, Management, Finance, Hospitality Management & Marketing</option>
												<option>Education</option>
												<option>Engineering, Computer Science & Natural Science</option>
												<option>Health Science</option>
												<option>Government, Human Services, Law & Public Safety</option>
												<option>Information Technology</option>
											</select>
					<span class="featured_programs_items_select_icon">
			<svg class="icon icon_caret_down">
				<use href="/images/icons.svg#caret_down" />
			</svg>
		</span>
				</div>
			</div>
			<div class="feature_programs_footer">
				<div class="featured_programs_footer_details">
					<h4 class="featured_programs_footer_title">Next Up</h4>
				</div>
				<ul class="featured_programs_actions">
											<li class="featured_programs_action">
							

<a href="#" class="featured_programs_action_link" >
	<span class="featured_programs_action_link_inner">
		<span class="featured_programs_action_link_label">Register for a Class</span>
					<span class="featured_programs_action_link_icon" aria-hidden="true">
				<span class="featured_programs_action_link_icon_inner">
					<span class="featured_programs_action_link_icon_space">&#xfeff;</span>
					
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		
				</span>
			</span>
			</span>
</a>
						</li>
											<li class="featured_programs_action">
							

<a href="#" class="featured_programs_action_link" >
	<span class="featured_programs_action_link_inner">
		<span class="featured_programs_action_link_label">Pay for a Class</span>
					<span class="featured_programs_action_link_icon" aria-hidden="true">
				<span class="featured_programs_action_link_icon_inner">
					<span class="featured_programs_action_link_icon_space">&#xfeff;</span>
					
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		
				</span>
			</span>
			</span>
</a>
						</li>
									</ul>
			</div>
		</div>
	</div>
</div>

					</main>

		<script>
			var WWW_ROOT = "";
var STATIC_ROOT = "../../index.html";
		</script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>

					
		
		<script src="../../js/site.js"></script>

					
		
			</body>
</html>

