

<!DOCTYPE html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">

	<title>
		Main
		&raquo; Pattern Library
	</title>

<link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
<link rel="manifest" href="/favicons/site.webmanifest">
<link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#ffffff">
<link rel="shortcut icon" href="/favicons/favicon.ico">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-config" content="/favicons/browserconfig.xml">
<!-- Facebook -->
<meta property="og:title" content="">
<meta property="og:type" content="website">
<meta property="og:image" content="http:///social.png">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="600">
<meta property="og:description" content="">
<meta property="og:site_name" content="">

	<!-- Twitter -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@">
	<meta name="twitter:creator" content="@">
	<meta name="twitter:url" content="//twitter.com/">
	<meta name="twitter:title" content="">
	<meta name="twitter:description" content="">
	<meta name="twitter:image" content="http:///social.png">

<link media="all" rel="stylesheet" href="/css/site.css">


<!-- Google Tag Manager -->
<script>
	(function (w, d, s, l, i) {
w[l] = w[l] || [];
w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
var f = d.getElementsByTagName(s)[0],
j = d.createElement(s),
dl = l != 'dataLayer' ? '&l=' + l : '';
j.async = true;
j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl;
f.parentNode.insertBefore(j, f);
})(window, document, 'script', 'dataLayer', 'GTM-K6P58WP');
</script>
<!-- End Google Tag Manager -->
	</head>

	<body class="preload no-js fs-grid theme-default ">
		<noscript>
			<iframe src="//www.googletagmanager.com/ns.html?id=GTM-K6P58WP" height="0" width="0" style="display:none;visibility:hidden"></iframe>
		</noscript>

		<div class="js-alert-wrapper">
					</div>

		

					<div style="padding: 2rem">
				

<nav class="js-nav js-main-nav nav main_nav" aria-labelledby="main_nav_title">
	<div class="nav_header main_nav_header">
		<h2 class="nav_title main_nav_title" id="main_nav_title">Main</h2>
	</div>
	<ul class="js-nav-list js-main-nav-list nav_list main_nav_list" aria-labelledby="main_nav_title">
				<li class="js-nav-item js-main-nav-item js-main-nav-item-1 nav_item main_nav_item has_children">
			<div class="nav_item_inner main_nav_item_inner">
				<a class="js-nav-link js-main-nav-link nav_link main_nav_link" href="#">
										<span class="nav_link_label main_nav_link_label">Admissions</span>
				</a>
								<button class="js-swap js-nav-toggle js-main-nav-toggle nav_toggle main_nav_toggle" data-swap-target=".js-main-nav-item-1" data-swap-group="main_nav" aria-label="Admissions" aria-haspopup="true" aria-expanded="false">
					<span class="nav_toggle_inner main_nav_toggle_inner">
						<span class="nav_toggle_icon main_nav_toggle_icon">
			<svg class="icon icon_caret_down">
				<use href="/images/icons.svg#caret_down" />
			</svg>
		</span>
					</span>
				</button>
							</div>
						<ul class="js-nav-children js-main-nav-children nav_children main_nav_children" aria-label="Admissions">
								<li class="js-nav-child-item js-main-nav-child-item nav_child_item main_nav_child_item">
					<a class="js-nav-child-link js-main-nav-child-link nav_child_link main_nav_child_link" href="#">
												<span class="nav_child_link_label main_nav_child_link_label">About</span>
					</a>
				</li>
								<li class="js-nav-child-item js-main-nav-child-item nav_child_item main_nav_child_item">
					<a class="js-nav-child-link js-main-nav-child-link nav_child_link main_nav_child_link" href="#">
												<span class="nav_child_link_label main_nav_child_link_label">Lorem ipsum</span>
					</a>
				</li>
								<li class="js-nav-child-item js-main-nav-child-item nav_child_item main_nav_child_item">
					<a class="js-nav-child-link js-main-nav-child-link nav_child_link main_nav_child_link" href="#">
												<span class="nav_child_link_label main_nav_child_link_label">Consectetuer Adipiscing Elit</span>
					</a>
				</li>
								<li class="js-nav-child-item js-main-nav-child-item nav_child_item main_nav_child_item">
					<a class="js-nav-child-link js-main-nav-child-link nav_child_link main_nav_child_link" href="#">
												<span class="nav_child_link_label main_nav_child_link_label">Aenean Commodo</span>
					</a>
				</li>
								<li class="js-nav-child-item js-main-nav-child-item nav_child_item main_nav_child_item">
					<a class="js-nav-child-link js-main-nav-child-link nav_child_link main_nav_child_link" href="#">
												<span class="nav_child_link_label main_nav_child_link_label">Aenean Massa</span>
					</a>
				</li>
							</ul>
					</li>
				<li class="js-nav-item js-main-nav-item js-main-nav-item-2 nav_item main_nav_item has_children">
			<div class="nav_item_inner main_nav_item_inner">
				<a class="js-nav-link js-main-nav-link nav_link main_nav_link" href="#">
										<span class="nav_link_label main_nav_link_label">Academics & Programs</span>
				</a>
								<button class="js-swap js-nav-toggle js-main-nav-toggle nav_toggle main_nav_toggle" data-swap-target=".js-main-nav-item-2" data-swap-group="main_nav" aria-label="Academics & Programs" aria-haspopup="true" aria-expanded="false">
					<span class="nav_toggle_inner main_nav_toggle_inner">
						<span class="nav_toggle_icon main_nav_toggle_icon">
			<svg class="icon icon_caret_down">
				<use href="/images/icons.svg#caret_down" />
			</svg>
		</span>
					</span>
				</button>
							</div>
						<ul class="js-nav-children js-main-nav-children nav_children main_nav_children" aria-label="Academics & Programs">
								<li class="js-nav-child-item js-main-nav-child-item nav_child_item main_nav_child_item">
					<a class="js-nav-child-link js-main-nav-child-link nav_child_link main_nav_child_link" href="#">
												<span class="nav_child_link_label main_nav_child_link_label">Nam Quam Nunc</span>
					</a>
				</li>
							</ul>
					</li>
				<li class="js-nav-item js-main-nav-item js-main-nav-item-3 nav_item main_nav_item has_children">
			<div class="nav_item_inner main_nav_item_inner">
				<a class="js-nav-link js-main-nav-link nav_link main_nav_link" href="#">
										<span class="nav_link_label main_nav_link_label">Training & Workforce</span>
				</a>
								<button class="js-swap js-nav-toggle js-main-nav-toggle nav_toggle main_nav_toggle" data-swap-target=".js-main-nav-item-3" data-swap-group="main_nav" aria-label="Training & Workforce" aria-haspopup="true" aria-expanded="false">
					<span class="nav_toggle_inner main_nav_toggle_inner">
						<span class="nav_toggle_icon main_nav_toggle_icon">
			<svg class="icon icon_caret_down">
				<use href="/images/icons.svg#caret_down" />
			</svg>
		</span>
					</span>
				</button>
							</div>
						<ul class="js-nav-children js-main-nav-children nav_children main_nav_children" aria-label="Training & Workforce">
								<li class="js-nav-child-item js-main-nav-child-item nav_child_item main_nav_child_item">
					<a class="js-nav-child-link js-main-nav-child-link nav_child_link main_nav_child_link" href="#">
												<span class="nav_child_link_label main_nav_child_link_label">Nam quam nunc</span>
					</a>
				</li>
								<li class="js-nav-child-item js-main-nav-child-item nav_child_item main_nav_child_item">
					<a class="js-nav-child-link js-main-nav-child-link nav_child_link main_nav_child_link" href="#">
												<span class="nav_child_link_label main_nav_child_link_label">Blandit Vel</span>
					</a>
				</li>
								<li class="js-nav-child-item js-main-nav-child-item nav_child_item main_nav_child_item">
					<a class="js-nav-child-link js-main-nav-child-link nav_child_link main_nav_child_link" href="#">
												<span class="nav_child_link_label main_nav_child_link_label">Donec Vitae Sapien</span>
					</a>
				</li>
								<li class="js-nav-child-item js-main-nav-child-item nav_child_item main_nav_child_item">
					<a class="js-nav-child-link js-main-nav-child-link nav_child_link main_nav_child_link" href="#">
												<span class="nav_child_link_label main_nav_child_link_label">Ut Libero</span>
					</a>
				</li>
								<li class="js-nav-child-item js-main-nav-child-item nav_child_item main_nav_child_item">
					<a class="js-nav-child-link js-main-nav-child-link nav_child_link main_nav_child_link" href="#">
												<span class="nav_child_link_label main_nav_child_link_label">Venenatis Faucibus</span>
					</a>
				</li>
								<li class="js-nav-child-item js-main-nav-child-item nav_child_item main_nav_child_item">
					<a class="js-nav-child-link js-main-nav-child-link nav_child_link main_nav_child_link" href="#">
												<span class="nav_child_link_label main_nav_child_link_label">Nullam Quis Ante</span>
					</a>
				</li>
								<li class="js-nav-child-item js-main-nav-child-item nav_child_item main_nav_child_item">
					<a class="js-nav-child-link js-main-nav-child-link nav_child_link main_nav_child_link" href="#">
												<span class="nav_child_link_label main_nav_child_link_label">Orci Eget Eros Faucibus Tincidunt Maecenas Tempus Tellus Eget Condimentum</span>
					</a>
				</li>
								<li class="js-nav-child-item js-main-nav-child-item nav_child_item main_nav_child_item">
					<a class="js-nav-child-link js-main-nav-child-link nav_child_link main_nav_child_link" href="#">
												<span class="nav_child_link_label main_nav_child_link_label">Sed Fringilla Mauris Sit</span>
					</a>
				</li>
								<li class="js-nav-child-item js-main-nav-child-item nav_child_item main_nav_child_item">
					<a class="js-nav-child-link js-main-nav-child-link nav_child_link main_nav_child_link" href="#">
												<span class="nav_child_link_label main_nav_child_link_label">Amet Nibh</span>
					</a>
				</li>
								<li class="js-nav-child-item js-main-nav-child-item nav_child_item main_nav_child_item">
					<a class="js-nav-child-link js-main-nav-child-link nav_child_link main_nav_child_link" href="#">
												<span class="nav_child_link_label main_nav_child_link_label">Donec Sodales Sagittis</span>
					</a>
				</li>
							</ul>
					</li>
				<li class="js-nav-item js-main-nav-item js-main-nav-item-4 nav_item main_nav_item has_children">
			<div class="nav_item_inner main_nav_item_inner">
				<a class="js-nav-link js-main-nav-link nav_link main_nav_link" href="#">
										<span class="nav_link_label main_nav_link_label">Paying for Tyler</span>
				</a>
								<button class="js-swap js-nav-toggle js-main-nav-toggle nav_toggle main_nav_toggle" data-swap-target=".js-main-nav-item-4" data-swap-group="main_nav" aria-label="Paying for Tyler" aria-haspopup="true" aria-expanded="false">
					<span class="nav_toggle_inner main_nav_toggle_inner">
						<span class="nav_toggle_icon main_nav_toggle_icon">
			<svg class="icon icon_caret_down">
				<use href="/images/icons.svg#caret_down" />
			</svg>
		</span>
					</span>
				</button>
							</div>
						<ul class="js-nav-children js-main-nav-children nav_children main_nav_children" aria-label="Paying for Tyler">
								<li class="js-nav-child-item js-main-nav-child-item nav_child_item main_nav_child_item">
					<a class="js-nav-child-link js-main-nav-child-link nav_child_link main_nav_child_link" href="#">
												<span class="nav_child_link_label main_nav_child_link_label">Aliquam Lorem Ante</span>
					</a>
				</li>
								<li class="js-nav-child-item js-main-nav-child-item nav_child_item main_nav_child_item">
					<a class="js-nav-child-link js-main-nav-child-link nav_child_link main_nav_child_link" href="#">
												<span class="nav_child_link_label main_nav_child_link_label">Quisque Rutrum</span>
					</a>
				</li>
								<li class="js-nav-child-item js-main-nav-child-item nav_child_item main_nav_child_item">
					<a class="js-nav-child-link js-main-nav-child-link nav_child_link main_nav_child_link" href="#">
												<span class="nav_child_link_label main_nav_child_link_label">Aeneanimperdiet</span>
					</a>
				</li>
								<li class="js-nav-child-item js-main-nav-child-item nav_child_item main_nav_child_item">
					<a class="js-nav-child-link js-main-nav-child-link nav_child_link main_nav_child_link" href="#">
												<span class="nav_child_link_label main_nav_child_link_label">Tellus Eget Condimentum</span>
					</a>
				</li>
								<li class="js-nav-child-item js-main-nav-child-item nav_child_item main_nav_child_item">
					<a class="js-nav-child-link js-main-nav-child-link nav_child_link main_nav_child_link" href="#">
												<span class="nav_child_link_label main_nav_child_link_label">Duis Leo</span>
					</a>
				</li>
							</ul>
					</li>
				<li class="js-nav-item js-main-nav-item js-main-nav-item-5 nav_item main_nav_item has_children">
			<div class="nav_item_inner main_nav_item_inner">
				<a class="js-nav-link js-main-nav-link nav_link main_nav_link" href="#">
										<span class="nav_link_label main_nav_link_label">Services</span>
				</a>
								<button class="js-swap js-nav-toggle js-main-nav-toggle nav_toggle main_nav_toggle" data-swap-target=".js-main-nav-item-5" data-swap-group="main_nav" aria-label="Services" aria-haspopup="true" aria-expanded="false">
					<span class="nav_toggle_inner main_nav_toggle_inner">
						<span class="nav_toggle_icon main_nav_toggle_icon">
			<svg class="icon icon_caret_down">
				<use href="/images/icons.svg#caret_down" />
			</svg>
		</span>
					</span>
				</button>
							</div>
						<ul class="js-nav-children js-main-nav-children nav_children main_nav_children" aria-label="Services">
								<li class="js-nav-child-item js-main-nav-child-item nav_child_item main_nav_child_item">
					<a class="js-nav-child-link js-main-nav-child-link nav_child_link main_nav_child_link" href="#">
												<span class="nav_child_link_label main_nav_child_link_label">Aenean Vulputate Eleifend Tellus</span>
					</a>
				</li>
								<li class="js-nav-child-item js-main-nav-child-item nav_child_item main_nav_child_item">
					<a class="js-nav-child-link js-main-nav-child-link nav_child_link main_nav_child_link" href="#">
												<span class="nav_child_link_label main_nav_child_link_label">Nascetur</span>
					</a>
				</li>
								<li class="js-nav-child-item js-main-nav-child-item nav_child_item main_nav_child_item">
					<a class="js-nav-child-link js-main-nav-child-link nav_child_link main_nav_child_link" href="#">
												<span class="nav_child_link_label main_nav_child_link_label">Ridiculus Mus</span>
					</a>
				</li>
								<li class="js-nav-child-item js-main-nav-child-item nav_child_item main_nav_child_item">
					<a class="js-nav-child-link js-main-nav-child-link nav_child_link main_nav_child_link" href="#">
												<span class="nav_child_link_label main_nav_child_link_label">Pellentesque Eu</span>
					</a>
				</li>
								<li class="js-nav-child-item js-main-nav-child-item nav_child_item main_nav_child_item">
					<a class="js-nav-child-link js-main-nav-child-link nav_child_link main_nav_child_link" href="#">
												<span class="nav_child_link_label main_nav_child_link_label">Vivamus Elementum Semper</span>
					</a>
				</li>
								<li class="js-nav-child-item js-main-nav-child-item nav_child_item main_nav_child_item">
					<a class="js-nav-child-link js-main-nav-child-link nav_child_link main_nav_child_link" href="#">
												<span class="nav_child_link_label main_nav_child_link_label">Aenean Vulputate</span>
					</a>
				</li>
								<li class="js-nav-child-item js-main-nav-child-item nav_child_item main_nav_child_item">
					<a class="js-nav-child-link js-main-nav-child-link nav_child_link main_nav_child_link" href="#">
												<span class="nav_child_link_label main_nav_child_link_label">Aenean Leo Ligula</span>
					</a>
				</li>
								<li class="js-nav-child-item js-main-nav-child-item nav_child_item main_nav_child_item">
					<a class="js-nav-child-link js-main-nav-child-link nav_child_link main_nav_child_link" href="#">
												<span class="nav_child_link_label main_nav_child_link_label">Semper Libero</span>
					</a>
				</li>
							</ul>
					</li>
			</ul>
</nav>

			</div>
		
		<script>
			var WWW_ROOT = "";
			var STATIC_ROOT = "../../index.html";
		</script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>

					
		
		<script src="../../js/site.js"></script>

					
		
			</body>
</html>

