

<!DOCTYPE html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">

	<title>
		Default
		&raquo; Pattern Library
	</title>

<link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
<link rel="manifest" href="/favicons/site.webmanifest">
<link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#ffffff">
<link rel="shortcut icon" href="/favicons/favicon.ico">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-config" content="/favicons/browserconfig.xml">
<!-- Facebook -->
<meta property="og:title" content="">
<meta property="og:type" content="website">
<meta property="og:image" content="http:///social.png">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="600">
<meta property="og:description" content="">
<meta property="og:site_name" content="">

	<!-- Twitter -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@">
	<meta name="twitter:creator" content="@">
	<meta name="twitter:url" content="//twitter.com/">
	<meta name="twitter:title" content="">
	<meta name="twitter:description" content="">
	<meta name="twitter:image" content="http:///social.png">

<link media="all" rel="stylesheet" href="/css/site.css">


<!-- Google Tag Manager -->
<script>
	(function (w, d, s, l, i) {
w[l] = w[l] || [];
w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
var f = d.getElementsByTagName(s)[0],
j = d.createElement(s),
dl = l != 'dataLayer' ? '&l=' + l : '';
j.async = true;
j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl;
f.parentNode.insertBefore(j, f);
})(window, document, 'script', 'dataLayer', 'GTM-K6P58WP');
</script>
<!-- End Google Tag Manager -->
	</head>

	<body class="preload no-js fs-grid theme-default ">
		<noscript>
			<iframe src="//www.googletagmanager.com/ns.html?id=GTM-K6P58WP" height="0" width="0" style="display:none;visibility:hidden"></iframe>
		</noscript>

		<div class="js-alert-wrapper">
					</div>

		

					<div style="padding: 2rem">
				<div class="entity_list">
	<div class="fs-row">
		<div class="fs-cell">
			<div class="entity_list_inner">
				<ul class="entity_list_items" id="item_list" aria-label="Some Title">
										<li class="entity_list_item">
						<div class="entity">
	<div class="entity_header">
		<div class="entity_info">
			<h2 class="entity_name">
				<a class="entity_name_link" href="page-directory-detail.html">Department or Office Name</a>
			</h2>
							<div class="entity_title">Director of Department</div>
					</div>
					<figure class="entity_figure">
				<span class="lazy_image_wrapper entity_image_wrapper">
	<img class="js-lazy js-lazyload entity_image"  data-sizes="auto"  src="/images/placeholder.png" data-src="https://images.fastspot.com/false/100x100/1"  data-srcset="//images.fastspot.com/jtcc/100x100/1 100w, //images.fastspot.com/jtcc/300x300/1 300w"  alt="">
</span>
<noscript>
	<img class="entity_image" src="https://images.fastspot.com/false/300x300/1"  srcset="//images.fastspot.com/jtcc/300x300/1 300w, //images.fastspot.com/jtcc/100x100/1 100w" sizes="100vw"  alt="" >
</noscript>
			</figure>
			</div>
	<div class="entity_body">
		<div class="entity_details">
							<div class="entity_detail">
											<div class="entity_detail_label">Contact</div>
																<div class="entity_detail_item">
							<div class="entity_detail_hint">Phone:
							</div>
							<a class="entity_detail_info entity_detail_link" href="tel:4105551234">
								<span class="entity_detail_info_label">(410) 555-1234</span>
							</a>
						</div>
																<div class="entity_detail_item">
							<div class="entity_detail_hint">Email:
							</div>
							<a class="entity_detail_info entity_detail_link" href="mailto:name@university.edu">
								<span class="entity_detail_info_label">name@university.edu</span>
							</a>
						</div>
									</div>
										<div class="entity_detail">
					<div class="entity_detail_label">Department</div>
					<div class="entity_detail_item">
						<a class="entity_detail_info entity_detail_link" href="#">
							<span class="entity_detail_info_label">Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus.</span>
						</a>
					</div>
				</div>
								</div>
	</div>
</div>
					</li>
										<li class="entity_list_item">
						<div class="entity">
	<div class="entity_header">
		<div class="entity_info">
			<h2 class="entity_name">
				<a class="entity_name_link" href="page-directory-detail.html">Cum sociis natoque penatibus</a>
			</h2>
							<div class="entity_title">Director of Department</div>
					</div>
					<figure class="entity_figure">
				<span class="lazy_image_wrapper entity_image_wrapper">
	<img class="js-lazy js-lazyload entity_image"  data-sizes="auto"  src="/images/placeholder.png" data-src="https://images.fastspot.com/false/100x100/1"  data-srcset="//images.fastspot.com/jtcc/100x100/1 100w, //images.fastspot.com/jtcc/300x300/1 300w"  alt="">
</span>
<noscript>
	<img class="entity_image" src="https://images.fastspot.com/false/300x300/1"  srcset="//images.fastspot.com/jtcc/300x300/1 300w, //images.fastspot.com/jtcc/100x100/1 100w" sizes="100vw"  alt="" >
</noscript>
			</figure>
			</div>
	<div class="entity_body">
		<div class="entity_details">
							<div class="entity_detail">
											<div class="entity_detail_label">Contact</div>
																<div class="entity_detail_item">
							<div class="entity_detail_hint">Phone:
							</div>
							<a class="entity_detail_info entity_detail_link" href="tel:4105551234">
								<span class="entity_detail_info_label">(410) 555-1234</span>
							</a>
						</div>
																<div class="entity_detail_item">
							<div class="entity_detail_hint">Email:
							</div>
							<a class="entity_detail_info entity_detail_link" href="mailto:npenatibus@university.edu">
								<span class="entity_detail_info_label">npenatibus@university.edu</span>
							</a>
						</div>
									</div>
										<div class="entity_detail">
					<div class="entity_detail_label">Department</div>
					<div class="entity_detail_item">
						<a class="entity_detail_info entity_detail_link" href="#">
							<span class="entity_detail_info_label">Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus.</span>
						</a>
					</div>
				</div>
								</div>
	</div>
</div>
					</li>
										<li class="entity_list_item">
						<div class="entity">
	<div class="entity_header">
		<div class="entity_info">
			<h2 class="entity_name">
				<a class="entity_name_link" href="page-directory-detail.html">Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</a>
			</h2>
							<div class="entity_title">Director of Department</div>
					</div>
					<figure class="entity_figure">
				<span class="lazy_image_wrapper entity_image_wrapper">
	<img class="js-lazy js-lazyload entity_image"  data-sizes="auto"  src="/images/placeholder.png" data-src="https://images.fastspot.com/false/100x100/1"  data-srcset="//images.fastspot.com/jtcc/100x100/1 100w, //images.fastspot.com/jtcc/300x300/1 300w"  alt="">
</span>
<noscript>
	<img class="entity_image" src="https://images.fastspot.com/false/300x300/1"  srcset="//images.fastspot.com/jtcc/300x300/1 300w, //images.fastspot.com/jtcc/100x100/1 100w" sizes="100vw"  alt="" >
</noscript>
			</figure>
			</div>
	<div class="entity_body">
		<div class="entity_details">
							<div class="entity_detail">
											<div class="entity_detail_label">Contact</div>
																<div class="entity_detail_item">
							<div class="entity_detail_hint">Phone:
							</div>
							<a class="entity_detail_info entity_detail_link" href="tel:4105551234">
								<span class="entity_detail_info_label">(410) 555-1234</span>
							</a>
						</div>
																<div class="entity_detail_item">
							<div class="entity_detail_hint">Email:
							</div>
							<a class="entity_detail_info entity_detail_link" href="mailto:name@university.edu">
								<span class="entity_detail_info_label">name@university.edu</span>
							</a>
						</div>
									</div>
										<div class="entity_detail">
					<div class="entity_detail_label">Department</div>
					<div class="entity_detail_item">
						<a class="entity_detail_info entity_detail_link" href="#">
							<span class="entity_detail_info_label">Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus.</span>
						</a>
					</div>
				</div>
								</div>
	</div>
</div>
					</li>
										<li class="entity_list_item">
						<div class="entity">
	<div class="entity_header">
		<div class="entity_info">
			<h2 class="entity_name">
				<a class="entity_name_link" href="page-directory-detail.html">Department</a>
			</h2>
							<div class="entity_title">Director of Department</div>
					</div>
					<figure class="entity_figure">
				<span class="lazy_image_wrapper entity_image_wrapper">
	<img class="js-lazy js-lazyload entity_image"  data-sizes="auto"  src="/images/placeholder.png" data-src="https://images.fastspot.com/false/100x100/1"  data-srcset="//images.fastspot.com/jtcc/100x100/1 100w, //images.fastspot.com/jtcc/300x300/1 300w"  alt="">
</span>
<noscript>
	<img class="entity_image" src="https://images.fastspot.com/false/300x300/1"  srcset="//images.fastspot.com/jtcc/300x300/1 300w, //images.fastspot.com/jtcc/100x100/1 100w" sizes="100vw"  alt="" >
</noscript>
			</figure>
			</div>
	<div class="entity_body">
		<div class="entity_details">
							<div class="entity_detail">
											<div class="entity_detail_label">Contact</div>
																<div class="entity_detail_item">
							<div class="entity_detail_hint">Phone:
							</div>
							<a class="entity_detail_info entity_detail_link" href="tel:4105551234">
								<span class="entity_detail_info_label">(410) 555-1234</span>
							</a>
						</div>
																<div class="entity_detail_item">
							<div class="entity_detail_hint">Email:
							</div>
							<a class="entity_detail_info entity_detail_link" href="mailto:vivamus-elementum-semper@university.edu">
								<span class="entity_detail_info_label">vivamus-elementum-semper@university.edu</span>
							</a>
						</div>
									</div>
										<div class="entity_detail">
					<div class="entity_detail_label">Department</div>
					<div class="entity_detail_item">
						<a class="entity_detail_info entity_detail_link" href="#">
							<span class="entity_detail_info_label">Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus.</span>
						</a>
					</div>
				</div>
								</div>
	</div>
</div>
					</li>
										<li class="entity_list_item">
						<div class="entity">
	<div class="entity_header">
		<div class="entity_info">
			<h2 class="entity_name">
				<a class="entity_name_link" href="page-directory-detail.html">Office</a>
			</h2>
							<div class="entity_title">Director of Department</div>
					</div>
					<figure class="entity_figure">
				<span class="lazy_image_wrapper entity_image_wrapper">
	<img class="js-lazy js-lazyload entity_image"  data-sizes="auto"  src="/images/placeholder.png" data-src="https://images.fastspot.com/false/100x100/1"  data-srcset="//images.fastspot.com/jtcc/100x100/1 100w, //images.fastspot.com/jtcc/300x300/1 300w"  alt="">
</span>
<noscript>
	<img class="entity_image" src="https://images.fastspot.com/false/300x300/1"  srcset="//images.fastspot.com/jtcc/300x300/1 300w, //images.fastspot.com/jtcc/100x100/1 100w" sizes="100vw"  alt="" >
</noscript>
			</figure>
			</div>
	<div class="entity_body">
		<div class="entity_details">
							<div class="entity_detail">
											<div class="entity_detail_label">Contact</div>
																<div class="entity_detail_item">
							<div class="entity_detail_hint">Phone:
							</div>
							<a class="entity_detail_info entity_detail_link" href="tel:4105551234">
								<span class="entity_detail_info_label">(410) 555-1234</span>
							</a>
						</div>
																<div class="entity_detail_item">
							<div class="entity_detail_hint">Email:
							</div>
							<a class="entity_detail_info entity_detail_link" href="mailto:name@university.edu">
								<span class="entity_detail_info_label">name@university.edu</span>
							</a>
						</div>
									</div>
										<div class="entity_detail">
					<div class="entity_detail_label">Department</div>
					<div class="entity_detail_item">
						<a class="entity_detail_info entity_detail_link" href="#">
							<span class="entity_detail_info_label">Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus.</span>
						</a>
					</div>
				</div>
								</div>
	</div>
</div>
					</li>
										<li class="entity_list_item">
						<div class="entity">
	<div class="entity_header">
		<div class="entity_info">
			<h2 class="entity_name">
				<a class="entity_name_link" href="page-directory-detail.html">Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue.</a>
			</h2>
							<div class="entity_title">Director of Department</div>
					</div>
					<figure class="entity_figure">
				<span class="lazy_image_wrapper entity_image_wrapper">
	<img class="js-lazy js-lazyload entity_image"  data-sizes="auto"  src="/images/placeholder.png" data-src="https://images.fastspot.com/false/100x100/1"  data-srcset="//images.fastspot.com/jtcc/100x100/1 100w, //images.fastspot.com/jtcc/300x300/1 300w"  alt="">
</span>
<noscript>
	<img class="entity_image" src="https://images.fastspot.com/false/300x300/1"  srcset="//images.fastspot.com/jtcc/300x300/1 300w, //images.fastspot.com/jtcc/100x100/1 100w" sizes="100vw"  alt="" >
</noscript>
			</figure>
			</div>
	<div class="entity_body">
		<div class="entity_details">
							<div class="entity_detail">
											<div class="entity_detail_label">Contact</div>
																<div class="entity_detail_item">
							<div class="entity_detail_hint">Phone:
							</div>
							<a class="entity_detail_info entity_detail_link" href="tel:4105551234">
								<span class="entity_detail_info_label">(410) 555-1234</span>
							</a>
						</div>
																<div class="entity_detail_item">
							<div class="entity_detail_hint">Email:
							</div>
							<a class="entity_detail_info entity_detail_link" href="mailto:email@university.edu">
								<span class="entity_detail_info_label">email@university.edu</span>
							</a>
						</div>
									</div>
										<div class="entity_detail">
					<div class="entity_detail_label">Department</div>
					<div class="entity_detail_item">
						<a class="entity_detail_info entity_detail_link" href="#">
							<span class="entity_detail_info_label">Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus.</span>
						</a>
					</div>
				</div>
								</div>
	</div>
</div>
					</li>
										<li class="entity_list_item">
						<div class="entity">
	<div class="entity_header">
		<div class="entity_info">
			<h2 class="entity_name">
				<a class="entity_name_link" href="page-directory-detail.html">Aliquam lorem</a>
			</h2>
							<div class="entity_title">Director of Department</div>
					</div>
					<figure class="entity_figure">
				<span class="lazy_image_wrapper entity_image_wrapper">
	<img class="js-lazy js-lazyload entity_image"  data-sizes="auto"  src="/images/placeholder.png" data-src="https://images.fastspot.com/false/100x100/1"  data-srcset="//images.fastspot.com/jtcc/100x100/1 100w, //images.fastspot.com/jtcc/300x300/1 300w"  alt="">
</span>
<noscript>
	<img class="entity_image" src="https://images.fastspot.com/false/300x300/1"  srcset="//images.fastspot.com/jtcc/300x300/1 300w, //images.fastspot.com/jtcc/100x100/1 100w" sizes="100vw"  alt="" >
</noscript>
			</figure>
			</div>
	<div class="entity_body">
		<div class="entity_details">
							<div class="entity_detail">
											<div class="entity_detail_label">Contact</div>
																<div class="entity_detail_item">
							<div class="entity_detail_hint">Phone:
							</div>
							<a class="entity_detail_info entity_detail_link" href="tel:4105551234">
								<span class="entity_detail_info_label">(410) 555-1234</span>
							</a>
						</div>
																<div class="entity_detail_item">
							<div class="entity_detail_hint">Email:
							</div>
							<a class="entity_detail_info entity_detail_link" href="mailto:vulputate-eget@university.edu">
								<span class="entity_detail_info_label">vulputate-eget@university.edu</span>
							</a>
						</div>
									</div>
										<div class="entity_detail">
					<div class="entity_detail_label">Department</div>
					<div class="entity_detail_item">
						<a class="entity_detail_info entity_detail_link" href="#">
							<span class="entity_detail_info_label">Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus.</span>
						</a>
					</div>
				</div>
								</div>
	</div>
</div>
					</li>
										<li class="entity_list_item">
						<div class="entity">
	<div class="entity_header">
		<div class="entity_info">
			<h2 class="entity_name">
				<a class="entity_name_link" href="page-directory-detail.html">Phasellus viverra nulla ut metus varius laoreet.</a>
			</h2>
							<div class="entity_title">Director of Department</div>
					</div>
					<figure class="entity_figure">
				<span class="lazy_image_wrapper entity_image_wrapper">
	<img class="js-lazy js-lazyload entity_image"  data-sizes="auto"  src="/images/placeholder.png" data-src="https://images.fastspot.com/false/100x100/1"  data-srcset="//images.fastspot.com/jtcc/100x100/1 100w, //images.fastspot.com/jtcc/300x300/1 300w"  alt="">
</span>
<noscript>
	<img class="entity_image" src="https://images.fastspot.com/false/300x300/1"  srcset="//images.fastspot.com/jtcc/300x300/1 300w, //images.fastspot.com/jtcc/100x100/1 100w" sizes="100vw"  alt="" >
</noscript>
			</figure>
			</div>
	<div class="entity_body">
		<div class="entity_details">
							<div class="entity_detail">
											<div class="entity_detail_label">Contact</div>
																<div class="entity_detail_item">
							<div class="entity_detail_hint">Phone:
							</div>
							<a class="entity_detail_info entity_detail_link" href="tel:4105551234">
								<span class="entity_detail_info_label">(410) 555-1234</span>
							</a>
						</div>
																<div class="entity_detail_item">
							<div class="entity_detail_hint">Email:
							</div>
							<a class="entity_detail_info entity_detail_link" href="mailto:pretium@university.edu">
								<span class="entity_detail_info_label">pretium@university.edu</span>
							</a>
						</div>
									</div>
										<div class="entity_detail">
					<div class="entity_detail_label">Department</div>
					<div class="entity_detail_item">
						<a class="entity_detail_info entity_detail_link" href="#">
							<span class="entity_detail_info_label">Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus.</span>
						</a>
					</div>
				</div>
								</div>
	</div>
</div>
					</li>
										<li class="entity_list_item">
						<div class="entity">
	<div class="entity_header">
		<div class="entity_info">
			<h2 class="entity_name">
				<a class="entity_name_link" href="page-directory-detail.html">Quisque rutrum</a>
			</h2>
							<div class="entity_title">Director of Department</div>
					</div>
					<figure class="entity_figure">
				<span class="lazy_image_wrapper entity_image_wrapper">
	<img class="js-lazy js-lazyload entity_image"  data-sizes="auto"  src="/images/placeholder.png" data-src="https://images.fastspot.com/false/100x100/1"  data-srcset="//images.fastspot.com/jtcc/100x100/1 100w, //images.fastspot.com/jtcc/300x300/1 300w"  alt="">
</span>
<noscript>
	<img class="entity_image" src="https://images.fastspot.com/false/300x300/1"  srcset="//images.fastspot.com/jtcc/300x300/1 300w, //images.fastspot.com/jtcc/100x100/1 100w" sizes="100vw"  alt="" >
</noscript>
			</figure>
			</div>
	<div class="entity_body">
		<div class="entity_details">
							<div class="entity_detail">
											<div class="entity_detail_label">Contact</div>
																<div class="entity_detail_item">
							<div class="entity_detail_hint">Phone:
							</div>
							<a class="entity_detail_info entity_detail_link" href="tel:4105551234">
								<span class="entity_detail_info_label">(410) 555-1234</span>
							</a>
						</div>
																<div class="entity_detail_item">
							<div class="entity_detail_hint">Email:
							</div>
							<a class="entity_detail_info entity_detail_link" href="mailto:IntegerTincidunt@university.edu">
								<span class="entity_detail_info_label">IntegerTincidunt@university.edu</span>
							</a>
						</div>
									</div>
										<div class="entity_detail">
					<div class="entity_detail_label">Department</div>
					<div class="entity_detail_item">
						<a class="entity_detail_info entity_detail_link" href="#">
							<span class="entity_detail_info_label">Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus.</span>
						</a>
					</div>
				</div>
								</div>
	</div>
</div>
					</li>
										<li class="entity_list_item">
						<div class="entity">
	<div class="entity_header">
		<div class="entity_info">
			<h2 class="entity_name">
				<a class="entity_name_link" href="page-directory-detail.html">Etiam ultricies nisi vel augue</a>
			</h2>
							<div class="entity_title">Director of Department</div>
					</div>
					<figure class="entity_figure">
				<span class="lazy_image_wrapper entity_image_wrapper">
	<img class="js-lazy js-lazyload entity_image"  data-sizes="auto"  src="/images/placeholder.png" data-src="https://images.fastspot.com/false/100x100/1"  data-srcset="//images.fastspot.com/jtcc/100x100/1 100w, //images.fastspot.com/jtcc/300x300/1 300w"  alt="">
</span>
<noscript>
	<img class="entity_image" src="https://images.fastspot.com/false/300x300/1"  srcset="//images.fastspot.com/jtcc/300x300/1 300w, //images.fastspot.com/jtcc/100x100/1 100w" sizes="100vw"  alt="" >
</noscript>
			</figure>
			</div>
	<div class="entity_body">
		<div class="entity_details">
							<div class="entity_detail">
											<div class="entity_detail_label">Contact</div>
																<div class="entity_detail_item">
							<div class="entity_detail_hint">Phone:
							</div>
							<a class="entity_detail_info entity_detail_link" href="tel:4105551234">
								<span class="entity_detail_info_label">(410) 555-1234</span>
							</a>
						</div>
																<div class="entity_detail_item">
							<div class="entity_detail_hint">Email:
							</div>
							<a class="entity_detail_info entity_detail_link" href="mailto:aenean@university.edu">
								<span class="entity_detail_info_label">aenean@university.edu</span>
							</a>
						</div>
									</div>
										<div class="entity_detail">
					<div class="entity_detail_label">Department</div>
					<div class="entity_detail_item">
						<a class="entity_detail_info entity_detail_link" href="#">
							<span class="entity_detail_info_label">Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus.</span>
						</a>
					</div>
				</div>
								</div>
	</div>
</div>
					</li>
										<li class="entity_list_item">
						<div class="entity">
	<div class="entity_header">
		<div class="entity_info">
			<h2 class="entity_name">
				<a class="entity_name_link" href="page-directory-detail.html">Nam eget dui</a>
			</h2>
							<div class="entity_title">Director of Department</div>
					</div>
					<figure class="entity_figure">
				<span class="lazy_image_wrapper entity_image_wrapper">
	<img class="js-lazy js-lazyload entity_image"  data-sizes="auto"  src="/images/placeholder.png" data-src="https://images.fastspot.com/false/100x100/1"  data-srcset="//images.fastspot.com/jtcc/100x100/1 100w, //images.fastspot.com/jtcc/300x300/1 300w"  alt="">
</span>
<noscript>
	<img class="entity_image" src="https://images.fastspot.com/false/300x300/1"  srcset="//images.fastspot.com/jtcc/300x300/1 300w, //images.fastspot.com/jtcc/100x100/1 100w" sizes="100vw"  alt="" >
</noscript>
			</figure>
			</div>
	<div class="entity_body">
		<div class="entity_details">
							<div class="entity_detail">
											<div class="entity_detail_label">Contact</div>
																<div class="entity_detail_item">
							<div class="entity_detail_hint">Phone:
							</div>
							<a class="entity_detail_info entity_detail_link" href="tel:4105551234">
								<span class="entity_detail_info_label">(410) 555-1234</span>
							</a>
						</div>
																<div class="entity_detail_item">
							<div class="entity_detail_hint">Email:
							</div>
							<a class="entity_detail_info entity_detail_link" href="mailto:nam-eget-dui@university.edu">
								<span class="entity_detail_info_label">nam-eget-dui@university.edu</span>
							</a>
						</div>
									</div>
										<div class="entity_detail">
					<div class="entity_detail_label">Department</div>
					<div class="entity_detail_item">
						<a class="entity_detail_info entity_detail_link" href="#">
							<span class="entity_detail_info_label">Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus.</span>
						</a>
					</div>
				</div>
								</div>
	</div>
</div>
					</li>
										<li class="entity_list_item">
						<div class="entity">
	<div class="entity_header">
		<div class="entity_info">
			<h2 class="entity_name">
				<a class="entity_name_link" href="page-directory-detail.html">Maecenas nec odio et ante tincidunt tempus.</a>
			</h2>
							<div class="entity_title">Director of Department</div>
					</div>
					<figure class="entity_figure">
				<span class="lazy_image_wrapper entity_image_wrapper">
	<img class="js-lazy js-lazyload entity_image"  data-sizes="auto"  src="/images/placeholder.png" data-src="https://images.fastspot.com/false/100x100/1"  data-srcset="//images.fastspot.com/jtcc/100x100/1 100w, //images.fastspot.com/jtcc/300x300/1 300w"  alt="">
</span>
<noscript>
	<img class="entity_image" src="https://images.fastspot.com/false/300x300/1"  srcset="//images.fastspot.com/jtcc/300x300/1 300w, //images.fastspot.com/jtcc/100x100/1 100w" sizes="100vw"  alt="" >
</noscript>
			</figure>
			</div>
	<div class="entity_body">
		<div class="entity_details">
							<div class="entity_detail">
											<div class="entity_detail_label">Contact</div>
																<div class="entity_detail_item">
							<div class="entity_detail_hint">Phone:
							</div>
							<a class="entity_detail_info entity_detail_link" href="tel:4105551234">
								<span class="entity_detail_info_label">(410) 555-1234</span>
							</a>
						</div>
																<div class="entity_detail_item">
							<div class="entity_detail_hint">Email:
							</div>
							<a class="entity_detail_info entity_detail_link" href="mailto:Maecenas@university.edu">
								<span class="entity_detail_info_label">Maecenas@university.edu</span>
							</a>
						</div>
									</div>
										<div class="entity_detail">
					<div class="entity_detail_label">Department</div>
					<div class="entity_detail_item">
						<a class="entity_detail_info entity_detail_link" href="#">
							<span class="entity_detail_info_label">Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus.</span>
						</a>
					</div>
				</div>
								</div>
	</div>
</div>
					</li>
									</ul>
				<div class="pagination">
	<nav class="pagination_nav" aria-label="Directory Pagination">
		<a class="pagination_arrow pagination_arrow_left pagination_arrow_disabled" href="#">
			<span class="pagination_arrow_icon">
			<svg class="icon icon_caret_left">
				<use href="/images/icons.svg#caret_left" />
			</svg>
		</span>
			<span class="pagination_arrow_label">Previous Page</span>
		</a>
		<a class="pagination_arrow pagination_arrow_right" href="#">
			<span class="pagination_arrow_label">Next Page</span>
			<span class="pagination_arrow_icon">
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		</span>
		</a>
	</nav>
	<form class="pagination_form" action="" method="get">
		<div class="pagination_form_inner">
			<label class="pagination_form_label" for="pagination_form_select">Page</label>
			<div class="pagination_form_select_wrapper">
				<select class="pagination_form_select" name="page" id="pagination_form_select" aria-label="Select Page Number">
											<option value="1">1</option>
											<option value="2">2</option>
											<option value="3">3</option>
											<option value="4">4</option>
											<option value="5">5</option>
											<option value="6">6</option>
											<option value="7">7</option>
											<option value="8">8</option>
											<option value="9">9</option>
											<option value="10">10</option>
											<option value="11">11</option>
											<option value="12">12</option>
											<option value="13">13</option>
											<option value="14">14</option>
											<option value="15">15</option>
											<option value="16">16</option>
											<option value="17">17</option>
											<option value="18">18</option>
											<option value="19">19</option>
											<option value="20">20</option>
											<option value="21">21</option>
											<option value="22">22</option>
											<option value="23">23</option>
											<option value="24">24</option>
											<option value="25">25</option>
											<option value="26">26</option>
											<option value="27">27</option>
											<option value="28">28</option>
											<option value="29">29</option>
											<option value="30">30</option>
											<option value="31">31</option>
											<option value="32">32</option>
											<option value="33">33</option>
											<option value="34">34</option>
											<option value="35">35</option>
											<option value="36">36</option>
											<option value="37">37</option>
											<option value="38">38</option>
											<option value="39">39</option>
											<option value="40">40</option>
											<option value="41">41</option>
											<option value="42">42</option>
											<option value="43">43</option>
											<option value="44">44</option>
											<option value="45">45</option>
											<option value="46">46</option>
											<option value="47">47</option>
											<option value="48">48</option>
											<option value="49">49</option>
											<option value="50">50</option>
									</select>
				<span class="pagination_form_select_icon">
			<svg class="icon icon_expand">
				<use href="/images/icons.svg#expand" />
			</svg>
		</span>
			</div>

			<span class="pagination_form_suffix">of
				50</span>
			<button class="pagination_form_button" type="submit" aria-label="View Page">Go</button>
		</div>
	</form>
</div>
			</div>
		</div>
	</div>
</div>
			</div>
		
		<script>
			var WWW_ROOT = "";
			var STATIC_ROOT = "../../index.html";
		</script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>

					
		
		<script src="../../js/site.js"></script>

					
		
			</body>
</html>

