

<!DOCTYPE html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">

	<title>
		Default
		&raquo; Pattern Library
	</title>

<link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
<link rel="manifest" href="/favicons/site.webmanifest">
<link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#ffffff">
<link rel="shortcut icon" href="/favicons/favicon.ico">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-config" content="/favicons/browserconfig.xml">
<!-- Facebook -->
<meta property="og:title" content="JTCC">
<meta property="og:type" content="website">
<meta property="og:image" content="http://jtcc.edu/social.png">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="600">
<meta property="og:description" content="John Tyler Community College">
<meta property="og:site_name" content="JTCC">

	<!-- Twitter -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@johntylercc">
	<meta name="twitter:creator" content="@johntylercc">
	<meta name="twitter:url" content="//twitter.com/johntylercc">
	<meta name="twitter:title" content="JTCC">
	<meta name="twitter:description" content="John Tyler Community College">
	<meta name="twitter:image" content="http://jtcc.edu/social.png">

<link media="all" rel="stylesheet" href="/css/site.css">


<!-- Google Tag Manager -->
<script>
	(function (w, d, s, l, i) {
w[l] = w[l] || [];
w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
var f = d.getElementsByTagName(s)[0],
j = d.createElement(s),
dl = l != 'dataLayer' ? '&l=' + l : '';
j.async = true;
j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl;
f.parentNode.insertBefore(j, f);
})(window, document, 'script', 'dataLayer', 'GTM-K6P58WP');
</script>
<!-- End Google Tag Manager -->
	</head>

	<body class="preload no-js fs-grid theme-default ">
		<noscript>
			<iframe src="//www.googletagmanager.com/ns.html?id=GTM-K6P58WP" height="0" width="0" style="display:none;visibility:hidden"></iframe>
		</noscript>

		<div class="js-alert-wrapper">
					</div>

		

		<main>
							<div class="filter">
	<div class="filter_tabs" role="tablist" aria-label="Directory Filtering">
		<div class="fs-row">
			<div class="fs-cell">
				<div class="filter_tabs_inner">
					<button class="js-swap filter_tab" role="tab" data-swap-target=".filter_tabpanel_tools" data-swap-group="filter_tabs"  data-swap-options='{"collapse": false}'>Filter</button>
					<button class="js-swap filter_tab" role="tab" data-swap-target=".filter_tabpanel_search" data-swap-group="filter_tabs"  data-swap-active="true"  data-swap-options='{"collapse": false}'>Search</button>
				</div>
			</div>
		</div>
	</div>
	<div class="filter_panels">
		<div class="fs-row">
			<div class="fs-cell">
				<div class="filter_panels_inner">
					<div class="filter_tabpanel filter_tabpanel_tools" role="tabpanel">
						<form class="filter_tools" action="#" method="get">
															<div class="filter_tool">
									<label class="filter_label" for="filter_tool_label_1">Filter by Degree & Certificate Type</label>
									<div class="filter_tool_select_wrapper">
										<select class="filter_tool_select" id="filter_tool_label_1">
																							<option value="All Degrees & Certificates"  selected >All Degrees & Certificates</option>
																							<option value="Category One" >Category One</option>
																							<option value="Another Category" >Another Category</option>
																					</select>
										<span class="filter_tool_select_icon">
			<svg class="icon icon_caret_down">
				<use href="/images/icons.svg#caret_down" />
			</svg>
		</span>
									</div>
								</div>
															<div class="filter_tool">
									<label class="filter_label" for="filter_tool_label_2">Filter by Career Cluster</label>
									<div class="filter_tool_select_wrapper">
										<select class="filter_tool_select" id="filter_tool_label_2">
																							<option value="All Career Clusters"  selected >All Career Clusters</option>
																							<option value="Category One" >Category One</option>
																							<option value="Another Category" >Another Category</option>
																					</select>
										<span class="filter_tool_select_icon">
			<svg class="icon icon_caret_down">
				<use href="/images/icons.svg#caret_down" />
			</svg>
		</span>
									</div>
								</div>
															<div class="filter_tool">
									<label class="filter_label" for="filter_tool_label_3">Filter by Modes of Study</label>
									<div class="filter_tool_select_wrapper">
										<select class="filter_tool_select" id="filter_tool_label_3">
																							<option value="All Modes of Study"  selected >All Modes of Study</option>
																							<option value="Category One" >Category One</option>
																							<option value="Another Category" >Another Category</option>
																					</select>
										<span class="filter_tool_select_icon">
			<svg class="icon icon_caret_down">
				<use href="/images/icons.svg#caret_down" />
			</svg>
		</span>
									</div>
								</div>
														<div class="filter_tool">
								<button class="filter_tools_submit filter_tools_submit_tools" type="submit">
									<span class="filter_tools_submit_label">Submit</span>
									<span class="filter_tools_submit_icon">
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		</span>
								</button>
							</div>
						</form>
					</div>
					<div class="filter_tabpanel filter_tabpanel_search" role="tabpanel">
						<form class="filter_search" action="#" method="get">
							<label class="filter_label" for="filter_search_input">Search our Majors & Programs</label>
							<div class="filter_search_form">
								<div class="filter_search_input_wrapper">
									<input class="filter_search_input" id="filter_search_input" type="search" placeholder="Search by keyword">
									<span class="filter_search_input_icon">
			<svg class="icon icon_search">
				<use href="/images/icons.svg#search" />
			</svg>
		</span>
								</div>
								<button class="filter_tools_submit filter_tools_submit_search" type="submit">
									<span class="filter_tools_submit_label">Submit</span>
									<span class="filter_tools_submit_icon">
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		</span>
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
			<div class="filter_results">
			<div class="fs-row">
				<div class="fs-cell">
					<div class="filter_results_inner">
						<p class="filter_results_description">
							<span class="filter_results_label">12
								Results for:</span>
							<span class="filter_results_category">Information Technology</span>
						</p>

						

<a href="page-news-listing.html" class="filter_results_reset_link" >
	<span class="filter_results_reset_link_inner">
		<span class="filter_results_reset_link_label">Reset</span>
					<span class="filter_results_reset_link_icon" aria-hidden="true">
				<span class="filter_results_reset_link_icon_inner">
					<span class="filter_results_reset_link_icon_space">&#xfeff;</span>
					
			<svg class="icon icon_reset">
				<use href="/images/icons.svg#reset" />
			</svg>
		
				</span>
			</span>
			</span>
</a>
					</div>
				</div>
			</div>
		</div>
	</div>

					</main>

		<script>
			var WWW_ROOT = "";
			var STATIC_ROOT = "../../index.html";
		</script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>

					
		
		<script src="../../js/site.js"></script>

					
		
			</body>
</html>

