<!DOCTYPE html>
<html lang="en" dir="ltr" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
    window.frctl = {
        env: 'static'
    };
    </script>
    <script>var cl = document.querySelector('html').classList; cl.remove('no-js'); cl.add('has-js');</script>
    <link rel="shortcut icon" href="../../favicons/favicon.ico" type="image/ico">

<link rel="stylesheet" href="../../themes/mandelbrot/css/black.css?cachebust=1.4.0" type="text/css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/styles/gruvbox-dark.min.css?cachebust=1.4.0" type="text/css">


<title>Error rendering component template-fs-components-full | JTCC Component Library</title>

</head>
<body>



<div class="Frame Frame--full" id="frame">


<div class="Error Error--render">
    <h4 class="Error-title">Error rendering component</h4>
    <div class="Error-message Prose">
        <p>Error: Could not render component &#39;@component-card-group--six-up&#39; - component not found.</p>

    </div>
    
    <code class="Error-stack">
        <pre>Error: Error: Could not render component '@component-card-group--six-up' - component not found.
    at /home/runner/work/jtcc/jtcc/node_modules/@frctl/twig/src/adapter.js:158:24
    at new Promise (<anonymous>)
    at TwigAdapter.render (/home/runner/work/jtcc/jtcc/node_modules/@frctl/twig/src/adapter.js:140:16)
    at ComponentSource._renderVariant (/home/runner/work/jtcc/jtcc/node_modules/@frctl/fractal/src/api/components/source.js:207:30)
    at _renderVariant.next (<anonymous>)
    at onFulfilled (/home/runner/work/jtcc/jtcc/node_modules/co/index.js:65:19)
    at bound (domain.js:427:14)
    at runBound (domain.js:440:12)
    at tryCatcher (/home/runner/work/jtcc/jtcc/node_modules/bluebird/js/release/util.js:16:23)
    at Promise._settlePromiseFromHandler (/home/runner/work/jtcc/jtcc/node_modules/bluebird/js/release/promise.js:547:31)
    at Promise._settlePromise (/home/runner/work/jtcc/jtcc/node_modules/bluebird/js/release/promise.js:604:18)
    at Promise._settlePromise0 (/home/runner/work/jtcc/jtcc/node_modules/bluebird/js/release/promise.js:649:10)
    at Promise._settlePromises (/home/runner/work/jtcc/jtcc/node_modules/bluebird/js/release/promise.js:729:18)
    at Promise._fulfill (/home/runner/work/jtcc/jtcc/node_modules/bluebird/js/release/promise.js:673:18)
    at Promise._resolveCallback (/home/runner/work/jtcc/jtcc/node_modules/bluebird/js/release/promise.js:466:57)
    at Promise._settlePromiseFromHandler (/home/runner/work/jtcc/jtcc/node_modules/bluebird/js/release/promise.js:559:17)</pre>
    </code>
    
</div>


</div>




<script src="../../themes/mandelbrot/js/mandelbrot.js?cachebust=1.4.0"></script>



</body>
</html>
