<!-- Header -->
<header class="header" id="header">
	<a class="skip_link skip_main" id="skip_link" href="#skip_content">Skip to main content</a>

	{% if page.alert == true %}
		<a class="js-skip-alert skip_link skip_alert" id="alert_link" href="#alert">Skip to site alert</a>
	{% endif %}

	<div class="header_ribbon">
		<div class="fs-row">
			<div class="fs-cell">
				<div class="header_ribbon_inner">
					<div class="header_ribbon_group header_ribbon_group_logo">
						{% render "@partial-logo" with {
							modifier: "header",
							icon: "logo"
						} %}
					</div>

					<div class="header_ribbon_group header_ribbon_group_navigation">
						<div class="header_ribbon_row">
							{% render "@navigation-basic--secondary" with {
								class: "secondary_nav",
								modifier: "lg",
							} %}

							{% render "@navigation-basic--actions" with {
								class: "actions_nav",
								modifier: "lg",
							} %}

							<div class="js-audience-group audience_group">
								{% render "@partial-button-toggle" with {
									class: "audience",
									title: "Resources for…",
									icon: "caret_down",
									active_title: "Resources for…",
									active_icon: "caret_up",
									swap_target: ".js-audience-group",
									swap_link: "audience"
								} %}

								{% render "@navigation-basic--audience" with {
									class: "audience_nav",
									modifier: "lg",
								} %}
							</div>
						</div>
						<div class="header_ribbon_row">
							{% render "@navigation-basic--main" with {
								class: "main_nav",
								modifier: "lg",
								title: "Site",
								toggle_icon: "caret_down",
								active_index: page.activePage,
								links: navigation.main
							} %}

							<div class="header_ribbon_search">
								{% render "@partial-button-toggle" with {
									class: "search",
									title: "Search",
									icon: "search",
									active_title: "Close",
									active_icon: "close",
									swap_target: ".site_search_header"
								} %}

								{% render "@partial-search" with {
									modifier: "header",
									aria: "Site Search",
									label: "Search",
									placeholder: "Search by keyword",
									button_text: "Submit"
								} %}
							</div>
						</div>
					</div>

					<div class="header_controls">
						{% render "@partial-link-toggle" with {
							class: "menu",
							title: "Menu",
							url: "#menu",
							icon: "menu",
							js: true,
							swap_target: ".menu",
							swap_link: "menu",
							active_title: "Close",
							active_icon: "close"
						} %}
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- END: Header -->
