<!-- Page Feature -->
<div class="page_feature" id="skip_content" tabindex="-1">
	{% render "@partial-page-header--description" with {
		title: "Business Entrepreneurship, CSC",
		description: "This one-year program prepares students with the important skills needed to start a small business. All career-technical degrees are guided by advisory committees comprised of local business leaders.",
		stretch: true
	} %}

	{% render "@partial-program-meta" %}

	{% render "@partial-page-nav" %}
</div>
<!-- END: Page Feature -->

<!-- Full Width Callouts -->
<div class="full_width_callouts">
	{% render "@component-wysiwyg--tyler-intro" %}

	{% render "@component-testimonial--maroon" %}

	{% render "@component-wysiwyg--tyler-outro" %}

	{% render "@component-card-group--four-up" %}
</div>
<!-- END: Full Width Callouts -->
