<!-- Page Feature -->
<div class="page_feature" id="skip_content" tabindex="-1">
	{% render "@partial-page-header-bg--description" with {
		title: "Early Childhood Development, AAS",
		description: "This two-year degree prepares students for jobs working with young children (birth to age eight) in preschools, elementary schools, child-care centers, and before- and after-school programs."
	} %}

	{% render "@partial-program-meta" %}

	{% render "@partial-page-nav" %}
</div>
<!-- END: Page Feature -->

<!-- Full Width Callouts -->
<div class="full_width_callouts">
	{% render "@component-wysiwyg--tyler-intro" %}

	{% render "@component-testimonial--gold" %}

	{% render "@component-wysiwyg--tyler-outro" %}

	{% render "@component-collage" %}
</div>
<!-- END: Full Width Callouts -->
