<div class="js-alert alert" id="alert" role="alert" data-time="{{ published }}" aria-labelledby="alert_title" tabindex="-1">
	<div class="fs-row">
		<div class="fs-cell">
			<div class="alert_inner">
				<div class="alert_header">
					<h2 class="alert_title" id="alert_title">
						<span class="alert_title_icon">{{icon("alert")}}</span>
						<span class="alert_title_label">{{ title }}</span>
					</h2>
				</div>
				<div class="alert_body">
					<div class="alert_description typography">
						{{ description }}
					</div>
				</div>
				<button class="js-alert-close alert_close">
					<span class="alert_close_inner">
						<span class="alert_close_icon" aria-hidden="true"></span>
						<span class="alert_close_label">Close site alert</span>
					</span>
				</button>
			</div>
		</div>
	</div>
</div>

<script>
	(function(window, edit_date) {
		var last_edited_key = 'framework-alert-' + edit_date;

		window.framework_cookie_key = last_edited_key;
	})(window, '06-01-2025');
</script>