{!-- Entry --}

{layout='layouts/_news-layout'}

{!--
	404 redirect
	============
	This is a multi-entry channel page, it doesn't need third segment as is. So we use the following code to make sure the page sends a 404 if someone types in an incorrect URL in the browser address bar. i.e. http://example.com/about/sub-page/nothing
--}
{if segment_6}
	{redirect='404'}
{/if}

{!-- page vars (prefix p_) --}
{preload_replace:p_title='News'}
{preload_replace:p_description='John Tyler Community College News'}
{preload_replace:p_url='news'}
{!-- channel vars (prefix ch_) --}
{preload_replace:ch='news_stories'}
{preload_replace:ch_title='News & Stories'}
{preload_replace:ch_status='Open|Default Page'}
{preload_replace:ch_disable='member_data|pagination'}
{!-- layout vars, channel/page related --}
{layout:set name='ch' value='{ch}'}
{layout:set name='ch_title' value='{ch_title}'}
{layout:set name='p_url' value='{p_url}'}
{layout:set name='p_title' value='{p_title}'}
{layout:set name='ch_disable' value='{ch_disable}'}
{layout:set name='ch_status' value='{ch_status}'}
{if segment_2}{layout:set name='entry_ch' value='{ch}'}{/if}

{if segment_3 == '' && segment_2 != ''}
{!-- channel entries tag --}
{exp:channel:entries channel='{ch}' dynamic="yes" disable='{ch_disable}' limit='1' require_entry="yes"}
{if no_results}
  {redirect="404"}
{/if}
	{!-- layout vars, dynamic, not output --}
	{layout:set name='title' value='{if title}{title}{if:else}{p_title}{/if}'}
	{layout:set name='url_title' value='{url_title}'}
	{layout:set name='entry_date' value='{entry_date}'}
	{layout:set name='author' value='{news_author}'}
	{layout:set name="categories"}

                                            <ul class="news_meta_categories" aria-label="Categories">
                                            	  {exp:tag:tags
                                                entry_id="{entry_id}"
                                                orderby="tag_name" sort="asc"
                                                limit="6"
                                                backspace="2"
                                            }
                                                        <li class="news_meta_category">
                                <a class="news_meta_category_link" href="news/tag/{websafe_tag}">{tag}</a>
                            </li>
                                                {/exp:tag:tags}    
                                                </ul>                                       
                                                
                                            
{/layout:set}
{layout:set name="check_tags"}{if tags}{tags}{/if}{/layout:set}

	{layout:set name='page_description'}{if story_description}{story_description}{/if}{/layout:set}

	{layout:set name='page_header_bg_image' value='{if story_image}{story_image}{img:url}{/story_image}{/if}'}

	{layout:set name="page_header_bg_image_500x214" value='{story_image}{img:url:resize width="500" height="214"}{/story_image}'}

	{layout:set name="page_header_bg_image_740x317" value='{story_image}{img:url:resize width="740" height="317"}{/story_image}'}
	{layout:set name="page_header_bg_image_980x420" value='{story_image}{img:url:resize width="980" height="420"}{/story_image}'}
	{layout:set name="page_header_bg_image_1220x523" value='{story_image}{img:url:resize width="1220" height="523"}{/story_image}'}
	{layout:set name="page_header_bg_image_1440x617" value='{story_image}{img:url:resize width="1440" height="617"}{/story_image}'}
	
	{layout:set name='description' value='{if seo_desc}{seo_desc}{if:else}{p_description}{/if}'}
	{!-- OpenGraph meta output --}
	{layout:set name='og_title' value='{if seo_title}{seo_title}{if:elseif title}{title}{if:else}{p_title}{/if}'}
	{layout:set name='og_image'}{if page_image}<meta property="og:image" content="{page_image}{page_image:image}{/page_image}">{/if}{/layout:set}
	{layout:set name='og_url'}{path='{p_url}'}{/layout:set}
	{layout:set name='og_description' value='{if seo_desc}{seo_desc}{if:else}{p_description}{/if}'}
	{layout:set name="entry_id"}{entry_id}{/layout:set}
	{!-- /layout vars, dynamic, not output --}

	{!-- content output --}
	{!--{if logged_in}
	<a href="{cp_edit_entry_url}" class="edit-entry">Edit Entry</a>
  {/if}--}
	
	{!-- page_content --}

			
{layout:contents}
{main_content}
	{if segment_4 == 'transfer-credit-request-form'}
		{embed="admissions/transfer-credit-form"}
	{/if}
	{main_content:wysiwyg_block}
	<div class="wysiwyg_block">
		<div class="fs-row">
			<div class="fs-cell">
				<div class="wysiwyg_block_inner typography">
					{content}					
				</div>
			</div>
		</div>
	</div>
	{/main_content:wysiwyg_block}
	

	{snp_js_accordion}

	{snp_flex_callout_image}

	{snp_topic_row}	

	{snp_link_group}
		
	{snp_testimonial}	

	{snp_media_grid}

	{snp_media_grid_vertical}

{/main_content}
	{if tags}	
	
	{embed="news/related-news" entry_id="{entry_id}"}
{/if}
	    {/exp:channel:entries}
	
{!-- 	{if:else}

		{/exp:channel:entries}
	{/if} --}
	    
	

{!--{snp_contact}--}


{/if}