{layout='layouts/_news-layout'}

{!--
    404 redirect
    ============
    This is a multi-entry channel page, it doesn't need third segment as is. So we use the following code to make sure the page sends a 404 if someone types in an incorrect URL in the browser address bar. i.e. http://example.com/about/sub-page/nothing
--}
{if segment_6}
    {redirect='404'}
{/if}

{!-- page vars (prefix p_) --}
{preload_replace:p_title='News & Stories'}
{preload_replace:p_description='John Tyler Community College News'}
{preload_replace:p_url='news'}
{!-- channel vars (prefix ch_) --}
{preload_replace:ch='news_stories'}
{preload_replace:ch_title='News & Stories'}
{preload_replace:ch_status='Open|Default Page'}
{preload_replace:ch_disable='member_data'}
{!-- layout vars, channel/page related --}
{layout:set name='ch' value='{ch}'}
{layout:set name='ch_title' value='{ch_title}'}
{layout:set name='p_url' value='{p_url}'}
{layout:set name='p_title' value='{p_title}'}
{layout:set name='ch_disable' value='{ch_disable}'}
{layout:set name='ch_status' value='{ch_status}'}
{if segment_2}{layout:set name='entry_ch' value='{ch}'}{/if}



<?php

    if (isset($_POST['filter_sbmt'])) {
        $selected_tag = $_POST['selected_tag'];
    }

?>



{if segment_2 != 'tag'}
{!-- channel entries tag --}
{exp:channel:entries channel='{ch}' disable='{ch_disable}' dynamic="no"}
    {!-- layout vars, dynamic, not output --}
    {layout:set name='title' value='{p_title}'}
    
    {layout:set name='page_description' value='{if page_description}{page_description}{/if}'}

    {layout:set name='page_header_bg_image' value='{if page_header_bg_image}{page_header_bg_image}{img:url}{/page_header_bg_image}{/if}'}

    {layout:set name="page_header_bg_image_500x214" value='{page_header_bg_image}{img:url:resize width="500" height="214"}{/page_header_bg_image}'}

    {layout:set name="page_header_bg_image_740x317" value='{page_header_bg_image}{img:url:resize width="740" height="317"}{/page_header_bg_image}'}
    {layout:set name="page_header_bg_image_980x420" value='{page_header_bg_image}{img:url:resize width="980" height="420"}{/page_header_bg_image}'}
    {layout:set name="page_header_bg_image_1220x523" value='{page_header_bg_image}{img:url:resize width="1220" height="523"}{/page_header_bg_image}'}
    {layout:set name="page_header_bg_image_1440x617" value='{page_header_bg_image}{img:url:resize width="1440" height="617"}{/page_header_bg_image}'}
    
    {layout:set name='description' value='{if seo_desc}{seo_desc}{if:else}{p_description}{/if}'}
    {!-- OpenGraph meta output --}
    {layout:set name='og_title' value='{if seo_title}{seo_title}{if:elseif title}{title}{if:else}{p_title}{/if}'}
    {layout:set name='og_image'}{if page_image}<meta property="og:image" content="{page_image}{page_image:image}{/page_image}">{/if}{/layout:set}
    {layout:set name='og_url'}{path='{p_url}'}{/layout:set}
    {layout:set name='og_description' value='{if seo_desc}{seo_desc}{if:else}{p_description}{/if}'}
    {!-- /layout vars, dynamic, not output --}

    {!-- content output --}
    {!--{if logged_in}
    <a href="{cp_edit_entry_url}" class="edit-entry">Edit Entry</a>
  {/if}--}
    
    {!-- page_content --}


{layout:contents}

                    {/exp:channel:entries} 
{/if}
                    
        <!-- Full Width Callouts -->
<div class="full_width_callouts">
    <div class="filter">
        <div class="filter_tabs" role="tablist" aria-label="Directory Filtering">
            <div class="fs-row">
                <div class="fs-cell">
                    <div class="filter_tabs_inner">
                        <button class="js-swap filter_tab" role="tab" data-swap-target=".filter_tabpanel_tools" data-swap-group="filter_tabs" data-swap-options='{"collapse": false}'>Filter</button>
                        <button class="js-swap filter_tab" role="tab" data-swap-target=".filter_tabpanel_search" data-swap-group="filter_tabs" data-swap-active="true" data-swap-options='{"collapse": false}'>Search</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="filter_panels">
            <div class="fs-row">
                <div class="fs-cell">
                    <div class="filter_panels_inner">
                        <div class="filter_tabpanel filter_tabpanel_tools" role="tabpanel">
                            
                        
                            
                            <form class="filter_tools" action='/news/filter-results' method="post">
                               
                                <div class="filter_tool">
                                    <label class="filter_label" for="filter_tool_label_1">Filter by Category</label>
                                    <div class="filter_tool_select_wrapper">
                                        <select name="selected_tag" class="filter_tool_select" id="filter_tool_label_1">
                                            <option value="" selected>Please select</option>
                             {exp:channel:entries
                            channel='{ch}' 
                            disable='categories|member_data' 
                            dynamic="no"
                            category="39"
                            limit="1"
                        }
                            {exp:tag:cloud
                                entry_id="{entry_id}"
                                orderby="tag_name"
                                sort="asc"
                                case="upper"
                                tag_group_id="2"
                            }
                                            <option value="{websafe_tag}">{tag}</option>
                                        {/exp:tag:cloud}
                            {/exp:channel:entries}  
                                    
                                        </select>
                                        <span class="filter_tool_select_icon">
                                            <svg class="icon icon_caret_down">
                                                <use href="/images/icons.svg#caret_down" />
                                            </svg>
                                        </span>
                                    </div>
                                </div>
                                <div class="filter_tool">
                                    <input type="hidden" name="XID" value="{XID_HASH}" /> 
                                    <button name="filter_sbmt" class="filter_tools_submit filter_tools_submit_tools" type="submit">
                                        <span class="filter_tools_submit_label">Submit</span>
                                        <span class="filter_tools_submit_icon">
                                            <svg class="icon icon_caret_right">
                                                <use href="/images/icons.svg#caret_right" />
                                            </svg>
                                        </span>
                                    </button>
                                </div>
                            </form>
                        
                              
                        </div>
                        <div class="filter_tabpanel filter_tabpanel_search" role="tabpanel">


                        {exp:search:simple_form channel="news_stories" status="open" search_in="everywhere" where="any" result_page="/news/search-results" no_result_page="/news/noresults"}
                            <label class="filter_label" for="filter_search_input">Search News</label>
                            <div class="filter_search_form">
                                <div class="filter_search_input_wrapper">
                                    <input class="filter_search_input" name="keywords" id="filter_search_input" type="text" placeholder="Search by keyword">
                                        <span class="filter_search_input_icon">
                                            <svg class="icon icon_search">
                                                <use href="/images/icons.svg#search" />
                                            </svg>
                                        </span>
                                </div>
                                <button class="filter_tools_submit filter_tools_submit_search" type="submit">
                                    <span class="filter_tools_submit_label">Submit</span>
                                    <span class="filter_tools_submit_icon">
                                        <svg class="icon icon_caret_right">
                                            <use href="/images/icons.svg#caret_right" />
                                        </svg>
                                    </span>
                                </button>
                            </div>
                        {/exp:search:simple_form}





                            {!-- <form class="filter_search" action="#" method="get">
                                <label class="filter_label" for="filter_search_input">Search News</label>
                                <div class="filter_search_form">
                                    <div class="filter_search_input_wrapper">
                                        <input class="filter_search_input" id="filter_search_input" type="search" placeholder="Search by keyword">
                                        <span class="filter_search_input_icon">
                                            <svg class="icon icon_search">
                                                <use href="/images/icons.svg#search" />
                                            </svg>
                                        </span>
                                    </div>
                                    <button class="filter_tools_submit filter_tools_submit_search" type="submit">
                                        <span class="filter_tools_submit_label">Submit</span>
                                        <span class="filter_tools_submit_icon">
                                            <svg class="icon icon_caret_right">
                                                <use href="/images/icons.svg#caret_right" />
                                            </svg>
                                        </span>
                                    </button>
                                </div>
                            </form> --}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="filter_results" id="entries">
            <div class="fs-row">
                <div class="fs-cell">
                    <div class="filter_results_inner">
                        {if segment_2 == 'search-results'}
                        <p class="filter_results_description">
                            <span class="filter_results_label">{exp:search:total_results}
                                Results</span>
                            {!-- <span class="filter_results_category">Information Technology</span> --}
                        </p>
                        {/if}
                        <a href="/news" class="filter_results_reset_link">
                            <span class="filter_results_reset_link_inner">
                                <span class="filter_results_reset_link_label">Reset</span>
                                <span class="filter_results_reset_link_icon" aria-hidden="true">
                                    <span class="filter_results_reset_link_icon_inner">
                                        <span class="filter_results_reset_link_icon_space">&#xfeff;</span>

                                        <svg class="icon icon_reset">
                                            <use href="/images/icons.svg#reset" />
                                        </svg>

                                    </span>
                                </span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{if segment_2 != 'tag'}
    <div class="news_list">
        <div class="fs-row">
            <div class="fs-cell">
                <div class="news_list_inner">
                    <ul class="news_list_items" id="item_list" aria-label="">


                        {exp:channel:entries
                            channel='{ch}' 
                            order_by="date"
                            disable='categories|member_data' 
                            dynamic="no"
                            category="39"
                            offset="3"
                            paginate="bottom"
                            limit="10"
                            sort="desc"
                            status="open"
                            sticky="no"
                        }
                        <li class="news_list_item">
                            <div class="news_item">
                                {if story_image}
                                {story_image} 
                                <figure class="news_item_figure">
                                    <a class="news_item_figure_link" href="{url_title_path=news}" aria-label="Read more about {title}" tabindex="-1">
                                        <span class="lazy_image_wrapper news_item_image_wrapper">
                                            <img class="js-lazy js-lazyload news_item_image" data-sizes="auto" src="/images/placeholder.png" data-src='{img:url:resize width="300" height="200"}' data-srcset='{img:url:resize width="300" height="200"} 300w, {img:url:resize width="500" height="334"} 500w, {img:url:resize width="740" height="494"} 740w, {img:url:resize width="980" height="654"} 980w' alt="{img:title}">
                                        </span>
                                        <noscript>
                                            <img class="news_item_image" src='{img:url:resize width="980" height="654"}' srcset='{img:url:resize width="980" height="654"} 980w, {img:url:resize width="740" height="494"} 740w, {img:url:resize width="500" height="334"} 500w, {img:url:resize width="300" height="200"} 300w' sizes="100vw" alt="">
                                        </noscript>
                                    </a>
                                </figure>
                                {/story_image}
                                {/if}
                                <div class="news_item_wrapper">
                                    <div class="news_item_header">
                                        <h2 class="news_item_title">
                                            <a href="{url_title_path=news}" class="news_item_title_link">
                                                <span class="news_item_title_link_inner">
                                                    <span class="news_item_title_link_label">{title}</span>
                                                    <span class="news_item_title_link_icon" aria-hidden="true">
                                                        <span class="news_item_title_link_icon_inner">
                                                            <span class="news_item_title_link_icon_space">&#xfeff;</span>

                                                            <svg class="icon icon_caret_right">
                                                                <use href="/images/icons.svg#caret_right" />
                                                            </svg>

                                                        </span>
                                                    </span>
                                                </span>
                                            </a>
                                        </h2>
                                        <div class="news_item_categories">
                                            {exp:tag:tags
                                                entry_id="{entry_id}"
                                                orderby="tag_name" sort="asc"
                                                limit="6"
                                                backspace="2"
                                            }
                                                {if tag_count == "1"}
                                                    <div class="news_item_category_hint">Categories</div>
                                                {/if}
                                            
                                            <ul class="news_item_category_list" aria-label="Categories">
                                                <li class="news_item_category">
                                                    <a href="/news/tag/{websafe_tag}" class="news_item_category_link">
                                                        {tag}
                                                    </a>
                                                </li>
                                                {if tag_count == tag_total_results}
                                                </ul>                                       
                                                {/if}
                                            {/exp:tag:tags}
                                                                  
                                        </div>
                                    </div>
                                    <div class="news_item_body">
                                        <div class="news_item_details">
                                            <div class="news_item_detail news_item_date">
                                                <span class="news_item_detail_hint">Published:
                                                </span>
                                                <time class="news_item_detail_label" datetime='%Y-%m-%d'>{entry_date format="%F %d, %Y"}</time>
                                            </div>
                                            {if news_author}
                                            <div class="news_item_detail news_item_author">
                                                <span class="news_item_detail_hint">by
                                                </span>
                                                <span class="news_item_detail_label">{news_author}</span>
                                            </div>
                                            {/if}
                                        </div>
                                        <div class="news_item_description">
                                            <p>{story_description}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END: News Item -->
                        </li>




{snp_pagination}
 



                        {/exp:channel:entries}

                    </ul>
                </div>
            </div>
        </div>
    </div> 

    {/if}
    <div class="news_list">
        <div class="fs-row">
            <div class="fs-cell">
                <div class="news_list_inner">
                    <ul class="news_list_items" id="item_list" aria-label="">   

        <h1>
   {!--  Entries tagged: --}
   {layout:set name='tag_title'}
        {exp:tag:tag_name
            tag="{segment_3}"
            case="title"
        }
    {/layout:set}
    {layout:tag_title}
    {layout:tag_title}
</h1>
{if segment_3}
{exp:tag:entries
    tag="{segment_3}"
    inclusive="yes"
    orderby="title"
    sort="asc"
    limit="20"
    paginate="bottom"
}

   <li class="news_list_item">
                            <div class="news_item">
                                {if story_image}
                                {story_image} 
                                <figure class="news_item_figure">
                                    <a class="news_item_figure_link" href="{url_title_path=news}" aria-label="Read more about {title}" tabindex="-1">
                                        <span class="lazy_image_wrapper news_item_image_wrapper">
                                            <img class="js-lazy js-lazyload news_item_image" data-sizes="auto" src="/images/placeholder.png" data-src='{img:url:resize width="300" height="200"}' data-srcset='{img:url:resize width="300" height="200"} 300w, {img:url:resize width="500" height="334"} 500w, {img:url:resize width="740" height="494"} 740w, {img:url:resize width="980" height="654"} 980w' alt="{img:title}">
                                        </span>
                                        <noscript>
                                            <img class="news_item_image" src='{img:url:resize width="980" height="654"}' srcset='{img:url:resize width="980" height="654"} 980w, {img:url:resize width="740" height="494"} 740w, {img:url:resize width="500" height="334"} 500w, {img:url:resize width="300" height="200"} 300w' sizes="100vw" alt="">
                                        </noscript>
                                    </a>
                                </figure>
                                {/story_image}
                                {/if}
                                <div class="news_item_wrapper">
                                    <div class="news_item_header">
                                        <h2 class="news_item_title">
                                            <a href="{url_title_path=news}" class="news_item_title_link">
                                                <span class="news_item_title_link_inner">
                                                    <span class="news_item_title_link_label">{title}</span>
                                                    <span class="news_item_title_link_icon" aria-hidden="true">
                                                        <span class="news_item_title_link_icon_inner">
                                                            <span class="news_item_title_link_icon_space">&#xfeff;</span>

                                                            <svg class="icon icon_caret_right">
                                                                <use href="/images/icons.svg#caret_right" />
                                                            </svg>

                                                        </span>
                                                    </span>
                                                </span>
                                            </a>
                                        </h2>
                                        <div class="news_item_categories">
                                            {exp:tag:tags
                                                entry_id="{entry_id}"
                                                orderby="tag_name" sort="asc"
                                                limit="6"
                                                backspace="2"
                                            }
                                                {if tag_count == "1"}
                                                    <div class="news_item_category_hint">Categories</div>
                                                {/if}
                                            
                                            <ul class="news_item_category_list" aria-label="Categories">
                                                <li class="news_item_category">
                                                    <a href="/news/tag/{websafe_tag}" class="news_item_category_link">
                                                        {tag}
                                                    </a>
                                                </li>
                                                {if tag_count == tag_total_results}
                                                </ul>                                       
                                                {/if}
                                            {/exp:tag:tags}
                                                                  
                                        </div>
                                    </div>
                                    <div class="news_item_body">
                                        <div class="news_item_details">
                                            <div class="news_item_detail news_item_date">
                                                <span class="news_item_detail_hint">Published:
                                                </span>
                                                <time class="news_item_detail_label" datetime='%Y-%m-%d'>{entry_date format="%F %d, %Y"}</time>
                                            </div>
                                            {if news_author}
                                            <div class="news_item_detail news_item_author">
                                                <span class="news_item_detail_hint">by
                                                </span>
                                                <span class="news_item_detail_label">{news_author}</span>
                                            </div>
                                            {/if}
                                        </div>
                                        <div class="news_item_description">
                                            <p>{story_description}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END: News Item -->
                        </li>

    {tag_paginate}
    <ul class="pagination">
        {tag_pagination_links}
            {first_page}
                <li><a href="{pagination_url}">First</a></li>
            {/first_page}
            {previous_page}
                <li><a href="{pagination_url}">&laquo; Previous</a></li>
            {/previous_page}
            {page}
                <li{if current_page} class="active"{/if}><a href="{pagination_url}">{pagination_page_number}</a></li>
            {/page}
            {next_page}
                <li><a href="{pagination_url}">Next &raquo;</a></li>
            {/next_page}
            {last_page}
                <li><a href="{pagination_url}">Last</a></li>
            {/last_page}
        {/tag_pagination_links}
    </ul>
    {/tag_paginate}

{/exp:tag:entries}

            </ul>
            </div>
        </div>
    </div>
</div>
{/if} 