{layout='layouts/_main-wrapper'}

{!-- page vars (prefix p_) --}
{preload_replace:p_title='Class Schedule'}
{preload_replace:p_description='Class Schedule'}
{preload_replace:p_url='/schedule'}

{!-- layout vars, channel/page related --}
{layout:set name='p_url' value='{p_url}'}
{layout:set name='p_title' value='{p_title}'}
{layout:set name='p_description' value='{p_description}'}

{layout:set name='title' value='{p_title}'}
{layout:set name='seo_description' value='{p_description}'}

<!-- Page Feature -->
<div class="page_feature">
	<div class="page_header">
		<div class="page_header_inner">
			<div class="page_header_body">
				<div class="breadcrumb">
					<div class="fs-row">
						<div class="fs-cell">
							<div class="breadcrumb_inner">
								

<nav class="breadcrumb_nav" aria-labelledby="breadcrumb_nav_title">
	<div class="breadcrumb_nav_header">
		<h2 class="breadcrumb_nav_title" id="breadcrumb_nav_title">You are here:</h2>
	</div>
	<ol class="breadcrumb_list" aria-labelledby="breadcrumb_nav_title">
		<li class="breadcrumb_item breadcrumb_item_home">
			<a class="breadcrumb_pill breadcrumb_pill_link" href="/">
				<span class="breadcrumb_pill_inner">
										<span class="breadcrumb_pill_label">Home</span>
					<span class="breadcrumb_pill_icon">
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		</span>
				</span>
			</a>
					</li>
					
					{!--<li class="breadcrumb_item">
				<a class="breadcrumb_pill breadcrumb_pill_link" href="/major">
					<span class="breadcrumb_pill_inner">
						<span class="breadcrumb_pill_label">Class Schedule</span>
						<span class="breadcrumb_pill_icon">
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		</span>
					</span>
				</a>
							</li>
					<li class="breadcrumb_item">
				<a class="breadcrumb_pill breadcrumb_pill_link" href="#">
					<span class="breadcrumb_pill_inner">
						<span class="breadcrumb_pill_label">Parent Level</span>
						<span class="breadcrumb_pill_icon">
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		</span>
					</span>
				</a>
							</li>--}
				<li class="breadcrumb_item">
			<span class="breadcrumb_pill">
				<span class="breadcrumb_pill_inner">
					<span class="breadcrumb_pill_label">Page Title</span>
				</span>
			</span>
					</li>
	</ol>
</nav>
							</div>
						</div>
					</div>
				</div>
				<div class="page_intro">
					<div class="fs-row">
						<div class="fs-cell fs-lg-10 fs-xl-9">
							<div class="page_intro_inner">
								<h1 class="page_title" itemprop="name">Class Schedule</h1>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END: Page Feature -->

<?php
include("includes/courses_conn.php");

	$default_term = "courses_spring";

	echo '<script type="text/javascript">
		function termSelected(){
			if (document.getElementById("term_fall").selected == true){		
				document.getElementById("fall").style.display = "block";	
				document.getElementById("spring").style.display = "none";
				document.getElementById("summer").style.display = "none";	
				document.getElementById("fall2").style.display = "block";	
				document.getElementById("spring2").style.display = "none";
				document.getElementById("summer2").style.display = "none";
				//document.getElementById("location").style.display = "none";
				//document.getElementById("online").style.display = "none";
				//document.getElementById("fall20spring21").style.display = "block";
				document.getElementById("searchByDays").style.display = "block";
			}
			if (document.getElementById("term_spring").selected == true){		
				document.getElementById("fall").style.display = "none";	
				document.getElementById("spring").style.display = "block";
				document.getElementById("summer").style.display = "none";
				document.getElementById("fall2").style.display = "none";	
				document.getElementById("spring2").style.display = "block";
				document.getElementById("summer2").style.display = "none";
				//document.getElementById("location").style.display = "none";
				//document.getElementById("online").style.display = "none";
				//document.getElementById("fall20spring21").style.display = "block";
				document.getElementById("searchByDays").style.display = "block";
			} 
			if (document.getElementById("term_summer").selected == true){ 
				document.getElementById("fall").style.display = "none";	
				document.getElementById("spring").style.display = "none";
				document.getElementById("summer").style.display = "block";
				document.getElementById("fall2").style.display = "none";	
				document.getElementById("spring2").style.display = "none";
				document.getElementById("summer2").style.display = "block";
				//document.getElementById("location").style.display = "none";
				//document.getElementById("online").style.display = "block";
				//document.getElementById("fall20spring21").style.display = "none";
				document.getElementById("searchByDays").style.display = "none";
			}
		}
		
		function reset_form() {
			document.getElementById("schedule").reset(); 		
		}	
	</script>';

	$fall_term_result = mysqli_query($conn, "SELECT DISTINCT term FROM courses_fall");
	$fall_term_row = mysqli_fetch_assoc($fall_term_result);
	$fall = explode(" ", $fall_term_row["term"]);
	$fall_term = $fall[1] . ' ' . $fall[0];

	$spring_term_result = mysqli_query($conn, "SELECT DISTINCT term FROM courses_spring");
	$spring_term_row = mysqli_fetch_assoc($spring_term_result);
	$spring = explode(" ", $spring_term_row["term"]);
	$spring_term = $spring[1] . ' ' . $spring[0];

	$summer_term_result = mysqli_query($conn, "SELECT DISTINCT term FROM courses_summer");
	$summer_term_row = mysqli_fetch_assoc($summer_term_result);
	$summer = explode(" ", $summer_term_row["term"]);
	$summer_term = $summer[1] . ' ' . $summer[0];
	
	$fall_subject_query = "SELECT DISTINCT academic_subject FROM courses_fall WHERE location NOT LIKE 'CCWA%' ORDER BY academic_subject";
	$spring_subject_query = "SELECT DISTINCT academic_subject FROM courses_spring WHERE location NOT LIKE 'CCWA%' ORDER BY academic_subject";
	$summer_subject_query = "SELECT DISTINCT academic_subject FROM courses_summer WHERE location NOT LIKE 'CCWA%' ORDER BY academic_subject";

	$fall_subject_result = mysqli_query($conn, $fall_subject_query);
	$spring_subject_result = mysqli_query($conn, $spring_subject_query);
	$summer_subject_result = mysqli_query($conn, $summer_subject_query);

	$fall_session_query = "SELECT DISTINCT session FROM courses_fall WHERE location NOT LIKE 'CCWA%'";
	$spring_session_query = "SELECT DISTINCT session FROM courses_spring WHERE location NOT LIKE 'CCWA%'";
	$summer_session_query = "SELECT DISTINCT session FROM courses_summer WHERE location NOT LIKE 'CCWA%'";

	$fall_session_result = mysqli_query($conn, $fall_session_query);
	$spring_session_result = mysqli_query($conn, $spring_session_query);
	$summer_session_result = mysqli_query($conn, $summer_session_query);

	//mysqli_close($conn);

	$show = 'style="display:block"';
	$hide = 'style="display:none"';
?>

<div class="full_width_callouts">
	<div class="filter">
	<div class="filter_tabs" role="tablist" aria-label="Class Schedule Filtering">
		<div class="fs-row">
			<div class="fs-cell">
				<div class="filter_tabs_inner">
					<button class="js-swap filter_tab" role="tab" data-swap-target=".filter_tabpanel_tools" data-swap-group="filter_tabs"  data-swap-options='{"collapse": false}'>Search</button>
				</div>
			</div>
		</div>
	</div>
	<div class="filter_panels">
		<div class="fs-row">
			<div class="fs-cell">
				<div class="filter_panels_inner">
					<div class="filter_tabpanel filter_tabpanel_tools" role="tabpanel">
	<form class="filter_tools" action="/schedule" method="post">
		<div class="filter_tool">
			<label class="filter_label" for="term">Term</label>
			<div class="filter_tool_select_wrapper">
				<select class="filter_tool_select" name="term" id="term" onchange="termSelected();">
				<?php 
				echo '<option id="term_fall" value="courses_fall"'; if ($default_term == 'courses_fall'){echo ' selected="selected"'; } echo '>' . $fall_term . '</option>
				<option id="term_spring" value="courses_spring"'; if ($default_term == 'courses_spring'){echo ' selected="selected"'; } echo '>' . $spring_term . '</option>	
				<option id="term_summer" value="courses_summer"'; if ($default_term == 'courses_summer'){echo ' selected="selected"'; } echo '>' . $summer_term . '</option>';
				?>
				</select>
				<span class="filter_tool_select_icon">
					<svg class="icon icon_caret_down">
					<use href="/images/icons.svg#caret_down" />
					</svg>
				</span>
			</div>
		</div>
		<div class="filter_tool">
			<label class="filter_label" for="subject">Subject</label>
			<div class="filter_tool_select_wrapper">
			<?php 
				echo '<div name="fall" id="fall" ';  if ($default_term == 'courses_fall') {echo $show; } else {echo $hide; } echo '>';
				echo '<select class="filter_tool_select" name="fall_subject" id="fall_subject">
				<option value="" selected>All Subjects</option>';
				while ($subject_row = mysqli_fetch_array($fall_subject_result)) { 
					echo '<option value="' . $subject_row[0] . '">' . $subject_row[0] . '</option>';
				}
				echo '</select></div>';
				echo '<div name="spring" id="spring" ';  if ($default_term == 'courses_spring') {echo $show; } else {echo $hide; } echo '>';
				echo '<select class="filter_tool_select" name="spring_subject">
				<option value="" selected>All Subjects</option>';
				while ($subject_row = mysqli_fetch_array($spring_subject_result)) { 
					echo '<option value="' . $subject_row[0] . '">' . $subject_row[0] . '</option>';
				}
				echo '</select></div>';
				echo '<div name="summer" id="summer" ';  if ($default_term == 'courses_summer') {echo $show; } else {echo $hide; } echo '>';
				echo '<select class="filter_tool_select" name="summer_subject">
				<option value="" selected>All Subjects</option>';
				while ($subject_row = mysqli_fetch_array($summer_subject_result)) { 
					echo '<option value="' . $subject_row[0] . '">' . $subject_row[0] . '</option>';
				}
				echo '</select></div>';
			?>
				<span class="filter_tool_select_icon">
					<svg class="icon icon_caret_down">
						<use href="/images/icons.svg#caret_down" />
					</svg>
				</span>
			</div>
		</div>
		<div class="filter_tool">
			<label class="filter_label" for="class_format">Class Format</label>
			<div class="filter_tool_select_wrapper">
			<?php 
				/*echo '<div name="location" id="location" ';  if ($default_term != 'courses_summer' && $default_term != 'courses_fall' && $default_term != 'courses_spring') {echo $show; } else {echo $hide; } echo '>';	
				echo '<select class="filter_tool_select" name="campus">
						<option value="" selected>All Locations</option>
						<option value="Chester Campus">Chester Campus</option>
						<option value="Midlothian Campus">Midlothian Campus</option>
						<option value="Virtual">Virtual</option>						
					</select>';
				echo '</div>';
				echo '<div name="online" id="online" ';  if ($default_term == 'courses_summer') {echo $show; } else {echo $hide; } echo '>';	
				echo '<select class="filter_tool_select" name="online-format">
						<option value="">All Online Formats</option>
						<option value="hybrid">Video-enhanced classes</option>
						<option value="non-hybrid">Virtual classes</option>						
					</select>';
				echo '</div>';
				echo '<div name="fall20spring21" id="fall20spring21" ';  if ($default_term != 'courses_summer') {echo $show; } else {echo $hide; } echo '>';	
				echo '<select class="filter_tool_select" name="class-format">
						<option value="">All Class Formats</option>
						<option value="Virtual">Virtual</option>
						<option value="Zoom">Zoom Classes</option>
						<option value="Hybrid_zoom">Hybrid: Virtual and Zoom</option>
						<option value="Hybrid_campus">Hybrid: Virtual and On Campus</option>
						<option value="Chester">On Campus: Chester</option>
						<option value="Midlothian">On Campus: Midlothian</option>
					</select>
				</div>';*/
				echo '<select class="filter_tool_select" name="class-format">
						<option value="">All Class Formats</option>
						<option value="Virtual">Virtual</option>
						<option value="Zoom">Zoom Classes</option>
						<option value="Hybrid_zoom">Hybrid: Virtual and Zoom</option>
						<option value="Hybrid_campus">Hybrid: Virtual and On-Campus</option>
						<option value="Chester">On Campus: Chester</option>
						<option value="Midlothian">On Campus: Midlothian</option>	
					</select>';
			?>
				<span class="filter_tool_select_icon">
					<svg class="icon icon_caret_down">
						<use href="/images/icons.svg#caret_down" />
					</svg>
				</span>
			</div>
		</div>
		<div class="filter_tool">
			<label class="filter_label" for="session">Session</label>
			<div class="filter_tool_select_wrapper">
			<?php 
				echo '<div name="fall2" id="fall2" ';  if ($default_term == 'courses_fall') {echo $show; } else {echo $hide; } echo '>';
				echo '<select class="filter_tool_select" name="fall_session">
					<option value="" selected>All Sessions</option>';
				while ($session_row = mysqli_fetch_array($fall_session_result)) { 
					echo '<option value="' . $session_row[0] . '">' . $session_row[0] . '</option>';
				}
				echo '</select>';	
				echo '</div>';
				echo '<div name="spring2" id="spring2" ';  if ($default_term == 'courses_spring') {echo $show; } else {echo $hide; } echo '>';
				echo '<select class="filter_tool_select" name="spring_session">
					<option value="" selected>All Sessions</option>';
				while ($session_row = mysqli_fetch_array($spring_session_result)) { 
					echo '<option value="' . $session_row[0] . '">' . $session_row[0] . '</option>';
				}
				echo '</select>';	
				echo '</div>';
				echo '<div name="summer2" id="summer2" ';  if ($default_term == 'courses_summer') {echo $show; } else {echo $hide; } echo '>';
				echo '<select class="filter_tool_select" name="summer_session">
					<option value="" selected>All Sessions</option>';
				while ($session_row = mysqli_fetch_array($summer_session_result)) { 
					echo '<option value="' . $session_row[0] . '">' . $session_row[0] . '</option>';
				}
				echo ' <option value="maymester">Maymester: May 17 – June 7</option>';
				echo '</select>';	
				echo '</div>';
			?>
				<span class="filter_tool_select_icon">
					<svg class="icon icon_caret_down">
						<use href="/images/icons.svg#caret_down" />
					</svg>
				</span>
			</div>
		</div>
		<div class="filter_tool">
			<label class="filter_label" for="days">Day(s)</label>
			<div class="filter_tool_select_wrapper">
			<?php 
				//echo '<div name="searchByDays" id="searchByDays" ';  if ($default_term != 'courses_summer') {echo $show; } else {echo $hide; } echo '>';
				echo '<select class="filter_tool_select" name="select_days">
						<option value="" selected>All Days</option>
						<option value="M">M</option>
						<option value="Tu">Tu</option>
						<option value="W">W</option>
						<option value="Th">Th</option>
						<option value="F">F</option>
						<option value="MW">MW</option>
						<option value="TuTh">TuTh</option>
						<option value="Sa">Sa</option>
						<option value="Other">Other</option>						
					</select>';
				//echo '</div>';
			?>
				<span class="filter_tool_select_icon">
					<svg class="icon icon_caret_down">
						<use href="/images/icons.svg#caret_down" />
					</svg>
				</span>
			</div>
		</div>
		<div class="filter_tool">
			<input type="hidden" name="XID" value="{XID_HASH}" />
			<button class="filter_tools_submit filter_tools_submit_tools" type="submit" name="search_sbmt">
				<span class="filter_tools_submit_label">Submit</span>
				<span class="filter_tools_submit_icon">
					<svg class="icon icon_caret_right">
						<use href="/images/icons.svg#caret_right" />
					</svg>
				</span>
			</button>
		</div>
	</form>
					</div>
				</div>
			</div>
		</div>
	</div>


<?php 
if (isset($_POST['search_sbmt'])) {
	//include("includes/courses_conn.php");

	date_default_timezone_set('America/New_York');

	$today = date("m/d/Y");

	if (isset($_POST['term'])) {
    	$term = $_POST['term'];
	} else { 
		header('Location: /schedule');	
		die(); 
	}	
	/*$campus = '';
	if (isset($_POST['campus'])) { 	
		$campus = $_POST['campus'];
	}
	$online = '';
	if (isset($_POST['online-format'])) {
		$online = $_POST['online-format'];
	}
	$fall20spring21 = '';
	if (isset($_POST['class-format'])) {
		$fall20spring21 = $_POST['class-format'];
	}*/
	$classFormat = '';
	if (isset($_POST['class-format'])) {
		$classFormat = $_POST['class-format'];
	}
	$select_days ='';
	if (isset($_POST['select_days'])) { 
		$select_days = $_POST['select_days'];
	}	
		
	if (substr($term,8,4) == 'fall') {
			$subject	= $_POST['fall_subject'];
			$session	= $_POST['fall_session'];
			//$last_modified = filemtime("JTWEBCRSECAT_FALL.CSV");
	} elseif (substr($term,8,4) == 'spri') {
			$subject	= $_POST['spring_subject'];
			$session	= $_POST['spring_session'];
			//$last_modified = filemtime("JTWEBCRSECAT_SPRING.CSV");
	} elseif (substr($term,8,4) == 'summ') {
			$subject	= $_POST['summer_subject'];
			$session	= $_POST['summer_session'];
			//$last_modified = filemtime("JTWEBCRSECAT_SUMMER.CSV");
	}
	
	// build the search query 	
	$search_query = "SELECT distinct term, campus, academic_subject, session, subject, catalog, section, units, title, class_nbr, TRIM(pre_note) AS pre_note, TRIM(note) AS note, location, start_date, end_date, enrl_stat, last_enrl_date, strm, dt_drop_without_penalty, dt_drop_with_penalty 
						FROM " . $term . " WHERE location NOT LIKE 'CCWA%'";
		
		if ($subject != "") { 
			$search_query.= " AND academic_subject = '$subject'";
		}

		/*if ($campus == "Virtual") {
			$search_query.=	" AND location LIKE \"%VIRTUAL%\"";
		} else {
			if ($campus != "") {
				$search_query.=	" AND campus LIKE \"%$campus%\"";
			}
		}

		if ($online != "") {
			if ($online == "hybrid") {
				$search_query.=	" AND section LIKE \"R%\"";
			} else {
				$search_query.=	" AND section NOT LIKE \"R%\"";
			}
		}

		if ($fall20spring21 != "") { 
			switch ($fall20spring21) {
				case 'Chester':
					$search_query.=	" AND section not like 'N%' and section not like 'R%' and section not like 'Z%' and section not like 'M%' and section not like 'SW%' and section not like 'NV%' and section not like 'JT%' and section not like 'ME%'";
					break;
				case 'Midlothian':
					$search_query.=	" AND section like 'M%'";
					break;
				case 'Hybrid_campus':
					$search_query.=	" AND section like 'R%' AND section not like '%S'";
					break;
				case 'Hybrid_zoom':
					$search_query.=	" AND section like 'R%S'";
					break;
				case 'Virtual':
					$search_query.=	" AND (section like 'N%' OR (location != 'VIRTUAL-RT' and (section like 'SW%' OR section like 'NV%' OR section like 'JT%' OR section like 'ME%')))";
					break;
				case 'Zoom':
					$search_query.=	" AND (section like 'Z%' OR (pat != 'VIRT' and (section like 'NV%' OR section like 'JT%')))";
			}
		}*/
		if ($classFormat != "") { 
			switch ($classFormat) {
				case 'Chester':
					$search_query.=	" AND section not like 'N%' and section not like 'R%' and section not like 'Z%' and section not like 'M%' and section not like 'SW%' and section not like 'NV%' and section not like 'JT%' and section not like 'ME%'";
					break;
				case 'Midlothian':
					$search_query.=	" AND section like 'M%'";
					break;
				case 'Hybrid_campus':
					$search_query.=	" AND section like 'R%' AND section not like '%S'";
					break;
				case 'Hybrid_zoom':
					$search_query.=	" AND section like 'R%S'";
					break;
				case 'Virtual':
					$search_query.=	" AND (section like 'N%' OR (location != 'VIRTUAL-RT' and (section like 'SW%' OR section like 'NV%' OR section like 'JT%' OR section like 'ME%')))";
					break;
				case 'Zoom':
					$search_query.=	" AND (section like 'Z%' OR (pat != 'VIRT' and (section like 'NV%' OR section like 'JT%')))";
			}
		}		

		if ($session != "") {
			if ($session == "maymester") {
				$search_query.=	" AND (pre_note LIKE \"%Maymester%\" OR note LIKE \"%Maymester%\")";
			} else {
				$search_query.=	" AND session LIKE \"%$session%\"";
			}
		}

		if ($select_days !== "") {
			if ($select_days == 'Other') {
				$search_query.= " AND location != 'VIRTUAL' AND pat != 'VIRT' AND days NOT IN ('M','Tu','W','Th','F','MW','TuTh','Sa')";
			} else {
				$search_query.= " AND days = '$select_days'";
			}
		}
		
		$search_query.=	" ORDER BY subject, catalog, location, section";				// IMPORTANT keeps all results sorted as desired
		
		$search_result = mysqli_query($conn, $search_query);
		$total_results = mysqli_num_rows($search_result);

	if ($total_results > 0) {
			//echo '<p>'	. $total_results . ' records found.</p>
		echo '<div class="filter_results">
				<div class="fs-row">
					<div class="fs-cell">
						<div class="filter_results_inner">
							<p class="filter_results_description">'
								. $total_results . ' records found.
							</p>
										
		<a href="/schedule" class="filter_results_reset_link" >
		<span class="filter_results_reset_link_inner">
		<span class="filter_results_reset_link_label">Reset</span>
					<span class="filter_results_reset_link_icon" aria-hidden="true">
				<span class="filter_results_reset_link_icon_inner">
					<span class="filter_results_reset_link_icon_space">&#xfeff;</span>
					
			<svg class="icon icon_reset">
				<use href="/images/icons.svg#reset" />
			</svg>
		
				</span>
			</span>
			</span>
		</a>
					</div>
				</div>
			</div>
		</div>
	</div>'; // end filter


    echo '<div class="wysiwyg_block_inner typography">';

			while ($row = mysqli_fetch_assoc($search_result)) {
				$semester	= explode(" ", $row["term"]);
				$campus		= $row["campus"];
				$units		= $row["units"];	
				$section	= $row["section"];
				$subject	= trim($row["subject"]);
				$catalog	= trim($row["catalog"]);
				$title		= $row["title"];
				$class_nbr	= $row["class_nbr"];
				$pre_note	= $row["pre_note"];
				$note		= $row["note"];
				$start_date	= date("n/j/Y", strtotime($row["start_date"]));
				$end_date	= date("n/j/Y", strtotime($row["end_date"]));	
				//$session	= str_replace("Academic ", "", mysqli_result($search_result,$i,"session"));
				$session2	= $row["session"];
				$location	= $row["location"];	
				$status		= $row["enrl_stat"];
				//$term_id	= mysqli_result($search_result, $i, "term");
				$term_id	= $row["strm"];
				
				$termbkstr  = $semester[1] . '+' . $semester[0];
				$campusbkstr      = str_replace(" Campus", "", $campus);
				if ($campusbkstr == 'Midlothian') {
					$bookstore_id = '1400';
				} else {
					$bookstore_id = '1399';
				}
				
				if ($start_date != '12/31/1969') {
					$session = $start_date.' - '.$end_date;										// display actual dates for non-regular sessions
				} else {
					$session = 'N/A';
				}

				switch($location) {
					case "CHESTECH": $location = "Chesterfield Technical Center"; break;
					case "CHESTER": $location = "Chester Campus"; break;
					case "CHESTERFLD": $location = "Chesterfield Off Campus "; break;
					case "JTCJW": $location = "Nursing Education Center"; break;
					case "MIDLO  004": $location = "Midlothian Campus"; break;
					case "MIDLO/OC 0": $location = "Midlothian Off Campus"; break;
					case "VIRTUAL": $location = "Virtual"; break;
				}	

				if ($status == 'O') {
					$status = 'Open';
				} elseif ($status == 'C') {
					$status = 'Closed';
				} 

				$last_enrl_date = date("m/d/Y", strtotime($row["last_enrl_date"]));
				if ($last_enrl_date != '12/31/1969') {
					if (strtotime($today) > strtotime($last_enrl_date)) {
						$status = 'Closed';
					}
				} else {
					$last_enrl_date = 'N/A';
				}

				if (trim($session2) == 'Dynamic Session') {
					$last_enrl_date = 'N/A';
				}

				$dt_drop_without_penalty = date("n/j/Y", strtotime($row["dt_drop_without_penalty"]));
				if ($dt_drop_without_penalty == '12/31/1969' OR $dt_drop_without_penalty == '11/30/-0001') {
					$dt_drop_without_penalty = 'N/A';
				}

				$dt_drop_with_penalty = date("n/j/Y", strtotime($row["dt_drop_with_penalty"]));	
				if ($dt_drop_with_penalty == '12/31/1969' OR $dt_drop_with_penalty == '11/30/-0001') {
					$dt_drop_with_penalty = 'N/A';
				}

				$get_description = "SELECT DISTINCT * FROM courses 
								WHERE TRIM(subject) = '$subject' AND TRIM(catalog) = '$catalog'";
				$description_result = mysqli_query($conn, $get_description);
				$num = mysqli_num_rows($description_result);
				if ($num == 1) {
					$description_row = mysqli_fetch_assoc($description_result);
					$description = $description_row["description"];
				} else {
					$description = '';
				}

				$query2 = "SELECT location, pat, days, start, end, room, name FROM " . $term . " WHERE class_nbr =" . $class_nbr . " ORDER BY pat";
				$query2_result = mysqli_query($conn, $query2);
				$query2_num = mysqli_num_rows($query2_result);

				echo '<h4>' . $subject . ' ' . $catalog . ' - ' . $title . '</h4>';
				echo '<p><strong>Section: ' . $section . ' (' . $class_nbr . ')</strong><br />';
				//echo '<a href="/mobile/course_description/' . trim($subject) . trim($catalog) . '">Course description</a><br />';
				echo 'Course Description: ';
				if ($subject == 'SDV' && $catalog == '101') {
					echo 'Introduces students to the skills which are necessary to achieve their academic goals, to services offered at the college and to the discipline in which they are enrolled. Covers topics such as services at the college including the learning resources center; counseling, and advising; listening, test taking, and study skills; and topical areas which are applicable to their particular discipline. Lecture 1 hour per week.<br />';
				} else {
					/*echo preg_replace('/[\n\r]+/', '', (mysql_result($result, 0, "description")));*/
					//echo str_replace('\r', '', $description) . '<br />';
					echo $description . '<br />';
				}
				echo 'Credits: ' . $units . '<br />';
				echo 'Session: ' . $session2 . '<br />';

				while ($row2 = mysqli_fetch_assoc($query2_result)) { 
					$pat		= $row2["pat"];
					//$location	= mysqli_result($query2_result, $j, "location");
					$days		= $row2["days"];
					$start		= trim($row2["start"]);	
					$end		= trim($row2["end"]);
					$room		= $row2["room"];
					$instructor	= $row2["name"];

					/*if ($room = 'Online Scheduled Time') {
						$location = 'Zoom';
					}*/
				
						/*if ((strpos($pat, "VIRT") !== FALSE) || (strpos($location, "VIRTUAL") !== FALSE)) {
							$pat = "VIRT";
							$days = "Virtual";
							$times = "N/A";
						}
						else {
							$times = $start." - ".$end;
						}*/

					if ($pat == "VIRT") {
						//$location = "Virtual";
						$days = "Virtual";
						$times = "";
						//$room = "Online";
					}
					else {
							/*switch($location) {
								case "CHESTECH": $location = "Chesterfield Technical Center"; break;
								case "CHESTER": $location = "Chester Campus"; break;
								case "CHESTERFLD": $location = "Chesterfield Off Campus "; break;
								case "JTCJW": $location = "Nursing Education Center"; break;
								case "MIDLO  004": $location = "Midlothian Campus"; break;
								case "MIDLO/OC 0": $location = "Midlothian Off Campus"; break;
								//case "VIRTUAL": $location = "Online"; break;
							}*/
						$times = $start." - ".$end;
					}

					if ($term == 'courses_summer' && strlen($start)) {					
						$times = $times . ', Zoom';
					}
				
						echo 'Days/Times: ' . $days . ' ' . $times . '<br />';	
						echo 'Room/Location: ' .$room . '/' . $location . '<br />';
						echo 'Instructor: '	. $instructor . '<br />';
					}
					
					echo 'Dates: ' . $session . '<br />';
					//echo 'Location: ' . $location . '<br />';
					echo 'Last day to add: ' . $last_enrl_date . '<br />';
					echo 'Last day to drop w/refund: ' . $dt_drop_without_penalty . '<br />';
					echo 'Last day to withdraw: ' . $dt_drop_with_penalty . '<br />';
					echo 'Class Status: ' . $status . '<br />';
					echo 'Class Note: ' . $pre_note . $note . '<br />';
					
					/*echo '<p><a target="_blank" href="http://www.jtccbooks.com/chester/textbook_express/get_txtexpress.asp?remote=1&amp;ref=2394&amp;student=&amp;term=' . trim($termbkstr) . '&amp;dept=' . trim($subject) . '&amp;course=' . trim($catalog) . '&amp;section='. trim($section) . '&amp;getbooks=Display+books">Textbooks</a></p>';*/
					echo '<a href="http://www.bkstr.com/webapp/wcs/stores/servlet/booklookServlet?bookstore_id-1=' . $bookstore_id . '&amp;term_id-1=' . trim($term_id) . '&amp;div-1=&amp;dept-1=' . trim($subject) . '&amp;course-1=' . trim($catalog) . '&amp;section-1=' . trim($section) . '">Textbooks</a></p>';
					/*echo '<p><a href="http://www.bkstr.com/webapp/wcs/stores/servlet/booklookServlet?bookstore_id-1=' . $bookstore_id . '&amp;term_id-1=2154&amp;div-1=&amp;dept-1=' . trim($subject) . '&amp;course-1=' . trim($catalog) . '&amp;section-1=' . trim($section) . '">Textbooks</a></p>';*/
					//echo '</p>';	
				//}
			}
			mysqli_free_result($description_result);
			mysqli_free_result($query2_result);
			mysqli_free_result($search_result);

			echo '</div>';  //end wysiwyg_block_inner typography

			//Reset button at the end of the data
			echo '<div class="filter_results">
					<div class="fs-row">
						<div class="fs-cell">
							<div class="filter_results_inner">
								<p class="filter_results_description">
							 		&nbsp;
								</p>
										
				<a href="/schedule" class="filter_results_reset_link" >
				<span class="filter_results_reset_link_inner">
					<span class="filter_results_reset_link_label">Reset</span>
					<span class="filter_results_reset_link_icon" aria-hidden="true">
						<span class="filter_results_reset_link_icon_inner">
						<span class="filter_results_reset_link_icon_space">&#xfeff;</span>
					
							<svg class="icon icon_reset">
								<use href="/images/icons.svg#reset" />
							</svg>
		
						</span>
					</span>
				</span>
				</a>
							</div>
						</div>
					</div>
				</div>';

		} else { 
			echo '<div class="filter_results">
				<div class="fs-row">
					<div class="fs-cell">
						<div class="filter_results_inner">
							<p class="filter_results_description">
							 	No records found.
							</p>
										
			<a href="/schedule" class="filter_results_reset_link" >
			<span class="filter_results_reset_link_inner">
				<span class="filter_results_reset_link_label">Reset</span>
				<span class="filter_results_reset_link_icon" aria-hidden="true">
					<span class="filter_results_reset_link_icon_inner">
					<span class="filter_results_reset_link_icon_space">&#xfeff;</span>
					
				<svg class="icon icon_reset">
					<use href="/images/icons.svg#reset" />
				</svg>
		
					</span>
				</span>
			</span>
			</a>
					</div>
				</div>
			</div>
		</div>
	</div>'; //end filter
	} //end query results
} else {
	//text on the landing
	echo '<div class="wysiwyg_block">
        	<div class="fs-row">
            	<div class="fs-cell">
            		<div class="wysiwyg_block_inner typography"> 
						<h4>Spring 2021 Course Schedule</h4>
						<p>We plan to offer fully online classes, classes that combine in-person and online instruction, and a limited number of in-person classes. The course section numbers and course notes listed with each course on the schedule provide information on how the course will be taught.</p>
 	<p>Options include:</p>
 	<ul>
 	<!--
 	<li><strong>Course Section ID begins with Z.</strong> This is class that will meet on Zoom (video) on specific days and times. Students can attend this class from anywhere using a computer or mobile device.</li>
	<li><strong>Course Section ID begins with R.</strong> This is a hybrid format where a portion of the classwork is done in Canvas, and the other portion occurs either on campus or in Zoom (video). If the section number ends with "S", the class is delivered via Zoom.</li> 
	<li><strong>Course Section ID begins with N.</strong> This class is taught fully in Canvas with no required Zoom or in-person meetings.</li>
 	<li><strong>Course Section ID that begins with a number.</strong> This is a class that will meet on the Chester campus on the days and times listed. Science lab sections are attached to a specific course lecture so you don’t have to enroll separately.</li>
 	<li><strong>Course Section ID that begins with M.</strong> This is a class that will meet on the Midlothian campus on the days and times listed. Science lab sections are attached to a specific course lecture so you don’t have to enroll separately.</li>
 	-->
<li><strong>Virtual</strong><br />
Look for Course Section IDs that begin with N.<br />
Classes are taught fully in Canvas and include self-paced, online assignments. There are no required Zoom or on-campus meetings at set times.<br />
Example: ACC 211 N01A</li>
<li><strong>Zoom Classes</strong><br />
Look for Course Section IDs that begin with Z<br />
Meet face-to-face over Zoom video conferencing with your instructor and classmates on specific days and times. Attend this class from anywhere using a computer or mobile device.<br />
Example: ENG 111 Z51S</li>
<li><strong>Hybrid: Virtual and Zoom</strong><br />
Look for Course Section IDs that begin with R and end in S<br />
Classes combine online, self-paced classwork in Canvas with face-to-face meetings over Zoom video conferencing with your instructor and classmates on specific days and times. Attend this class from anywhere using a computer or mobile device.<br />
Example: ART 101 R01S</li>
<li><strong>Hybrid: Virtual and On-Campus</strong><br />
Look for Course Section IDs that begin with R<br />
Classes combine online, self-paced classwork in Canvas and face-to-face meetings​.<br />
Example: CHM 112 R11B</li>
<li><strong>On Campus: Chester</strong><br />
Look for Course Section IDs that begin with numbers<br />
Classes meet on the Chester campus on the days and times listed. Science lab sections are attached to a specific course lecture so you don’t have to register separately.<br />
Example: MTH 161 62A</li>
<li><strong>On Campus: Midlothian</strong><br />
Look for Course Section IDs that begin with M<br />
Classes meet on the Midlothian campus on the days and times listed. Science lab sections are attached to a specific course lecture so you don’t have to register separately.</li>
 	</ul>
 	<p>Learn more about class types through <a href="https://www.youtube.com/playlist?list=PLK6wZ5EAzyGOTrmreJ50x30ExtzwPK6G0">our video series</a>.</p>
 	<p>Questions about course options and placement testing should be directed to the <a href="/services/advising-center">Advising Center</a>.</p>

						<h4>More information:</h4>
		<ul class="disc">
			<li><a href="/academics/academic-calendar/">Academic calendar and registration dates</a></li>
			<li><a href="/admissions/get-started-at-tyler/">Applying to the College</a></li>
			<!--<li><a href="http://www.jtccbooks.com" target="_blank">Bookstore</a></li>-->
			<li><a href="/services/bookstore" target="_blank">Bookstore</a></li>  
			<li><a href="/college-catalog/">College Catalog and Student Handbook</a></li> 
			<li><a href="/academics/drops-and-withdraws/">Drops, Withdraws, and Request Repeat</a></li> 
			<li><a href="/academics/exam-schedule/">Exam Schedule</a></li> 
			<li><a href="/majors/">Majors</a></li> 
			<li><a href="/pay-for-tyler/tuition-and-fees/">Tuition and fees</a></li> 
			<li><a href="/mytyler/">Using myTyler to register for classes, pay tuition and fees, or verify enrollment</a></li>
		</ul>
					</div>
    			</div>
     		</div>
   		</div>';
} //end submit
mysqli_free_result($fall_term_result);
mysqli_free_result($spring_term_result);
mysqli_free_result($summer_term_result);

mysqli_free_result($fall_subject_result);
mysqli_free_result($spring_subject_result);
mysqli_free_result($summer_subject_result);

mysqli_free_result($fall_session_result);
mysqli_free_result($spring_session_result);
mysqli_free_result($summer_session_result);

mysqli_close($conn);
?>          	

   <div class="wysiwyg_block">
        <div class="fs-row">
            <div class="fs-cell">
            	<div class="wysiwyg_block_inner typography"> 
            		<p>Need help? Visit the <a href="/">Admissions and Records Office</a> at Chester or Midlothian, or call the Student Information Center at 804-796-4000.</p>
            	</div>
    		</div>
     	</div>
   	</div>
</div>  
<!-- end full_width_callouts -->  