<div class="stories">
	<div class="fs-row">
		<div class="fs-cell">
			<div class="stories_inner">
				<div class="stories_header">
					<h2 class="stories_title">
						<span class="stories_title_group stories_title_group_primary">
							<span class="stories_title_label stories_title_label_primary">{{ title.primary }}</span>
						</span>
						<span class="stories_title_group stories_title_group_secondary">
							<span class="stories_title_label stories_title_label_secondary">{{ title.secondary }}</span>
						</span>
					</h2>
					<div class="stories_details">
						<p class="stories_caption">{{ caption }}</p>
						{% render '@partial-link' with {
							title: "View all Next Up Stories",
							url: "#",
							class: "stories_exploration",
							icon: "caret_right"
						} %}
					</div>
				</div>
				<div class="stories_body">
					<div class="js-carousel stories_carousel" data-carousel-options='{
						"controls": false,
						"contained": false,
						"maxWidth": "739px",
						"show": {
							"600px": 2
						}
					}'>
						{% for item in items %}
							<div class="stories_item">
								{% render "@component-story" with {
									item: item
								} %}
							</div>
						{% endfor %}
					</div>
					{% render '@partial-link' with {
						title: "View all Next Up Stories",
						url: "#",
						class: "stories_discovery",
						icon: "caret_right"
					} %}
				</div>
			</div>
		</div>
	</div>
</div>
