<div class="news_item_details">
	{% if item.date %}
		<div class="news_item_detail news_item_date">
			<span class="news_item_detail_hint">Published:
			</span>
			<time class="news_item_detail_label" datetime="{{ item.date }}">{{ item.date|date("F j, Y") }}</time>
		</div>
	{% endif %}
	{% if item.author %}
		<div class="news_item_detail news_item_author">
			<span class="news_item_detail_hint">- by
			</span>
			<span class="news_item_detail_label">{{ item.author }}</span>
		</div>
	{% endif %}
</div>
