{#
	{% include partial("event-feature") with {
		item: {
			image: "1",
			date: {
				from: {
					begin: "2017-05-31 17:00:00",
					end: "2017-05-31 19:00:00"
				},
				to: {
					begin: "2017-06-13 17:00:00",
					end: "2017-06-13 19:00:00"
				}
			},
			title: "Title",
			url: "#",
			description: "Description",
			location: "Location",
			categories: [
				"Category 1"
			],
			category_url: "page-event-category.html"
		}
	} %}
#}

<!-- Event Feature -->
<div class="event_feature">
	<div class="fs-row">
		<div class="fs-cell">
			<div class="event_feature_inner">
				{% include partial("event-item") with {
					item: item
				} %}
			</div>
		</div>
	</div>
</div>
<!--END: Event Feature -->