{#
	{% include component("event-list") with {
		items: [
			{
				image: "1",
				date: {
					from: {
						begin: "2017-05-31 17:00:00",
						end: "2017-05-31 19:00:00"
					},
					to: {
						begin: "2017-06-13 17:00:00",
						end: "2017-06-13 19:00:00"
					}
				},
				title: "Title",
				url: "#",
				description: "Description",
				location: "Location",
				categories: [
					"Category 1"
				],
				category_url: "page-event-category.html"
			}
		]
	} %}
#}

<!-- Event List -->
<div class="event_list">
	<div class="fs-row">
		<div class="fs-cell">
			<div class="event_list_inner">
				<ul class="event_list_items" id="item_list" aria-label="{{ page.title }}">
					{% for item in items %}
					<li class="event_list_item">
						{% include partial("event-item") with {
							item: item
						} %}
					</li>
					{% endfor %}
				</ul>
				{% include partial("pagination") with {
					title: "Events Pagination",
					pages: "50"
				} %}
			</div>
		</div>
	</div>
</div>
<!-- END: Event List -->