{#
	{% include partial("event-meta") with {
		item: {
			image: "1",
			date: {
				from: {
					begin: "2017-05-31 17:00:00",
					end: "2017-05-31 19:00:00"
				},
				to: {
					begin: "2017-06-13 17:00:00",
					end: "2017-06-13 19:00:00"
				}
			},
			title: "Title",
			description: "Description",
			location: "Location",
			categories: [
				"Category 1"
			],
			category_url: "page-event-category.html"
		}
	} %}
#}

<!-- Event Meta -->
<div class="event_meta" id="meta" data-type="event" data-category="{% for item in item.categories %}{{ item }}{% if not loop.last %}, {% endif %}{% endfor %}">
	<div class="fs-row">
		<div class="fs-cell">
			<div class="event_meta_inner">
				<div class="event_meta_body">
					{% include partial("event-details") with {
						item: item
					} %}
				</div>
				{% include partial("share") %}
			</div>
		</div>
	</div>
</div>
<!-- END: Event Meta -->