{#
	{% include partial("news-meta") with {
		item: {
			categories: [
				"Category 1"
			],
			date: "2019-01-01 17:00:00",
			author: "Author"
		}
	} %}
#}

<!-- News Meta -->
<div class="news_meta" id="meta" data-type="news" data-category="{% for item in item.categories %}{{ item }}{% if not loop.last %}, {% endif %}{% endfor %}">
	<div class="fs-row">
		<div class="fs-cell">
			<div class="news_meta_inner">
				<div class="news_meta_body">
					{% include partial("news-details") with {
						item: item
					} %}
					{% if item.categories %}
					<div class="news_meta_categories_block">
						<span class="news_meta_categories_icon">{{ icon("label") }}</span>
						<ul class="news_meta_categories" aria-label="Categories">
							{% for category in item.categories %}
							<li class="news_meta_category">
								<a class="news_meta_category_link" href="{{ category_link }}">{{ category }}</a>
							</li>
							{% endfor %}
						</ul>
					</div>
					{% endif %}
				</div>
				{% include partial("share") %}
			</div>
		</div>
	</div>
</div>
<!-- END: News Meta -->