{#
	{% include partial("news-feature") with {
		item: {
			image: "1",
			categories: [
				"Category 1"
			],
			category_url: "page-news-category.html"
			title: "Title",
			url: "#",
			date: "2019-01-01 17:00:00",
			author: "Author",
			description: "Description"
		}
	} %}
#}

<!-- News Feature -->
<div class="news_feature">
	<div class="fs-row">
		<div class="fs-cell">
			<div class="news_feature_inner">
				{% include partial("news-item") with {
					item: item
				} %}
			</div>
		</div>
	</div>
</div>
<!-- END: News Feature -->