<!-- Page Header -->
<div class="page_header">
	<div class="page_header_inner">
		{% if page.breadcrumbNav != false  %}
		<div class="breadcrumb">
			<div class="fs-row">
				<div class="fs-cell">
					<div class="breadcrumb_inner">
						{% include navigation("breadcrumb") with {
							modifier: "",
							links: page.breadcrumbNav,
							icon_home: "home",
							icon_divider: "angle_right",
							icon_end: "angle_down"
						} %}
					</div>
				</div>
			</div>
		</div>
		{% endif %}
		{% if page.title or page.description %}
		<div class="page_intro">
			<div class="fs-row">
				<div class="fs-cell fs-lg-10 fs-xl-9">
					<div class="page_intro_inner">
						{% if page.title %}
						<h1 class="page_title" itemprop="name">{{ page.title }}</h1>
						{% endif %}
						{% if page.description %}
						<p class="page_description" itemprop="description">{{ page.description }}</p>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
		{% endif %}
		{% if page.subNav != false  %}
		<div class="page_nav">
			<div class="fs-row">
				<div class="fs-cell">
					<div class="page_nav_inner">
						{% include navigation("sub") with {
							modifier: "",
							title: page.title
						} %}
					</div>
				</div>
			</div>
		</div>
		{% endif %}
		{% if page.layout != "detail" %}
		{% if page.image or page.video %}
		<div class="page_header_media">
			<div class="fs-row">
				<div class="fs-cell">
					<div class="page_header_media_inner">
						{% if page.image %}
						<figure class="page_header_figure">
							{% include partial("image") with {
								class: "page_header",
								alt: "",
								itemprop: "primaryImageOfPage",
								image: page.image,
								sources: [
									img.wide.xlrg,
									img.wide.lrg,
									img.wide.med,
									img.wide.sml,
									img.wide.xsml
								]
							} %}
						</figure>
						{% endif %}
						{% if page.video %}
						<div class="page_header_video">
							<iframe class="js-page-header-iframe page_header_iframe" src="//player.vimeo.com/video/{{ page.video }}?autoplay=1&loop=1&muted=1" title="{{ page.title }} video" allow="autoplay; fullscreen" allowfullscreen></iframe>
							<script src="//player.vimeo.com/api/player.js"></script>
						</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
		{% endif %}
		{% endif %}
	</div>
</div>
<!-- END: Page Header -->