<div class="event_feature">
	<div class="fs-row">
		<div class="fs-cell">
			<div class="event_feature_inner">
				{% render "@partial-event-item" with {
					item: item
				} %}
			</div>
		</div>
	</div>
</div>