<div class="full_width_callouts">
	{% render "@component-spotlight" %}

	{% render "@component-stories" %}

	{% render "@component-featured-programs" %}

	{% render "@component-featured-news" %}

	{% render "@component-featured-events" %}

	{% render "@component-flex-callout" %}
</div>
