

<div class="spotlight">
	<div class="js-background spotlight_background" data-background-options='{"source": { "1220px": "//images.fastspot.com/jtcc/1440x1080/17", "740px": "//images.fastspot.com/jtcc/1220x523/17", "500px": "//images.fastspot.com/jtcc/980x654/17", "0px": "//images.fastspot.com/jtcc/494x740/17"}, "lazy": true, "alt": ""}' aria-hidden="true">
	<div class="spotlight_background_fallback" style="background-image: url(' //images.fastspot.com/jtcc/300x129/17');"></div>
</div>
	<div class="fs-row">
		<div class="fs-cell">
			<div class="spotlight_inner">
				<div class="spotlight_header">
					<h2 class="spotlight_title">
						<span class="spotlight_title_group spotlight_title_group_primary">
							<span class="spotlight_title_label spotlight_title_label_primary">A Success Story</span>
						</span>
						<span class="spotlight_title_group spotlight_title_group_secondary">
							<span class="spotlight_title_label spotlight_title_label_secondary">For Every Student</span>
						</span>
					</h2>
					<p class="spotlight_caption">At Tyler, we are invested in student success and focused on equipping our graduates with workforce-ready skills. <strong>Will you be next up?</strong></p>
				</div>
			</div>
		</div>
	</div>
</div>

