

<div class="testimonial theme-gold">
	<div class="testimonial_inner">
		<div class="testimonial_content">
			<div class="testimonial_icon_wrap">
				<div class="testimonial_icon">
					
			<svg class="icon icon_quote">
				<use href="/images/icons.svg#quote" />
			</svg>
		
				</div>
			</div>

			<blockquote class="testimonial_quote">
				<p>Nulla voluptates provident harum soluta quam esse facilis iure. Fugit quibusdam animi laboriosam maiores. Et assumenda optio quos accusamus alias.</p>
			</blockquote>

			<div class="testimonial_info">
				<div class="testimonial_quote_name">Edwin Kemmer</div>
									<a class="testimonial_quote_title" href="#">Specialist</a>
							</div>
		</div>

		<div class="testimonial_media">
			<div class="js-background testimonial_background" data-background-options='{"source": { "1220px": "//images.fastspot.com/jtcc/1440x1080/9", "740px": "//images.fastspot.com/jtcc/1220x523/9", "500px": "//images.fastspot.com/jtcc/654x980/9", "0px": "//images.fastspot.com/jtcc/494x740/9"}, "lazy": true, "alt": ""}' aria-hidden="true">
	<div class="testimonial_background_fallback" style="background-image: url(' //images.fastspot.com/jtcc/300x129/9');"></div>
</div>
		</div>
	</div>
</div>

