


		<br><br>

        <div style="background-color: #fff;">
            <h2 class="heading-h2" style="color: #000;; padding: 0 24px;">
                Testimonial: Blue
            </h2>

			<br>

            <div>
                <div class="testimonial theme-blue">
	<div class="testimonial_inner">
		<div class="testimonial_content">
			<div class="testimonial_icon_wrap">
				<div class="testimonial_icon">
					
			<svg class="icon icon_quote">
				<use href="/images/icons.svg#quote" />
			</svg>
		
				</div>
			</div>

			<blockquote class="testimonial_quote">
				<p>The support at Tyler was a really big factor for me in finding my self-confidence. You always have people tell you, ‘You can do it!’</p>
			</blockquote>

			<div class="testimonial_info">
				<div class="testimonial_quote_name">Ravonte Campbell</div>
									<a class="testimonial_quote_title" href="#">Mechanical Engineering</a>
							</div>
		</div>

		<div class="testimonial_media">
			<span class="lazy_image_wrapper testimonial_image_wrapper">
	<img class="js-lazy js-lazyload testimonial_image"  data-sizes="auto"  src="/images/placeholder.png" data-src="https://images.fastspot.com/jtcc/740x555/4"  data-srcset="//images.fastspot.com/jtcc/740x555/4 740w, //images.fastspot.com/jtcc/980x735/4 980w"  alt="">
</span>
<noscript>
	<img class="testimonial_image" src="https://images.fastspot.com/jtcc/980x735/4"  srcset="//images.fastspot.com/jtcc/980x735/4 980w, //images.fastspot.com/jtcc/740x555/4 740w" sizes="100vw"  alt="" >
</noscript>

			<div class="js-background testimonial_background" data-background-options='{"source": { "1220px": "//images.fastspot.com/jtcc/1080x1440/4", "740px": "//images.fastspot.com/jtcc/735x980/4", "500px": "//images.fastspot.com/jtcc/980x654/4", "0px": "//images.fastspot.com/jtcc/494x740/4", "980px": "//images.fastspot.com/jtcc/915x1220/4"}, "lazy": true, "alt": ""}' aria-hidden="true">
	<div class="testimonial_background_fallback" style="background-image: url(' //images.fastspot.com/jtcc/300x129/4');"></div>
</div>
		</div>
	</div>
</div>
            </div>
        </div>
    

		<br><br>

        <div style="background-color: #fff;">
            <h2 class="heading-h2" style="color: #000;; padding: 0 24px;">
                Testimonial: Maroon
            </h2>

			<br>

            <div>
                <div class="testimonial theme-maroon">
	<div class="testimonial_inner">
		<div class="testimonial_content">
			<div class="testimonial_icon_wrap">
				<div class="testimonial_icon">
					
			<svg class="icon icon_quote">
				<use href="/images/icons.svg#quote" />
			</svg>
		
				</div>
			</div>

			<blockquote class="testimonial_quote">
				<p>Debitis et aut dolore voluptatem aut. Deleniti alias placeat assumenda tenetur corrupti qui voluptas. Rerum nobis velit esse ratione voluptatem dicta ut eius tenetur. Quia est officia aperiam aliquid est aliquid sunt dolorem illo. Error aut perferendis dolorum quo eos. Nostrum ea enim culpa molestias nulla sint recusandae sunt.</p>
			</blockquote>

			<div class="testimonial_info">
				<div class="testimonial_quote_name">Krystal Hayes</div>
									<a class="testimonial_quote_title" href="#">Strategist</a>
							</div>
		</div>

		<div class="testimonial_media">
			<span class="lazy_image_wrapper testimonial_image_wrapper">
	<img class="js-lazy js-lazyload testimonial_image"  data-sizes="auto"  src="/images/placeholder.png" data-src="https://images.fastspot.com/jtcc/740x555/2"  data-srcset="//images.fastspot.com/jtcc/740x555/2 740w, //images.fastspot.com/jtcc/980x735/2 980w"  alt="">
</span>
<noscript>
	<img class="testimonial_image" src="https://images.fastspot.com/jtcc/980x735/2"  srcset="//images.fastspot.com/jtcc/980x735/2 980w, //images.fastspot.com/jtcc/740x555/2 740w" sizes="100vw"  alt="" >
</noscript>

			<div class="js-background testimonial_background" data-background-options='{"source": { "1220px": "//images.fastspot.com/jtcc/1080x1440/2", "740px": "//images.fastspot.com/jtcc/735x980/2", "500px": "//images.fastspot.com/jtcc/980x654/2", "0px": "//images.fastspot.com/jtcc/494x740/2", "980px": "//images.fastspot.com/jtcc/915x1220/2"}, "lazy": true, "alt": ""}' aria-hidden="true">
	<div class="testimonial_background_fallback" style="background-image: url(' //images.fastspot.com/jtcc/300x129/2');"></div>
</div>
		</div>
	</div>
</div>
            </div>
        </div>
    

		<br><br>

        <div style="background-color: #fff;">
            <h2 class="heading-h2" style="color: #000;; padding: 0 24px;">
                Testimonial: Gold
            </h2>

			<br>

            <div>
                <div class="testimonial theme-gold">
	<div class="testimonial_inner">
		<div class="testimonial_content">
			<div class="testimonial_icon_wrap">
				<div class="testimonial_icon">
					
			<svg class="icon icon_quote">
				<use href="/images/icons.svg#quote" />
			</svg>
		
				</div>
			</div>

			<blockquote class="testimonial_quote">
				<p>Doloremque amet est laudantium provident quas nisi. Rerum et reprehenderit veniam ut blanditiis eaque. Repellat doloribus non impedit. Consequatur eos non inventore est aut exercitationem. Cumque tenetur unde quia et culpa et. Et sed ducimus corrupti eum sint at excepturi officiis saepe.</p>
			</blockquote>

			<div class="testimonial_info">
				<div class="testimonial_quote_name">Salvador Schuppe</div>
									<a class="testimonial_quote_title" href="#">Architect</a>
							</div>
		</div>

		<div class="testimonial_media">
			<span class="lazy_image_wrapper testimonial_image_wrapper">
	<img class="js-lazy js-lazyload testimonial_image"  data-sizes="auto"  src="/images/placeholder.png" data-src="https://images.fastspot.com/jtcc/740x555/3"  data-srcset="//images.fastspot.com/jtcc/740x555/3 740w, //images.fastspot.com/jtcc/980x735/3 980w"  alt="">
</span>
<noscript>
	<img class="testimonial_image" src="https://images.fastspot.com/jtcc/980x735/3"  srcset="//images.fastspot.com/jtcc/980x735/3 980w, //images.fastspot.com/jtcc/740x555/3 740w" sizes="100vw"  alt="" >
</noscript>

			<div class="js-background testimonial_background" data-background-options='{"source": { "1220px": "//images.fastspot.com/jtcc/1080x1440/3", "740px": "//images.fastspot.com/jtcc/735x980/3", "500px": "//images.fastspot.com/jtcc/980x654/3", "0px": "//images.fastspot.com/jtcc/494x740/3", "980px": "//images.fastspot.com/jtcc/915x1220/3"}, "lazy": true, "alt": ""}' aria-hidden="true">
	<div class="testimonial_background_fallback" style="background-image: url(' //images.fastspot.com/jtcc/300x129/3');"></div>
</div>
		</div>
	</div>
</div>
            </div>
        </div>
    
