

<!-- Contact Info -->
<div class="contact_block">
	<script type="application/ld+json">
		{
				    "@context": "http://schema.org",
				    "@type": "Person",
				    "email": "mailto:name@university.edu",
				    "image": "1",
				    "jobTitle": "Director of Department",
				    "name": "Full Name",
				    "telephone": "(410) 555-1234",
				    "url": "#"
				}
	</script>
	<div class="fs-row">
		<div class="fs-cell">
			<div class="contact_block_inner">
				<div class="contact">
					<div class="contact_header">
						<div class="contact_info">
							<h2 class="contact_name">Full Name</h2>
															<div class="contact_title">Director of Department</div>
													</div>
													<figure class="contact_figure">
								<span class="lazy_image_wrapper contact_image_wrapper">
	<img class="js-lazy js-lazyload contact_image"  data-sizes="auto"  src="/images/placeholder.png" data-src="https://images.fastspot.com/jtcc/100x100/1"  data-srcset="//images.fastspot.com/jtcc/100x100/1 100w, //images.fastspot.com/jtcc/300x300/1 300w"  alt="">
</span>
<noscript>
	<img class="contact_image" src="https://images.fastspot.com/jtcc/300x300/1"  srcset="//images.fastspot.com/jtcc/300x300/1 300w, //images.fastspot.com/jtcc/100x100/1 100w" sizes="100vw"  alt="" >
</noscript>
							</figure>
											</div>
					<div class="contact_body">
						<!-- Contact Details -->
<div class="contact_details_wrapper">
			<h3 class="contact_details_title">Director of Department</h3>
		<div class="contact_details">
					<div class="contact_detail">
				<div class="contact_detail_label">Contact</div>
									<div class="contact_detail_item">
						<a class="contact_detail_info" itemprop="telephone" href="tel:4105551234">
							<span class="contact_detail_info_icon">
			<svg class="icon icon_phone">
				<use href="/images/icons.svg#phone" />
			</svg>
		</span>
							<span class="contact_detail_info_label">(410) 555-1234</span>
						</a>
					</div>
									<div class="contact_detail_item">
						<a class="contact_detail_info" itemprop="telephone" href="tel:4105551234">
							<span class="contact_detail_info_icon">
			<svg class="icon icon_phone">
				<use href="/images/icons.svg#phone" />
			</svg>
		</span>
							<span class="contact_detail_info_label">(410) 555-1234</span>
						</a>
					</div>
													<div class="contact_detail_item">
						<a class="contact_detail_info" href="mailto:name@university.edu" itemprop="email">
							<span class="contact_detail_info_icon">
			<svg class="icon icon_mail">
				<use href="/images/icons.svg#mail" />
			</svg>
		</span>
							<span class="contact_detail_info_label">name@university.edu</span>
						</a>
					</div>
							</div>
							<div class="contact_detail">
				<div class="contact_detail_label">Location</div>
				<div class="contact_detail_item">
					<div class="contact_detail_info" itemprop="address">1234 Maple Bacon Ln.<br>Baltimore, MD 21211</div>
				</div>
			</div>
									<div class="contact_detail">
				<div class="contact_detail_label">Hours</div>
									<div class="contact_detail_item">
						<div class="contact_detail_hint">Monday</div>
						<div class="contact_detail_info">9am - 5pm</div>
					</div>
									<div class="contact_detail_item">
						<div class="contact_detail_hint">Wednesday</div>
						<div class="contact_detail_info">11am-12pm</div>
					</div>
							</div>
							<div class="contact_detail">
				<div class="contact_detail_label">Social Media</div>
				<ul class="contact_socials" aria-label="Social Links for Full Name">
											<li class="contact_social">
							<a class="contact_social_link" href="#" aria-label="Full Name LinkedIn" itemprop="sameAs">
								<span class="contact_social_link_label">LinkedIn</span>
								<span class="contact_social_link_icon">
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		</span>
							</a>
						</li>
											<li class="contact_social">
							<a class="contact_social_link" href="#" aria-label="Full Name Twitter" itemprop="sameAs">
								<span class="contact_social_link_label">Twitter</span>
								<span class="contact_social_link_icon">
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		</span>
							</a>
						</li>
											<li class="contact_social">
							<a class="contact_social_link" href="#" aria-label="Full Name Facebook" itemprop="sameAs">
								<span class="contact_social_link_label">Facebook</span>
								<span class="contact_social_link_icon">
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		</span>
							</a>
						</li>
											<li class="contact_social">
							<a class="contact_social_link" href="#" aria-label="Full Name Instagram" itemprop="sameAs">
								<span class="contact_social_link_label">Instagram</span>
								<span class="contact_social_link_icon">
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		</span>
							</a>
						</li>
									</ul>
			</div>
			</div>
	<!-- END: Contact Details -->
</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END: Contact Info -->

