

<div class="testimonial theme-maroon">
	<div class="testimonial_inner">
		<div class="testimonial_content">
			<div class="testimonial_icon_wrap">
				<div class="testimonial_icon">
					
			<svg class="icon icon_quote">
				<use href="/images/icons.svg#quote" />
			</svg>
		
				</div>
			</div>

			<blockquote class="testimonial_quote">
				<p>Nesciunt atque nostrum qui aut qui ipsam debitis aliquid dicta. Et similique quo iusto dolores est cupiditate. In ea illo ut id quasi deserunt. Nesciunt expedita quia qui sequi impedit id non tempora.</p>
			</blockquote>

			<div class="testimonial_info">
				<div class="testimonial_quote_name">Raymond Crooks</div>
									<a class="testimonial_quote_title" href="#">Associate</a>
							</div>
		</div>

		<div class="testimonial_media">
			<div class="js-background testimonial_background" data-background-options='{"source": { "1220px": "//images.fastspot.com/jtcc/1440x1080/0", "740px": "//images.fastspot.com/jtcc/1220x523/0", "500px": "//images.fastspot.com/jtcc/654x980/0", "0px": "//images.fastspot.com/jtcc/494x740/0"}, "lazy": true, "alt": ""}' aria-hidden="true">
	<div class="testimonial_background_fallback" style="background-image: url(' //images.fastspot.com/jtcc/300x129/0');"></div>
</div>
		</div>
	</div>
</div>

