


		<br><br>

        <div style="background-color: #fff;">
            <h2 style="heading-h2 color: #000;">
                Testimonial: Blue
            </h2>

			<br>

            <div>
                <div class="testimonial theme-blue">
	<div class="fs-row">
		<div class="fs-cell ">
			<div class="testimonial_inner">
				<div class="testimonial_content">
					<blockquote class="testimonial_quote">
						<p>The support at Tyler was a really big factor for me in finding my self-confidence. You always have people tell you, ‘You can do it!’</p>
					</blockquote>

					<div class="testimonial_info">
						<div class="testimonial_quote_name">Ravonte Campbell</div>
													<div class="testimonial_quote_title">Mechanical Engineering</div>
											</div>
				</div>

				<div class="testimonial_media">
					<div class="js-background testimonial_background" data-background-options='{"source": { "0px": "//images.fastspot.com/jtcc/494x740/4", "740px": "//images.fastspot.com/jtcc/980x420/4", "980px": "//images.fastspot.com/jtcc/1220x523/4", "1220px": "//images.fastspot.com/jtcc/1440x617/4", "500px": "//images.fastspot.com/jtcc/654x980/4"}, "lazy": true, "alt": ""}' aria-hidden="true">
	<div class="testimonial_background_fallback" style="background-image: url(' //images.fastspot.com/false//300x129/4');"></div>
</div>

					<div class="testimonial_media_img">
						<span class="lazy_image_wrapper testimonial_image_wrapper">
	<img class="js-lazy js-lazyload testimonial_image"  data-sizes="auto"  src="/images/placeholder.png" data-src="https://images.fastspot.com/false/200x300/4"  data-srcset="//images.fastspot.com/jtcc/200x300/4 200w, //images.fastspot.com/jtcc/334x500/4 334w, //images.fastspot.com/jtcc/494x740/4 494w, //images.fastspot.com/jtcc/654x980/4 654w"  alt="">
</span>
<noscript>
	<img class="testimonial_image" src="https://images.fastspot.com/false/654x980/4"  srcset="//images.fastspot.com/jtcc/654x980/4 654w, //images.fastspot.com/jtcc/494x740/4 494w, //images.fastspot.com/jtcc/334x500/4 334w, //images.fastspot.com/jtcc/200x300/4 200w" sizes="100vw"  alt="" >
</noscript>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
            </div>
        </div>
    

		<br><br>

        <div style="background-color: #fff;">
            <h2 style="heading-h2 color: #000;">
                Testimonial: Maroon
            </h2>

			<br>

            <div>
                <div class="testimonial theme-maroon">
	<div class="fs-row">
		<div class="fs-cell ">
			<div class="testimonial_inner">
				<div class="testimonial_content">
					<blockquote class="testimonial_quote">
						<p>Nulla earum aliquid quas ad labore occaecati at dolores eaque. Quos eos et. Architecto vero architecto. Sunt sequi et. Dolore aut vero nemo voluptatem facere.</p>
					</blockquote>

					<div class="testimonial_info">
						<div class="testimonial_quote_name">Dr. Monique Bednar</div>
													<div class="testimonial_quote_title">Designer</div>
											</div>
				</div>

				<div class="testimonial_media">
					<div class="js-background testimonial_background" data-background-options='{"source": { "0px": "//images.fastspot.com/jtcc/494x740/7", "740px": "//images.fastspot.com/jtcc/980x420/7", "980px": "//images.fastspot.com/jtcc/1220x523/7", "1220px": "//images.fastspot.com/jtcc/1440x617/7", "500px": "//images.fastspot.com/jtcc/654x980/7"}, "lazy": true, "alt": ""}' aria-hidden="true">
	<div class="testimonial_background_fallback" style="background-image: url(' //images.fastspot.com/false//300x129/7');"></div>
</div>

					<div class="testimonial_media_img">
						<span class="lazy_image_wrapper testimonial_image_wrapper">
	<img class="js-lazy js-lazyload testimonial_image"  data-sizes="auto"  src="/images/placeholder.png" data-src="https://images.fastspot.com/false/200x300/7"  data-srcset="//images.fastspot.com/jtcc/200x300/7 200w, //images.fastspot.com/jtcc/334x500/7 334w, //images.fastspot.com/jtcc/494x740/7 494w, //images.fastspot.com/jtcc/654x980/7 654w"  alt="">
</span>
<noscript>
	<img class="testimonial_image" src="https://images.fastspot.com/false/654x980/7"  srcset="//images.fastspot.com/jtcc/654x980/7 654w, //images.fastspot.com/jtcc/494x740/7 494w, //images.fastspot.com/jtcc/334x500/7 334w, //images.fastspot.com/jtcc/200x300/7 200w" sizes="100vw"  alt="" >
</noscript>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
            </div>
        </div>
    

		<br><br>

        <div style="background-color: #fff;">
            <h2 style="heading-h2 color: #000;">
                Testimonial: Gold
            </h2>

			<br>

            <div>
                <div class="testimonial theme-gold">
	<div class="fs-row">
		<div class="fs-cell ">
			<div class="testimonial_inner">
				<div class="testimonial_content">
					<blockquote class="testimonial_quote">
						<p>Asperiores dolorem aut tempora. Ullam veritatis voluptatem culpa harum vitae aut magnam. Et beatae ex fuga quos similique provident a. Consequuntur dolore cupiditate rerum expedita fugiat atque itaque nihil. Labore maxime iste sequi sed voluptatem dolor consequuntur. Eveniet qui quisquam voluptatem iusto occaecati blanditiis aperiam fugiat distinctio.</p>
					</blockquote>

					<div class="testimonial_info">
						<div class="testimonial_quote_name">Van Kunde</div>
													<div class="testimonial_quote_title">Consultant</div>
											</div>
				</div>

				<div class="testimonial_media">
					<div class="js-background testimonial_background" data-background-options='{"source": { "0px": "//images.fastspot.com/jtcc/494x740/3", "740px": "//images.fastspot.com/jtcc/980x420/3", "980px": "//images.fastspot.com/jtcc/1220x523/3", "1220px": "//images.fastspot.com/jtcc/1440x617/3", "500px": "//images.fastspot.com/jtcc/654x980/3"}, "lazy": true, "alt": ""}' aria-hidden="true">
	<div class="testimonial_background_fallback" style="background-image: url(' //images.fastspot.com/false//300x129/3');"></div>
</div>

					<div class="testimonial_media_img">
						<span class="lazy_image_wrapper testimonial_image_wrapper">
	<img class="js-lazy js-lazyload testimonial_image"  data-sizes="auto"  src="/images/placeholder.png" data-src="https://images.fastspot.com/false/200x300/3"  data-srcset="//images.fastspot.com/jtcc/200x300/3 200w, //images.fastspot.com/jtcc/334x500/3 334w, //images.fastspot.com/jtcc/494x740/3 494w, //images.fastspot.com/jtcc/654x980/3 654w"  alt="">
</span>
<noscript>
	<img class="testimonial_image" src="https://images.fastspot.com/false/654x980/3"  srcset="//images.fastspot.com/jtcc/654x980/3 654w, //images.fastspot.com/jtcc/494x740/3 494w, //images.fastspot.com/jtcc/334x500/3 334w, //images.fastspot.com/jtcc/200x300/3 200w" sizes="100vw"  alt="" >
</noscript>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
            </div>
        </div>
    
