

<div class="testimonial theme-maroon">
	<div class="testimonial_inner">
		<div class="testimonial_content">
			<div class="testimonial_icon_wrap">
				<div class="testimonial_icon">
					
			<svg class="icon icon_quote">
				<use href="/images/icons.svg#quote" />
			</svg>
		
				</div>
			</div>

			<blockquote class="testimonial_quote">
				<p>Aliquam velit et exercitationem nobis harum eos sapiente et facere. Nulla eos quidem aperiam repellat et blanditiis. Quia voluptatem velit. Aut maiores sequi molestiae eligendi similique omnis qui autem. Velit sunt pariatur excepturi. Qui facilis vero dignissimos soluta non rerum.</p>
			</blockquote>

			<div class="testimonial_info">
				<div class="testimonial_quote_name">Lauren Stamm</div>
									<a class="testimonial_quote_title" href="#">Associate</a>
							</div>
		</div>

		<div class="testimonial_media">
			<span class="lazy_image_wrapper testimonial_image_wrapper">
	<img class="js-lazy js-lazyload testimonial_image"  data-sizes="auto"  src="/images/placeholder.png" data-src="https://images.fastspot.com/jtcc/740x555/0"  data-srcset="//images.fastspot.com/jtcc/740x555/0 740w, //images.fastspot.com/jtcc/980x735/0 980w"  alt="">
</span>
<noscript>
	<img class="testimonial_image" src="https://images.fastspot.com/jtcc/980x735/0"  srcset="//images.fastspot.com/jtcc/980x735/0 980w, //images.fastspot.com/jtcc/740x555/0 740w" sizes="100vw"  alt="" >
</noscript>

			<div class="js-background testimonial_background" data-background-options='{"source": { "1220px": "//images.fastspot.com/jtcc/1080x1440/0", "740px": "//images.fastspot.com/jtcc/735x980/0", "500px": "//images.fastspot.com/jtcc/980x654/0", "0px": "//images.fastspot.com/jtcc/494x740/0", "980px": "//images.fastspot.com/jtcc/915x1220/0"}, "lazy": true, "alt": ""}' aria-hidden="true">
	<div class="testimonial_background_fallback" style="background-image: url(' //images.fastspot.com/jtcc/300x129/0');"></div>
</div>
		</div>
	</div>
</div>

