

<div class="testimonial theme-gold">
	<div class="testimonial_inner">
		<div class="testimonial_content">
			<div class="testimonial_icon_wrap">
				<div class="testimonial_icon">
					
			<svg class="icon icon_quote">
				<use href="/images/icons.svg#quote" />
			</svg>
		
				</div>
			</div>

			<blockquote class="testimonial_quote">
				<p>Recusandae magni atque sit temporibus odio assumenda dolores voluptatem quisquam. Debitis impedit voluptatum minima ex qui doloribus. Pariatur at voluptas optio dignissimos ea commodi nobis doloribus pariatur. Culpa inventore alias similique quia autem. Earum fugit voluptatem voluptas sunt id qui aut ut. Reiciendis pariatur et aspernatur magni aperiam voluptas beatae voluptatem.</p>
			</blockquote>

			<div class="testimonial_info">
				<div class="testimonial_quote_name">Cheryl Schmitt</div>
									<a class="testimonial_quote_title" href="#">Technician</a>
							</div>
		</div>

		<div class="testimonial_media">
			<div class="js-background testimonial_background" data-background-options='{"source": { "1220px": "//images.fastspot.com/jtcc/1440x1080/10", "740px": "//images.fastspot.com/jtcc/1220x523/10", "500px": "//images.fastspot.com/jtcc/654x980/10", "0px": "//images.fastspot.com/jtcc/494x740/10"}, "lazy": true, "alt": ""}' aria-hidden="true">
	<div class="testimonial_background_fallback" style="background-image: url(' //images.fastspot.com/jtcc/300x129/10');"></div>
</div>
		</div>
	</div>
</div>

