

<div class="collage layout_equal">
	<div class="fs-row">
		<div class="fs-cell">
			<div class="collage_inner">
				<div class="collage_header">
					<h2 class="collage_title">In the Classroom</h2>
				</div>
				<div class="collage_rows">
										<div class="collage_items">
												<div class="collage_item">
							<figure class="collage_item_figure">
								<span class="collage_item_media">
																			<span class="lazy_image_wrapper collage_item_image_wrapper">
	<img class="js-lazy js-lazyload collage_item_image"  data-sizes="auto"  src="/images/placeholder.png" data-src="https://images.fastspot.com/jtcc/500x282/2"  data-srcset="//images.fastspot.com/jtcc/500x282/2 500w, //images.fastspot.com/jtcc/740x416/2 740w, //images.fastspot.com/jtcc/980x552/2 980w"  alt="">
</span>
<noscript>
	<img class="collage_item_image" src="https://images.fastspot.com/jtcc/980x552/2"  srcset="//images.fastspot.com/jtcc/980x552/2 980w, //images.fastspot.com/jtcc/740x416/2 740w, //images.fastspot.com/jtcc/500x282/2 500w" sizes="100vw"  alt="" >
</noscript>
																	</span>
																<figcaption class="collage_item_figcaption">
									<span class="collage_item_figcaption_inner">In her favorite class, Language Arts for Young Children, she practiced reading a children's book to her classmates, enunciating carefully and adding character voices as if she were reading to children.</span>
								</figcaption>
															</figure>
						</div>
												<div class="collage_item">
							<figure class="collage_item_figure">
								<span class="collage_item_media">
																			<span class="lazy_image_wrapper collage_item_image_wrapper">
	<img class="js-lazy js-lazyload collage_item_image"  data-sizes="auto"  src="/images/placeholder.png" data-src="https://images.fastspot.com/jtcc/500x282/3"  data-srcset="//images.fastspot.com/jtcc/500x282/3 500w, //images.fastspot.com/jtcc/740x416/3 740w, //images.fastspot.com/jtcc/980x552/3 980w"  alt="">
</span>
<noscript>
	<img class="collage_item_image" src="https://images.fastspot.com/jtcc/980x552/3"  srcset="//images.fastspot.com/jtcc/980x552/3 980w, //images.fastspot.com/jtcc/740x416/3 740w, //images.fastspot.com/jtcc/500x282/3 500w" sizes="100vw"  alt="" >
</noscript>
																	</span>
																<figcaption class="collage_item_figcaption">
									<span class="collage_item_figcaption_inner">Madeline Chase teaching in her cozy corner reading. nook.</span>
								</figcaption>
															</figure>
						</div>
											</div>
										<div class="collage_items">
												<div class="collage_item">
							<figure class="collage_item_figure">
								<span class="collage_item_media">
																			<span class="lazy_image_wrapper collage_item_image_wrapper">
	<img class="js-lazy js-lazyload collage_item_image"  data-sizes="auto"  src="/images/placeholder.png" data-src="https://images.fastspot.com/jtcc/500x282/6"  data-srcset="//images.fastspot.com/jtcc/500x282/6 500w, //images.fastspot.com/jtcc/740x416/6 740w, //images.fastspot.com/jtcc/980x552/6 980w"  alt="">
</span>
<noscript>
	<img class="collage_item_image" src="https://images.fastspot.com/jtcc/980x552/6"  srcset="//images.fastspot.com/jtcc/980x552/6 980w, //images.fastspot.com/jtcc/740x416/6 740w, //images.fastspot.com/jtcc/500x282/6 500w" sizes="100vw"  alt="" >
</noscript>
																	</span>
																<figcaption class="collage_item_figcaption">
									<span class="collage_item_figcaption_inner">Madeline Chase teaching in her cozy corner reading. nook.</span>
								</figcaption>
															</figure>
						</div>
												<div class="collage_item">
							<figure class="collage_item_figure">
								<span class="collage_item_media">
																			<span class="lazy_image_wrapper collage_item_image_wrapper">
	<img class="js-lazy js-lazyload collage_item_image"  data-sizes="auto"  src="/images/placeholder.png" data-src="https://images.fastspot.com/jtcc/500x282/5"  data-srcset="//images.fastspot.com/jtcc/500x282/5 500w, //images.fastspot.com/jtcc/740x416/5 740w, //images.fastspot.com/jtcc/980x552/5 980w"  alt="">
</span>
<noscript>
	<img class="collage_item_image" src="https://images.fastspot.com/jtcc/980x552/5"  srcset="//images.fastspot.com/jtcc/980x552/5 980w, //images.fastspot.com/jtcc/740x416/5 740w, //images.fastspot.com/jtcc/500x282/5 500w" sizes="100vw"  alt="" >
</noscript>
																	</span>
															</figure>
						</div>
											</div>
									</div>
			</div>
		</div>
	</div>
</div>

