


		<br><br>

        <div style="background-color: #fff;">
            <h2 style="heading-h2 color: #000;">
                Testimonial: Blue
            </h2>

			<br>

            <div>
                <div class="testimonial theme-blue">
	<div class="fs-row">
		<div class="fs-cell ">
			<div class="testimonial_inner">
				<div class="testimonial_content">
					<blockquote class="testimonial_quote">
						<p>The support at Tyler was a really big factor for me in finding my self-confidence. You always have people tell you, ‘You can do it!’</p>
					</blockquote>

					<div class="testimonial_info">
						<div class="testimonial_quote_name">Ravonte Campbell</div>
													<div class="testimonial_quote_title">Mechanical Engineering</div>
											</div>
				</div>

				<div class="testimonial_media">
					<div class="js-background testimonial_background" data-background-options='{"source": { "0px": "//images.fastspot.com/jtcc/494x740/4", "740px": "//images.fastspot.com/jtcc/980x420/4", "980px": "//images.fastspot.com/jtcc/1220x523/4", "1220px": "//images.fastspot.com/jtcc/1440x617/4", "500px": "//images.fastspot.com/jtcc/654x980/4"}, "lazy": true, "alt": ""}' aria-hidden="true">
	<div class="testimonial_background_fallback" style="background-image: url(' //images.fastspot.com/false//300x129/4');"></div>
</div>

					<div class="testimonial_media_img">
						<span class="lazy_image_wrapper testimonial_image_wrapper">
	<img class="js-lazy js-lazyload testimonial_image"  data-sizes="auto"  src="/images/placeholder.png" data-src="https://images.fastspot.com/false/200x300/4"  data-srcset="//images.fastspot.com/jtcc/200x300/4 200w, //images.fastspot.com/jtcc/334x500/4 334w, //images.fastspot.com/jtcc/494x740/4 494w, //images.fastspot.com/jtcc/654x980/4 654w"  alt="">
</span>
<noscript>
	<img class="testimonial_image" src="https://images.fastspot.com/false/654x980/4"  srcset="//images.fastspot.com/jtcc/654x980/4 654w, //images.fastspot.com/jtcc/494x740/4 494w, //images.fastspot.com/jtcc/334x500/4 334w, //images.fastspot.com/jtcc/200x300/4 200w" sizes="100vw"  alt="" >
</noscript>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
            </div>
        </div>
    

		<br><br>

        <div style="background-color: #fff;">
            <h2 style="heading-h2 color: #000;">
                Testimonial: Maroon
            </h2>

			<br>

            <div>
                <div class="testimonial theme-maroon">
	<div class="fs-row">
		<div class="fs-cell ">
			<div class="testimonial_inner">
				<div class="testimonial_content">
					<blockquote class="testimonial_quote">
						<p>Doloribus et sunt praesentium illum nobis vero est. Suscipit nostrum esse qui nostrum suscipit numquam. Ut quia tenetur tenetur enim sed repudiandae accusantium veniam. Qui voluptatibus quo ut molestiae asperiores quis vel. Molestiae repellat sequi nulla. Doloribus dolorem in ut fugiat rerum eius ex quisquam.</p>
					</blockquote>

					<div class="testimonial_info">
						<div class="testimonial_quote_name">Desiree Anderson</div>
													<div class="testimonial_quote_title">Officer</div>
											</div>
				</div>

				<div class="testimonial_media">
					<div class="js-background testimonial_background" data-background-options='{"source": { "0px": "//images.fastspot.com/jtcc/494x740/5", "740px": "//images.fastspot.com/jtcc/980x420/5", "980px": "//images.fastspot.com/jtcc/1220x523/5", "1220px": "//images.fastspot.com/jtcc/1440x617/5", "500px": "//images.fastspot.com/jtcc/654x980/5"}, "lazy": true, "alt": ""}' aria-hidden="true">
	<div class="testimonial_background_fallback" style="background-image: url(' //images.fastspot.com/false//300x129/5');"></div>
</div>

					<div class="testimonial_media_img">
						<span class="lazy_image_wrapper testimonial_image_wrapper">
	<img class="js-lazy js-lazyload testimonial_image"  data-sizes="auto"  src="/images/placeholder.png" data-src="https://images.fastspot.com/false/200x300/5"  data-srcset="//images.fastspot.com/jtcc/200x300/5 200w, //images.fastspot.com/jtcc/334x500/5 334w, //images.fastspot.com/jtcc/494x740/5 494w, //images.fastspot.com/jtcc/654x980/5 654w"  alt="">
</span>
<noscript>
	<img class="testimonial_image" src="https://images.fastspot.com/false/654x980/5"  srcset="//images.fastspot.com/jtcc/654x980/5 654w, //images.fastspot.com/jtcc/494x740/5 494w, //images.fastspot.com/jtcc/334x500/5 334w, //images.fastspot.com/jtcc/200x300/5 200w" sizes="100vw"  alt="" >
</noscript>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
            </div>
        </div>
    

		<br><br>

        <div style="background-color: #fff;">
            <h2 style="heading-h2 color: #000;">
                Testimonial: Gold
            </h2>

			<br>

            <div>
                <div class="testimonial theme-gold">
	<div class="fs-row">
		<div class="fs-cell ">
			<div class="testimonial_inner">
				<div class="testimonial_content">
					<blockquote class="testimonial_quote">
						<p>Quia assumenda officia est dignissimos. Omnis et sapiente aut. Et rerum et. Fuga similique autem nulla incidunt repellendus qui ut. Maiores quidem veniam dolorem quidem.</p>
					</blockquote>

					<div class="testimonial_info">
						<div class="testimonial_quote_name">Miranda Maggio Sr.</div>
													<div class="testimonial_quote_title">Associate</div>
											</div>
				</div>

				<div class="testimonial_media">
					<div class="js-background testimonial_background" data-background-options='{"source": { "0px": "//images.fastspot.com/jtcc/494x740/10", "740px": "//images.fastspot.com/jtcc/980x420/10", "980px": "//images.fastspot.com/jtcc/1220x523/10", "1220px": "//images.fastspot.com/jtcc/1440x617/10", "500px": "//images.fastspot.com/jtcc/654x980/10"}, "lazy": true, "alt": ""}' aria-hidden="true">
	<div class="testimonial_background_fallback" style="background-image: url(' //images.fastspot.com/false//300x129/10');"></div>
</div>

					<div class="testimonial_media_img">
						<span class="lazy_image_wrapper testimonial_image_wrapper">
	<img class="js-lazy js-lazyload testimonial_image"  data-sizes="auto"  src="/images/placeholder.png" data-src="https://images.fastspot.com/false/200x300/10"  data-srcset="//images.fastspot.com/jtcc/200x300/10 200w, //images.fastspot.com/jtcc/334x500/10 334w, //images.fastspot.com/jtcc/494x740/10 494w, //images.fastspot.com/jtcc/654x980/10 654w"  alt="">
</span>
<noscript>
	<img class="testimonial_image" src="https://images.fastspot.com/false/654x980/10"  srcset="//images.fastspot.com/jtcc/654x980/10 654w, //images.fastspot.com/jtcc/494x740/10 494w, //images.fastspot.com/jtcc/334x500/10 334w, //images.fastspot.com/jtcc/200x300/10 200w" sizes="100vw"  alt="" >
</noscript>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
            </div>
        </div>
    
