

<!-- Contact Info -->
<div class="contact_block">
	<script type="application/ld+json">
		{
				    "@context": "http://schema.org",
				    "@type": "Person",
				    "email": "mailto:name@university.edu",
				    "image": "",
				    "jobTitle": "",
				    "name": "Full Name",
				    "telephone": "(410) 555-1234",
				    "url": "#"
				}
	</script>
	<div class="fs-row">
		<div class="fs-cell">
			<div class="contact_block_inner">
				<div class="contact">
					<div class="contact_header">
						<div class="contact_info">
							<h2 class="contact_name">Full Name</h2>
													</div>
											</div>
					<div class="contact_body">
						<!-- Contact Details -->
<div class="contact_details_wrapper">
		<div class="contact_details">
					<div class="contact_detail">
				<div class="contact_detail_label">Contact</div>
									<div class="contact_detail_item">
						<a class="contact_detail_info" itemprop="telephone" href="tel:4105551234">
							<span class="contact_detail_info_icon">
			<svg class="icon icon_phone">
				<use href="/images/icons.svg#phone" />
			</svg>
		</span>
							<span class="contact_detail_info_label">(410) 555-1234</span>
						</a>
					</div>
													<div class="contact_detail_item">
						<a class="contact_detail_info" href="mailto:name@university.edu" itemprop="email">
							<span class="contact_detail_info_icon">
			<svg class="icon icon_mail">
				<use href="/images/icons.svg#mail" />
			</svg>
		</span>
							<span class="contact_detail_info_label">name@university.edu</span>
						</a>
					</div>
							</div>
							<div class="contact_detail">
				<div class="contact_detail_label">Location</div>
				<div class="contact_detail_item">
					<div class="contact_detail_info" itemprop="address">1234 Maple Bacon Ln.<br>Baltimore, MD 21211</div>
				</div>
			</div>
									</div>
	<!-- END: Contact Details -->
</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END: Contact Info -->

