

<div class="featured_programs">
	<div class="featured_programs_inner">
		<div class="featured_programs_header">
			<div class="js-background featured_programs_header_background" data-background-options='{"source": { "1220px": "//images.fastspot.com/jtcc/1440x1080/18", "740px": "//images.fastspot.com/jtcc/814x1220/18", "500px": "//images.fastspot.com/jtcc/980x654/18", "0px": "//images.fastspot.com/jtcc/494x740/18"}, "lazy": true, "alt": ""}' aria-hidden="true">
	<div class="featured_programs_header_background_fallback" style="background-image: url(' //images.fastspot.com/jtcc/300x129/18');"></div>
</div>
			<h2 class="featured_programs_title">
				<span class="featured_programs_title_group featured_programs_title_group_primary">
					<span class="featured_programs_title_label featured_programs_title_label_primary">What do <strong>you</strong></span>
				</span>
				<span class="featured_programs_title_group featured_programs_title_group_secondary">
					<span class="featured_programs_title_label featured_programs_title_label_secondary">Want to study?</span>
				</span>
			</h2>
			<div class="featured_programs_input_wrapper">
				<input class="featured_programs_input" id="featured_programs_input" type="search" placeholder="Search our Programs & Majors">
				<span class="featured_programs_input_icon">
			<svg class="icon icon_search">
				<use href="/images/icons.svg#search" />
			</svg>
		</span>
			</div>
		</div>
		<div class="featured_programs_content">
			<div class="feature_programs_body">
				<div class="featured_programs_body_details">
					<h3 class="featured_programs_body_title"><strong>60+</strong> Majors in…</h3>
				</div>
				<ul class="featured_programs_items">
											<li class="featured_programs_item">
							

<a href="#" class="featured_programs_item_link" >
	<span class="featured_programs_item_link_inner">
		<span class="featured_programs_item_link_label">General Transfer</span>
					<span class="featured_programs_item_link_icon" aria-hidden="true">
				<span class="featured_programs_item_link_icon_inner">
					<span class="featured_programs_item_link_icon_space">&#xfeff;</span>
					
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		
				</span>
			</span>
			</span>
</a>
						</li>
											<li class="featured_programs_item">
							

<a href="#" class="featured_programs_item_link" >
	<span class="featured_programs_item_link_inner">
		<span class="featured_programs_item_link_label">Advanced Manufacturing, Architecture, Construction & Skilled Trades</span>
					<span class="featured_programs_item_link_icon" aria-hidden="true">
				<span class="featured_programs_item_link_icon_inner">
					<span class="featured_programs_item_link_icon_space">&#xfeff;</span>
					
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		
				</span>
			</span>
			</span>
</a>
						</li>
											<li class="featured_programs_item">
							

<a href="#" class="featured_programs_item_link" >
	<span class="featured_programs_item_link_inner">
		<span class="featured_programs_item_link_label">Arts & Communication</span>
					<span class="featured_programs_item_link_icon" aria-hidden="true">
				<span class="featured_programs_item_link_icon_inner">
					<span class="featured_programs_item_link_icon_space">&#xfeff;</span>
					
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		
				</span>
			</span>
			</span>
</a>
						</li>
											<li class="featured_programs_item">
							

<a href="#" class="featured_programs_item_link" >
	<span class="featured_programs_item_link_inner">
		<span class="featured_programs_item_link_label">Business, Management, Finance, Hospitality Management & Marketing</span>
					<span class="featured_programs_item_link_icon" aria-hidden="true">
				<span class="featured_programs_item_link_icon_inner">
					<span class="featured_programs_item_link_icon_space">&#xfeff;</span>
					
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		
				</span>
			</span>
			</span>
</a>
						</li>
											<li class="featured_programs_item">
							

<a href="#" class="featured_programs_item_link" >
	<span class="featured_programs_item_link_inner">
		<span class="featured_programs_item_link_label">Education</span>
					<span class="featured_programs_item_link_icon" aria-hidden="true">
				<span class="featured_programs_item_link_icon_inner">
					<span class="featured_programs_item_link_icon_space">&#xfeff;</span>
					
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		
				</span>
			</span>
			</span>
</a>
						</li>
											<li class="featured_programs_item">
							

<a href="#" class="featured_programs_item_link" >
	<span class="featured_programs_item_link_inner">
		<span class="featured_programs_item_link_label">Engineering, Computer Science & Natural Science</span>
					<span class="featured_programs_item_link_icon" aria-hidden="true">
				<span class="featured_programs_item_link_icon_inner">
					<span class="featured_programs_item_link_icon_space">&#xfeff;</span>
					
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		
				</span>
			</span>
			</span>
</a>
						</li>
											<li class="featured_programs_item">
							

<a href="#" class="featured_programs_item_link" >
	<span class="featured_programs_item_link_inner">
		<span class="featured_programs_item_link_label">Health Science</span>
					<span class="featured_programs_item_link_icon" aria-hidden="true">
				<span class="featured_programs_item_link_icon_inner">
					<span class="featured_programs_item_link_icon_space">&#xfeff;</span>
					
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		
				</span>
			</span>
			</span>
</a>
						</li>
											<li class="featured_programs_item">
							

<a href="#" class="featured_programs_item_link" >
	<span class="featured_programs_item_link_inner">
		<span class="featured_programs_item_link_label">Government, Human Services, Law & Public Safety</span>
					<span class="featured_programs_item_link_icon" aria-hidden="true">
				<span class="featured_programs_item_link_icon_inner">
					<span class="featured_programs_item_link_icon_space">&#xfeff;</span>
					
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		
				</span>
			</span>
			</span>
</a>
						</li>
											<li class="featured_programs_item">
							

<a href="#" class="featured_programs_item_link" >
	<span class="featured_programs_item_link_inner">
		<span class="featured_programs_item_link_label">Information Technology</span>
					<span class="featured_programs_item_link_icon" aria-hidden="true">
				<span class="featured_programs_item_link_icon_inner">
					<span class="featured_programs_item_link_icon_space">&#xfeff;</span>
					
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		
				</span>
			</span>
			</span>
</a>
						</li>
									</ul>
				<div class="featured_programs_items_select_wrapper">
					<select class="featured_programs_items_select">
						<option>Discover an Area of Interest</option>
												<option>General Transfer</option>
												<option>Advanced Manufacturing, Architecture, Construction & Skilled Trades</option>
												<option>Arts & Communication</option>
												<option>Business, Management, Finance, Hospitality Management & Marketing</option>
												<option>Education</option>
												<option>Engineering, Computer Science & Natural Science</option>
												<option>Health Science</option>
												<option>Government, Human Services, Law & Public Safety</option>
												<option>Information Technology</option>
											</select>
					<span class="featured_programs_items_select_icon">
			<svg class="icon icon_caret_down">
				<use href="/images/icons.svg#caret_down" />
			</svg>
		</span>
				</div>
			</div>
			<div class="feature_programs_footer">
				<div class="featured_programs_footer_details">
					<h4 class="featured_programs_footer_title">Next Up</h4>
				</div>
				<ul class="featured_programs_actions">
											<li class="featured_programs_action">
							

<a href="#" class="featured_programs_action_link" >
	<span class="featured_programs_action_link_inner">
		<span class="featured_programs_action_link_label">Register for a Class</span>
					<span class="featured_programs_action_link_icon" aria-hidden="true">
				<span class="featured_programs_action_link_icon_inner">
					<span class="featured_programs_action_link_icon_space">&#xfeff;</span>
					
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		
				</span>
			</span>
			</span>
</a>
						</li>
											<li class="featured_programs_action">
							

<a href="#" class="featured_programs_action_link" >
	<span class="featured_programs_action_link_inner">
		<span class="featured_programs_action_link_label">Pay for a Class</span>
					<span class="featured_programs_action_link_icon" aria-hidden="true">
				<span class="featured_programs_action_link_icon_inner">
					<span class="featured_programs_action_link_icon_space">&#xfeff;</span>
					
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		
				</span>
			</span>
			</span>
</a>
						</li>
									</ul>
			</div>
		</div>
	</div>
</div>

