

<div class="news_related">
			<div class="news_related_header">
			<div class="fs-row">
				<div class="fs-cell ">
					<div class="news_related_header_inner">
													<h2 class="news_related_title">Related News</h2>
																			<div class="news_related_description">
								<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod. Donec ullamcorper nulla non metus auct.</p>
							</div>
											</div>
				</div>
			</div>
		</div>
		<div class="news_related_body">
		<div class="fs-row">
			<div class="fs-cell">
				<ul class="news_related_items">
											<li class="news_related_item">
							<div class="news_item">
			<figure class="news_item_figure">
							<a class="news_item_figure_link" href="page-news-detail.html" aria-label="Read more about In Enim Justo Rhoncus Ut Lorem" tabindex="-1">
								<span class="lazy_image_wrapper news_item_image_wrapper">
	<img class="js-lazy js-lazyload news_item_image"  data-sizes="auto"  src="/images/placeholder.png" data-src="https://images.fastspot.com/false/300x200/1"  data-srcset="//images.fastspot.com/jtcc/300x200/1 300w, //images.fastspot.com/jtcc/500x334/1 500w, //images.fastspot.com/jtcc/740x494/1 740w, //images.fastspot.com/jtcc/980x654/1 980w"  alt="">
</span>
<noscript>
	<img class="news_item_image" src="https://images.fastspot.com/false/980x654/1"  srcset="//images.fastspot.com/jtcc/980x654/1 980w, //images.fastspot.com/jtcc/740x494/1 740w, //images.fastspot.com/jtcc/500x334/1 500w, //images.fastspot.com/jtcc/300x200/1 300w" sizes="100vw"  alt="" >
</noscript>
								</a>
					</figure>
		<div class="news_item_wrapper">
		<div class="news_item_header">
			<h2 class="news_item_title">
									

<a href="page-news-detail.html" class="news_item_title_link" >
	<span class="news_item_title_link_inner">
		<span class="news_item_title_link_label">In Enim Justo Rhoncus Ut Lorem</span>
					<span class="news_item_title_link_icon" aria-hidden="true">
				<span class="news_item_title_link_icon_inner">
					<span class="news_item_title_link_icon_space">&#xfeff;</span>
					
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		
				</span>
			</span>
			</span>
</a>
							</h2>
							<div class="news_item_categories">
					<div class="news_item_category_hint">Categories</div>
					<ul class="news_item_category_list" aria-label="Categories">
													<li class="news_item_category">
								<a class="news_item_category_link" href="page-news-category.html">Category 1</a>
							</li>
											</ul>
				</div>
					</div>
		<div class="news_item_body">
							<div class="news_item_details">
			<div class="news_item_detail news_item_date">
			<span class="news_item_detail_hint">Published:
			</span>
			<time class="news_item_detail_label" datetime="2019-01-01 17:00:00">January 1, 2019</time>
		</div>
				<div class="news_item_detail news_item_author">
			<span class="news_item_detail_hint">by
			</span>
			<span class="news_item_detail_label">Author</span>
		</div>
	</div>
										<div class="news_item_description">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget est sed ex pretium fringilla. Vivamus ac turpis quis eros consectetur ornare.</p>
				</div>
					</div>
	</div>
</div>
<!-- END: News Item -->
						</li>
									</ul>
			</div>
		</div>
	</div>
</div>
<!-- END: Related News -->

