



<nav class="js-nav js-audience-nav nav audience_nav" aria-labelledby="audience_nav_title">
	<div class="nav_header audience_nav_header">
		<h2 class="nav_title audience_nav_title" id="audience_nav_title">Resources for…</h2>
	</div>
	<ul class="js-nav-list js-audience-nav-list nav_list audience_nav_list" aria-labelledby="audience_nav_title">
				<li class="js-nav-item js-audience-nav-item js-audience-nav-item-1 nav_item audience_nav_item">
			<div class="nav_item_inner audience_nav_item_inner">
				<a class="js-nav-link js-audience-nav-link nav_link audience_nav_link" href="#">
										<span class="nav_link_label audience_nav_link_label">Faculty</span>
				</a>
							</div>
					</li>
				<li class="js-nav-item js-audience-nav-item js-audience-nav-item-2 nav_item audience_nav_item">
			<div class="nav_item_inner audience_nav_item_inner">
				<a class="js-nav-link js-audience-nav-link nav_link audience_nav_link" href="#">
										<span class="nav_link_label audience_nav_link_label">Staff</span>
				</a>
							</div>
					</li>
				<li class="js-nav-item js-audience-nav-item js-audience-nav-item-3 nav_item audience_nav_item">
			<div class="nav_item_inner audience_nav_item_inner">
				<a class="js-nav-link js-audience-nav-link nav_link audience_nav_link" href="#">
										<span class="nav_link_label audience_nav_link_label">Current Students</span>
				</a>
							</div>
					</li>
				<li class="js-nav-item js-audience-nav-item js-audience-nav-item-4 nav_item audience_nav_item">
			<div class="nav_item_inner audience_nav_item_inner">
				<a class="js-nav-link js-audience-nav-link nav_link audience_nav_link" href="#">
										<span class="nav_link_label audience_nav_link_label">Prospective Student</span>
				</a>
							</div>
					</li>
				<li class="js-nav-item js-audience-nav-item js-audience-nav-item-5 nav_item audience_nav_item">
			<div class="nav_item_inner audience_nav_item_inner">
				<a class="js-nav-link js-audience-nav-link nav_link audience_nav_link" href="#">
										<span class="nav_link_label audience_nav_link_label">Alumni</span>
				</a>
							</div>
					</li>
				<li class="js-nav-item js-audience-nav-item js-audience-nav-item-6 nav_item audience_nav_item">
			<div class="nav_item_inner audience_nav_item_inner">
				<a class="js-nav-link js-audience-nav-link nav_link audience_nav_link" href="#">
										<span class="nav_link_label audience_nav_link_label">Parents & Families</span>
				</a>
							</div>
					</li>
				<li class="js-nav-item js-audience-nav-item js-audience-nav-item-7 nav_item audience_nav_item">
			<div class="nav_item_inner audience_nav_item_inner">
				<a class="js-nav-link js-audience-nav-link nav_link audience_nav_link" href="#">
										<span class="nav_link_label audience_nav_link_label">Visitors</span>
				</a>
							</div>
					</li>
			</ul>
</nav>

