



<nav class="js-nav js-actions-nav nav actions_nav" aria-labelledby="actions_nav_title">
	<div class="nav_header actions_nav_header">
		<h2 class="nav_title actions_nav_title" id="actions_nav_title">Actions</h2>
	</div>
	<ul class="js-nav-list js-actions-nav-list nav_list actions_nav_list" aria-labelledby="actions_nav_title">
				<li class="js-nav-item js-actions-nav-item js-actions-nav-item-1 nav_item actions_nav_item">
			<div class="nav_item_inner actions_nav_item_inner">
				<a class="js-nav-link js-actions-nav-link nav_link actions_nav_link" href="#">
										<span class="nav_link_icon actions_nav_link_icon" aria-hidden="true">
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		</span>
										<span class="nav_link_label actions_nav_link_label">MyTyler</span>
				</a>
							</div>
					</li>
				<li class="js-nav-item js-actions-nav-item js-actions-nav-item-2 nav_item actions_nav_item">
			<div class="nav_item_inner actions_nav_item_inner">
				<a class="js-nav-link js-actions-nav-link nav_link actions_nav_link" href="#">
										<span class="nav_link_icon actions_nav_link_icon" aria-hidden="true">
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		</span>
										<span class="nav_link_label actions_nav_link_label">Apply Now</span>
				</a>
							</div>
					</li>
				<li class="js-nav-item js-actions-nav-item js-actions-nav-item-3 nav_item actions_nav_item">
			<div class="nav_item_inner actions_nav_item_inner">
				<a class="js-nav-link js-actions-nav-link nav_link actions_nav_link" href="#">
										<span class="nav_link_icon actions_nav_link_icon" aria-hidden="true">
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		</span>
										<span class="nav_link_label actions_nav_link_label">Give to Tyler</span>
				</a>
							</div>
					</li>
			</ul>
</nav>

