



<div class="js-sub-nav-group sub_nav_group">
	<button class="js-sub-nav-toggle js-swap sub_nav_toggle "   data-swap-target=".js-sub-nav-group"  >
	<span class="sub_nav_toggle_inner_default sub_nav_toggle_inner">
		<span class="sub_nav_toggle_label_default sub_nav_toggle_label">Explore This Section</span>
					<span class="sub_nav_toggle_icon_default sub_nav_toggle_icon" aria-hidden="true">
				<span class="sub_nav_toggle_icon_inner_default sub_nav_toggle_icon_inner">
					<span class="sub_nav_toggle_icon_space">&#xfeff;</span>
					
			<svg class="icon icon_caret_down">
				<use href="/images/icons.svg#caret_down" />
			</svg>
		
				</span>
			</span>
			</span>
			<span class="sub_nav_toggle_inner_active sub_nav_toggle_inner">
			<span class="sub_nav_toggle_label_active sub_nav_toggle_label">Close</span>
							<span class="sub_nav_toggle_icon_active sub_nav_toggle_icon" aria-hidden="true">
					<span class="sub_nav_toggle_icon_inner_active sub_nav_toggle_icon_inner">
						<span class="sub_nav_toggle_icon_space">&#xfeff;</span>
						
			<svg class="icon icon_caret_up">
				<use href="/images/icons.svg#caret_up" />
			</svg>
		
					</span>
				</span>
					</span>
	</button>

	<nav class="js-sub-nav sub_nav" aria-labelledby="sub_nav_title">
		<div class="sub_nav_header">
			<h2 class="sub_nav_title" id="sub_nav_title">Sub Nav Title</h2>
		</div>
		<div class="js-sub-nav-body sub_nav_body">
			<div class="js-sub-nav-body-inner sub_nav_body_inner">
				<ul class="js-sub-nav-list sub_nav_list" aria-labelledby="sub_nav_title">
											<li class="sub_nav_item">
							<a class="sub_nav_link" href="#">
								<span class="sub_nav_link_label">Chester Campus</span>
								<span class="sub_nav_link_icon">
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		</span>
							</a>
													</li>
											<li class="sub_nav_item">
							<a class="sub_nav_link" href="#">
								<span class="sub_nav_link_label">Midlothian Campus</span>
								<span class="sub_nav_link_icon">
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		</span>
							</a>
													</li>
											<li class="sub_nav_item">
							<a class="sub_nav_link" href="#">
								<span class="sub_nav_link_label">Tyler a-z</span>
								<span class="sub_nav_link_icon">
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		</span>
							</a>
													</li>
											<li class="sub_nav_item">
							<a class="sub_nav_link" href="#">
								<span class="sub_nav_link_label">Get Involved</span>
								<span class="sub_nav_link_icon">
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		</span>
							</a>
													</li>
									</ul>
			</div>
		</div>
	</nav>
</div>

