



<nav class="js-nav js- nav " aria-labelledby="_title">
	<div class="nav_header _header">
		<h2 class="nav_title _title" id="_title">Main</h2>
	</div>
	<ul class="js-nav-list js--list nav_list _list" aria-labelledby="_title">
				<li class="js-nav-item js--item js--item-1 nav_item _item has_children">
			<div class="nav_item_inner _item_inner">
				<a class="js-nav-link js--link nav_link _link" href="#">
										<span class="nav_link_label _link_label">Admissions</span>
				</a>
								<button class="js-swap js-nav-toggle js--toggle nav_toggle _toggle" data-swap-target=".js--item-1" data-swap-group="" aria-label="Admissions" aria-haspopup="true" aria-expanded="false">
					<span class="nav_toggle_inner _toggle_inner">
						<span class="nav_toggle_icon _toggle_icon">
			<svg class="icon icon_undefined">
				<use href="/images/icons.svg#undefined" />
			</svg>
		</span>
					</span>
				</button>
							</div>
						<ul class="js-nav-children js--children nav_children _children" aria-label="Admissions">
								<li class="js-nav-child-item js--child-item nav_child_item _child_item">
					<a class="js-nav-child-link js--child-link nav_child_link _child_link" href="#">
												<span class="nav_child_link_label _child_link_label">About</span>
					</a>
				</li>
								<li class="js-nav-child-item js--child-item nav_child_item _child_item">
					<a class="js-nav-child-link js--child-link nav_child_link _child_link" href="#">
												<span class="nav_child_link_label _child_link_label">Lorem ipsum</span>
					</a>
				</li>
								<li class="js-nav-child-item js--child-item nav_child_item _child_item">
					<a class="js-nav-child-link js--child-link nav_child_link _child_link" href="#">
												<span class="nav_child_link_label _child_link_label">Consectetuer Adipiscing Elit</span>
					</a>
				</li>
								<li class="js-nav-child-item js--child-item nav_child_item _child_item">
					<a class="js-nav-child-link js--child-link nav_child_link _child_link" href="#">
												<span class="nav_child_link_label _child_link_label">Aenean Commodo</span>
					</a>
				</li>
								<li class="js-nav-child-item js--child-item nav_child_item _child_item">
					<a class="js-nav-child-link js--child-link nav_child_link _child_link" href="#">
												<span class="nav_child_link_label _child_link_label">Aenean Massa</span>
					</a>
				</li>
							</ul>
					</li>
				<li class="js-nav-item js--item js--item-2 nav_item _item has_children">
			<div class="nav_item_inner _item_inner">
				<a class="js-nav-link js--link nav_link _link" href="#">
										<span class="nav_link_label _link_label">Academics & Programs</span>
				</a>
								<button class="js-swap js-nav-toggle js--toggle nav_toggle _toggle" data-swap-target=".js--item-2" data-swap-group="" aria-label="Academics & Programs" aria-haspopup="true" aria-expanded="false">
					<span class="nav_toggle_inner _toggle_inner">
						<span class="nav_toggle_icon _toggle_icon">
			<svg class="icon icon_undefined">
				<use href="/images/icons.svg#undefined" />
			</svg>
		</span>
					</span>
				</button>
							</div>
						<ul class="js-nav-children js--children nav_children _children" aria-label="Academics & Programs">
								<li class="js-nav-child-item js--child-item nav_child_item _child_item">
					<a class="js-nav-child-link js--child-link nav_child_link _child_link" href="#">
												<span class="nav_child_link_label _child_link_label">Nam Quam Nunc</span>
					</a>
				</li>
							</ul>
					</li>
				<li class="js-nav-item js--item js--item-3 nav_item _item has_children">
			<div class="nav_item_inner _item_inner">
				<a class="js-nav-link js--link nav_link _link" href="#">
										<span class="nav_link_label _link_label">Training & Workforce</span>
				</a>
								<button class="js-swap js-nav-toggle js--toggle nav_toggle _toggle" data-swap-target=".js--item-3" data-swap-group="" aria-label="Training & Workforce" aria-haspopup="true" aria-expanded="false">
					<span class="nav_toggle_inner _toggle_inner">
						<span class="nav_toggle_icon _toggle_icon">
			<svg class="icon icon_undefined">
				<use href="/images/icons.svg#undefined" />
			</svg>
		</span>
					</span>
				</button>
							</div>
						<ul class="js-nav-children js--children nav_children _children" aria-label="Training & Workforce">
								<li class="js-nav-child-item js--child-item nav_child_item _child_item">
					<a class="js-nav-child-link js--child-link nav_child_link _child_link" href="#">
												<span class="nav_child_link_label _child_link_label">Nam quam nunc</span>
					</a>
				</li>
								<li class="js-nav-child-item js--child-item nav_child_item _child_item">
					<a class="js-nav-child-link js--child-link nav_child_link _child_link" href="#">
												<span class="nav_child_link_label _child_link_label">Blandit Vel</span>
					</a>
				</li>
								<li class="js-nav-child-item js--child-item nav_child_item _child_item">
					<a class="js-nav-child-link js--child-link nav_child_link _child_link" href="#">
												<span class="nav_child_link_label _child_link_label">Donec Vitae Sapien</span>
					</a>
				</li>
								<li class="js-nav-child-item js--child-item nav_child_item _child_item">
					<a class="js-nav-child-link js--child-link nav_child_link _child_link" href="#">
												<span class="nav_child_link_label _child_link_label">Ut Libero</span>
					</a>
				</li>
								<li class="js-nav-child-item js--child-item nav_child_item _child_item">
					<a class="js-nav-child-link js--child-link nav_child_link _child_link" href="#">
												<span class="nav_child_link_label _child_link_label">Venenatis Faucibus</span>
					</a>
				</li>
								<li class="js-nav-child-item js--child-item nav_child_item _child_item">
					<a class="js-nav-child-link js--child-link nav_child_link _child_link" href="#">
												<span class="nav_child_link_label _child_link_label">Nullam Quis Ante</span>
					</a>
				</li>
								<li class="js-nav-child-item js--child-item nav_child_item _child_item">
					<a class="js-nav-child-link js--child-link nav_child_link _child_link" href="#">
												<span class="nav_child_link_label _child_link_label">Orci Eget Eros Faucibus Tincidunt Maecenas Tempus Tellus Eget Condimentum</span>
					</a>
				</li>
								<li class="js-nav-child-item js--child-item nav_child_item _child_item">
					<a class="js-nav-child-link js--child-link nav_child_link _child_link" href="#">
												<span class="nav_child_link_label _child_link_label">Sed Fringilla Mauris Sit</span>
					</a>
				</li>
								<li class="js-nav-child-item js--child-item nav_child_item _child_item">
					<a class="js-nav-child-link js--child-link nav_child_link _child_link" href="#">
												<span class="nav_child_link_label _child_link_label">Amet Nibh</span>
					</a>
				</li>
								<li class="js-nav-child-item js--child-item nav_child_item _child_item">
					<a class="js-nav-child-link js--child-link nav_child_link _child_link" href="#">
												<span class="nav_child_link_label _child_link_label">Donec Sodales Sagittis</span>
					</a>
				</li>
							</ul>
					</li>
				<li class="js-nav-item js--item js--item-4 nav_item _item has_children">
			<div class="nav_item_inner _item_inner">
				<a class="js-nav-link js--link nav_link _link" href="#">
										<span class="nav_link_label _link_label">Paying for Tyler</span>
				</a>
								<button class="js-swap js-nav-toggle js--toggle nav_toggle _toggle" data-swap-target=".js--item-4" data-swap-group="" aria-label="Paying for Tyler" aria-haspopup="true" aria-expanded="false">
					<span class="nav_toggle_inner _toggle_inner">
						<span class="nav_toggle_icon _toggle_icon">
			<svg class="icon icon_undefined">
				<use href="/images/icons.svg#undefined" />
			</svg>
		</span>
					</span>
				</button>
							</div>
						<ul class="js-nav-children js--children nav_children _children" aria-label="Paying for Tyler">
								<li class="js-nav-child-item js--child-item nav_child_item _child_item">
					<a class="js-nav-child-link js--child-link nav_child_link _child_link" href="#">
												<span class="nav_child_link_label _child_link_label">Aliquam Lorem Ante</span>
					</a>
				</li>
								<li class="js-nav-child-item js--child-item nav_child_item _child_item">
					<a class="js-nav-child-link js--child-link nav_child_link _child_link" href="#">
												<span class="nav_child_link_label _child_link_label">Quisque Rutrum</span>
					</a>
				</li>
								<li class="js-nav-child-item js--child-item nav_child_item _child_item">
					<a class="js-nav-child-link js--child-link nav_child_link _child_link" href="#">
												<span class="nav_child_link_label _child_link_label">Aeneanimperdiet</span>
					</a>
				</li>
								<li class="js-nav-child-item js--child-item nav_child_item _child_item">
					<a class="js-nav-child-link js--child-link nav_child_link _child_link" href="#">
												<span class="nav_child_link_label _child_link_label">Tellus Eget Condimentum</span>
					</a>
				</li>
								<li class="js-nav-child-item js--child-item nav_child_item _child_item">
					<a class="js-nav-child-link js--child-link nav_child_link _child_link" href="#">
												<span class="nav_child_link_label _child_link_label">Duis Leo</span>
					</a>
				</li>
							</ul>
					</li>
				<li class="js-nav-item js--item js--item-5 nav_item _item has_children">
			<div class="nav_item_inner _item_inner">
				<a class="js-nav-link js--link nav_link _link" href="#">
										<span class="nav_link_label _link_label">Services</span>
				</a>
								<button class="js-swap js-nav-toggle js--toggle nav_toggle _toggle" data-swap-target=".js--item-5" data-swap-group="" aria-label="Services" aria-haspopup="true" aria-expanded="false">
					<span class="nav_toggle_inner _toggle_inner">
						<span class="nav_toggle_icon _toggle_icon">
			<svg class="icon icon_undefined">
				<use href="/images/icons.svg#undefined" />
			</svg>
		</span>
					</span>
				</button>
							</div>
						<ul class="js-nav-children js--children nav_children _children" aria-label="Services">
								<li class="js-nav-child-item js--child-item nav_child_item _child_item">
					<a class="js-nav-child-link js--child-link nav_child_link _child_link" href="#">
												<span class="nav_child_link_label _child_link_label">Aenean Vulputate Eleifend Tellus</span>
					</a>
				</li>
								<li class="js-nav-child-item js--child-item nav_child_item _child_item">
					<a class="js-nav-child-link js--child-link nav_child_link _child_link" href="#">
												<span class="nav_child_link_label _child_link_label">Nascetur</span>
					</a>
				</li>
								<li class="js-nav-child-item js--child-item nav_child_item _child_item">
					<a class="js-nav-child-link js--child-link nav_child_link _child_link" href="#">
												<span class="nav_child_link_label _child_link_label">Ridiculus Mus</span>
					</a>
				</li>
								<li class="js-nav-child-item js--child-item nav_child_item _child_item">
					<a class="js-nav-child-link js--child-link nav_child_link _child_link" href="#">
												<span class="nav_child_link_label _child_link_label">Pellentesque Eu</span>
					</a>
				</li>
								<li class="js-nav-child-item js--child-item nav_child_item _child_item">
					<a class="js-nav-child-link js--child-link nav_child_link _child_link" href="#">
												<span class="nav_child_link_label _child_link_label">Vivamus Elementum Semper</span>
					</a>
				</li>
								<li class="js-nav-child-item js--child-item nav_child_item _child_item">
					<a class="js-nav-child-link js--child-link nav_child_link _child_link" href="#">
												<span class="nav_child_link_label _child_link_label">Aenean Vulputate</span>
					</a>
				</li>
								<li class="js-nav-child-item js--child-item nav_child_item _child_item">
					<a class="js-nav-child-link js--child-link nav_child_link _child_link" href="#">
												<span class="nav_child_link_label _child_link_label">Aenean Leo Ligula</span>
					</a>
				</li>
								<li class="js-nav-child-item js--child-item nav_child_item _child_item">
					<a class="js-nav-child-link js--child-link nav_child_link _child_link" href="#">
												<span class="nav_child_link_label _child_link_label">Semper Libero</span>
					</a>
				</li>
							</ul>
					</li>
			</ul>
</nav>

