



<div class="js-sub-nav-group sub_nav_group">
	<button class="js-sub_nav-toggle js-swap sub_nav_toggle "   data-swap-target=".js-sub-nav-group"  >
	<span class="sub_nav_toggle_inner_default sub_nav_toggle_inner">
		<span class="sub_nav_toggle_label_default sub_nav_toggle_label">Explore This Section</span>
					<span class="sub_nav_toggle_icon_default sub_nav_toggle_icon" aria-hidden="true">
				<span class="sub_nav_toggle_icon_inner_default sub_nav_toggle_icon_inner">
					<span class="sub_nav_toggle_icon_space">&#xfeff;</span>
					
			<svg class="icon icon_plus">
				<use href="/images/icons.svg#plus" />
			</svg>
		
				</span>
			</span>
			</span>
			<span class="sub_nav_toggle_inner_active sub_nav_toggle_inner">
			<span class="sub_nav_toggle_label_active sub_nav_toggle_label">Close</span>
							<span class="sub_nav_toggle_icon_active sub_nav_toggle_icon" aria-hidden="true">
					<span class="sub_nav_toggle_icon_inner_active sub_nav_toggle_icon_inner">
						<span class="sub_nav_toggle_icon_space">&#xfeff;</span>
						
			<svg class="icon icon_minus">
				<use href="/images/icons.svg#minus" />
			</svg>
		
					</span>
				</span>
					</span>
	</button>

	<nav class="js-sub-nav sub_nav" aria-labelledby="sub_nav_title">
		<div class="sub_nav_header">
			<h2 class="sub_nav_title" id="sub_nav_title">Sub Nav Title</h2>
		</div>
		<div class="js-sub-nav-body sub_nav_body">
			<div class="js-sub-nav-body-inner sub_nav_body_inner">
				<ul class="js-sub-nav-list sub_nav_list" aria-labelledby="sub_nav_title">
											<li class="sub_nav_item">
							<a class="sub_nav_link" href="#">
																<span class="sub_nav_link_label">History</span>
							</a>
													</li>
											<li class="sub_nav_item">
							<a class="sub_nav_link" href="#">
																<span class="sub_nav_link_label">Leadership</span>
							</a>
													</li>
											<li class="sub_nav_item">
							<a class="sub_nav_link" href="#">
																<span class="sub_nav_link_label">Facts & Stats</span>
							</a>
													</li>
											<li class="sub_nav_item">
							<a class="sub_nav_link" href="#">
																<span class="sub_nav_link_label">Job Opportunities</span>
							</a>
													</li>
											<li class="sub_nav_item">
							<a class="sub_nav_link" href="#">
																<span class="sub_nav_link_label">Athletics</span>
							</a>
													</li>
											<li class="sub_nav_item">
							<a class="sub_nav_link" href="#">
																<span class="sub_nav_link_label">Transforming Hearts & Minds</span>
							</a>
													</li>
											<li class="sub_nav_item">
							<a class="sub_nav_link" href="#">
																<span class="sub_nav_link_label">Academic Goals</span>
							</a>
													</li>
											<li class="sub_nav_item">
							<a class="sub_nav_link" href="#">
																<span class="sub_nav_link_label">A Committed, Co-Educational University</span>
							</a>
													</li>
											<li class="sub_nav_item">
							<a class="sub_nav_link" href="#">
																<span class="sub_nav_link_label">International Student Experience</span>
							</a>
													</li>
											<li class="sub_nav_item">
							<a class="sub_nav_link" href="#">
																<span class="sub_nav_link_label">Multicultural Student Engagement</span>
							</a>
													</li>
											<li class="sub_nav_item">
							<a class="sub_nav_link" href="#">
																<span class="sub_nav_link_label">Counseling & Wellness</span>
							</a>
													</li>
									</ul>
			</div>
		</div>
	</nav>
</div>

