

<div class="entity_meta" id="meta" data-type="entity" data-category="">
	<div class="fs-row">
		<div class="fs-cell">
			<div class="entity_meta_inner">
				<div class="contact_header">
	<div class="contact_header_group">
		<h2 class="contact_header_title">Student Activities</h2>
		<p class="contact_header_caption">Chester  & Midlothian Campus</p>
	</div>
	<div class="contact_header_group">
					<figure class="contact_header_figure" aria-hidden="true">
				<span class="lazy_image_wrapper contact_header_image_wrapper">
	<img class="js-lazy js-lazyload contact_header_image"  data-sizes="auto"  src="/images/placeholder.png" data-src="https://images.fastspot.com/false/300x300/1"  data-srcset="//images.fastspot.com/jtcc/300x300/1 300w, //images.fastspot.com/jtcc/500x500/1 500w, //images.fastspot.com/jtcc/740x740/1 740w"  alt="">
</span>
<noscript>
	<img class="contact_header_image" src="https://images.fastspot.com/false/740x740/1"  srcset="//images.fastspot.com/jtcc/740x740/1 740w, //images.fastspot.com/jtcc/500x500/1 500w, //images.fastspot.com/jtcc/300x300/1 300w" sizes="100vw"  alt=""  itemprop="image" >
</noscript>
			</figure>
			</div>
</div>

				<!-- Contact Details -->
<div class="contact_details_wrapper">
			<h3 class="contact_details_title">Chester Campus</h3>
		<div class="contact_details">
					<div class="contact_detail">
				<div class="contact_detail_label">Contact</div>
									<div class="contact_detail_item">
						<a class="contact_detail_info" itemprop="telephone" href="tel:8047964000">
							<span class="contact_detail_info_icon">
			<svg class="icon icon_phone">
				<use href="/images/icons.svg#phone" />
			</svg>
		</span>
							<span class="contact_detail_info_label">804-796-4000</span>
						</a>
					</div>
													<div class="contact_detail_item">
						<a class="contact_detail_info" href="mailto:studentactivities@jtcc.edu" itemprop="email">
							<span class="contact_detail_info_icon">
			<svg class="icon icon_mail">
				<use href="/images/icons.svg#mail" />
			</svg>
		</span>
							<span class="contact_detail_info_label">studentactivities@jtcc.edu</span>
						</a>
					</div>
							</div>
							<div class="contact_detail">
				<div class="contact_detail_label">Location</div>
				<div class="contact_detail_item">
					<div class="contact_detail_info" itemprop="address">13101 Jefferson Davis Highway<br>Chester, Virginia 23831-5316</div>
				</div>
			</div>
									<div class="contact_detail">
				<div class="contact_detail_label">Hours</div>
									<div class="contact_detail_item">
						<div class="contact_detail_hint">Monday – Friday</div>
						<div class="contact_detail_info">9:00 am – 7:00 pm</div>
					</div>
									<div class="contact_detail_item">
						<div class="contact_detail_hint">Saturday</div>
						<div class="contact_detail_info">11:00 am – 2:00 am</div>
					</div>
							</div>
							<div class="contact_detail">
				<div class="contact_detail_label">Social Media</div>
				<ul class="contact_socials" aria-label="Social Links for ">
											<li class="contact_social">
							<a class="contact_social_link" href="#" aria-label=" Facebook" itemprop="sameAs">
								<span class="contact_social_link_label">Facebook</span>
								<span class="contact_social_link_icon">
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		</span>
							</a>
						</li>
											<li class="contact_social">
							<a class="contact_social_link" href="#" aria-label=" Twitter" itemprop="sameAs">
								<span class="contact_social_link_label">Twitter</span>
								<span class="contact_social_link_icon">
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		</span>
							</a>
						</li>
									</ul>
			</div>
			</div>
	<!-- END: Contact Details -->
</div>

				<!-- Contact Details -->
<div class="contact_details_wrapper">
			<h3 class="contact_details_title">Midlothian Campus</h3>
		<div class="contact_details">
					<div class="contact_detail">
				<div class="contact_detail_label">Contact</div>
									<div class="contact_detail_item">
						<a class="contact_detail_info" itemprop="telephone" href="tel:8047964000">
							<span class="contact_detail_info_icon">
			<svg class="icon icon_phone">
				<use href="/images/icons.svg#phone" />
			</svg>
		</span>
							<span class="contact_detail_info_label">804-796-4000</span>
						</a>
					</div>
													<div class="contact_detail_item">
						<a class="contact_detail_info" href="mailto:studentactivities@jtcc.edu" itemprop="email">
							<span class="contact_detail_info_icon">
			<svg class="icon icon_mail">
				<use href="/images/icons.svg#mail" />
			</svg>
		</span>
							<span class="contact_detail_info_label">studentactivities@jtcc.edu</span>
						</a>
					</div>
							</div>
							<div class="contact_detail">
				<div class="contact_detail_label">Location</div>
				<div class="contact_detail_item">
					<div class="contact_detail_info" itemprop="address">T Building, Room 100</div>
				</div>
			</div>
									<div class="contact_detail">
				<div class="contact_detail_label">Hours</div>
									<div class="contact_detail_item">
						<div class="contact_detail_hint">Monday – Friday</div>
						<div class="contact_detail_info">9:00 am – 7:00 pm</div>
					</div>
							</div>
					</div>
	<!-- END: Contact Details -->
</div>
			</div>
		</div>
	</div>
</div>

