



<div class="meta_info">
	<script type="application/ld+json">
		{
			"@context": "http://schema.org",
			"@type": "",
			"name": "",
			"logo": "///images/logo-schema.png",
			"address": {
				"@type": "PostalAddress",
				"streetAddress": "800 Charter Colony Parkway",
				"addressLocality": "Midlothian",
				"addressRegion": "Virginia",
				"postalCode": "23114-4383"
			},
				"telephone": "804-796-4000",
				"url": "//dev.jtcc.edu",
					"sameAs": [
							"//www.twitter.com"
				,
											"//www.facebook.com"
				,
											"//www.instagram.com"
				,
											"//www.linkedin.com"
				,
											"//www.youtube.com"
										]
				}
	</script>
			<a class="meta_info_link" href="#">
			<span class="meta_info_link_label">Midlothian Campus</span>
			<span class="meta_info_link_icon">
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		</span>
		</a>
		<div class="meta_info_details">
		<div class="meta_info_detail meta_info_detail_address">
			<span class="meta_info_detail_icon">
			<svg class="icon icon_place">
				<use href="/images/icons.svg#place" />
			</svg>
		</span>
			<a class="meta_info_detail_label meta_info_detail_link" href="//www.google.com/maps/place/?q=place_id:" target="_blank" rel="noopener">
				<span class="meta_info_address_street">800 Charter Colony Parkway,</span>
				<span class="meta_info_address_group">
					<span class="meta_info_address_city">Midlothian,</span>
					<span class="meta_info_address_state">Virginia</span>
					<span class="meta_info_address_zip">23114-4383</span>
				</span>
			</a>
		</div>
							<div class="meta_info_detail meta_info_detail_phone">
				<span class="meta_info_detail_icon">
			<svg class="icon icon_phone">
				<use href="/images/icons.svg#phone" />
			</svg>
		</span>
				<a class="meta_info_detail_label meta_info_detail_link" href="tel:8047964000">
					<span class="meta_info_detail_label_hint">Phone</span>
					804-796-4000</a>
			</div>
					</div>
</div>

