



<a href="#" class="button_secondary_link" >
	<span class="button_secondary_link_inner">
		<span class="button_secondary_link_label">Dakota Olive Programming</span>
					<span class="button_secondary_link_icon" aria-hidden="true">
				<span class="button_secondary_link_icon_inner">
					<span class="button_secondary_link_icon_space">&#xfeff;</span>
					
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		
				</span>
			</span>
			</span>
</a>

