

<div class="event_list">
	<div class="fs-row">
		<div class="fs-cell">
			<div class="event_list_inner">
				<ul class="event_list_items" id="item_list" aria-label="">
										<li class="event_list_item">
						<!-- Event Item -->
<div class="event_item">
			<figure class="event_figure">
							<a class="event_figure_link" href="page-event-detail.html" aria-label="Read more about In Enim Justo Rhoncus Ut" tabindex="-1">
								<span class="lazy_image_wrapper event_image_wrapper">
	<img class="js-lazy js-lazyload event_image"  data-sizes="auto"  src="/images/placeholder.png" data-src="https://images.fastspot.com/jtcc/300x200/1"  data-srcset="//images.fastspot.com/jtcc/300x200/1 300w, //images.fastspot.com/jtcc/500x334/1 500w, //images.fastspot.com/jtcc/740x494/1 740w, //images.fastspot.com/jtcc/980x654/1 980w"  alt="">
</span>
<noscript>
	<img class="event_image" src="https://images.fastspot.com/jtcc/980x654/1"  srcset="//images.fastspot.com/jtcc/980x654/1 980w, //images.fastspot.com/jtcc/740x494/1 740w, //images.fastspot.com/jtcc/500x334/1 500w, //images.fastspot.com/jtcc/300x200/1 300w" sizes="100vw"  alt="" >
</noscript>
								</a>
					</figure>
		<div class="event_wrapper">
		<div class="event_header">
			<h2 class="event_title">
									

<a href="page-event-detail.html" class="event_title_link" >
	<span class="event_title_link_inner">
		<span class="event_title_link_label">In Enim Justo Rhoncus Ut</span>
			</span>
</a>
							</h2>
			<div class="event_time_wrapper">
				<time class="event_time" datetime="2017-05-31 17:00:00">
					<span class="event_time_start">May 31</span>
											<span class="event_time_end">
							-
							Jun 13</span>
									</time>
			</div>
		</div>
		<div class="event_body">
							<div class="event_description">
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus.</p>
				</div>
						<!-- Event Details -->
<div class="event_details">
	<div class="event_detail">
		<span class="event_detail_icon">
			<svg class="icon icon_clock">
				<use href="/images/icons.svg#clock" />
			</svg>
		</span>
		<span class="event_detail_hint">Time:</span>
		<span class="event_detail_label">
			<span class="event_detail_label_date">May 31</span>
			5:00 PM - 7:00 PM
							–
				<span class="event_detail_label_date">Jun 13</span>
				5:00 PM - 7:00 PM
					</span>
	</div>
			<div class="event_detail">
			<span class="event_detail_icon">
			<svg class="icon icon_place">
				<use href="/images/icons.svg#place" />
			</svg>
		</span>
			<span class="event_detail_hint">Location:</span>
			<span class="event_detail_label">Fastspot, 2980 Long Name of Road Rd. Baltimore, MD 21218</span>
		</div>
				<div class="event_detail event_detail_category">
			<span class="event_detail_icon">
			<svg class="icon icon_label">
				<use href="/images/icons.svg#label" />
			</svg>
		</span>
			<span class="event_detail_hint">Categories:</span>
			<ul class="event_detail_list" aria-label="Categories">
									<li class="event_detail_item">
						<a class="event_detail_link" href="page-event-category.html">Category One</a>
					</li>
							</ul>
		</div>
	</div>
<!-- END: Event Details -->
		</div>
	</div>
</div>
<!-- END: Event Item -->
					</li>
										<li class="event_list_item">
						<!-- Event Item -->
<div class="event_item">
			<figure class="event_figure">
							<a class="event_figure_link" href="page-event-detail.html" aria-label="Read more about Aenean commodo ligula eget dolor" tabindex="-1">
								<span class="lazy_image_wrapper event_image_wrapper">
	<img class="js-lazy js-lazyload event_image"  data-sizes="auto"  src="/images/placeholder.png" data-src="https://images.fastspot.com/jtcc/300x200/1"  data-srcset="//images.fastspot.com/jtcc/300x200/1 300w, //images.fastspot.com/jtcc/500x334/1 500w, //images.fastspot.com/jtcc/740x494/1 740w, //images.fastspot.com/jtcc/980x654/1 980w"  alt="">
</span>
<noscript>
	<img class="event_image" src="https://images.fastspot.com/jtcc/980x654/1"  srcset="//images.fastspot.com/jtcc/980x654/1 980w, //images.fastspot.com/jtcc/740x494/1 740w, //images.fastspot.com/jtcc/500x334/1 500w, //images.fastspot.com/jtcc/300x200/1 300w" sizes="100vw"  alt="" >
</noscript>
								</a>
					</figure>
		<div class="event_wrapper">
		<div class="event_header">
			<h2 class="event_title">
									

<a href="page-event-detail.html" class="event_title_link" >
	<span class="event_title_link_inner">
		<span class="event_title_link_label">Aenean commodo ligula eget dolor</span>
			</span>
</a>
							</h2>
			<div class="event_time_wrapper">
				<time class="event_time" datetime="2017-05-31 17:00:00">
					<span class="event_time_start">May 31</span>
											<span class="event_time_end">
							-
							Jun 13</span>
									</time>
			</div>
		</div>
		<div class="event_body">
							<div class="event_description">
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus.</p>
				</div>
						<!-- Event Details -->
<div class="event_details">
	<div class="event_detail">
		<span class="event_detail_icon">
			<svg class="icon icon_clock">
				<use href="/images/icons.svg#clock" />
			</svg>
		</span>
		<span class="event_detail_hint">Time:</span>
		<span class="event_detail_label">
			<span class="event_detail_label_date">May 31</span>
			5:00 PM - 7:00 PM
							–
				<span class="event_detail_label_date">Jun 13</span>
				5:00 PM - 7:00 PM
					</span>
	</div>
			<div class="event_detail">
			<span class="event_detail_icon">
			<svg class="icon icon_place">
				<use href="/images/icons.svg#place" />
			</svg>
		</span>
			<span class="event_detail_hint">Location:</span>
			<span class="event_detail_label">Location</span>
		</div>
				<div class="event_detail event_detail_category">
			<span class="event_detail_icon">
			<svg class="icon icon_label">
				<use href="/images/icons.svg#label" />
			</svg>
		</span>
			<span class="event_detail_hint">Categories:</span>
			<ul class="event_detail_list" aria-label="Categories">
									<li class="event_detail_item">
						<a class="event_detail_link" href="page-event-category.html">Category One</a>
					</li>
							</ul>
		</div>
	</div>
<!-- END: Event Details -->
		</div>
	</div>
</div>
<!-- END: Event Item -->
					</li>
										<li class="event_list_item">
						<!-- Event Item -->
<div class="event_item">
			<figure class="event_figure">
							<a class="event_figure_link" href="page-event-detail.html" aria-label="Read more about In Enim Justo Rhoncus Ut" tabindex="-1">
								<span class="lazy_image_wrapper event_image_wrapper">
	<img class="js-lazy js-lazyload event_image"  data-sizes="auto"  src="/images/placeholder.png" data-src="https://images.fastspot.com/jtcc/300x200/2"  data-srcset="//images.fastspot.com/jtcc/300x200/2 300w, //images.fastspot.com/jtcc/500x334/2 500w, //images.fastspot.com/jtcc/740x494/2 740w, //images.fastspot.com/jtcc/980x654/2 980w"  alt="">
</span>
<noscript>
	<img class="event_image" src="https://images.fastspot.com/jtcc/980x654/2"  srcset="//images.fastspot.com/jtcc/980x654/2 980w, //images.fastspot.com/jtcc/740x494/2 740w, //images.fastspot.com/jtcc/500x334/2 500w, //images.fastspot.com/jtcc/300x200/2 300w" sizes="100vw"  alt="" >
</noscript>
								</a>
					</figure>
		<div class="event_wrapper">
		<div class="event_header">
			<h2 class="event_title">
									

<a href="page-event-detail.html" class="event_title_link" >
	<span class="event_title_link_inner">
		<span class="event_title_link_label">In Enim Justo Rhoncus Ut</span>
			</span>
</a>
							</h2>
			<div class="event_time_wrapper">
				<time class="event_time" datetime="2017-05-31 17:00:00">
					<span class="event_time_start">May 31</span>
											<span class="event_time_end">
							-
							Jun 13</span>
									</time>
			</div>
		</div>
		<div class="event_body">
							<div class="event_description">
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus.</p>
				</div>
						<!-- Event Details -->
<div class="event_details">
	<div class="event_detail">
		<span class="event_detail_icon">
			<svg class="icon icon_clock">
				<use href="/images/icons.svg#clock" />
			</svg>
		</span>
		<span class="event_detail_hint">Time:</span>
		<span class="event_detail_label">
			<span class="event_detail_label_date">May 31</span>
			5:00 PM - 7:00 PM
							–
				<span class="event_detail_label_date">Jun 13</span>
				5:00 PM - 7:00 PM
					</span>
	</div>
			<div class="event_detail">
			<span class="event_detail_icon">
			<svg class="icon icon_place">
				<use href="/images/icons.svg#place" />
			</svg>
		</span>
			<span class="event_detail_hint">Location:</span>
			<span class="event_detail_label">Location</span>
		</div>
				<div class="event_detail event_detail_category">
			<span class="event_detail_icon">
			<svg class="icon icon_label">
				<use href="/images/icons.svg#label" />
			</svg>
		</span>
			<span class="event_detail_hint">Categories:</span>
			<ul class="event_detail_list" aria-label="Categories">
									<li class="event_detail_item">
						<a class="event_detail_link" href="page-event-category.html">Category One</a>
					</li>
							</ul>
		</div>
	</div>
<!-- END: Event Details -->
		</div>
	</div>
</div>
<!-- END: Event Item -->
					</li>
										<li class="event_list_item">
						<!-- Event Item -->
<div class="event_item">
			<figure class="event_figure">
							<a class="event_figure_link" href="page-event-detail.html" aria-label="Read more about Aenean commodo ligula eget dolor" tabindex="-1">
								<span class="lazy_image_wrapper event_image_wrapper">
	<img class="js-lazy js-lazyload event_image"  data-sizes="auto"  src="/images/placeholder.png" data-src="https://images.fastspot.com/jtcc/300x200/3"  data-srcset="//images.fastspot.com/jtcc/300x200/3 300w, //images.fastspot.com/jtcc/500x334/3 500w, //images.fastspot.com/jtcc/740x494/3 740w, //images.fastspot.com/jtcc/980x654/3 980w"  alt="">
</span>
<noscript>
	<img class="event_image" src="https://images.fastspot.com/jtcc/980x654/3"  srcset="//images.fastspot.com/jtcc/980x654/3 980w, //images.fastspot.com/jtcc/740x494/3 740w, //images.fastspot.com/jtcc/500x334/3 500w, //images.fastspot.com/jtcc/300x200/3 300w" sizes="100vw"  alt="" >
</noscript>
								</a>
					</figure>
		<div class="event_wrapper">
		<div class="event_header">
			<h2 class="event_title">
									

<a href="page-event-detail.html" class="event_title_link" >
	<span class="event_title_link_inner">
		<span class="event_title_link_label">Aenean commodo ligula eget dolor</span>
			</span>
</a>
							</h2>
			<div class="event_time_wrapper">
				<time class="event_time" datetime="2017-06-13 17:00:00">
					<span class="event_time_start">Jun 13</span>
											<span class="event_time_end">
							-
							Jun 13</span>
									</time>
			</div>
		</div>
		<div class="event_body">
							<div class="event_description">
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus.</p>
				</div>
						<!-- Event Details -->
<div class="event_details">
	<div class="event_detail">
		<span class="event_detail_icon">
			<svg class="icon icon_clock">
				<use href="/images/icons.svg#clock" />
			</svg>
		</span>
		<span class="event_detail_hint">Time:</span>
		<span class="event_detail_label">
			<span class="event_detail_label_date">Jun 13</span>
			5:00 PM - 7:00 PM
							–
				<span class="event_detail_label_date">Jun 13</span>
				5:00 PM - 7:00 PM
					</span>
	</div>
			<div class="event_detail">
			<span class="event_detail_icon">
			<svg class="icon icon_place">
				<use href="/images/icons.svg#place" />
			</svg>
		</span>
			<span class="event_detail_hint">Location:</span>
			<span class="event_detail_label">Location</span>
		</div>
				<div class="event_detail event_detail_category">
			<span class="event_detail_icon">
			<svg class="icon icon_label">
				<use href="/images/icons.svg#label" />
			</svg>
		</span>
			<span class="event_detail_hint">Categories:</span>
			<ul class="event_detail_list" aria-label="Categories">
									<li class="event_detail_item">
						<a class="event_detail_link" href="page-event-category.html">Category One</a>
					</li>
							</ul>
		</div>
	</div>
<!-- END: Event Details -->
		</div>
	</div>
</div>
<!-- END: Event Item -->
					</li>
										<li class="event_list_item">
						<!-- Event Item -->
<div class="event_item">
			<figure class="event_figure">
							<a class="event_figure_link" href="page-event-detail.html" aria-label="Read more about In Enim Justo Rhoncus Ut" tabindex="-1">
								<span class="lazy_image_wrapper event_image_wrapper">
	<img class="js-lazy js-lazyload event_image"  data-sizes="auto"  src="/images/placeholder.png" data-src="https://images.fastspot.com/jtcc/300x200/3"  data-srcset="//images.fastspot.com/jtcc/300x200/3 300w, //images.fastspot.com/jtcc/500x334/3 500w, //images.fastspot.com/jtcc/740x494/3 740w, //images.fastspot.com/jtcc/980x654/3 980w"  alt="">
</span>
<noscript>
	<img class="event_image" src="https://images.fastspot.com/jtcc/980x654/3"  srcset="//images.fastspot.com/jtcc/980x654/3 980w, //images.fastspot.com/jtcc/740x494/3 740w, //images.fastspot.com/jtcc/500x334/3 500w, //images.fastspot.com/jtcc/300x200/3 300w" sizes="100vw"  alt="" >
</noscript>
								</a>
					</figure>
		<div class="event_wrapper">
		<div class="event_header">
			<h2 class="event_title">
									

<a href="page-event-detail.html" class="event_title_link" >
	<span class="event_title_link_inner">
		<span class="event_title_link_label">In Enim Justo Rhoncus Ut</span>
			</span>
</a>
							</h2>
			<div class="event_time_wrapper">
				<time class="event_time" datetime="2017-06-22 17:00:00">
					<span class="event_time_start">Jun 22</span>
											<span class="event_time_end">
							-
							Jun 13</span>
									</time>
			</div>
		</div>
		<div class="event_body">
							<div class="event_description">
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus.</p>
				</div>
						<!-- Event Details -->
<div class="event_details">
	<div class="event_detail">
		<span class="event_detail_icon">
			<svg class="icon icon_clock">
				<use href="/images/icons.svg#clock" />
			</svg>
		</span>
		<span class="event_detail_hint">Time:</span>
		<span class="event_detail_label">
			<span class="event_detail_label_date">Jun 22</span>
			5:00 PM - 7:00 PM
							–
				<span class="event_detail_label_date">Jun 13</span>
				5:00 PM - 7:00 PM
					</span>
	</div>
			<div class="event_detail">
			<span class="event_detail_icon">
			<svg class="icon icon_place">
				<use href="/images/icons.svg#place" />
			</svg>
		</span>
			<span class="event_detail_hint">Location:</span>
			<span class="event_detail_label">Location</span>
		</div>
				<div class="event_detail event_detail_category">
			<span class="event_detail_icon">
			<svg class="icon icon_label">
				<use href="/images/icons.svg#label" />
			</svg>
		</span>
			<span class="event_detail_hint">Categories:</span>
			<ul class="event_detail_list" aria-label="Categories">
									<li class="event_detail_item">
						<a class="event_detail_link" href="page-event-category.html">Category One</a>
					</li>
							</ul>
		</div>
	</div>
<!-- END: Event Details -->
		</div>
	</div>
</div>
<!-- END: Event Item -->
					</li>
										<li class="event_list_item">
						<!-- Event Item -->
<div class="event_item">
			<figure class="event_figure">
							<a class="event_figure_link" href="page-event-detail.html" aria-label="Read more about Aenean commodo ligula eget dolor" tabindex="-1">
								<span class="lazy_image_wrapper event_image_wrapper">
	<img class="js-lazy js-lazyload event_image"  data-sizes="auto"  src="/images/placeholder.png" data-src="https://images.fastspot.com/jtcc/300x200/4"  data-srcset="//images.fastspot.com/jtcc/300x200/4 300w, //images.fastspot.com/jtcc/500x334/4 500w, //images.fastspot.com/jtcc/740x494/4 740w, //images.fastspot.com/jtcc/980x654/4 980w"  alt="">
</span>
<noscript>
	<img class="event_image" src="https://images.fastspot.com/jtcc/980x654/4"  srcset="//images.fastspot.com/jtcc/980x654/4 980w, //images.fastspot.com/jtcc/740x494/4 740w, //images.fastspot.com/jtcc/500x334/4 500w, //images.fastspot.com/jtcc/300x200/4 300w" sizes="100vw"  alt="" >
</noscript>
								</a>
					</figure>
		<div class="event_wrapper">
		<div class="event_header">
			<h2 class="event_title">
									

<a href="page-event-detail.html" class="event_title_link" >
	<span class="event_title_link_inner">
		<span class="event_title_link_label">Aenean commodo ligula eget dolor</span>
			</span>
</a>
							</h2>
			<div class="event_time_wrapper">
				<time class="event_time" datetime="2017-06-23 17:00:00">
					<span class="event_time_start">Jun 23</span>
											<span class="event_time_end">
							-
							Jun 13</span>
									</time>
			</div>
		</div>
		<div class="event_body">
							<div class="event_description">
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus.</p>
				</div>
						<!-- Event Details -->
<div class="event_details">
	<div class="event_detail">
		<span class="event_detail_icon">
			<svg class="icon icon_clock">
				<use href="/images/icons.svg#clock" />
			</svg>
		</span>
		<span class="event_detail_hint">Time:</span>
		<span class="event_detail_label">
			<span class="event_detail_label_date">Jun 23</span>
			5:00 PM - 7:00 PM
							–
				<span class="event_detail_label_date">Jun 13</span>
				5:00 PM - 7:00 PM
					</span>
	</div>
			<div class="event_detail">
			<span class="event_detail_icon">
			<svg class="icon icon_place">
				<use href="/images/icons.svg#place" />
			</svg>
		</span>
			<span class="event_detail_hint">Location:</span>
			<span class="event_detail_label">Location</span>
		</div>
				<div class="event_detail event_detail_category">
			<span class="event_detail_icon">
			<svg class="icon icon_label">
				<use href="/images/icons.svg#label" />
			</svg>
		</span>
			<span class="event_detail_hint">Categories:</span>
			<ul class="event_detail_list" aria-label="Categories">
									<li class="event_detail_item">
						<a class="event_detail_link" href="page-event-category.html">Category One</a>
					</li>
							</ul>
		</div>
	</div>
<!-- END: Event Details -->
		</div>
	</div>
</div>
<!-- END: Event Item -->
					</li>
									</ul>
				<div class="pagination">
	<nav class="pagination_nav" aria-label="Template Pagination">
		<a class="pagination_arrow pagination_arrow_left pagination_arrow_disabled" href="#">
			<span class="pagination_arrow_icon">
			<svg class="icon icon_caret_left">
				<use href="/images/icons.svg#caret_left" />
			</svg>
		</span>
			<span class="pagination_arrow_label">Previous Page</span>
		</a>
		<a class="pagination_arrow pagination_arrow_right" href="#">
			<span class="pagination_arrow_label">Next Page</span>
			<span class="pagination_arrow_icon">
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		</span>
		</a>
	</nav>
	<form class="pagination_form" action="" method="get">
		<div class="pagination_form_inner">
			<label class="pagination_form_label" for="pagination_form_select">Page</label>
			<div class="pagination_form_select_wrapper">
				<select class="pagination_form_select" name="page" id="pagination_form_select" aria-label="Select Page Number">
											<option value="1">1</option>
											<option value="2">2</option>
											<option value="3">3</option>
											<option value="4">4</option>
											<option value="5">5</option>
											<option value="6">6</option>
											<option value="7">7</option>
											<option value="8">8</option>
											<option value="9">9</option>
											<option value="10">10</option>
											<option value="11">11</option>
											<option value="12">12</option>
											<option value="13">13</option>
											<option value="14">14</option>
											<option value="15">15</option>
											<option value="16">16</option>
											<option value="17">17</option>
											<option value="18">18</option>
											<option value="19">19</option>
											<option value="20">20</option>
											<option value="21">21</option>
											<option value="22">22</option>
											<option value="23">23</option>
											<option value="24">24</option>
											<option value="25">25</option>
											<option value="26">26</option>
											<option value="27">27</option>
											<option value="28">28</option>
											<option value="29">29</option>
											<option value="30">30</option>
											<option value="31">31</option>
											<option value="32">32</option>
											<option value="33">33</option>
											<option value="34">34</option>
											<option value="35">35</option>
											<option value="36">36</option>
											<option value="37">37</option>
											<option value="38">38</option>
											<option value="39">39</option>
											<option value="40">40</option>
											<option value="41">41</option>
											<option value="42">42</option>
											<option value="43">43</option>
											<option value="44">44</option>
											<option value="45">45</option>
											<option value="46">46</option>
											<option value="47">47</option>
											<option value="48">48</option>
											<option value="49">49</option>
											<option value="50">50</option>
									</select>
				<span class="pagination_form_select_icon">
			<svg class="icon icon_expand">
				<use href="/images/icons.svg#expand" />
			</svg>
		</span>
			</div>

			<span class="pagination_form_suffix">of
				50</span>
			<button class="pagination_form_button" type="submit" aria-label="View Page">
				<span class="pagination_form_button_label">Go</span>
				<span class="pagination_form_button_icon">
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		</span>
			</button>
		</div>
	</form>
</div>
			</div>
		</div>
	</div>
</div>
