



<div class="meta_info" id="meta_info">
	<script type="application/ld+json">
		{
			"@context": "http://schema.org",
			"@type": "",
			"name": "",
			"logo": "///images/logo-schema.png",
			"address": {
				"@type": "PostalAddress",
				"streetAddress": "",
				"addressLocality": "",
				"addressRegion": "",
				"postalCode": ""
			},
						"url": "//",
				}
	</script>
		<div class="meta_info_details">
		<div class="meta_info_detail meta_info_detail_address">
			<span class="meta_info_detail_icon">
			<svg class="icon icon_place">
				<use href="/images/icons.svg#place" />
			</svg>
		</span>
			<a class="meta_info_detail_label meta_info_detail_link" href="//www.google.com/maps/place/?q=place_id:" target="_blank" rel="noopener">
				<span class="meta_info_address_street">,</span>
				<span class="meta_info_address_group">
					<span class="meta_info_address_city">,</span>
					<span class="meta_info_address_state"></span>
					<span class="meta_info_address_zip"></span>
				</span>
			</a>
		</div>
							</div>
</div>

