

<!-- Contact Details -->
<div class="contact_details_wrapper">
			<h3 class="contact_details_title">Midlothian Campus</h3>
		<div class="contact_details">
					<div class="contact_detail">
				<div class="contact_detail_label">Contact</div>
									<div class="contact_detail_item">
						<a class="contact_detail_info" itemprop="telephone" href="tel:8047964000">
							<span class="contact_detail_info_icon">
			<svg class="icon icon_phone">
				<use href="/images/icons.svg#phone" />
			</svg>
		</span>
							<span class="contact_detail_info_label">804-796-4000</span>
						</a>
					</div>
													<div class="contact_detail_item">
						<a class="contact_detail_info" href="mailto:studentactivities@jtcc.edu" itemprop="email">
							<span class="contact_detail_info_icon">
			<svg class="icon icon_mail">
				<use href="/images/icons.svg#mail" />
			</svg>
		</span>
							<span class="contact_detail_info_label">studentactivities@jtcc.edu</span>
						</a>
					</div>
							</div>
							<div class="contact_detail">
				<div class="contact_detail_label">Location</div>
				<div class="contact_detail_item">
					<div class="contact_detail_info" itemprop="address">T Building, Room 100</div>
				</div>
			</div>
									<div class="contact_detail">
				<div class="contact_detail_label">Hours</div>
									<div class="contact_detail_item">
						<div class="contact_detail_hint">Monday – Friday</div>
						<div class="contact_detail_info">9:00 am – 7:00 pm</div>
					</div>
							</div>
					</div>
	<!-- END: Contact Details -->
</div>

