

<div class="entity_meta" id="meta" data-type="entity" data-category="">
	<div class="fs-row">
		<div class="fs-cell">
			<div class="entity_meta_inner">
				<!-- Contact Details -->
<div class="contact_details">
			<div class="contact_detail">
			<div class="contact_detail_label">Contact</div>
							<div class="contact_detail_item">
					<div class="contact_detail_hint">mobile</div>
					<a class="contact_detail_info" itemprop="telephone" href="tel:4105551234">(410) 555-1234</a>
				</div>
							<div class="contact_detail_item">
					<div class="contact_detail_hint">office</div>
					<a class="contact_detail_info" itemprop="telephone" href="tel:4105551234">(410) 555-1234</a>
				</div>
										<div class="contact_detail_item">
					<div class="contact_detail_hint">Email Address</div>
					<a class="contact_detail_info" href="mailto:name@university.edu" itemprop="email">name@university.edu</a>
				</div>
					</div>
				<div class="contact_detail">
			<div class="contact_detail_label">Location</div>
			<div class="contact_detail_item">
				<div class="contact_detail_info" itemprop="address">Appleseed Library<br>Room 214</div>
			</div>
		</div>
					<div class="contact_detail">
			<div class="contact_detail_label">Office Hours</div>
							<div class="contact_detail_item">
					<div class="contact_detail_hint">Monday</div>
					<div class="contact_detail_info">9am - 5pm</div>
				</div>
							<div class="contact_detail_item">
					<div class="contact_detail_hint">Wednesday</div>
					<div class="contact_detail_info">11am-12pm</div>
				</div>
					</div>
				<div class="contact_detail">
			<div class="contact_detail_label">Social</div>
			<ul class="contact_socials" aria-label="Social Links for Full Name">
									<li class="contact_social">
						<a class="contact_social_link" href="#" aria-label="Full Name Linkedin" itemprop="sameAs">Linkedin
							,
													</a>
					</li>
									<li class="contact_social">
						<a class="contact_social_link" href="#" aria-label="Full Name Twitter" itemprop="sameAs">Twitter
							,
													</a>
					</li>
									<li class="contact_social">
						<a class="contact_social_link" href="#" aria-label="Full Name Facebook" itemprop="sameAs">Facebook
							,
													</a>
					</li>
									<li class="contact_social">
						<a class="contact_social_link" href="#" aria-label="Full Name Instagram" itemprop="sameAs">Instagram
													</a>
					</li>
							</ul>
		</div>
	</div>
<!-- END: Contact Details -->
			</div>
		</div>
	</div>
</div>
