

<div class="js-alert alert" id="alert" role="alert" data-time="2019-10-18 14:52:4" aria-labelledby="alert_title" tabindex="-1">
	<div class="fs-row">
		<div class="fs-cell">
			<div class="alert_inner">
				<div class="alert_header">
					<h2 class="alert_title" id="alert_title">
						<span class="alert_title_label">Title</span>
					</h2>
				</div>
				<div class="alert_body">
					<div class="alert_description typography">
						<p>Description.</p>
					</div>
				</div>
				<button class="js-alert-close alert_close">
					<span class="alert_close_inner">
						<span class="alert_close_icon" aria-hidden="true">
							<span class="alert_close_icon_inner">
			<svg class="icon icon_close">
				<use href="/images/icons.svg#close" />
			</svg>
		</span>
						</span>
						<span class="alert_close_label">Close site alert</span>
					</span>
				</button>
			</div>
		</div>
	</div>
</div>
