


		<br><br>

        <div style="background-color: #fff;">
            <h2 style="heading-h2 color: #000;">
                Pill: Dijon
            </h2>

			<br>

            <div>
                <div class="pill theme_">
	
</div>
            </div>
        </div>
    

		<br><br>

        <div style="background-color: #fff;">
            <h2 style="heading-h2 color: #000;">
                Pill: Career Program
            </h2>

			<br>

            <div>
                <div class="pill theme_dijon">
	Career Program
</div>
            </div>
        </div>
    

		<br><br>

        <div style="background-color: #fff;">
            <h2 style="heading-h2 color: #000;">
                Pill: Transfer Program
            </h2>

			<br>

            <div>
                <div class="pill theme_green_blue">
	Transfer Program
</div>
            </div>
        </div>
    
