

<!-- Event Item -->
<div class="event_item">
			<figure class="event_figure">
							<a class="event_figure_link" href="#" aria-label="Read more about In Enim Justo Rhoncus Ut" tabindex="-1">
								<span class="lazy_image_wrapper event_image_wrapper">
	<img class="js-lazy js-lazyload event_image"  data-sizes="auto"  src="/images/placeholder.png" data-src="https://images.fastspot.com/false/300x200/1"  data-srcset="//images.fastspot.com/jtcc/300x200/1 300w, //images.fastspot.com/jtcc/500x334/1 500w, //images.fastspot.com/jtcc/740x494/1 740w, //images.fastspot.com/jtcc/980x654/1 980w"  alt="">
</span>
<noscript>
	<img class="event_image" src="https://images.fastspot.com/false/980x654/1"  srcset="//images.fastspot.com/jtcc/980x654/1 980w, //images.fastspot.com/jtcc/740x494/1 740w, //images.fastspot.com/jtcc/500x334/1 500w, //images.fastspot.com/jtcc/300x200/1 300w" sizes="100vw"  alt="" >
</noscript>
								</a>
					</figure>
		<div class="event_wrapper">
		<div class="event_header">
			<h2 class="event_title">
									

<a href="#" class="event_title_link" >
	<span class="event_title_link_inner">
		<span class="event_title_link_label">In Enim Justo Rhoncus Ut</span>
			</span>
</a>
							</h2>
			<div class="event_time_wrapper">
				<time class="event_time" datetime="2017-05-31 17:00:00">
					<span class="event_time_start">May 31</span>
											<span class="event_time_end">
							-
							Jun 13</span>
									</time>
			</div>
		</div>
		<div class="event_body">
							<div class="event_description">
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus.</p>
				</div>
						<!-- Event Details -->
<div class="event_details">
	<div class="event_detail">
		<span class="event_detail_icon">
			<svg class="icon icon_clock">
				<use href="/images/icons.svg#clock" />
			</svg>
		</span>
		<span class="event_detail_hint">Time:</span>
		<span class="event_detail_label">
			<span class="event_detail_label_date">May 31</span>
			5:00 PM - 7:00 PM
							–
				<span class="event_detail_label_date">Jun 13</span>
				5:00 PM - 7:00 PM
					</span>
	</div>
			<div class="event_detail">
			<span class="event_detail_icon">
			<svg class="icon icon_place">
				<use href="/images/icons.svg#place" />
			</svg>
		</span>
			<span class="event_detail_hint">Location:</span>
			<span class="event_detail_label">Location</span>
		</div>
				<div class="event_detail event_detail_category">
			<span class="event_detail_icon">
			<svg class="icon icon_label">
				<use href="/images/icons.svg#label" />
			</svg>
		</span>
			<span class="event_detail_hint">Categories:</span>
			<ul class="event_detail_list" aria-label="Categories">
									<li class="event_detail_item">
						<a class="event_detail_link" href="page-event-category.html">Category 1</a>
					</li>
							</ul>
		</div>
	</div>
<!-- END: Event Details -->
		</div>
	</div>
</div>
<!-- END: Event Item -->

