

<!-- Contact Details -->
<div class="contact_details">
			<div class="contact_detail">
			<div class="contact_detail_label">Contact</div>
							<div class="contact_detail_item">
					<div class="contact_detail_hint">mobile</div>
					<a class="contact_detail_info" itemprop="telephone" href="tel:4105551234">(410) 555-1234</a>
				</div>
										<div class="contact_detail_item">
					<div class="contact_detail_hint">Email Address</div>
					<a class="contact_detail_info" href="mailto:name@university.edu" itemprop="email">name@university.edu</a>
				</div>
					</div>
				<div class="contact_detail">
			<div class="contact_detail_label">Location</div>
			<div class="contact_detail_item">
				<div class="contact_detail_info" itemprop="address">1234 Maple Bacon Ln.<br>Baltimore, MD 21211</div>
			</div>
		</div>
				</div>
<!-- END: Contact Details -->

