

<div class="js-site-search site_search site_search_header" id="site_search_header" role="search" itemscope itemtype="https://schema.org/WebSite" aria-label="Site Search">
	<meta itemprop="url" content="http://">
	<form class="site_search_form" action="/static-html/templates/page-search.html" itemprop="potentialAction" itemscope itemtype="http://schema.org/SearchAction">
		<meta itemprop="target" content="http:///static-html/templates/page-search.html?q={q}">
		<label class="js-site-search-label site_search_label" for="search_string__header">Search</label>
		<div class="site_search_field">
			<input class="js-site-search-input site_search_input" itemprop="query-input" type="search" id="search_string__header" name="q"  placeholder="Placeholder text"  required>
			<button class="site_search_button" type="submit" >
									<span class="site_search_button_label">Submit</span>
								<span class="site_search_button_icon">
			<svg class="icon icon_search">
				<use href="/images/icons.svg#search" />
			</svg>
		</span>
			</button>
		</div>
	</form>
</div>

