

<div class="page_header">
	<div class="page_header_inner">
					<div class="breadcrumb">
				<div class="fs-row">
					<div class="fs-cell">
						<div class="breadcrumb_inner">
							

<nav class="breadcrumb_nav" aria-labelledby="breadcrumb_nav_title">
	<div class="breadcrumb_nav_header">
		<h2 class="breadcrumb_nav_title" id="breadcrumb_nav_title">You are here:</h2>
	</div>
	<ol class="breadcrumb_list" aria-labelledby="breadcrumb_nav_title">
		<li class="breadcrumb_item breadcrumb_item_home">
			<a class="breadcrumb_pill breadcrumb_pill_link" href="page-home.html">
				<span class="breadcrumb_pill_inner">
											<span class="breadcrumb_pill_icon" aria-hidden="true">
			<svg class="icon icon_home">
				<use href="/images/icons.svg#home" />
			</svg>
		</span>
										<span class="breadcrumb_pill_label">Home</span>
				</span>
			</a>
							<span class="breadcrumb_divider" aria-hidden="true">
			<svg class="icon icon_angle_right">
				<use href="/images/icons.svg#angle_right" />
			</svg>
		</span>
					</li>
					<li class="breadcrumb_item">
				<a class="breadcrumb_pill breadcrumb_pill_link" href="#">
					<span class="breadcrumb_pill_inner">
						<span class="breadcrumb_pill_label">Navigation Level</span>
					</span>
				</a>
									<span class="breadcrumb_divider" aria-hidden="true">
			<svg class="icon icon_angle_right">
				<use href="/images/icons.svg#angle_right" />
			</svg>
		</span>
							</li>
					<li class="breadcrumb_item">
				<a class="breadcrumb_pill breadcrumb_pill_link" href="#">
					<span class="breadcrumb_pill_inner">
						<span class="breadcrumb_pill_label">Parent Level</span>
					</span>
				</a>
									<span class="breadcrumb_divider" aria-hidden="true">
			<svg class="icon icon_angle_right">
				<use href="/images/icons.svg#angle_right" />
			</svg>
		</span>
							</li>
				<li class="breadcrumb_item">
			<span class="breadcrumb_pill">
				<span class="breadcrumb_pill_inner">
					<span class="breadcrumb_pill_label"></span>
				</span>
			</span>
							<span class="breadcrumb_end" aria-hidden="true">
			<svg class="icon icon_angle_down">
				<use href="/images/icons.svg#angle_down" />
			</svg>
		</span>
					</li>
	</ol>
</nav>
						</div>
					</div>
				</div>
			</div>
		
							<div class="page_nav">
				<div class="fs-row">
					<div class="fs-cell">
						<div class="page_nav_inner">
							

<div class="js-sub-nav-group sub_nav_group">
	<button class="js-sub_nav-toggle js-swap sub_nav_toggle "   data-swap-target=".js-sub-nav-group"  >
	<span class="sub_nav_toggle_inner_default sub_nav_toggle_inner">
		<span class="sub_nav_toggle_label_default sub_nav_toggle_label">Explore This Section</span>
					<span class="sub_nav_toggle_icon_default sub_nav_toggle_icon" aria-hidden="true">
				<span class="sub_nav_toggle_icon_inner_default sub_nav_toggle_icon_inner">
					<span class="sub_nav_toggle_icon_space">&#xfeff;</span>
					
			<svg class="icon icon_plus">
				<use href="/images/icons.svg#plus" />
			</svg>
		
				</span>
			</span>
			</span>
			<span class="sub_nav_toggle_inner_active sub_nav_toggle_inner">
			<span class="sub_nav_toggle_label_active sub_nav_toggle_label">Close</span>
							<span class="sub_nav_toggle_icon_active sub_nav_toggle_icon" aria-hidden="true">
					<span class="sub_nav_toggle_icon_inner_active sub_nav_toggle_icon_inner">
						<span class="sub_nav_toggle_icon_space">&#xfeff;</span>
						
			<svg class="icon icon_minus">
				<use href="/images/icons.svg#minus" />
			</svg>
		
					</span>
				</span>
					</span>
	</button>

	<nav class="js-sub-nav sub_nav" aria-labelledby="sub_nav_title">
		<div class="sub_nav_header">
			<h2 class="sub_nav_title" id="sub_nav_title">Sub Nav Title</h2>
		</div>
		<div class="js-sub-nav-body sub_nav_body">
			<div class="js-sub-nav-body-inner sub_nav_body_inner">
				<ul class="js-sub-nav-list sub_nav_list" aria-labelledby="sub_nav_title">
											<li class="sub_nav_item">
							<a class="sub_nav_link" href="#">
																<span class="sub_nav_link_label">History</span>
							</a>
													</li>
											<li class="sub_nav_item">
							<a class="sub_nav_link" href="#">
																<span class="sub_nav_link_label">Leadership</span>
							</a>
													</li>
											<li class="sub_nav_item">
							<a class="sub_nav_link" href="#">
																<span class="sub_nav_link_label">Facts & Stats</span>
							</a>
													</li>
											<li class="sub_nav_item">
							<a class="sub_nav_link" href="#">
																<span class="sub_nav_link_label">Job Opportunities</span>
							</a>
													</li>
											<li class="sub_nav_item">
							<a class="sub_nav_link" href="#">
																<span class="sub_nav_link_label">Athletics</span>
							</a>
													</li>
											<li class="sub_nav_item">
							<a class="sub_nav_link" href="#">
																<span class="sub_nav_link_label">Transforming Hearts & Minds</span>
							</a>
													</li>
											<li class="sub_nav_item">
							<a class="sub_nav_link" href="#">
																<span class="sub_nav_link_label">Academic Goals</span>
							</a>
													</li>
											<li class="sub_nav_item">
							<a class="sub_nav_link" href="#">
																<span class="sub_nav_link_label">A Committed, Co-Educational University</span>
							</a>
													</li>
											<li class="sub_nav_item">
							<a class="sub_nav_link" href="#">
																<span class="sub_nav_link_label">International Student Experience</span>
							</a>
													</li>
											<li class="sub_nav_item">
							<a class="sub_nav_link" href="#">
																<span class="sub_nav_link_label">Multicultural Student Engagement</span>
							</a>
													</li>
											<li class="sub_nav_item">
							<a class="sub_nav_link" href="#">
																<span class="sub_nav_link_label">Counseling & Wellness</span>
							</a>
													</li>
									</ul>
			</div>
		</div>
	</nav>
</div>
						</div>
					</div>
				</div>
			</div>
											<div class="page_header_media">
					<div class="fs-row">
						<div class="fs-cell">
							<div class="page_header_media_inner">
																	<figure class="page_header_figure">
										<span class="lazy_image_wrapper page_header_image_wrapper">
	<img class="js-lazy js-lazyload page_header_image"  data-sizes="auto"  src="/images/placeholder.png" data-src="https://images.fastspot.com/false/500x282/1"  data-srcset="//images.fastspot.com/jtcc/500x282/1 500w, //images.fastspot.com/jtcc/740x416/1 740w, //images.fastspot.com/jtcc/980x552/1 980w, //images.fastspot.com/jtcc/1220x686/1 1220w, //images.fastspot.com/jtcc/1440x810/1 1440w"  alt="">
</span>
<noscript>
	<img class="page_header_image" src="https://images.fastspot.com/false/1440x810/1"  srcset="//images.fastspot.com/jtcc/1440x810/1 1440w, //images.fastspot.com/jtcc/1220x686/1 1220w, //images.fastspot.com/jtcc/980x552/1 980w, //images.fastspot.com/jtcc/740x416/1 740w, //images.fastspot.com/jtcc/500x282/1 500w" sizes="100vw"  alt=""  itemprop="primaryImageOfPage" >
</noscript>
									</figure>
																							</div>
						</div>
					</div>
				</div>
						</div>
</div>

