


		<br><br>

        <div style="background-color: #fff;">
            <h2 style="heading-h2 color: #000;">
                Button: Base
            </h2>

			<br>

            <div>
                <a href="#" class="button_link" >
	<span class="button_link_inner">
		<span class="button_link_label">Button Text - Base</span>
			</span>
</a>
            </div>
        </div>
    

		<br><br>

        <div style="background-color: #fff;">
            <h2 style="heading-h2 color: #000;">
                Button: Primary
            </h2>

			<br>

            <div>
                <a href="#" class="button_primary_link" >
	<span class="button_primary_link_inner">
		<span class="button_primary_link_label">Button Text - Primary</span>
			</span>
</a>
            </div>
        </div>
    

		<br><br>

        <div style="background-color: #fff;">
            <h2 style="heading-h2 color: #000;">
                Button: Secondary
            </h2>

			<br>

            <div>
                <a href="#" class="button_secondary_link" >
	<span class="button_secondary_link_inner">
		<span class="button_secondary_link_label">Button Text - Secondary</span>
			</span>
</a>
            </div>
        </div>
    
