

<div class="entity">
	<div class="entity_header">
		<div class="entity_info">
			<h2 class="entity_name">
				<a class="entity_name_link" href="page-people-detail.html">Aenean Vulputate Eleifend</a>
			</h2>
							<div class="entity_title">Director of Department</div>
					</div>
					<figure class="entity_figure">
				<span class="lazy_image_wrapper entity_image_wrapper">
	<img class="js-lazy js-lazyload entity_image"  data-sizes="auto"  src="/images/placeholder.png" data-src="https://images.fastspot.com/false/100x100/1"  data-srcset="//images.fastspot.com/jtcc/100x100/1 100w, //images.fastspot.com/jtcc/300x300/1 300w"  alt="">
</span>
<noscript>
	<img class="entity_image" src="https://images.fastspot.com/false/300x300/1"  srcset="//images.fastspot.com/jtcc/300x300/1 300w, //images.fastspot.com/jtcc/100x100/1 100w" sizes="100vw"  alt="" >
</noscript>
			</figure>
			</div>
	<div class="entity_body">
		<div class="entity_details">
							<div class="entity_detail">
											<div class="entity_detail_label">Contact</div>
																<div class="entity_detail_item">
							<div class="entity_detail_hint">Phone:
							</div>
							<a class="entity_detail_info entity_detail_link" href="tel:4105551234">
								<span class="entity_detail_info_label">(410) 555-1234</span>
							</a>
						</div>
																<div class="entity_detail_item">
							<div class="entity_detail_hint">Email:
							</div>
							<a class="entity_detail_info entity_detail_link" href="mailto:name@university.edu">
								<span class="entity_detail_info_label">name@university.edu</span>
							</a>
						</div>
									</div>
										<div class="entity_detail">
					<div class="entity_detail_label">Department</div>
					<div class="entity_detail_item">
						<a class="entity_detail_info entity_detail_link" href="#">
							<span class="entity_detail_info_label">Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus.</span>
						</a>
					</div>
				</div>
								</div>
	</div>
</div>

