

<div class="full_width_callouts">
	<div class="flex_callout">
	<div class="js-background flex_callout_background" data-background-options='{"source": { "1220px": "//images.fastspot.com/jtcc/1080x1440/10", "740px": "//images.fastspot.com/jtcc/1220x523/10", "500px": "//images.fastspot.com/jtcc/980x654/10", "0px": "//images.fastspot.com/jtcc/494x740/10", "980px": "//images.fastspot.com/jtcc/915x1220/10"}, "lazy": true, "alt": ""}' aria-hidden="true">
	<div class="flex_callout_background_fallback" style="background-image: url(' //images.fastspot.com/jtcc/300x129/10');"></div>
</div>
	<div class="fs-row">
		<div class="fs-cell">
			<div class="flex_callout_inner">
				<div class="flex_callout_header">
					<h2 class="flex_callout_title">What’s Next Up</h2>
					<p class="flex_callout_caption">With more than 75 majors, we’re sure to have something that interests you, and if you don’t know what you want to study, we’re a great place to explore your options. If you’re planning to start a new career, Tyler offers career studies certificates and associate’s degrees that will get you the training you need to get the job you want in as little as a year. If transferring is part of your plan, we have guaranteed admissions agreements with more than 35 colleges and universities across Virginia and beyond, so as long as you meet certain requirements, you’re in! Plus, starting at Tyler and transferring to a four year means you’ll finish with more money in your pocket; two years at Tyler and two years at a four-year university typically costs less than three years at a university.</p>
				</div>
				<div class="flex_callout_content">
					<ul class="flex_callout_links">
												<li class="flex_callout_item">
							

<a href="#" class="flex_callout_link" >
	<span class="flex_callout_link_inner">
		<span class="flex_callout_link_label">Request Info</span>
					<span class="flex_callout_link_icon" aria-hidden="true">
				<span class="flex_callout_link_icon_inner">
					<span class="flex_callout_link_icon_space">&#xfeff;</span>
					
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		
				</span>
			</span>
			</span>
</a>
						</li>
												<li class="flex_callout_item">
							

<a href="#" class="flex_callout_link" >
	<span class="flex_callout_link_inner">
		<span class="flex_callout_link_label">Virtual Info Sessions</span>
					<span class="flex_callout_link_icon" aria-hidden="true">
				<span class="flex_callout_link_icon_inner">
					<span class="flex_callout_link_icon_space">&#xfeff;</span>
					
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		
				</span>
			</span>
			</span>
</a>
						</li>
												<li class="flex_callout_item">
							

<a href="#" class="flex_callout_link" >
	<span class="flex_callout_link_inner">
		<span class="flex_callout_link_label">Apply Now</span>
					<span class="flex_callout_link_icon" aria-hidden="true">
				<span class="flex_callout_link_icon_inner">
					<span class="flex_callout_link_icon_space">&#xfeff;</span>
					
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		
				</span>
			</span>
			</span>
</a>
						</li>
											</ul>
				</div>
			</div>
		</div>
	</div>
</div>

	<div class="flex_callout">
	<div class="js-background flex_callout_background" data-background-options='{"source": { "1220px": "//images.fastspot.com/jtcc/1080x1440/2", "740px": "//images.fastspot.com/jtcc/1220x523/2", "500px": "//images.fastspot.com/jtcc/980x654/2", "0px": "//images.fastspot.com/jtcc/494x740/2", "980px": "//images.fastspot.com/jtcc/915x1220/2"}, "lazy": true, "alt": ""}' aria-hidden="true">
	<div class="flex_callout_background_fallback" style="background-image: url(' //images.fastspot.com/jtcc/300x129/2');"></div>
</div>
	<div class="fs-row">
		<div class="fs-cell">
			<div class="flex_callout_inner">
				<div class="flex_callout_header">
					<h2 class="flex_callout_title">What’s Next Up</h2>
					<p class="flex_callout_caption">With more than 75 majors, we’re sure to have something that interests you, and if you don’t know what you want to study, we’re a great place to explore your options. If you’re planning to start a new career, Tyler offers career studies certificates and associate’s degrees that will get you the training you need to get the job you want in as little as a year.</p>
				</div>
				<div class="flex_callout_content">
					<ul class="flex_callout_links">
												<li class="flex_callout_item">
							

<a href="#" class="flex_callout_link" >
	<span class="flex_callout_link_inner">
		<span class="flex_callout_link_label">Request Info</span>
					<span class="flex_callout_link_icon" aria-hidden="true">
				<span class="flex_callout_link_icon_inner">
					<span class="flex_callout_link_icon_space">&#xfeff;</span>
					
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		
				</span>
			</span>
			</span>
</a>
						</li>
												<li class="flex_callout_item">
							

<a href="#" class="flex_callout_link" >
	<span class="flex_callout_link_inner">
		<span class="flex_callout_link_label">Virtual Info Sessions</span>
					<span class="flex_callout_link_icon" aria-hidden="true">
				<span class="flex_callout_link_icon_inner">
					<span class="flex_callout_link_icon_space">&#xfeff;</span>
					
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		
				</span>
			</span>
			</span>
</a>
						</li>
												<li class="flex_callout_item">
							

<a href="#" class="flex_callout_link" >
	<span class="flex_callout_link_inner">
		<span class="flex_callout_link_label">Apply Now</span>
					<span class="flex_callout_link_icon" aria-hidden="true">
				<span class="flex_callout_link_icon_inner">
					<span class="flex_callout_link_icon_space">&#xfeff;</span>
					
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		
				</span>
			</span>
			</span>
</a>
						</li>
											</ul>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

