

<!-- Page Feature -->
<div class="page_feature" id="skip_content" tabindex="-1">
	<div class="program_meta" id="meta" data-type="program" data-category="Graduate, Undergraduate, Doctoral, Business Administration, On-campus, Online, B.S., M.S., ">
	<div class="fs-row">
		<div class="fs-cell">
			<div class="program_meta_inner">
				<div class="program_details">
										<div class="program_detail">
						<div class="program_detail_label">Degree Level<span class="program_detail_label_hint">:</span></div>
						<div class="program_detail_data">
														Graduate, 														Undergraduate, 														Doctoral													</div>
					</div>
															<div class="program_detail">
						<div class="program_detail_label">Department<span class="program_detail_label_hint">:</span></div>
						<div class="program_detail_data">
							<a class="program_detail_data_link" href="">Business Administration</a>
						</div>
					</div>
															<div class="program_detail">
						<div class="program_detail_label">Learning Mode<span class="program_detail_label_hint">:</span></div>
						<div class="program_detail_data">
														On-campus, 														Online													</div>
					</div>
															<div class="program_detail">
						<div class="program_detail_label">Degree<span class="program_detail_label_hint">:</span></div>
						<div class="program_detail_data">
														B.S., 														M.S.													</div>
					</div>
									</div>
			</div>
		</div>
	</div>
</div></div>
<!-- END: Page Feature -->

<!-- Page Content -->
<div class="page_content">
	<div class="fs-row">
		<div
			class="fs-cell ">
			<!-- WYSIWYG -->
			<div class="typography" itemprop="mainContentOfPage">
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
					<a href="#">Nulla consequat</a>
					massa quis enim. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem</p>
			</div>
			<!-- END: WYSIWYG -->
		</div>
	</div>
</div>
<!-- END: Page Content -->

<!-- Full Width Callouts -->
<div class="full_width_callouts" id="skip_content" tabindex="-1">
	<div class="testimonial theme-blue">
	<div class="fs-row">
		<div class="fs-cell ">
			<div class="testimonial_inner">
				<div class="testimonial_content">
					<div class="testimonial_icon_wrap">
						<div class="testimonial_icon">
							
			<svg class="icon icon_quote">
				<use href="/images/icons.svg#quote" />
			</svg>
		
						</div>
					</div>

					<blockquote class="testimonial_quote">
						<p>The support at Tyler was a really big factor for me in finding my self-confidence. You always have people tell you, ‘You can do it!’</p>
					</blockquote>

					<div class="testimonial_info">
						<div class="testimonial_quote_name">Ravonte Campbell</div>
													<div class="testimonial_quote_title">Mechanical Engineering</div>
											</div>
				</div>

				<div class="testimonial_media">
					<div class="js-background testimonial_background" data-background-options='{"source": { "1220px": "//images.fastspot.com/jtcc/1440x1080/4", "740px": "//images.fastspot.com/jtcc/1220x523/4", "500px": "//images.fastspot.com/jtcc/654x980/4", "0px": "//images.fastspot.com/jtcc/494x740/4"}, "lazy": true, "alt": ""}' aria-hidden="true">
	<div class="testimonial_background_fallback" style="background-image: url(' //images.fastspot.com/jtcc/300x129/4');"></div>
</div>

					<div class="testimonial_media_img">
						<span class="lazy_image_wrapper testimonial_image_wrapper">
	<img class="js-lazy js-lazyload testimonial_image"  data-sizes="auto"  src="/images/placeholder.png" data-src="https://images.fastspot.com/false/200x300/4"  data-srcset="//images.fastspot.com/jtcc/200x300/4 200w, //images.fastspot.com/jtcc/334x500/4 334w, //images.fastspot.com/jtcc/494x740/4 494w, //images.fastspot.com/jtcc/654x980/4 654w"  alt="">
</span>
<noscript>
	<img class="testimonial_image" src="https://images.fastspot.com/false/654x980/4"  srcset="//images.fastspot.com/jtcc/654x980/4 654w, //images.fastspot.com/jtcc/494x740/4 494w, //images.fastspot.com/jtcc/334x500/4 334w, //images.fastspot.com/jtcc/200x300/4 200w" sizes="100vw"  alt="" >
</noscript>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

	<div class="collage">
	<div class="fs-row">
		<div class="fs-cell">
			<div class="collage_inner">
				<div class="collage_header">
					<h2 class="collage_title">In the Classroom</h2>
				</div>
				<div class="collage_items">
											<div class="collage_item">
							<figure class="collage_item_figure">
								<span class="collage_item_media">
									<span class="lazy_image_wrapper collage_item_image_wrapper">
	<img class="js-lazy js-lazyload collage_item_image"  data-sizes="auto"  src="/images/placeholder.png" data-src="https://images.fastspot.com/false/500x282/2"  data-srcset="//images.fastspot.com/jtcc/500x282/2 500w, //images.fastspot.com/jtcc/740x416/2 740w, //images.fastspot.com/jtcc/980x552/2 980w"  alt="">
</span>
<noscript>
	<img class="collage_item_image" src="https://images.fastspot.com/false/980x552/2"  srcset="//images.fastspot.com/jtcc/980x552/2 980w, //images.fastspot.com/jtcc/740x416/2 740w, //images.fastspot.com/jtcc/500x282/2 500w" sizes="100vw"  alt="" >
</noscript>
								</span>
																<figcaption class="collage_item_figcaption">
									<span class="collage_item_figcaption_inner">In her favorite class, Language Arts for Young Children, she practiced reading a children's book to her classmates, enunciating carefully and adding character voices as if she were reading to children.</span>
								</figcaption>
															</figure>
						</div>
											<div class="collage_item">
							<figure class="collage_item_figure">
								<span class="collage_item_media">
									<span class="lazy_image_wrapper collage_item_image_wrapper">
	<img class="js-lazy js-lazyload collage_item_image"  data-sizes="auto"  src="/images/placeholder.png" data-src="https://images.fastspot.com/false/500x282/3"  data-srcset="//images.fastspot.com/jtcc/500x282/3 500w, //images.fastspot.com/jtcc/740x416/3 740w, //images.fastspot.com/jtcc/980x552/3 980w"  alt="">
</span>
<noscript>
	<img class="collage_item_image" src="https://images.fastspot.com/false/980x552/3"  srcset="//images.fastspot.com/jtcc/980x552/3 980w, //images.fastspot.com/jtcc/740x416/3 740w, //images.fastspot.com/jtcc/500x282/3 500w" sizes="100vw"  alt="" >
</noscript>
								</span>
																<figcaption class="collage_item_figcaption">
									<span class="collage_item_figcaption_inner">Madeline Chase teaching in her cozy corner reading. nook.</span>
								</figcaption>
															</figure>
						</div>
											<div class="collage_item">
							<figure class="collage_item_figure">
								<span class="collage_item_media">
									<span class="lazy_image_wrapper collage_item_image_wrapper">
	<img class="js-lazy js-lazyload collage_item_image"  data-sizes="auto"  src="/images/placeholder.png" data-src="https://images.fastspot.com/false/500x282/6"  data-srcset="//images.fastspot.com/jtcc/500x282/6 500w, //images.fastspot.com/jtcc/740x416/6 740w, //images.fastspot.com/jtcc/980x552/6 980w"  alt="">
</span>
<noscript>
	<img class="collage_item_image" src="https://images.fastspot.com/false/980x552/6"  srcset="//images.fastspot.com/jtcc/980x552/6 980w, //images.fastspot.com/jtcc/740x416/6 740w, //images.fastspot.com/jtcc/500x282/6 500w" sizes="100vw"  alt="" >
</noscript>
								</span>
																<figcaption class="collage_item_figcaption">
									<span class="collage_item_figcaption_inner">Madeline Chase teaching in her cozy corner reading. nook.</span>
								</figcaption>
															</figure>
						</div>
											<div class="collage_item">
							<figure class="collage_item_figure">
								<span class="collage_item_media">
									<span class="lazy_image_wrapper collage_item_image_wrapper">
	<img class="js-lazy js-lazyload collage_item_image"  data-sizes="auto"  src="/images/placeholder.png" data-src="https://images.fastspot.com/false/500x282/5"  data-srcset="//images.fastspot.com/jtcc/500x282/5 500w, //images.fastspot.com/jtcc/740x416/5 740w, //images.fastspot.com/jtcc/980x552/5 980w"  alt="">
</span>
<noscript>
	<img class="collage_item_image" src="https://images.fastspot.com/false/980x552/5"  srcset="//images.fastspot.com/jtcc/980x552/5 980w, //images.fastspot.com/jtcc/740x416/5 740w, //images.fastspot.com/jtcc/500x282/5 500w" sizes="100vw"  alt="" >
</noscript>
								</span>
															</figure>
						</div>
									</div>
			</div>
		</div>
	</div>
</div>
</div>
<!-- END: Full Width Callouts -->

