

<!-- Page Feature -->
<div class="page_feature" id="skip_content" tabindex="-1">
	<div class="page_header_bg">
	<div class="page_header_bg_inner">
		<div class="page_header_bg_group">
												<div class="page_header_bg_media">
						<div class="page_header_bg_media_inner">
															<figure class="page_header_bg_figure">
									<span class="lazy_image_wrapper page_header_bg_image_wrapper">
	<img class="js-lazy js-lazyload page_header_bg_image"  data-sizes="auto"  src="/images/placeholder.png" data-src="https://images.fastspot.com/false/500x214/10"  data-srcset="//images.fastspot.com/jtcc/500x214/10 500w, //images.fastspot.com/jtcc/740x317/10 740w, //images.fastspot.com/jtcc/980x420/10 980w, //images.fastspot.com/jtcc/1220x523/10 1220w, //images.fastspot.com/jtcc/1440x617/10 1440w"  alt="">
</span>
<noscript>
	<img class="page_header_bg_image" src="https://images.fastspot.com/false/1440x617/10"  srcset="//images.fastspot.com/jtcc/1440x617/10 1440w, //images.fastspot.com/jtcc/1220x523/10 1220w, //images.fastspot.com/jtcc/980x420/10 980w, //images.fastspot.com/jtcc/740x317/10 740w, //images.fastspot.com/jtcc/500x214/10 500w" sizes="100vw"  alt=""  itemprop="primaryImageOfPage" >
</noscript>
								</figure>
																						<div class="js-background-video-wrapper page_header_bg_video" aria-hidden="true">
									<iframe class="js-background-video-iframe page_header_bg_iframe" src="//player.vimeo.com/video/306272054?background=1" title="Contact Us video" allow="autoplay"></iframe>
									<div class="page_header_bg_video_controls">
										

<a href="#" class="page_header_bg_video_play_link" >
	<span class="page_header_bg_video_play_link_inner">
		<span class="page_header_bg_video_play_link_label">Play</span>
					<span class="page_header_bg_video_play_link_icon" aria-hidden="true">
				<span class="page_header_bg_video_play_link_icon_inner">
					<span class="page_header_bg_video_play_link_icon_space">&#xfeff;</span>
					
			<svg class="icon icon_video_play">
				<use href="/images/icons.svg#video_play" />
			</svg>
		
				</span>
			</span>
			</span>
</a>
										

<a href="#" class="page_header_bg_video_pause_link" >
	<span class="page_header_bg_video_pause_link_inner">
		<span class="page_header_bg_video_pause_link_label">Pause</span>
					<span class="page_header_bg_video_pause_link_icon" aria-hidden="true">
				<span class="page_header_bg_video_pause_link_icon_inner">
					<span class="page_header_bg_video_pause_link_icon_space">&#xfeff;</span>
					
			<svg class="icon icon_video_pause">
				<use href="/images/icons.svg#video_pause" />
			</svg>
		
				</span>
			</span>
			</span>
</a>
									</div>
								</div>
													</div>
					</div>
										<div class="page_header_bg_content">
									<div class="page_intro">
						<div class="fs-row">
							<div class="fs-cell fs-lg-10 fs-xl-9">
								<div class="page_intro_inner">
																			<div class="breadcrumb">
											<div class="breadcrumb_inner">
												

<nav class="breadcrumb_nav" aria-labelledby="breadcrumb_nav_title">
	<div class="breadcrumb_nav_header">
		<h2 class="breadcrumb_nav_title" id="breadcrumb_nav_title">You are here:</h2>
	</div>
	<ol class="breadcrumb_list" aria-labelledby="breadcrumb_nav_title">
		<li class="breadcrumb_item breadcrumb_item_home">
			<a class="breadcrumb_pill breadcrumb_pill_link" href="page-home.html">
				<span class="breadcrumb_pill_inner">
										<span class="breadcrumb_pill_label">Home</span>
					<span class="breadcrumb_pill_icon">
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		</span>
				</span>
			</a>
					</li>
					<li class="breadcrumb_item">
				<a class="breadcrumb_pill breadcrumb_pill_link" href="#">
					<span class="breadcrumb_pill_inner">
						<span class="breadcrumb_pill_label">Navigation Level</span>
						<span class="breadcrumb_pill_icon">
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		</span>
					</span>
				</a>
							</li>
					<li class="breadcrumb_item">
				<a class="breadcrumb_pill breadcrumb_pill_link" href="#">
					<span class="breadcrumb_pill_inner">
						<span class="breadcrumb_pill_label">Parent Level</span>
						<span class="breadcrumb_pill_icon">
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		</span>
					</span>
				</a>
							</li>
				<li class="breadcrumb_item">
			<span class="breadcrumb_pill">
				<span class="breadcrumb_pill_inner">
					<span class="breadcrumb_pill_label">Page Title</span>
				</span>
			</span>
					</li>
	</ol>
</nav>
											</div>
										</div>
																												<h1 class="page_title" itemprop="name">Contact Us</h1>
																												<p class="page_description" itemprop="description">Keeping connected to the JTCC community is an important way that we can provide student support, and we are always here to help – whether you are looking to get involved or looking to visit us. Just reach out!</p>
																	</div>
							</div>
						</div>
					</div>
							</div>
		</div>
					<div class="page_nav">
				<div class="fs-row">
					<div class="fs-cell">
						<div class="page_nav_inner">
							

<div class="js-sub-nav-group sub_nav_group">
	<button class="js-sub-nav-toggle js-swap sub_nav_toggle "   data-swap-target=".js-sub-nav-group"  >
	<span class="sub_nav_toggle_inner_default sub_nav_toggle_inner">
		<span class="sub_nav_toggle_label_default sub_nav_toggle_label">Explore This Section</span>
					<span class="sub_nav_toggle_icon_default sub_nav_toggle_icon" aria-hidden="true">
				<span class="sub_nav_toggle_icon_inner_default sub_nav_toggle_icon_inner">
					<span class="sub_nav_toggle_icon_space">&#xfeff;</span>
					
			<svg class="icon icon_caret_down">
				<use href="/images/icons.svg#caret_down" />
			</svg>
		
				</span>
			</span>
			</span>
			<span class="sub_nav_toggle_inner_active sub_nav_toggle_inner">
			<span class="sub_nav_toggle_label_active sub_nav_toggle_label">Close</span>
							<span class="sub_nav_toggle_icon_active sub_nav_toggle_icon" aria-hidden="true">
					<span class="sub_nav_toggle_icon_inner_active sub_nav_toggle_icon_inner">
						<span class="sub_nav_toggle_icon_space">&#xfeff;</span>
						
			<svg class="icon icon_caret_up">
				<use href="/images/icons.svg#caret_up" />
			</svg>
		
					</span>
				</span>
					</span>
	</button>

	<nav class="js-sub-nav sub_nav" aria-labelledby="sub_nav_title">
		<div class="sub_nav_header">
			<h2 class="sub_nav_title" id="sub_nav_title">Contact Us</h2>
		</div>
		<div class="js-sub-nav-body sub_nav_body">
			<div class="js-sub-nav-body-inner sub_nav_body_inner">
				<ul class="js-sub-nav-list sub_nav_list" aria-labelledby="sub_nav_title">
											<li class="sub_nav_item">
							<a class="sub_nav_link" href="#">
								<span class="sub_nav_link_label">Chester Campus</span>
								<span class="sub_nav_link_icon">
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		</span>
							</a>
													</li>
											<li class="sub_nav_item">
							<a class="sub_nav_link" href="#">
								<span class="sub_nav_link_label">Midlothian Campus</span>
								<span class="sub_nav_link_icon">
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		</span>
							</a>
													</li>
											<li class="sub_nav_item">
							<a class="sub_nav_link" href="#">
								<span class="sub_nav_link_label">Tyler a-z</span>
								<span class="sub_nav_link_icon">
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		</span>
							</a>
													</li>
											<li class="sub_nav_item">
							<a class="sub_nav_link" href="#">
								<span class="sub_nav_link_label">Get Involved</span>
								<span class="sub_nav_link_icon">
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		</span>
							</a>
													</li>
									</ul>
			</div>
		</div>
	</nav>
</div>
						</div>
					</div>
				</div>
			</div>
			</div>
</div>
</div>
<!-- END: Page Feature -->

<!-- Page Content -->
<div class="page_content">
	<div class="fs-row">
		<div
			class="fs-cell ">
			<!-- WYSIWYG -->
			<div class="typography" itemprop="mainContentOfPage">
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
					<a href="#">Nulla consequat</a>
					massa quis enim. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem</p>
			</div>
			<!-- END: WYSIWYG -->
		</div>
	</div>
</div>
<!-- END: Page Content -->

<!-- Full Width Callouts -->
<div class="full_width_callouts" id="skip_content" tabindex="-1">
	<!-- Topic Row -->
<div class="topics">
	<div class="fs-row">
		<div class="fs-cell ">
			<div class="topics_inner">
									<div class="topics_header">
													<h2 class="topics_title">
								<span class="topics_title_label">Ipsum Fermentum Tristique</span>
							</h2>
																			<div class="topics_description">
								<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod. Donec ullamcorper nulla non metus auct.</p>
							</div>
											</div>
								<div class="topics_body">
											<div class="topic">
							<div class="topic_inner">
																	<figure class="topic_figure" aria-hidden="true">
										<span class="lazy_image_wrapper topic_image_wrapper">
	<img class="js-lazy js-lazyload topic_image"  data-sizes="auto"  src="/images/placeholder.png" data-src="https://images.fastspot.com/false/300x200/1"  data-srcset="//images.fastspot.com/jtcc/300x200/1 300w, //images.fastspot.com/jtcc/500x334/1 500w, //images.fastspot.com/jtcc/740x494/1 740w"  alt="">
</span>
<noscript>
	<img class="topic_image" src="https://images.fastspot.com/false/740x494/1"  srcset="//images.fastspot.com/jtcc/740x494/1 740w, //images.fastspot.com/jtcc/500x334/1 500w, //images.fastspot.com/jtcc/300x200/1 300w" sizes="100vw"  alt=""  itemprop="image" >
</noscript>
									</figure>
																<div class="topic_wrapper">
									<div class="topic_header">
																					<h3 class="topic_title">Ipsum Fermentum Tristique</h3>
																			</div>
									<div class="topic_body">
										<div class="topic_description">
											<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod. Donec ullamcorper nulla non metus auctor fringilla.</p>
										</div>
									</div>
																			<div class="topic_links">
																							

<a href="#" class="topic_link" >
	<span class="topic_link_inner">
		<span class="topic_link_label">Link Title One</span>
					<span class="topic_link_icon" aria-hidden="true">
				<span class="topic_link_icon_inner">
					<span class="topic_link_icon_space">&#xfeff;</span>
					
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		
				</span>
			</span>
			</span>
</a>
																							

<a href="#" class="topic_link" >
	<span class="topic_link_inner">
		<span class="topic_link_label">Link Title Two</span>
					<span class="topic_link_icon" aria-hidden="true">
				<span class="topic_link_icon_inner">
					<span class="topic_link_icon_space">&#xfeff;</span>
					
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		
				</span>
			</span>
			</span>
</a>
																					</div>
																	</div>
							</div>
						</div>
											<div class="topic">
							<div class="topic_inner">
																	<figure class="topic_figure" aria-hidden="true">
										<span class="lazy_image_wrapper topic_image_wrapper">
	<img class="js-lazy js-lazyload topic_image"  data-sizes="auto"  src="/images/placeholder.png" data-src="https://images.fastspot.com/false/300x200/2"  data-srcset="//images.fastspot.com/jtcc/300x200/2 300w, //images.fastspot.com/jtcc/500x334/2 500w, //images.fastspot.com/jtcc/740x494/2 740w"  alt="">
</span>
<noscript>
	<img class="topic_image" src="https://images.fastspot.com/false/740x494/2"  srcset="//images.fastspot.com/jtcc/740x494/2 740w, //images.fastspot.com/jtcc/500x334/2 500w, //images.fastspot.com/jtcc/300x200/2 300w" sizes="100vw"  alt=""  itemprop="image" >
</noscript>
									</figure>
																<div class="topic_wrapper">
									<div class="topic_header">
																					<h3 class="topic_title">Ipsum Fermentum Tristique</h3>
																			</div>
									<div class="topic_body">
										<div class="topic_description">
											<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod. Donec ullamcorper nulla non metus auctor fringilla.</p>
										</div>
									</div>
																	</div>
							</div>
						</div>
											<div class="topic">
							<div class="topic_inner">
																<div class="topic_wrapper">
									<div class="topic_header">
																					<h3 class="topic_title">Ipsum Fermentum Tristique</h3>
																			</div>
									<div class="topic_body">
										<div class="topic_description">
											<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod. Donec ullamcorper nulla non metus auctor fringilla.</p>
										</div>
									</div>
																			<div class="topic_links">
																							

<a href="#" class="topic_link" >
	<span class="topic_link_inner">
		<span class="topic_link_label">Link Title One</span>
					<span class="topic_link_icon" aria-hidden="true">
				<span class="topic_link_icon_inner">
					<span class="topic_link_icon_space">&#xfeff;</span>
					
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		
				</span>
			</span>
			</span>
</a>
																							

<a href="#" class="topic_link" >
	<span class="topic_link_inner">
		<span class="topic_link_label">Link Title Two</span>
					<span class="topic_link_icon" aria-hidden="true">
				<span class="topic_link_icon_inner">
					<span class="topic_link_icon_space">&#xfeff;</span>
					
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		
				</span>
			</span>
			</span>
</a>
																							

<a href="#" class="topic_link" >
	<span class="topic_link_inner">
		<span class="topic_link_label">Link Title Three</span>
					<span class="topic_link_icon" aria-hidden="true">
				<span class="topic_link_icon_inner">
					<span class="topic_link_icon_space">&#xfeff;</span>
					
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		
				</span>
			</span>
			</span>
</a>
																					</div>
																	</div>
							</div>
						</div>
											<div class="topic">
							<div class="topic_inner">
																	<figure class="topic_figure" aria-hidden="true">
										<span class="lazy_image_wrapper topic_image_wrapper">
	<img class="js-lazy js-lazyload topic_image"  data-sizes="auto"  src="/images/placeholder.png" data-src="https://images.fastspot.com/false/300x200/2"  data-srcset="//images.fastspot.com/jtcc/300x200/2 300w, //images.fastspot.com/jtcc/500x334/2 500w, //images.fastspot.com/jtcc/740x494/2 740w"  alt="">
</span>
<noscript>
	<img class="topic_image" src="https://images.fastspot.com/false/740x494/2"  srcset="//images.fastspot.com/jtcc/740x494/2 740w, //images.fastspot.com/jtcc/500x334/2 500w, //images.fastspot.com/jtcc/300x200/2 300w" sizes="100vw"  alt=""  itemprop="image" >
</noscript>
									</figure>
																<div class="topic_wrapper">
									<div class="topic_header">
																					<h3 class="topic_title">Ipsum</h3>
																			</div>
									<div class="topic_body">
										<div class="topic_description">
											<p>Praesent</p>
										</div>
									</div>
																	</div>
							</div>
						</div>
									</div>
			</div>
		</div>
	</div>
</div>
<!-- END: Topic Row -->

	<!-- Link Group -->
<div class="link_group">
	<div class="fs-row">
		<div class="fs-cell ">
			<div class="link_group_inner">
				<div class="link_group_header">
					<h2 class="link_group_title">Ipsum Fermentum Tristique</h2>
				</div>
				<ul class="link_group_list">
											<li class="link_group_item">
							<a class="link_group_link" href="#"  target="_blank"  itemprop="relatedLink">
								<span class="link_group_link_inner">
									<span class="link_group_link_label">Standard Link With Title</span>
																			<span class="link_group_link_icon">
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		</span>
																	</span>
							</a>
						</li>
											<li class="link_group_item">
							<a class="link_group_link" href="#"  target="_blank"  itemprop="relatedLink">
								<span class="link_group_link_inner">
									<span class="link_group_link_label">Standard Link With Title</span>
																			<span class="link_group_link_icon">
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		</span>
																	</span>
							</a>
						</li>
											<li class="link_group_item">
							<a class="link_group_link" href="#"  target="_blank"  itemprop="relatedLink">
								<span class="link_group_link_inner">
									<span class="link_group_link_label">Ipsum Consectetur Pharetra Purus Quam Consectetur Pharetra</span>
																			<span class="link_group_link_icon">
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		</span>
																	</span>
							</a>
						</li>
											<li class="link_group_item">
							<a class="link_group_link" href="#"  target="_blank"  itemprop="relatedLink">
								<span class="link_group_link_inner">
									<span class="link_group_link_label">Standard Link With Title</span>
																			<span class="link_group_link_icon">
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		</span>
																	</span>
							</a>
						</li>
											<li class="link_group_item">
							<a class="link_group_link" href="#"  target="_blank"  itemprop="relatedLink">
								<span class="link_group_link_inner">
									<span class="link_group_link_label">External Link With Title</span>
																			<span class="link_group_link_icon">
			<svg class="icon icon_external">
				<use href="/images/icons.svg#external" />
			</svg>
		</span>
																	</span>
							</a>
						</li>
											<li class="link_group_item">
							<a class="link_group_link" href="#"  target="_blank"  itemprop="relatedLink">
								<span class="link_group_link_inner">
									<span class="link_group_link_label">File Link With Title</span>
																			<span class="link_group_link_icon">
			<svg class="icon icon_file">
				<use href="/images/icons.svg#file" />
			</svg>
		</span>
																	</span>
							</a>
						</li>
											<li class="link_group_item">
							<a class="link_group_link" href="#"  target="_blank"  itemprop="relatedLink">
								<span class="link_group_link_inner">
									<span class="link_group_link_label">Standard Link With Title</span>
																			<span class="link_group_link_icon">
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		</span>
																	</span>
							</a>
						</li>
											<li class="link_group_item">
							<a class="link_group_link" href="#"  target="_blank"  itemprop="relatedLink">
								<span class="link_group_link_inner">
									<span class="link_group_link_label">Standard Link With Title</span>
																			<span class="link_group_link_icon">
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		</span>
																	</span>
							</a>
						</li>
									</ul>
			</div>
		</div>
	</div>
</div>
<!-- END: Link Group -->

	<div class="entity_meta" id="meta" data-type="entity" data-category="">
	<div class="fs-row">
		<div class="fs-cell">
			<div class="entity_meta_inner">
				<div class="contact_header">
	<div class="contact_header_group">
		<h2 class="contact_header_title">Student Activities</h2>
		<p class="contact_header_caption">Chester  & Midlothian Campus</p>
	</div>
	<div class="contact_header_group">
					<figure class="contact_header_figure" aria-hidden="true">
				<span class="lazy_image_wrapper contact_header_image_wrapper">
	<img class="js-lazy js-lazyload contact_header_image"  data-sizes="auto"  src="/images/placeholder.png" data-src="https://images.fastspot.com/false/300x300/1"  data-srcset="//images.fastspot.com/jtcc/300x300/1 300w, //images.fastspot.com/jtcc/500x500/1 500w, //images.fastspot.com/jtcc/740x740/1 740w"  alt="">
</span>
<noscript>
	<img class="contact_header_image" src="https://images.fastspot.com/false/740x740/1"  srcset="//images.fastspot.com/jtcc/740x740/1 740w, //images.fastspot.com/jtcc/500x500/1 500w, //images.fastspot.com/jtcc/300x300/1 300w" sizes="100vw"  alt=""  itemprop="image" >
</noscript>
			</figure>
			</div>
</div>

				<!-- Contact Details -->
<div class="contact_details_wrapper">
	<h3 class="contact_details_title">Chester Campus</h3>
	<div class="contact_details">
					<div class="contact_detail">
				<div class="contact_detail_label">Contact</div>
									<div class="contact_detail_item">
						<a class="contact_detail_info" itemprop="telephone" href="tel:8047964000">
							<span class="contact_detail_info_icon">
			<svg class="icon icon_phone">
				<use href="/images/icons.svg#phone" />
			</svg>
		</span>
							<span class="contact_detail_info_label">804-796-4000</span>
						</a>
					</div>
													<div class="contact_detail_item">
						<a class="contact_detail_info" href="mailto:studentactivities@jtcc.edu" itemprop="email">
							<span class="contact_detail_info_icon">
			<svg class="icon icon_mail">
				<use href="/images/icons.svg#mail" />
			</svg>
		</span>
							<span class="contact_detail_info_label">studentactivities@jtcc.edu</span>
						</a>
					</div>
							</div>
							<div class="contact_detail">
				<div class="contact_detail_label">Location</div>
				<div class="contact_detail_item">
					<div class="contact_detail_info" itemprop="address">13101 Jefferson Davis Highway<br>Chester, Virginia 23831-5316</div>
				</div>
			</div>
									<div class="contact_detail">
				<div class="contact_detail_label">Hours</div>
									<div class="contact_detail_item">
						<div class="contact_detail_hint">Monday – Friday</div>
						<div class="contact_detail_info">9:00 am – 7:00 pm</div>
					</div>
									<div class="contact_detail_item">
						<div class="contact_detail_hint">Saturday</div>
						<div class="contact_detail_info">11:00 am – 2:00 am</div>
					</div>
							</div>
							<div class="contact_detail">
				<div class="contact_detail_label">Social Media</div>
				<ul class="contact_socials" aria-label="Social Links for ">
											<li class="contact_social">
							<a class="contact_social_link" href="#" aria-label=" Facebook" itemprop="sameAs">
								<span class="contact_social_link_label">Facebook</span>
								<span class="contact_social_link_icon">
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		</span>
							</a>
						</li>
											<li class="contact_social">
							<a class="contact_social_link" href="#" aria-label=" Twitter" itemprop="sameAs">
								<span class="contact_social_link_label">Twitter</span>
								<span class="contact_social_link_icon">
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		</span>
							</a>
						</li>
									</ul>
			</div>
			</div>
	<!-- END: Contact Details -->
</div>

				<!-- Contact Details -->
<div class="contact_details_wrapper">
	<h3 class="contact_details_title">Midlothian Campus</h3>
	<div class="contact_details">
					<div class="contact_detail">
				<div class="contact_detail_label">Contact</div>
									<div class="contact_detail_item">
						<a class="contact_detail_info" itemprop="telephone" href="tel:8047964000">
							<span class="contact_detail_info_icon">
			<svg class="icon icon_phone">
				<use href="/images/icons.svg#phone" />
			</svg>
		</span>
							<span class="contact_detail_info_label">804-796-4000</span>
						</a>
					</div>
													<div class="contact_detail_item">
						<a class="contact_detail_info" href="mailto:studentactivities@jtcc.edu" itemprop="email">
							<span class="contact_detail_info_icon">
			<svg class="icon icon_mail">
				<use href="/images/icons.svg#mail" />
			</svg>
		</span>
							<span class="contact_detail_info_label">studentactivities@jtcc.edu</span>
						</a>
					</div>
							</div>
							<div class="contact_detail">
				<div class="contact_detail_label">Location</div>
				<div class="contact_detail_item">
					<div class="contact_detail_info" itemprop="address">T Building, Room 100</div>
				</div>
			</div>
									<div class="contact_detail">
				<div class="contact_detail_label">Hours</div>
									<div class="contact_detail_item">
						<div class="contact_detail_hint">Monday – Friday</div>
						<div class="contact_detail_info">9:00 am – 7:00 pm</div>
					</div>
							</div>
					</div>
	<!-- END: Contact Details -->
</div>
			</div>
		</div>
	</div>
</div>
</div>
<!-- END: Full Width Callouts -->

