

<div class="page_feature" id="skip_content" tabindex="-1">

	<div class="entity_meta" id="meta" data-type="entity" data-category="">
	<div class="fs-row">
		<div class="fs-cell">
			<div class="entity_meta_inner">
				<div class="contact_header">
	<div class="contact_header_group">
		<h2 class="contact_header_title">Student Activities</h2>
		<p class="contact_header_caption">Chester  & Midlothian Campus</p>
	</div>
	<div class="contact_header_group">
					<figure class="contact_header_figure" aria-hidden="true">
				<span class="lazy_image_wrapper contact_header_image_wrapper">
	<img class="js-lazy js-lazyload contact_header_image"  data-sizes="auto"  src="/images/placeholder.png" data-src="https://images.fastspot.com/false/300x300/1"  data-srcset="//images.fastspot.com/jtcc/300x300/1 300w, //images.fastspot.com/jtcc/500x500/1 500w, //images.fastspot.com/jtcc/740x740/1 740w"  alt="">
</span>
<noscript>
	<img class="contact_header_image" src="https://images.fastspot.com/false/740x740/1"  srcset="//images.fastspot.com/jtcc/740x740/1 740w, //images.fastspot.com/jtcc/500x500/1 500w, //images.fastspot.com/jtcc/300x300/1 300w" sizes="100vw"  alt=""  itemprop="image" >
</noscript>
			</figure>
			</div>
</div>

				<!-- Contact Details -->
<div class="contact_details_wrapper">
	<h3 class="contact_details_title">Chester Campus</h3>
	<div class="contact_details">
					<div class="contact_detail">
				<div class="contact_detail_label">Contact</div>
									<div class="contact_detail_item">
						<a class="contact_detail_info" itemprop="telephone" href="tel:8047964000">
							<span class="contact_detail_info_icon">
			<svg class="icon icon_phone">
				<use href="/images/icons.svg#phone" />
			</svg>
		</span>
							<span class="contact_detail_info_label">804-796-4000</span>
						</a>
					</div>
													<div class="contact_detail_item">
						<a class="contact_detail_info" href="mailto:studentactivities@jtcc.edu" itemprop="email">
							<span class="contact_detail_info_icon">
			<svg class="icon icon_mail">
				<use href="/images/icons.svg#mail" />
			</svg>
		</span>
							<span class="contact_detail_info_label">studentactivities@jtcc.edu</span>
						</a>
					</div>
							</div>
							<div class="contact_detail">
				<div class="contact_detail_label">Location</div>
				<div class="contact_detail_item">
					<div class="contact_detail_info" itemprop="address">13101 Jefferson Davis Highway<br>Chester, Virginia 23831-5316</div>
				</div>
			</div>
									<div class="contact_detail">
				<div class="contact_detail_label">Hours</div>
									<div class="contact_detail_item">
						<div class="contact_detail_hint">Monday – Friday</div>
						<div class="contact_detail_info">9:00 am – 7:00 pm</div>
					</div>
									<div class="contact_detail_item">
						<div class="contact_detail_hint">Saturday</div>
						<div class="contact_detail_info">11:00 am – 2:00 am</div>
					</div>
							</div>
							<div class="contact_detail">
				<div class="contact_detail_label">Social Media</div>
				<ul class="contact_socials" aria-label="Social Links for ">
											<li class="contact_social">
							<a class="contact_social_link" href="#" aria-label=" Facebook" itemprop="sameAs">
								<span class="contact_social_link_label">Facebook</span>
								<span class="contact_social_link_icon">
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		</span>
							</a>
						</li>
											<li class="contact_social">
							<a class="contact_social_link" href="#" aria-label=" Twitter" itemprop="sameAs">
								<span class="contact_social_link_label">Twitter</span>
								<span class="contact_social_link_icon">
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		</span>
							</a>
						</li>
									</ul>
			</div>
			</div>
	<!-- END: Contact Details -->
</div>

				<!-- Contact Details -->
<div class="contact_details_wrapper">
	<h3 class="contact_details_title">Midlothian Campus</h3>
	<div class="contact_details">
					<div class="contact_detail">
				<div class="contact_detail_label">Contact</div>
									<div class="contact_detail_item">
						<a class="contact_detail_info" itemprop="telephone" href="tel:8047964000">
							<span class="contact_detail_info_icon">
			<svg class="icon icon_phone">
				<use href="/images/icons.svg#phone" />
			</svg>
		</span>
							<span class="contact_detail_info_label">804-796-4000</span>
						</a>
					</div>
													<div class="contact_detail_item">
						<a class="contact_detail_info" href="mailto:studentactivities@jtcc.edu" itemprop="email">
							<span class="contact_detail_info_icon">
			<svg class="icon icon_mail">
				<use href="/images/icons.svg#mail" />
			</svg>
		</span>
							<span class="contact_detail_info_label">studentactivities@jtcc.edu</span>
						</a>
					</div>
							</div>
							<div class="contact_detail">
				<div class="contact_detail_label">Location</div>
				<div class="contact_detail_item">
					<div class="contact_detail_info" itemprop="address">T Building, Room 100</div>
				</div>
			</div>
									<div class="contact_detail">
				<div class="contact_detail_label">Hours</div>
									<div class="contact_detail_item">
						<div class="contact_detail_hint">Monday – Friday</div>
						<div class="contact_detail_info">9:00 am – 7:00 pm</div>
					</div>
							</div>
					</div>
	<!-- END: Contact Details -->
</div>
			</div>
		</div>
	</div>
</div>

	<div class="event_meta" id="meta" data-type="event" data-category="Category 1">
	<div class="fs-row">
		<div class="fs-cell">
			<div class="event_meta_inner">
				<div class="event_meta_body">
					<!-- Event Details -->
<div class="event_details">
	<div class="event_detail">
		<span class="event_detail_icon">
			<svg class="icon icon_clock">
				<use href="/images/icons.svg#clock" />
			</svg>
		</span>
		<span class="event_detail_hint">Time:</span>
		<span class="event_detail_label">
			<span class="event_detail_label_date">May 31</span>
			5:00 PM - 7:00 PM
							–
				<span class="event_detail_label_date">Jun 13</span>
				5:00 PM - 7:00 PM
					</span>
	</div>
			<div class="event_detail">
			<span class="event_detail_icon">
			<svg class="icon icon_place">
				<use href="/images/icons.svg#place" />
			</svg>
		</span>
			<span class="event_detail_hint">Location:</span>
			<span class="event_detail_label">Location</span>
		</div>
				<div class="event_detail event_detail_category">
			<span class="event_detail_icon">
			<svg class="icon icon_label">
				<use href="/images/icons.svg#label" />
			</svg>
		</span>
			<span class="event_detail_hint">Categories:</span>
			<ul class="event_detail_list" aria-label="Categories">
									<li class="event_detail_item">
						<a class="event_detail_link" href="page-event-category.html">Category 1</a>
					</li>
							</ul>
		</div>
	</div>
<!-- END: Event Details -->
				</div>
				<div class="js-share-tools share_tools">
	<div class="share_tools_header">
		<h2 class="share_tools_title">Share Options</h2>
		<button class="js-share-tools-toggle share_tools_toggle" data-swap-target=".js-share-tools">
			<span class="share_tools_toggle_inner">
				<span class="share_tools_toggle_label">Share This</span>
			</span>
		</button>
	</div>
	<ul class="js-share-tools-list share_tools_list" aria-label="Share Options">
				<li class="js-share-tool-item share_tool_item">
			<a class="js-share-tool js-share-twitter share_tool" href="#" target="_blank" rel="noopener">
				<span class="share_tool_icon">
			<svg class="icon icon_twitter">
				<use href="/images/icons.svg#twitter" />
			</svg>
		</span>
				<span class="share_tool_label">Share to Twitter</span>
			</a>
		</li>
				<li class="js-share-tool-item share_tool_item">
			<a class="js-share-tool js-share-facebook share_tool" href="#" target="_blank" rel="noopener">
				<span class="share_tool_icon">
			<svg class="icon icon_facebook">
				<use href="/images/icons.svg#facebook" />
			</svg>
		</span>
				<span class="share_tool_label">Share to Facebook</span>
			</a>
		</li>
				<li class="js-share-tool-item share_tool_item">
			<a class="js-share-tool js-share-linkedin share_tool" href="#" target="_blank" rel="noopener">
				<span class="share_tool_icon">
			<svg class="icon icon_linkedin">
				<use href="/images/icons.svg#linkedin" />
			</svg>
		</span>
				<span class="share_tool_label">Share to Linkedin</span>
			</a>
		</li>
			</ul>
</div>			</div>
		</div>
	</div>
</div>
	<div class="news_meta" id="meta" data-type="news" data-category="Category 1">
	<div class="fs-row">
		<div class="fs-cell">
			<div class="news_meta_inner">
				<div class="news_meta_body">
					<div class="news_item_details">
			<div class="news_item_detail news_item_date">
			<span class="news_item_detail_hint">Published:
			</span>
			<time class="news_item_detail_label" datetime="2019-01-01 17:00:00">January 1, 2019</time>
		</div>
				<div class="news_item_detail news_item_author">
			<span class="news_item_detail_hint">- by
			</span>
			<span class="news_item_detail_label">Author</span>
		</div>
	</div>
										<div class="news_meta_categories_block">
						<span class="news_meta_categories_icon">
			<svg class="icon icon_label">
				<use href="/images/icons.svg#label" />
			</svg>
		</span>
						<ul class="news_meta_categories" aria-label="Categories">
														<li class="news_meta_category">
								<a class="news_meta_category_link" href="">Category 1</a>
							</li>
													</ul>
					</div>
									</div>
				<div class="js-share-tools share_tools">
	<div class="share_tools_header">
		<h2 class="share_tools_title">Share Options</h2>
		<button class="js-share-tools-toggle share_tools_toggle" data-swap-target=".js-share-tools">
			<span class="share_tools_toggle_inner">
				<span class="share_tools_toggle_label">Share This</span>
			</span>
		</button>
	</div>
	<ul class="js-share-tools-list share_tools_list" aria-label="Share Options">
				<li class="js-share-tool-item share_tool_item">
			<a class="js-share-tool js-share-twitter share_tool" href="#" target="_blank" rel="noopener">
				<span class="share_tool_icon">
			<svg class="icon icon_twitter">
				<use href="/images/icons.svg#twitter" />
			</svg>
		</span>
				<span class="share_tool_label">Share to Twitter</span>
			</a>
		</li>
				<li class="js-share-tool-item share_tool_item">
			<a class="js-share-tool js-share-facebook share_tool" href="#" target="_blank" rel="noopener">
				<span class="share_tool_icon">
			<svg class="icon icon_facebook">
				<use href="/images/icons.svg#facebook" />
			</svg>
		</span>
				<span class="share_tool_label">Share to Facebook</span>
			</a>
		</li>
				<li class="js-share-tool-item share_tool_item">
			<a class="js-share-tool js-share-linkedin share_tool" href="#" target="_blank" rel="noopener">
				<span class="share_tool_icon">
			<svg class="icon icon_linkedin">
				<use href="/images/icons.svg#linkedin" />
			</svg>
		</span>
				<span class="share_tool_label">Share to Linkedin</span>
			</a>
		</li>
			</ul>
</div>			</div>
		</div>
	</div>
</div></div>
