

<div class="full_width_callouts">
	<div class="js-view-test spotlight">
	<div class="js-background spotlight_background" data-background-options='{"source": { "1220px": "//images.fastspot.com/jtcc/1440x1080/17", "740px": "//images.fastspot.com/jtcc/1220x523/17", "500px": "//images.fastspot.com/jtcc/980x654/17", "0px": "//images.fastspot.com/jtcc/494x740/17"}, "lazy": true, "alt": ""}' aria-hidden="true">
	<div class="spotlight_background_fallback" style="background-image: url(' //images.fastspot.com/jtcc/300x129/17');"></div>
</div>
	<div class="fs-row">
		<div class="fs-cell">
			<div class="spotlight_inner">
				<div class="spotlight_header">
					<div class="spotlight_header_inner">
						<div class="spotlight_header_body">
							<h2 class="spotlight_title">
								<span class="spotlight_title_group spotlight_title_group_primary">
									<span class="spotlight_title_label spotlight_title_label_primary">A Success Story</span>
								</span>
								<span class="spotlight_title_group spotlight_title_group_secondary">
									<span class="spotlight_title_label spotlight_title_label_secondary">For Every Student</span>
								</span>
							</h2>
							<div class="spotlight_header_details">
								<p class="spotlight_caption">At Tyler, we are invested in student success and focused on equipping our graduates with workforce-ready skills. <strong>Will you be next up?</strong></p>
								

<a href="#" class="spotlight_details_link" >
	<span class="spotlight_details_link_inner">
		<span class="spotlight_details_link_label">View all Next Up Stories</span>
					<span class="spotlight_details_link_icon" aria-hidden="true">
				<span class="spotlight_details_link_icon_inner">
					<span class="spotlight_details_link_icon_space">&#xfeff;</span>
					
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		
				</span>
			</span>
			</span>
</a>
							</div>
						</div>
					</div>
				</div>
				<div class="stories">
					<div class="js-carousel stories_carousel" data-carousel-options='{
						"controls": false,
						"contained": false,
						"maxWidth": "980px",
						"show": {
							"600px": 2
						}
					}'>
													<div class="stories_item">
								<div class="story theme_turquoise">
	<figure class="story_figure has_classic_image">
		<a class="story_figure_link" href="" aria-label="Read more about Jumpstarting Limitless Opportunity" tabindex="-1">
						<span class="lazy_image_wrapper story_image_wrapper">
	<img class="js-lazy js-lazyload story_image"  data-sizes="auto"  src="/images/placeholder.png" data-src="https://images.fastspot.com/false/740x494/4"  data-srcset="//images.fastspot.com/jtcc/740x494/4 740w, //images.fastspot.com/jtcc/980x654/4 980w"  alt="">
</span>
<noscript>
	<img class="story_image" src="https://images.fastspot.com/false/980x654/4"  srcset="//images.fastspot.com/jtcc/980x654/4 980w, //images.fastspot.com/jtcc/740x494/4 740w" sizes="100vw"  alt="" >
</noscript>
					</a>
	</figure>
	<div class="story_wrapper">
				<h2 class="story_title">
			

<a href="#" class="story_title_link" >
	<span class="story_title_link_inner">
		<span class="story_title_link_label">Jumpstarting Limitless Opportunity</span>
			</span>
</a>
		</h2>
		<div class="story_description">
			<p>Engineering grad and physician-to-be Alex Ritchie views medicine from multiple angles. After a NASA internship, leading campus groups, and two years at Tyler, she’s completing her bachelor’s in biomedical engineering at Virginia Commonwealth University—and winning awards for investigating how to use nanoparticles to regenerate lung tissue.</p>
		</div>
		

<a href="#" class="story_discovery_link" >
	<span class="story_discovery_link_inner">
		<span class="story_discovery_link_label">Read Her Story</span>
					<span class="story_discovery_link_icon" aria-hidden="true">
				<span class="story_discovery_link_icon_inner">
					<span class="story_discovery_link_icon_space">&#xfeff;</span>
					
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		
				</span>
			</span>
			</span>
</a>
	</div>
</div>
							</div>
													<div class="stories_item">
								<div class="story theme_mustard">
	<figure class="story_figure has_classic_image">
		<a class="story_figure_link" href="" aria-label="Read more about Training for Advancement" tabindex="-1">
						<span class="lazy_image_wrapper story_image_wrapper">
	<img class="js-lazy js-lazyload story_image"  data-sizes="auto"  src="/images/placeholder.png" data-src="https://images.fastspot.com/false/740x494/5"  data-srcset="//images.fastspot.com/jtcc/740x494/5 740w, //images.fastspot.com/jtcc/980x654/5 980w"  alt="">
</span>
<noscript>
	<img class="story_image" src="https://images.fastspot.com/false/980x654/5"  srcset="//images.fastspot.com/jtcc/980x654/5 980w, //images.fastspot.com/jtcc/740x494/5 740w" sizes="100vw"  alt="" >
</noscript>
					</a>
	</figure>
	<div class="story_wrapper">
				<h2 class="story_title">
			

<a href="#" class="story_title_link" >
	<span class="story_title_link_inner">
		<span class="story_title_link_label">Training for Advancement</span>
			</span>
</a>
		</h2>
		<div class="story_description">
			<p>Joe Dettmer had the opportunity to move into a new role at work. the only catch? It required electrical skills he didn’t have. To get up to speed, Joe took classes at Tyler and now has the right skills and qualifications to move forward in today’s fast-paced workplace, all while staying at the company he’s been with for decades.</p>
		</div>
		

<a href="#" class="story_discovery_link" >
	<span class="story_discovery_link_inner">
		<span class="story_discovery_link_label">Read His Story</span>
					<span class="story_discovery_link_icon" aria-hidden="true">
				<span class="story_discovery_link_icon_inner">
					<span class="story_discovery_link_icon_space">&#xfeff;</span>
					
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		
				</span>
			</span>
			</span>
</a>
	</div>
</div>
							</div>
													<div class="stories_item">
								<div class="story theme_blush">
	<figure class="story_figure has_classic_image">
		<a class="story_figure_link" href="" aria-label="Read more about Careers that Matter" tabindex="-1">
						<span class="lazy_image_wrapper story_image_wrapper">
	<img class="js-lazy js-lazyload story_image"  data-sizes="auto"  src="/images/placeholder.png" data-src="https://images.fastspot.com/false/740x494/6"  data-srcset="//images.fastspot.com/jtcc/740x494/6 740w, //images.fastspot.com/jtcc/980x654/6 980w"  alt="">
</span>
<noscript>
	<img class="story_image" src="https://images.fastspot.com/false/980x654/6"  srcset="//images.fastspot.com/jtcc/980x654/6 980w, //images.fastspot.com/jtcc/740x494/6 740w" sizes="100vw"  alt="" >
</noscript>
					</a>
	</figure>
	<div class="story_wrapper">
				<h2 class="story_title">
			

<a href="#" class="story_title_link" >
	<span class="story_title_link_inner">
		<span class="story_title_link_label">Careers that Matter</span>
			</span>
</a>
		</h2>
		<div class="story_description">
			<p>While she helps fill the marketplace demand for skilled nurses, Anissa Ellis is living out her dream: a career that matters. After completing clinical rotations at two local hospitals and earning her associate degree in nursing at Tyler, she’s now a branch director with a home health company, helping nurses to make the biggest impact and difference possible in lives across the area.</p>
		</div>
		

<a href="#" class="story_discovery_link" >
	<span class="story_discovery_link_inner">
		<span class="story_discovery_link_label">Read Her Story</span>
					<span class="story_discovery_link_icon" aria-hidden="true">
				<span class="story_discovery_link_icon_inner">
					<span class="story_discovery_link_icon_space">&#xfeff;</span>
					
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		
				</span>
			</span>
			</span>
</a>
	</div>
</div>
							</div>
											</div>
					

<a href="#" class="stories_discovery_link" >
	<span class="stories_discovery_link_inner">
		<span class="stories_discovery_link_label">View all Next Up Stories</span>
					<span class="stories_discovery_link_icon" aria-hidden="true">
				<span class="stories_discovery_link_icon_inner">
					<span class="stories_discovery_link_icon_space">&#xfeff;</span>
					
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		
				</span>
			</span>
			</span>
</a>
				</div>
			</div>
		</div>
	</div>
</div>

	<div class="featured_programs">
	<div class="featured_programs_inner">
		<div class="featured_programs_header">
			<div class="js-background featured_programs_header_background" data-background-options='{"source": { "1220px": "//images.fastspot.com/jtcc/1440x1080/18", "740px": "//images.fastspot.com/jtcc/814x1220/18", "500px": "//images.fastspot.com/jtcc/980x654/18", "0px": "//images.fastspot.com/jtcc/494x740/18"}, "lazy": true, "alt": ""}' aria-hidden="true">
	<div class="featured_programs_header_background_fallback" style="background-image: url(' //images.fastspot.com/jtcc/300x129/18');"></div>
</div>
			<h2 class="featured_programs_title">
				<span class="featured_programs_title_group featured_programs_title_group_primary">
					<span class="featured_programs_title_label featured_programs_title_label_primary">What do <strong>you</strong></span>
				</span>
				<span class="featured_programs_title_group featured_programs_title_group_secondary">
					<span class="featured_programs_title_label featured_programs_title_label_secondary">Want to study?</span>
				</span>
			</h2>
			<div class="featured_programs_input_wrapper">
				<input class="featured_programs_input" id="featured_programs_input" type="search" placeholder="Search our Programs & Majors">
				<span class="featured_programs_input_icon">
			<svg class="icon icon_search">
				<use href="/images/icons.svg#search" />
			</svg>
		</span>
			</div>
		</div>
		<div class="featured_programs_content">
			<div class="feature_programs_body">
				<div class="featured_programs_body_details">
					<h3 class="featured_programs_body_title"><strong>60+</strong> Majors in…</h3>
				</div>
				<ul class="featured_programs_items">
											<li class="featured_programs_item">
							

<a href="#" class="featured_programs_item_link" >
	<span class="featured_programs_item_link_inner">
		<span class="featured_programs_item_link_label">General Transfer</span>
					<span class="featured_programs_item_link_icon" aria-hidden="true">
				<span class="featured_programs_item_link_icon_inner">
					<span class="featured_programs_item_link_icon_space">&#xfeff;</span>
					
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		
				</span>
			</span>
			</span>
</a>
						</li>
											<li class="featured_programs_item">
							

<a href="#" class="featured_programs_item_link" >
	<span class="featured_programs_item_link_inner">
		<span class="featured_programs_item_link_label">Advanced Manufacturing, Architecture, Construction & Skilled Trades</span>
					<span class="featured_programs_item_link_icon" aria-hidden="true">
				<span class="featured_programs_item_link_icon_inner">
					<span class="featured_programs_item_link_icon_space">&#xfeff;</span>
					
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		
				</span>
			</span>
			</span>
</a>
						</li>
											<li class="featured_programs_item">
							

<a href="#" class="featured_programs_item_link" >
	<span class="featured_programs_item_link_inner">
		<span class="featured_programs_item_link_label">Arts & Communication</span>
					<span class="featured_programs_item_link_icon" aria-hidden="true">
				<span class="featured_programs_item_link_icon_inner">
					<span class="featured_programs_item_link_icon_space">&#xfeff;</span>
					
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		
				</span>
			</span>
			</span>
</a>
						</li>
											<li class="featured_programs_item">
							

<a href="#" class="featured_programs_item_link" >
	<span class="featured_programs_item_link_inner">
		<span class="featured_programs_item_link_label">Business, Management, Finance, Hospitality Management & Marketing</span>
					<span class="featured_programs_item_link_icon" aria-hidden="true">
				<span class="featured_programs_item_link_icon_inner">
					<span class="featured_programs_item_link_icon_space">&#xfeff;</span>
					
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		
				</span>
			</span>
			</span>
</a>
						</li>
											<li class="featured_programs_item">
							

<a href="#" class="featured_programs_item_link" >
	<span class="featured_programs_item_link_inner">
		<span class="featured_programs_item_link_label">Education</span>
					<span class="featured_programs_item_link_icon" aria-hidden="true">
				<span class="featured_programs_item_link_icon_inner">
					<span class="featured_programs_item_link_icon_space">&#xfeff;</span>
					
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		
				</span>
			</span>
			</span>
</a>
						</li>
											<li class="featured_programs_item">
							

<a href="#" class="featured_programs_item_link" >
	<span class="featured_programs_item_link_inner">
		<span class="featured_programs_item_link_label">Engineering, Computer Science & Natural Science</span>
					<span class="featured_programs_item_link_icon" aria-hidden="true">
				<span class="featured_programs_item_link_icon_inner">
					<span class="featured_programs_item_link_icon_space">&#xfeff;</span>
					
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		
				</span>
			</span>
			</span>
</a>
						</li>
											<li class="featured_programs_item">
							

<a href="#" class="featured_programs_item_link" >
	<span class="featured_programs_item_link_inner">
		<span class="featured_programs_item_link_label">Health Science</span>
					<span class="featured_programs_item_link_icon" aria-hidden="true">
				<span class="featured_programs_item_link_icon_inner">
					<span class="featured_programs_item_link_icon_space">&#xfeff;</span>
					
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		
				</span>
			</span>
			</span>
</a>
						</li>
											<li class="featured_programs_item">
							

<a href="#" class="featured_programs_item_link" >
	<span class="featured_programs_item_link_inner">
		<span class="featured_programs_item_link_label">Government, Human Services, Law & Public Safety</span>
					<span class="featured_programs_item_link_icon" aria-hidden="true">
				<span class="featured_programs_item_link_icon_inner">
					<span class="featured_programs_item_link_icon_space">&#xfeff;</span>
					
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		
				</span>
			</span>
			</span>
</a>
						</li>
											<li class="featured_programs_item">
							

<a href="#" class="featured_programs_item_link" >
	<span class="featured_programs_item_link_inner">
		<span class="featured_programs_item_link_label">Information Technology</span>
					<span class="featured_programs_item_link_icon" aria-hidden="true">
				<span class="featured_programs_item_link_icon_inner">
					<span class="featured_programs_item_link_icon_space">&#xfeff;</span>
					
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		
				</span>
			</span>
			</span>
</a>
						</li>
									</ul>
				<div class="featured_programs_items_select_wrapper">
					<select class="featured_programs_items_select">
						<option>Discover an Area of Interest</option>
												<option>General Transfer</option>
												<option>Advanced Manufacturing, Architecture, Construction & Skilled Trades</option>
												<option>Arts & Communication</option>
												<option>Business, Management, Finance, Hospitality Management & Marketing</option>
												<option>Education</option>
												<option>Engineering, Computer Science & Natural Science</option>
												<option>Health Science</option>
												<option>Government, Human Services, Law & Public Safety</option>
												<option>Information Technology</option>
											</select>
					<span class="featured_programs_items_select_icon">
			<svg class="icon icon_caret_down">
				<use href="/images/icons.svg#caret_down" />
			</svg>
		</span>
				</div>
			</div>
			<div class="feature_programs_footer">
				<div class="featured_programs_footer_details">
					<h4 class="featured_programs_footer_title">Next Up</h4>
				</div>
				<ul class="featured_programs_actions">
											<li class="featured_programs_action">
							

<a href="#" class="featured_programs_action_link" >
	<span class="featured_programs_action_link_inner">
		<span class="featured_programs_action_link_label">Register for a Class</span>
					<span class="featured_programs_action_link_icon" aria-hidden="true">
				<span class="featured_programs_action_link_icon_inner">
					<span class="featured_programs_action_link_icon_space">&#xfeff;</span>
					
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		
				</span>
			</span>
			</span>
</a>
						</li>
											<li class="featured_programs_action">
							

<a href="#" class="featured_programs_action_link" >
	<span class="featured_programs_action_link_inner">
		<span class="featured_programs_action_link_label">Pay for a Class</span>
					<span class="featured_programs_action_link_icon" aria-hidden="true">
				<span class="featured_programs_action_link_icon_inner">
					<span class="featured_programs_action_link_icon_space">&#xfeff;</span>
					
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		
				</span>
			</span>
			</span>
</a>
						</li>
									</ul>
			</div>
		</div>
	</div>
</div>

	<div class="featured_news theme_default">
	<div class="fs-row">
		<div class="fs-cell">
			<div class="featured_news_inner">
								<div class="featured_news_header">
					<h2 class="featured_news_title">Happening Here</h2>
										

<a href="#" class="featured_news_link" >
	<span class="featured_news_link_inner">
		<span class="featured_news_link_label">View all News & Stories</span>
					<span class="featured_news_link_icon" aria-hidden="true">
				<span class="featured_news_link_icon_inner">
					<span class="featured_news_link_icon_space">&#xfeff;</span>
					
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		
				</span>
			</span>
			</span>
</a>
									</div>
				<div class="featured_news_body">
					<div class="featured_news_spotlight">
												<div class="story theme_blush">
	<figure class="story_figure has_classic_image">
		<a class="story_figure_link" href="" aria-label="Read more about Getting Ready for a Successful Spring Semester" tabindex="-1">
						<span class="lazy_image_wrapper story_image_wrapper">
	<img class="js-lazy js-lazyload story_image"  data-sizes="auto"  src="/images/placeholder.png" data-src="https://images.fastspot.com/false/740x494/6"  data-srcset="//images.fastspot.com/jtcc/740x494/6 740w, //images.fastspot.com/jtcc/980x654/6 980w"  alt="">
</span>
<noscript>
	<img class="story_image" src="https://images.fastspot.com/false/980x654/6"  srcset="//images.fastspot.com/jtcc/980x654/6 980w, //images.fastspot.com/jtcc/740x494/6 740w" sizes="100vw"  alt="" >
</noscript>
					</a>
	</figure>
	<div class="story_wrapper">
				<div class="story_label">Featured News</div>
				<h2 class="story_title">
			

<a href="#" class="story_title_link" >
	<span class="story_title_link_inner">
		<span class="story_title_link_label">Getting Ready for a Successful Spring Semester</span>
			</span>
</a>
		</h2>
		<div class="story_description">
			<p>It’s a new year, and a new semester is about to begin. While this is an exciting time, it can also be a hectic time for students. Here are a few tips to help you get ready for spring.</p>
		</div>
		

<a href="#" class="story_discovery_link" >
	<span class="story_discovery_link_inner">
		<span class="story_discovery_link_label">Read The Story</span>
					<span class="story_discovery_link_icon" aria-hidden="true">
				<span class="story_discovery_link_icon_inner">
					<span class="story_discovery_link_icon_space">&#xfeff;</span>
					
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		
				</span>
			</span>
			</span>
</a>
	</div>
</div>
											</div>
										<div class="featured_news_content">
												<h3 class="featured_news_content_title">The Latest News</h3>
												<div class="featured_news_articles" data-carousel-options='{
							"maxWidth": "739px"
						}'>
														<div class="featured_news_article">
								<time class="featured_news_article_date" datetime="April 21, 2020">April 21, 2020</time>
								<h3 class="featured_news_article_title">
									

<a href="#" class="featured_news_article_title_link" >
	<span class="featured_news_article_title_link_inner">
		<span class="featured_news_article_title_link_label">State Board for Community Colleges to Consider 2020-21 Fees at May Meeting</span>
					<span class="featured_news_article_title_link_icon" aria-hidden="true">
				<span class="featured_news_article_title_link_icon_inner">
					<span class="featured_news_article_title_link_icon_space">&#xfeff;</span>
					
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		
				</span>
			</span>
			</span>
</a>
								</h3>
							</div>
														<div class="featured_news_article">
								<time class="featured_news_article_date" datetime="April 15, 2020">April 15, 2020</time>
								<h3 class="featured_news_article_title">
									

<a href="#" class="featured_news_article_title_link" >
	<span class="featured_news_article_title_link_inner">
		<span class="featured_news_article_title_link_label">JTCC adds new Maymester Session to Meet the Needs of Students Impacted by the Stay at Home Order</span>
					<span class="featured_news_article_title_link_icon" aria-hidden="true">
				<span class="featured_news_article_title_link_icon_inner">
					<span class="featured_news_article_title_link_icon_space">&#xfeff;</span>
					
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		
				</span>
			</span>
			</span>
</a>
								</h3>
							</div>
														<div class="featured_news_article">
								<time class="featured_news_article_date" datetime="March 09, 2020">March 09, 2020</time>
								<h3 class="featured_news_article_title">
									

<a href="#" class="featured_news_article_title_link" >
	<span class="featured_news_article_title_link_inner">
		<span class="featured_news_article_title_link_label">Workshops and Activities Designed to Help you Succeed</span>
					<span class="featured_news_article_title_link_icon" aria-hidden="true">
				<span class="featured_news_article_title_link_icon_inner">
					<span class="featured_news_article_title_link_icon_space">&#xfeff;</span>
					
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		
				</span>
			</span>
			</span>
</a>
								</h3>
							</div>
													</div>
											</div>
									</div>
			</div>
		</div>
	</div>
</div>

	<div class="featured_events">
	<div class="fs-row">
		<div class="fs-cell">
			<div class="featured_events_inner">
				<div class="featured_events_header">
					<h2 class="featured_events_title">Upcoming Events</h2>
					

<a href="#" class="featured_events_details_link" >
	<span class="featured_events_details_link_inner">
		<span class="featured_events_details_link_label">View all News & Stories</span>
					<span class="featured_events_details_link_icon" aria-hidden="true">
				<span class="featured_events_details_link_icon_inner">
					<span class="featured_events_details_link_icon_space">&#xfeff;</span>
					
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		
				</span>
			</span>
			</span>
</a>
				</div>
				<div class="featured_events_body">
					<div class="js-carousel featured_events_items" data-carousel-options='{
						"theme": "theme_dark",
						"controls": false,
						"contained": false,
						"maxWidth": "979px",
						"show": {
							"500px": 2,
							"740px": 3
						}
					}'>
												<div class="featured_events_item">
							<time class="featured_events_item_date" datetime="2020-05-31 17:00:00">
								<span class="featured_events_item_date_flag featured_events_item_date_flag_from">
									<span class="featured_events_item_date_start_month">May</span>
									<span class="featured_events_item_date_start_day">31</span>
								</span>
																<span class="featured_events_item_date_flag featured_events_item_date_flag_to">
									<span class="featured_events_item_date_start_month">Jun</span>
									<span class="featured_events_item_date_start_day">13</span>
								</span>
															</time>
							<div class="featured_events_item_body">
								<h3 class="featured_events_item_title">
									<a class="featured_events_item_title_link" href="#">Maker Space: Duct Tape Wallets & Low-Cost Crafts</a>
								</h3>
								<div class="featured_events_item_details">
									<div class="featured_events_item_detail">
										<span class="featured_events_item_detail_icon">
			<svg class="icon icon_place">
				<use href="/images/icons.svg#place" />
			</svg>
		</span>
										<span class="featured_events_item_detail_label">Midlothian Library</span>
									</div>
									<div class="featured_events_item_detail">
										<span class="featured_events_item_detail_icon">
			<svg class="icon icon_clock">
				<use href="/images/icons.svg#clock" />
			</svg>
		</span>
										<time class="featured_events_item_detail_label" datetime="">12:00 pm – 4:00 pm</time>
									</div>
								</div>
							</div>
						</div>
												<div class="featured_events_item">
							<time class="featured_events_item_date" datetime="2020-05-31 17:00:00">
								<span class="featured_events_item_date_flag featured_events_item_date_flag_from">
									<span class="featured_events_item_date_start_month">May</span>
									<span class="featured_events_item_date_start_day">31</span>
								</span>
															</time>
							<div class="featured_events_item_body">
								<h3 class="featured_events_item_title">
									<a class="featured_events_item_title_link" href="#">Graduation Celebration Events</a>
								</h3>
								<div class="featured_events_item_details">
									<div class="featured_events_item_detail">
										<span class="featured_events_item_detail_icon">
			<svg class="icon icon_place">
				<use href="/images/icons.svg#place" />
			</svg>
		</span>
										<span class="featured_events_item_detail_label">Chester Campus</span>
									</div>
									<div class="featured_events_item_detail">
										<span class="featured_events_item_detail_icon">
			<svg class="icon icon_clock">
				<use href="/images/icons.svg#clock" />
			</svg>
		</span>
										<time class="featured_events_item_detail_label" datetime="">10:00 pm – 5:00 pm</time>
									</div>
								</div>
							</div>
						</div>
												<div class="featured_events_item">
							<time class="featured_events_item_date" datetime="2020-05-31 17:00:00">
								<span class="featured_events_item_date_flag featured_events_item_date_flag_from">
									<span class="featured_events_item_date_start_month">May</span>
									<span class="featured_events_item_date_start_day">31</span>
								</span>
															</time>
							<div class="featured_events_item_body">
								<h3 class="featured_events_item_title">
									<a class="featured_events_item_title_link" href="#">Earth Day Celebration: Plant Seeds and See the Power of the Sun</a>
								</h3>
								<div class="featured_events_item_details">
									<div class="featured_events_item_detail">
										<span class="featured_events_item_detail_icon">
			<svg class="icon icon_place">
				<use href="/images/icons.svg#place" />
			</svg>
		</span>
										<span class="featured_events_item_detail_label">Chester Campus, Library</span>
									</div>
									<div class="featured_events_item_detail">
										<span class="featured_events_item_detail_icon">
			<svg class="icon icon_clock">
				<use href="/images/icons.svg#clock" />
			</svg>
		</span>
										<time class="featured_events_item_detail_label" datetime="">2:00 pm – 3:00 pm</time>
									</div>
								</div>
							</div>
						</div>
												<div class="featured_events_item">
							<time class="featured_events_item_date" datetime="2020-05-31 17:00:00">
								<span class="featured_events_item_date_flag featured_events_item_date_flag_from">
									<span class="featured_events_item_date_start_month">May</span>
									<span class="featured_events_item_date_start_day">31</span>
								</span>
																<span class="featured_events_item_date_flag featured_events_item_date_flag_to">
									<span class="featured_events_item_date_start_month">Jun</span>
									<span class="featured_events_item_date_start_day">13</span>
								</span>
															</time>
							<div class="featured_events_item_body">
								<h3 class="featured_events_item_title">
									<a class="featured_events_item_title_link" href="#">15-Week Session: Final Exams</a>
								</h3>
								<div class="featured_events_item_details">
									<div class="featured_events_item_detail">
										<span class="featured_events_item_detail_icon">
			<svg class="icon icon_place">
				<use href="/images/icons.svg#place" />
			</svg>
		</span>
										<span class="featured_events_item_detail_label">Online</span>
									</div>
									<div class="featured_events_item_detail">
										<span class="featured_events_item_detail_icon">
			<svg class="icon icon_clock">
				<use href="/images/icons.svg#clock" />
			</svg>
		</span>
										<time class="featured_events_item_detail_label" datetime="">All Day</time>
									</div>
								</div>
							</div>
						</div>
											</div>
				</div>
				

<a href="#" class="featured_events_discovery_link" >
	<span class="featured_events_discovery_link_inner">
		<span class="featured_events_discovery_link_label">View all Events</span>
					<span class="featured_events_discovery_link_icon" aria-hidden="true">
				<span class="featured_events_discovery_link_icon_inner">
					<span class="featured_events_discovery_link_icon_space">&#xfeff;</span>
					
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		
				</span>
			</span>
			</span>
</a>
			</div>
		</div>
	</div>
</div>

	<div class="flex_callout">
	<div class="js-background flex_callout_background" data-background-options='{"source": { "1220px": "//images.fastspot.com/jtcc/1440x1080/10", "740px": "//images.fastspot.com/jtcc/1220x523/10", "500px": "//images.fastspot.com/jtcc/980x654/10", "0px": "//images.fastspot.com/jtcc/494x740/10"}, "lazy": true, "alt": ""}' aria-hidden="true">
	<div class="flex_callout_background_fallback" style="background-image: url(' //images.fastspot.com/jtcc/300x129/10');"></div>
</div>
	<div class="fs-row">
		<div class="fs-cell">
			<div class="flex_callout_inner">
				<div class="flex_callout_header">
					<h2 class="flex_callout_title">What’s Next Up</h2>
					<p class="flex_callout_caption">No matter your goal, Tyler is a smart choice. Earn a career-focused credential in two years or less.  Or, spend two years at Tyler and transfer.</p>
				</div>
				<div class="flex_callout_content">
					<ul class="flex_callout_links">
												<li class="flex_callout_item">
							

<a href="#" class="flex_callout_link" >
	<span class="flex_callout_link_inner">
		<span class="flex_callout_link_label">Request Info</span>
					<span class="flex_callout_link_icon" aria-hidden="true">
				<span class="flex_callout_link_icon_inner">
					<span class="flex_callout_link_icon_space">&#xfeff;</span>
					
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		
				</span>
			</span>
			</span>
</a>
						</li>
												<li class="flex_callout_item">
							

<a href="#" class="flex_callout_link" >
	<span class="flex_callout_link_inner">
		<span class="flex_callout_link_label">Virtual Info Sessions</span>
					<span class="flex_callout_link_icon" aria-hidden="true">
				<span class="flex_callout_link_icon_inner">
					<span class="flex_callout_link_icon_space">&#xfeff;</span>
					
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		
				</span>
			</span>
			</span>
</a>
						</li>
												<li class="flex_callout_item">
							

<a href="#" class="flex_callout_link" >
	<span class="flex_callout_link_inner">
		<span class="flex_callout_link_label">Apply Now</span>
					<span class="flex_callout_link_icon" aria-hidden="true">
				<span class="flex_callout_link_icon_inner">
					<span class="flex_callout_link_icon_space">&#xfeff;</span>
					
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		
				</span>
			</span>
			</span>
</a>
						</li>
											</ul>
				</div>
			</div>
		</div>
	</div>
</div>

	<div class="js-alert alert" id="alert" role="alert" data-time="2019-10-18 14:52:4" aria-labelledby="alert_title" tabindex="-1">
	<div class="fs-row">
		<div class="fs-cell">
			<div class="alert_inner">
				<div class="alert_header">
					<h2 class="alert_title" id="alert_title">
						<span class="alert_title_icon">
			<svg class="icon icon_alert">
				<use href="/images/icons.svg#alert" />
			</svg>
		</span>
						<span class="alert_title_label">COVID-19 Updates and Closures</span>
					</h2>
				</div>
				<div class="alert_body">
					<div class="alert_description typography">
						<p>Etiam porta sem malesuada magna mollis euismod. Vestibulum id ligula porta felis euismod semper. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. <a href>Learn more.</a></p>
					</div>
				</div>
				<button class="js-alert-close alert_close">
					<span class="alert_close_inner">
						<span class="alert_close_icon" aria-hidden="true"></span>
						<span class="alert_close_label">Close site alert</span>
					</span>
				</button>
			</div>
		</div>
	</div>
</div>
</div>

